/* CSS Document */
*html{background-attachment:fixed;background-image:URL("about:blank");}
#go_top{width:48px; text-align:center; position:fixed; _position:absolute;}
#go_top a{position:relative; background:url(gotop.png) center 0 no-repeat;display:block;height:48px;width:48px;overflow:hidden;text-indent:-1000%;}
#go_top a:hover,#go_top a.s {color:#4B9FF6;text-decoration:none;background-position:center -48px;}