@import url('base.css');
@import url('/v2/m/page/style_li.css');
.side-nav{width: 198px;height: 408px;border: 1px #ececec solid;}
.side-nav h2{padding-top: 10px;height: 30px;font: 700 18px Microsoft YaHei,simsun;text-indent: 18px;background: #eee;border-bottom: 1px #ececec solid;}
.side-nav a{display: block;height: 40px;font: 16px/40px Microsoft YaHei,simsun;text-indent: 15px;border-bottom: 1px #ececec solid;border-left: 3px #fff solid;}
.side-nav a:hover,.side-nav a.active{border-left-color: #ea5505;}

.content{width: 776px;}
.crumbs{border-bottom: 1px #ececec solid;}

.intro-box p{text-indent: 24px;line-height: 30px;}
.intro-box p.first{text-indent: 0;}

.news-list {margin-top: 5px;}
.news-list li{height: 47px;line-height: 47px;overflow: hidden;background: url(img/gather.png) no-repeat 4px -394px;border-bottom: 1px #e8e8e8 dashed;}
.news-list li span{float: right;display: inline;margin-left: 15px;color: #888;}
.news-list li a{text-indent: 14px;display: block;overflow: hidden;}

.Spage{width: 700px;margin:30px auto 0;text-align: center;}
.Spage ul{display: inline-block;*display: inline;zoom:1;}
.fix-bd{border-bottom: 0;}
.news-list li.fix-bd{border-bottom-style: solid;}
.fix-li span{margin-right: 6px;}
.con-l{width: 730px}

.con-r{width: 260px;}
.con-r h2{padding-top: 10px;text-indent: 10px;font: 16px Microsoft YaHei,simsun;}
.bd-eaeaea{border: 1px #eaeaea solid;}
.all-msg{margin: 6px 10px 10px;}
.all-msg li{line-height: 26px;}

.news-title{margin-bottom: 40px;padding-bottom: 10px;text-align: center;border-bottom: 1px #ebebeb solid;}
.news-title h1{margin:15px 0 8px;font: 22px Microsoft YaHei,simsun;}
.news-title span{font: 12px simsun;color: #888}
.news-title span span{font-family: Tahoma}

.detail-tx p{line-height: 30px;text-indent: 24px;}