@import url('base.css');
@import url('/v2/m/page/style_li.css');
.content{width: 776px;}

.list-box{overflow: hidden;overflow: hidden;}
.list-box ul{width: 1050px}
.list-box li{float: left;display: inline;width: 160px;margin:0 49px 25px 0;}
.list-box li a{display: block;height: 218px;overflow: hidden;line-height: 21px;-ms-word-break: break-all;word-break: break-all;}
.list-box li img{margin-bottom: 10px;}

.Spage{width: 700px;margin:0 auto 15px;text-align: center;}
.Spage ul{display: inline-block;*display: inline;zoom:1;}
.con-l{width: 728px;border: 1px #ececec solid;}
.tour-tab{background: #f4f4f4;overflow: hidden;}
.tour-tab li{float: left;display: inline;width: 129px;height: 37px;text-align: center;font: 16px/37px Microsoft YaHei,simsun;border-bottom: 1px #f4f4f4 solid;}
.tour-tab li.cur{border-bottom-color: #ea5505;background-color: #ddd;}

.icon-1 span{display: inline-block;*display: inline;zoom:1;margin:5px 5px 0 0;width: 19px;height: 21px;background: url(img/icon-1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="css/img/icon-1.png");}
.icon-2 span{display: inline-block;*display: inline;zoom:1;margin:5px 5px 0 0;width: 19px;height: 22px;background: url(img/icon-2.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="css/img/icon-1.png");}

.tour{width: 688px;margin: 22px auto 0;padding-bottom: 22px;border-bottom: 1px #e8e8e8 dashed;}
.tour p{float: right;display: inline;width: 470px;}
.tour p a{display: block;margin-bottom: 8px;height: 18px;overflow: hidden;font: 16px Microsoft YaHei,simsun;-ms-word-break: break-all;word-break: break-all;}
.tour p span{display: block;height: 18px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;}
.tour p span.intro{margin-top: 5px;height: auto;max-height: 100px;_height:expression(this.scrollHeight > 100 ? "100px" : "auto");overflow: hidden;line-height: 20px;-ms-word-break: break-all;word-break: break-all;}
.fc-888{color: #888}


.con-r{width: 258px;}
.con-r h2{height: 36px;line-height: 36px;font: 16px/36px Microsoft YaHei,simsun;text-indent: 8px;}
.bd-eaeaea{border: 1px #eaeaea solid;overflow: hidden;}

.pic-list{width: 260px;margin-top:10px;}
.pic-list li{position: relative;float: left;display: inline;margin:0 9px 0 10px;width: 110px;}
.pic-list span,.side-ad span{position: absolute;left: 0;bottom:0;display: block;width: 110px;height: 20px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;font: 12px/20px simsun;color: #fff;text-align: center;}
.pic-list span.bg,.side-ad span.bg{background: #000;opacity: .6;filter:Alpha(opacity=60);}

.all-link{margin: 0 10px 10px;}

.ex-list{margin: 0 12px;border-bottom: 1px #e8e8e8 dashed;padding-bottom: 20px;margin-top: 20px;}
.ex-list p{float: right;display: inline;width: 364px;padding-right: 10px;}
.ex-list p a{display: block;margin-bottom: 5px;height: 18px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;font:700 16px Microsoft YaHei,simsun;mb}
.ex-list span{display: block;line-height: 22px;height: 22px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;}
.ex-list span.last{height: 40px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;}
.ex-list span.last b{float: left;display: inline;height: 36px;}

.fix-bd{border-bottom-style: solid;}

.side-ad{position: relative;display: block;margin: 10px auto 0;width: 240px;}
.side-ad span{width: 240px;height: 30px;line-height: 30px;}
a:hover span{color: #000}
a:hover span.bg{background: #fff;}