/**
 * 前端模板css文件
 * 
 */
.pro-template{word-break:break-all;}
.pro-template .wb50{width: 50%;*width:49%}

.pro-template .imgbd{width:360px;height:360px;}
.pro-template .img232{width:232px;height:232px;}
.pro-template .ca1{color: #a1a1a1;}

.pro-template{margin: 0;}
.pro-tit-list{height:45px; background:url(template0003/image/title-ts.jpg) no-repeat;font-family:Microsoft YaHei,simhei;  color:#c43939; font-size:12px; line-height:40px; padding-left:20px;}

.pro-template h1.tit01{border-bottom: 2px dashed #bbb;font-size: 14px;font-weight: normal;line-height: 30px;height:30px;}
.pro-template h1.tit01 span{display: block;width: 40%;border-top: 2px solid #676767;color: #868686;}
.pro-template h1.tit01 span em{font-size: 16px;font-weight: bold;margin-right: 5px;color: #101010;}
.pro-template h1.tit01 span .g-dib{display:inline-block;font-style: normal;font-size: 22px;color: #fff;background-color: #a1a1a1;height: 20px;line-height: 18px;font-weight: 400;margin-right: 5px;padding: 0 3px;}

.pro-template .prototype{font-size: 14px;}
.pro-template .prototype span.g-tr{width: 80px;margin-right: 5px;text-align: right;}
.pro-template .prototype span{width: 60px;text-align: center;}
.pro-template .prototype li{line-height: 22px;margin-bottom: 15px;}

.pro-template .temp1_title{font-style:italic;}
.pro-template .temp1_title_en{margin-left:10px;border-bottom:1px solid #bababa;margin-top:6px;line-height:16px;}
.pro-template .w702{width:702px;width:659px\9;}
.pro-template .w684{width:684px;width:650px\9;}
.pro-template .w60{width:60px;}

.pro-template .tips1{background:url(img/tips1.jpg) no-repeat 0 0;width:702px;height:46px;margin-bottom:5px;display:none;}
.pro-template .tips2{background:url(img/tips2.jpg) no-repeat 0 0;width:374px;height:80px;display:none;}

