/*公用样式*/
.g-cred{color:#F00;}
.g-c8{color:#888;}
.g-mr15{margin-right:15px;}
.g-pd10{padding:10px;}
.ipt-txt{background-color:#fff;border: 1px solid #dcdcdc;height:25px;line-height:25px;padding-left:5px;padding-right:5px;}
.imgshow{height:50px;border:1px solid #fe9b30; display:inline-block; margin-right:15px;vertical-align:middle;}

.op-title span{font-weight:normal;margin-left:15px;}

/*列表页面*/
.px-opts a{display:inline-block;background:url(img/updown.png) no-repeat;width:14px;height:21px;cursor:pointer;}
.px-opts .up-opt{background-position:0 0;margin-right:10px;}
.px-opts .down-opt{background-position:-29px 0;}

/*添加编辑页面*/
.frm-czbox{text-align:center;margin-top:15px;}
.frm-czbox input{margin:0 5px;}
.xcwadd-box{background-color:#fff;border:1px solid #d6d6d6;padding:25px 0;}
.xcwadd-tbl th,.xcwadd-tbl td{padding:10px 0;}
.xcwadd-tbl th{text-align:right;font-weight:normal;}
.xcwadd-tbl .ipt-txt{width:260px;}

.add-opt,.plut-opt{font-size:20px;font-weight:bold;cursor:pointer;margin-left:10px;}
.add-opt:hover,.plut-opt:hover{text-decoration:none;}