.hf-t-bar{width:100%; height:27px;background:#fafafa;border-bottom:1px solid #f2f2f2;margin-bottom:10px}
.hf-l-s{margin:0 auto}
.hf-bar,.hf-menu{height:27px}
.hf-login,.hf-menu,.hf-menu ul{display:inline-block;color:#5a5a5a}
.hf-login,.hf-logo,.l-nav,.r-nav ul li,.hf-search ul li{float:left}
.hf-login a{}
.hf-menu,.r-nav,.hf-search{float:right}
.hf-menu ul{_width:390px}
.hf-menu ul li{display:inline-block;float:left;padding-left:8px}
.hf-menu ul li a{color:#666}
.hf-menu ul li span{padding-left:8px;color:#dadada}
.hf-menu ul li.hf-o-web{position:relative;padding:0 30px 0 15px}
.hf-menu ul li strong{width:15px;height:13px;display:inline-block;cursor:pointer;background:url(img/h-icon.png) no-repeat 0 -150px;font-size:0px;position:absolute;top:9px;_top:8px;right:12px;text-decoration:none;overflow:hidden}
.hf-logo{}
.hf-logo a{border:0;height:70px;width:256px;display:inline-block}

.hf-search{_display:inline;float:right;_width:635px;margin:5px 10px 0 0;}
.hf-search li,.hf-search li a{float:left;color:#666}
.hf-search li{height:27px;line-height:26px;background:url(img/separate.png) no-repeat left center}
.hf-search li.first{background:none}
.hf-search li a{padding:0 12px}
.hf-search li.cur a{color:#626262;font-weight:700}
.hf-search div .txt{border:2px solid #e0e0e0;border-right:none;padding-left:3px;height:26px;line-height:26px;width:410px}
.hf-search div .btn{position:relative;left:-4px;width:70px;height:31px;border:none;background:#1a88d6 url(img/search-btn.png) no-repeat 0 0;color:#fff;font-weight:700;font-size:14px;line-height:30px;cursor:pointer}
.hf-search div .btn-similar{width:79px;color:#888;background-color:#fff; background-position:0 -41px;}
.hf-search div .btn-similar:hover{background-color:#fff;background-position:0 -82px;}
.hf-search .ad-search{position:absolute;right:-60px}

.hf-w-nav{width:100%; height:38px;background:#2588d4 url(img/h-bg.png) repeat-x 0 -250px;margin:10px auto 40px}
.m-nav{height:38px;line-height:38px;position:relative}
.l-nav,.l-nav ul,.r-nav ul{overflow:auto;z-index:1}
.l-nav ul{margin-left:10px}
.l-nav ul li{color:#fff;font-size:14px;float:left;padding-right:20px}
.l-nav ul li a{display:inline-block;color:#fff;font-weight:700;padding-left:20px;text-decoration:none}
.l-nav ul li.cur{background:#fff url(img/h-bg.png) no-repeat right -150px;vertical-align:top}
.l-nav ul li.cur a{background:#fff url(img/h-bg.png) no-repeat 0 -200px;color:#184c95;position:relative;top:0px;top:0px\0;margin-top:1px\0;top:-1px\9\0;*top:0px\0}
.l-sub-nav{width:978px;height:29px;line-height:30px;border:1px solid #f2f2f2;border-top:0px;background:#f9f9f9;color:#404040;padding:0 10px;position:absolute;left:0px;top:38px;overflow:hidden}
.l-sub-nav a{color:#999;margin:0 5px}
.r-nav{padding-right:5px;_padding-right:1px;background:url(img/h-bg.png) no-repeat right -43px transparent}
.r-nav ul{padding-left:5px;background:url(img/h-bg.png) no-repeat 0 -93px transparent;height:38px;_width:232px;overflow:hidden }
.r-nav ul li{color:#dadada;padding-left:30px;background:url(img/h-icon.png) no-repeat}
.r-nav ul li a{color:#5a5a5a;margin-right:5px;_margin-right:4px;white-space:nowrap}
.r-nav ul li.r-n-l{width:58px;background-position:7px -39px}
.r-nav ul li.r-n-c{width:41px;background-position:7px 12px}
.r-nav ul li.r-n-r{width:29px;background-position:8px -89px}

.hf-foot{margin-top:30px;padding:5px 0 20px;border-top:2px solid #2387d2;color:#606060;text-align:center;line-height:26px; }
.f-about{height:26px}
.hf-foot a{color:#606060;margin:0 10px}
.f-safe{margin-top:10px}
.f-safe span{height:50px;display:inline-block;margin:0 5px;border:1px solid #d2d2d2;line-height:20px;padding:0 5px;background:url(img/f-icon.png) no-repeat;padding-top:5px}
.f-safe span.f-s-alarm{background-position:8px 2px;padding-left:50px}
.f-safe span.f-s-control{background-position:8px -70px;padding-left:50px}
.f-safe span.f-s-report{background-position:8px -138px;padding-left:55px}
.f-safe span.f-s-culture{background-position:8px -204px;padding-left:58px}