@charset "utf-8";
/*public*/
.bg-fcf3d1{background-color:#fcf3d1; color:#444;}
.christmas .nav_img{ background:#8b090b;}
.nav_img .bg1{background:url(img/3_01.png) no-repeat center 0;height:129px;}
.nav_img .bg2{background:url(img/3_02.png) no-repeat center 0;height:138px;}
.nav_img .bg3{background:url(img/3_03.png) no-repeat center 0;height:150px;}
.nav_img .bg4{background:url(img/3_04.png) no-repeat center 0;height:141px;}
.christmas .nav_img img{ display:block; margin:0 auto;}

.con1 { background:#8e9f1d;}
.con1 .bg1{background:url(img/3_05.png) no-repeat center 0; height:121px;}
.con1 .bg2{background:url(img/3_06.png) no-repeat center 0; height:158px;}
.con1 .bg3{background:url(img/3_07.png) no-repeat center 0; height:106px;}
.con1 .bg4{background:url(img/3_08.png) no-repeat center 0; height:124px;}
.con1 .bg5{background:url(img/3_09.png) no-repeat center 0; height:127px;}
.con1 .bg6{background:url(img/3_10.png) no-repeat center 0; height:153px;}
.con1 .main{ position:relative; height:0;}

.con1 .main .main_inner{ position:absolute; top:-670px;}
.con1 ul{ padding-left:28px;}
.con1 li img{ padding-bottom:3px; background:#f7112e;}
.con1 li h2{font-family: Microsoft YaHei,simhei; font-size:21px;height:30px; line-height:30px; margin-top:3px; overflow:hidden;}
.con1 li h2 a{ color:#f7112e; }
.con1 li h2 a:hover{ text-decoration:none;}
.con1 li{ float:left; display:inline; width:230px; padding-right:8px;}
.con1 li span{font-family: Microsoft YaHei,simhei; font-size:15px; display:block; height:44px; line-height:22px; overflow:hidden;}
.con1 li.item2 h2{ height:25px; line-height:25px; overflow:hidden; margin:0 0 3px;}
.con1 li.item2 h2 a{ color:#7fd629;}
.con1 li.item2 img{ padding:3px 0 0; background:#7fd32a;}

.con1 li.item3 h2 a{ color:#a39648;}
.con1 li.item3 img{ padding:0 0 3px; background:#a39648; }
.con1 li.item4 h2{ height:25px; line-height:25px; overflow:hidden; margin:0 0 3px;}
.con1 li.item4 h2 a{ color:#2f2f2f;}
.con1 li.item4 img{ padding:3px 0 0; background:#2f2f2f;}

.b_item{ padding-top:30px;}
.b_item li{ position:relative;}
.b_item li img{ background:#45617f;}
.b_item li  div.bg{ display:none;_display:block; width:230px; height:150px; position:absolute; top:0; left:0; background:#45617f; opacity:0.6; filter:alpha(opacity=50); }
.b_item li .font { display:none;_display:block; width:210px; color:#fff; height:130px; padding:10px;top:0;font-family: Microsoft YaHei,simhei; font-size:15px; left:0; color:#fff; position:absolute;}
.b_item li:hover .font,.b_item li:hover .bg{ display:block; color:#fff; text-decoration:none;}
.b_item li .font span{ font-size:18px; display:block; overflow:hidden; height:24px; line-height:24px; font-weight:700; }





.con2 { background:#487f1d;}
.con2 .bg1{background:url(img/3_11.png) no-repeat center 0; height:111px;}
.con2 .bg2{background:url(img/3_12.png) no-repeat center 0; height:114px;}
.con2 .bg3{background:url(img/3_13.png) no-repeat center 0; height:139px;}
.con2 .bg4{background:url(img/3_14.png) no-repeat center 0; height:129px;}
.con2 .bg5{background:url(img/3_15.png) no-repeat center 0; height:130px;}
.con2 .bg6{background:url(img/3_16.png) no-repeat center 0; height:114px;}
.con2 .bg7{background:url(img/3_17.png) no-repeat center 0; height:99px;}
.con2 .main{ position:relative; height:0px;}

.con2 .main .main_inner{ position:absolute; top:-796px; padding:20px 0 0 30px;}
.con2 .top_item{ position:relative;background:url(img/con2_bg.png) no-repeat 21px 0; width:945px; height:602px;}
.con2 .top_item li{ position:absolute; width:150px; height:150px; overflow:hidden; border-radius:50%; top:0; left:0;}
.con2 .top_item li.item1{ top:90px; left:249px;}
.con2 .top_item li.item1 i{ position:absolute; z-index:3; left:-49px; top:-20px; background:url(img/02.png) no-repeat 0 0; width:215px; height:196px;}
.con2 .top_item li.item2{ top:276px; left:301px; width:183px; height:183px;}
.con2 .top_item li.item2 i{ position:absolute; z-index:3; left:-48px; top:-22px; background:url(img/01.png) no-repeat 0 0; width:295px; height:240px;}
.con2 .top_item li.item3{ top:11px; left:436px; width:118px; height:118px;}
.con2 .top_item li.item3 i{ position:absolute; z-index:3; left:-22px; top:-18px; background:url(img/03.png) no-repeat 0 0; width:177px; height:149px;}
.con2 .top_item li.item4{ top:72px; left:793px; width:132px; height:132px;}
.con2 .top_item li.item4 i{ position:absolute; z-index:3; left:-56px; top:-20px; background:url(img/04.png) no-repeat 0 0; width:196px; height:167px;}
.con2 .top_item li.item5{ top:372px; left:714px; width:183px; height:183px;}
.con2 .top_item li.item5 i{ position:absolute; z-index:3; left:-22px; top:-26px; background:url(img/05.png) no-repeat 0 0; width:229px; height:233px;}

.con2 .b_item{ padding-top:5px;}
.con2 .b_item li{ width:230px; margin-right:8px; display:inline; float:left; }
.con2 .b_item li img{ padding-bottom:3px; background:#f7112e;}
.con2 .b_item li:hover .bg{ background:#f7112e;}
.con2 .top_item h2{ font-size:16px; height:25px; line-height:25px; overflow:hidden; font-family:Microsoft YaHei,simhei; color:#f7112e; margin-left:40px;}
.con2 .top_item .item2 h2{ margin-left:62px;}
.con2 .top_item .item3 h2{ margin-left:35px;}
.con2 .top_item .item4 h2{ margin-left:26px;}
.con2 .top_item .item5 h2{ margin-left:59px;}
.con2 .top_item .bg{ position:absolute; display:none; width:230px; top:0; left:0; height:190px; opacity:0.5; filter:alpha(opacity=50);  background:#45617f;}
.con2 .top_item .font{position:absolute; display:none; overflow:hidden; line-height:16px; top:40px; left:16px; width:120px; height:85px;  color:#FFF; z-index:4;}
.con2 .top_item li.item2 .font{ top:12px; padding-top:50px; left:20px; width:146px; height:120px;}
.con2 .top_item li.item3 .font{ top:21px; left:16px; width:107px; height:65px;}
.con2 .top_item li.item4 .font{ top:35px; left:14px; width:118px; height:85px;}
.con2 .top_item li.item5 .font{ top:63px; left:31px; width:131px; height:85px;}
.con2 .top_item .hover .bg,.con2 .top_item :hover .bg,.con2 .top_item :hover .font,.con2 .top_item .hover .font{ display:block; text-decoration:none;}


.con3 { background:#487f1d; position:relative;}
.con3 .bg1{background:url(img/3_18.png) no-repeat center 0; height:128px;}
.con3 .bg2{background:url(img/3_19.png) no-repeat center 0; height:106px;}
.con3 .bg3{background:url(img/3_20.png) no-repeat center 0; height:128px;}
.con3 .bg4{background:url(img/3_21.png) no-repeat center 0; height:126px;}
.con3 .bg5{background:url(img/3_22.png) no-repeat center 0; height:129px;}
.con3 .bg6{background:url(img/3_23.png) no-repeat center 0; height:127px;}
.con3 .main{ position:relative; height:0px;}
.con3 .main .main_inner{ position:absolute; top:-630px; padding:20px 0 0 30px;}


.con3 li{ width:230px; float:left; display:inline; margin-right:8px;}

.con3 .top li .bg{background:url(img/li_bg.png) no-repeat center 0;padding:0 15px;font-family:Microsoft YaHei,simhei; overflow:hidden; height:70px;}
.con3 .top li .bg a{ display:block; color:#fff; height:30px; line-height:30px; overflow:hidden; font-size:21px;font-family:Microsoft YaHei,simhei; }
.con3 .top li .bg a:hover{ text-decoration:none; }
.con3 .top li .bg span{  display:block; color:#fff;}
.con3 .b_item img{ padding-bottom:3px; background:#298e1e;}
.con3 .b_item .bg{ background:#298e1e; }


.nav_item{ position:fixed; right:50px; top:200px; height:463px; width:189px; background:url(img/right_nav.png) no-repeat left top;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50));}
.nav_item ul{ padding-top:126px;  }
.nav_item li{ height:39px; margin-bottom:23px; }
.nav_item li.item2{ margin-bottom:10px;}
.nav_item li a{ display:block; height:40px; }
.nav_item li.huo{ margin-top:44px;}


.fei_xi{ position:absolute; right:50px; top:-1290px;}
/*footer*/
.footer{ text-align:center; line-height:26px; padding:20px 0;background:#487f1d url(img/3_24.png) no-repeat center 0; height:181px; color:#fff;}
.footer a,.footer a:hover{margin:0 5px; color:#fff;}