@import url('style.css');


/*服装分会场*/
.content {background-color: #0065c1}
.banner {background-image: url(img/sm/p-banner.jpg);}
.nav-banner {background-image: url(img/sm/p-nav-banner.jpg);}
.direc-banner {background-image: url(img/sm/p-direc-banner.jpg);}
.direc-banner a.s1 {font-size: 16px; top: 26px; left: 5px}
.direc-banner a.s2 {left: 218px;}
.direc-banner a.s3 {left: 435px}
.direc-banner a.s4 {left: 653px}
.direc-banner a.s5 {left: 870px}

.layout .hd {margin-bottom: 10px;}
.layout .hd h1 {color: #fff; font: italic bold 33px microsoft yahei; height: 61px; background-image: url(img/sm/p-title.png); text-align: center; line-height: 61px}
.layout .ind-list {background-color: #0382f6; height: 120px; padding: 20px 10px 20px; overflow: hidden;}
.layout .ind-list ul {width: 980px}
.layout .ind-list li {float: left; width: 240px; height: 120px; margin-left: 5px;}
.layout .ind-list li .img {position: relative; width: 240px; height: 95px; overflow: hidden;}
.layout .ind-list li .mask {width: 100%; height: 25px; position: absolute; bottom: 0; left: 0; background-color: #ccc; opacity: 0.6; filter: alpha(opacity=60);}
.layout .ind-list li .info {color: #444; width: 100%; text-align: center; height: 25px; position: absolute; left: 0; bottom: 0; line-height: 25px; text-decoration: none;}
.layout .ind-list li p.title {height: 25px; color: #fff; font-size: 14px; text-align: center; margin-top: 5px}
.layout .ind-list li p.title a {color: #fff; text-decoration: none;}
.layout .bd {overflow: hidden;}
.layout .bd ul {width: 1010px}
.layout .bd ul li {float: left; width: 192px; height: 280px; overflow: hidden; background-color: #fff; margin-bottom: 10px; margin-right: 10px;}
.layout .bd ul li .img-top {position: relative; width: 192px; height: 150px;}
.layout .bd ul li .img-top .mask {position: absolute; bottom: 0; left: 0; width: 100%; height: 25px; background-color: #444; opacity: 0.6; filter: alpha(opacity=60);}
.layout .bd ul li .img-top .info {position: absolute; bottom: 0; left: 0; width: 100%; height: 25px; text-align: center; line-height: 25px;}
.layout .bd ul li .img-top .info a {color: #fff; text-decoration: none;}
.layout .bd ul li .detail {text-align: center;}
.layout .bd ul li .detail h3 { margin: 5px 0}
.layout .bd ul li .detail h3 a {font-weight: 700; color: #333; text-decoration: none;}
.layout .bd ul li .detail p {color: #DD0511; font: bold 14px microsoft yahei;}
.layout .bd ul li .detail b { font-size: 28px}
.layout .bd ul li .detail a.button {width: 116px; height: 31px; background: url(img/sm/icon-button.gif) no-repeat 0 -31px; display: block; text-align: center; margin: 5px auto; line-height: 31px; color: #fff; font: bold 18px microsoft yahei; text-decoration: none;}
.layout .bd ul li .detail a:hover {background-position: 0 0}
.layout .bd ul li ._link {padding: 0 10px;}
.layout .bd ul li ._link a.aliww {width: 20px; height: 20px; line-height: 20px; background: url(img/aliww.gif) no-repeat -80px 0; text-decoration: none !important; zoom: 1; text-indent: -9999px; display: inline-block; vertical-align: text-bottom; cursor: pointer; overflow: hidden; margin: 0 10px 0 5px}
.layout .bd ul li ._link a.qq {width: 18px; height: 18px; line-height: 18px; background: url(img/qq.png) no-repeat; text-decoration: none !important; zoom: 1; text-indent: -9999px; display: inline-block; vertical-align: text-bottom; cursor: pointer; overflow: hidden;}

.purchase .bd .hot-link {background-image: url(img/sm/icon-link.jpg);}
.purchase .hd {background-image: url(img/sm/index.jpg);}
.ctn11-article .hd {background-image: url(img/sm/show.jpg);}
.quick-link {height: 521px; background-image: url(img/sm/fixed-banner.jpg);}
.quick-link li.cur a {color: #172665}
.quick-link a {padding-left: 0}
.quick-link ul.part {margin-top: 46px;}
.back-top a {background-image: url(img/sm/back-top-bg.png);}
.power-by {background-color: #0382f6}