.link{border:0; background-color: #fff;}
.link p{color:#888;}
.link a{color:#444;}
.c-fff{color:#fff;}

.content{background:#D1242A}

.stars{height:47px; padding-left:54px; font-size:14px;color:#fff;background:#d2251f;line-height:47px}
.stars .star{font-size:20px;color:#f5fe01}

.banner{height: 611px; background:#D1242A url(img/banner.jpg) no-repeat center 0}
.nav-banner {width: 1035px; height: 127px; margin: 0 auto; background: #D1242A url(img/nav-banner.jpg) no-repeat center 0}
.nav-banner a {width: 112px; height: 110px; float: left; margin-top: 13px; margin-left: 33px; text-indent: -9999px}
.direc-banner {height: 22px; background: #D1242A url(img/direc-banner.jpg) no-repeat center 0; position: relative; margin-bottom: 26px;}
.direc-banner a {width: 120px; height: 46px; position: absolute; text-align: center; display: block; color: #F7E45B; top: 26px; font: 700 16px microsoft yahei; text-decoration: none;}
.direc-banner a.s1 {left: -15px; font-size: 20px; top: 22px}
.direc-banner a.s2 {left: 124px}
.direc-banner a.s3 {left: 275px}
.direc-banner a.s4 {left: 430px}
.direc-banner a.s5 {left: 575px}
.direc-banner a.s6 {left: 723px}
.direc-banner a.s7 {left: 877px}

.box .hd h1 {width: 313px; height: 68px;}
.box .tabs-nav {width: 687px; height: 68px; overflow: hidden; background: url(img/title.png) no-repeat 0 -68px;}
.box .tab-style0 {background-position: 0 -68px}
.box .tab-style1 {background-position: 0 -136px}
.box .tab-style2 {background-position: 0 -204px}
.box .tabs-nav li {float: left; width: 140px; height: 50px; text-align: center; margin-top: 2px; margin-left: 33px; cursor: pointer;}
.box .tabs-ctn {background-color: #D3222A; padding-top: 7px;}
.box .aside {margin-bottom: 10px;}
.box .aside .bot {background-color: #eee; height: 80px; width: 295px; padding-left: 10px; position: relative;}
.box .aside .bot em {background: url(img/star.png) no-repeat -2px 0; width: 15px; height: 15px; display: inline-block; margin-top: -17px}
.box .aside .bot em.num2 {width: 32px}
.box .aside .bot em.num3 {width: 49px}
.box .aside .bot em.num4 {width: 66px}
.box .aside .bot em.num5 {width: 82px}
.box .aside .bot li {height: 25px; line-height: 25px; color: #d0242a; font-family: microsoft yahei; font-size: 13px;}
.box .aside .bot a {height: 80px; font: normal 50px simsun; color: #d0242a; line-height: 80px; float: right; margin-right: 20px; text-decoration: none; position: absolute; top: 0; right: -3px;}
.box .tabs-ctn .col-r {height: 530px;}
.box .tabs-ctn .col-r ul {width: 692px; *width: 691px;}
.box .tabs-ctn .col-r li {float: left; margin: 0 0 10px 10px; *margin-left: 9px; position: relative; width: 163px; height: 170px; overflow: hidden;}
.box .tabs-ctn .col-r li .mask {width: 153px; height: 40px; position: absolute; bottom: 5px; left: 5px; background-color: #444; opacity: 0.6; filter: alpha(opacity=60);}
.box .tabs-ctn .col-r li .info {color: #fff; font: 700 16px microsoft yahei; width: 153px; text-align: center; height: 40px; overflow: hidden; position: absolute; left: 5px; bottom: 5px; line-height: 40px; text-decoration: none;}
.box .ind-list {background-color: #FF2A36; height: 120px; padding: 20px 10px 20px; overflow: hidden;}
.box .ind-list ul {width: 980px}
.box .ind-list li {float: left; width: 240px; height: 120px; margin-left: 5px;}
.box .ind-list li .img {position: relative; width: 240px; height: 95px; overflow: hidden;}
.box .ind-list li .mask {width: 100%; height: 25px; position: absolute; bottom: 0; left: 0; background-color: #ccc; opacity: 0.6; filter: alpha(opacity=60);}
.box .ind-list li .info {color: #444; width: 100%; text-align: center; height: 25px; position: absolute; left: 0; bottom: 0; line-height: 25px; text-decoration: none;}
.box .ind-list li p.title {height: 25px; color: #fff; font-size: 14px; text-align: center; margin-top: 5px}
.box .ind-list li p.title a {color: #fff; text-decoration: none;}
.floor1 .hd h1 {background: url(img/floor1.jpg) no-repeat;}
.floor2 .hd h1 {background: url(img/floor2.jpg) no-repeat;}
.floor3 .hd h1 {background: url(img/floor3.jpg) no-repeat;}
.floor4 .hd h1 {background: url(img/floor4.jpg) no-repeat;}
.floor5 .hd h1 {background: url(img/floor5.jpg) no-repeat;}
.floor6 .hd h1 {background: url(img/floor6.jpg) no-repeat;}

.purchase {background-color: #fff;}
.purchase .hd {background: #FF2936 url(img/index.jpg) no-repeat center 0; height: 65px; width: 100%}
.purchase .bd .col-l { padding: 20px 30px;}
.purchase .bd .hot-link {background: #fff url(img/icon-link.jpg) no-repeat; width: 295px; height: 135px; margin-top: 60px; position: relative;}
.purchase .bd .hot-link h1 {position: absolute; width: 295px; height: 36px; line-height: 36px; bottom: 38px; text-align: center; font: 700 24px microsoft yahei; color: #fff}
.purchase .bd .qq {display: block; text-align: center; margin-top: -20px; position: relative;}

.v-box{width:1000px;overflow: hidden}
.v-box .v-bd{width: 1023px;}
.v-item{float:left;width:308px;height:468px;background:#fff;border:solid #d2251f 5px;margin-right: 23px;}
.v-item .v-hd{height:47px;font-size:26px;text-align:center;background:url(img/hd-bg-2.png);color:#fff;line-height: 42px;}
.v-item .img{height:126px;padding:15px 10px}
.v-item .img p{font-size:16px;padding-left:160px;line-height:28px }
.v-item .img strong{color:#c40408;}
.v-item .items{padding: 0 5px 0 12px;height:218px;overflow: hidden}
.v-item .items li{height: 60px;padding:6px 12px 6px 0;border-bottom:dashed 1px #ddd;line-height:20px}
.v-item .items h4{float:left;font-size:16px;font-weight:400}
.v-item .items p{padding-left:70px;}
.v-item .items a{color:#333;}
.v-item .items a:hover{color:#d2251f;}

.h-item{height:190px;background:#fff;border:solid #d2251f 5px;margin-bottom:10px}
.h-item .h-hd{width:50px;float: left;padding-top: 45px;background:url(img/hd-bg-1.png) no-repeat;color:#fff;font-size:26px;line-height: 32px;height: 150px;text-align:center;}
.h-item .img{width:430px;float:left;padding: 20px 18px 0 20px;}
.h-item .img p{width: 226px;height: 103px;font-size:16px;padding-left: 204px;*margin-top:-150px;line-height: 28px;}
.h-item .img strong{color:#c40408;}
.h-item .stars{margin-left:204px;padding-left:15px}
.h-item .items{height: 188px;padding: 2px 0 0 28px;border-left:solid 1px #fc3c84;overflow: hidden;}
.h-item .items a{font-size:14px;color:#333}
.h-item .items h4{float:left;font-size:16px;}
.h-item .items a:hover{color:#d2251f;}
.h-item .items p{line-height:24px;padding-left:70px}
.h-item .items li{padding: 5px 0;border-bottom:dashed 1px #ddd;}

.ji{background:#fff}
.ji .hd{position:relative;height:43px;line-height:40px;padding-left:18px;background:url(img/comment-hd-bg.png) no-repeat;top:-8px}

.ctn11-article .hd {background: #FF2936 url(img/show.jpg) no-repeat center 0; height: 65px; width: 100%}
.ctn11-article .bd {background-color: #fff; padding: 20px 30px;}
.ctn11-article .comment textarea {width: 670px; height: 50px; border: 1px solid #eee; padding: 5px;}
.ctn11-article .comment textarea:focus {border-color: #51A7E8}
.ctn11-article .article-l {float: left; width: 670px; height: 530px;}
.ctn11-article .article-r {float: right; margin-left: 30px;}

.comment{width:680px; margin:20px auto; position:relative;z-index:1}
.com_form{width:100%; position:relative}
.input{width:99%; height:60px; border:1px solid #ccc}
.com_form p{height:28px; line-height:28px; position:relative}
span.emotion{display: inline-block;*display: inline; zoom:1; width:20px; height:20px; background:url(img/icon.gif) no-repeat 2px 2px;}
span.emotion:hover{background-position:2px -28px}
.com_form p .tips {margin-left: 10px; color: #999; font-size: 13px;}
.com_form p .tips i {color: #F18401; font-style: normal;}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
.sub_btn {
	width: 92px;
	height: 28px;
	line-height: 28px;
	position:absolute; right:0px; top:0;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	color: #fff;
	border: none;
	background: url(img/submit.jpg) no-repeat;
	margin-top: 10px;
}
.sub_btn_hover {background-image: url(img/submit.png); color: #ccc}

.comment-result {width:670px; padding: 0 5px;height: 395px; overflow: hidden; position: relative;}
.comment-result a.more {position: absolute; right: 0; bottom: -1px; color: #F28202;}
.comment-result ul {border-top: 1px solid #eee;}
.comment-result ul li {border-bottom: 1px solid #eee; padding: 20px 0; width: 670px; overflow: hidden;}
.comment-result ul li .img-l {float: left;}
.comment-result ul li .img-l img {width: 52px; height: 52px; overflow: hidden; vertical-align: middle;}
.comment-result ul li .comment-ctn {float: left; margin-left: 10px; font-size: 14px;width: 608px; overflow: hidden;}
.comment-result .comment-ctn span {color: #666}
.comment-result .comment-ctn span.time {display: block; margin-top: 10px; font-size: 11px; color: #999}
.comment-result .comment-ctn i { color: #F08300; font-style: normal;}


.power-by{height:35px;height:35px;line-height:35px;background:#FF2A36; position: relative;}
.power-by .join {width: 422px; height: 35px; padding-right: 20px; text-align: right;}
.power-by .g-f-r {padding-left: 20px; padding-right: 0; text-align: left;}
.power-by a{width:116px;height:43px;color:#fff;display:block;line-height: 56px;background:url(img/back-top-bg.png);overflow: hidden;position: absolute; top: -8px; left: 50%; margin-left: -58px;}
.power-by a:hover{text-decoration:none}

.quick-link{ position: absolute; margin-left: 1010px; top: 970px; width:144px; height: 544px; padding-top:83px;background:url(img/fixed-banner.jpg) no-repeat;}
.quick-link ul.part {margin-top: 38px;}
.quick-link li{height:29px;margin-bottom:2px;}
.quick-link li.cur a {color: #FF2B39}
.quick-link li._top {margin-top: 10px; margin-left: -5px}
.quick-link li._top a {text-indent: -9999px;}
.quick-link a{display:block;color:#666;height:39px;line-height:39px;padding-left: 9px;}
.quick-link a:hover{text-decoration:none;}
.quick-link span{position: absolute;border:solid 4px;bottom:0;width: 0;_bottom:-1px;height:0;overflow: hidden;}
.quick-link .lr{border-color:#e75620 #e75620 #9d130e #9d130e;left:0;}
.quick-link .rr{border-color:#e75620 #9d130e #9d130e #e75620;right:0;}
.quick-link a:hover .lr{border-color:#ff8d12 #ff8d12 #9d130e #9d130e;}
.quick-link a:hover .rr{border-color:#ff8d12 #9d130e #9d130e #ff8d12;}

.foot-ad{background:#fff;padding:5px}