.g-o-a{width:950px;margin:0 auto;}
html{background:#ffa903;}
body{background:url(../img/body.jpg) 0 28px no-repeat;line-height:30px;}
.link{padding:15px 0 20px;background:#fff;}
.banner a{display:block;height:387px;text-indent:-99999em;}
.block{background:#FFEEC0;}
.bg1{background:#FFF5E1;}
.pd1{padding:5px 50px 10px 30px;}
.pd2{padding:5px 20px 10px 30px;}
.pd3{padding:0 40px 10px;}
.c1{color:#ff6c00;}
.auth li{_display:inline;float:left;width:25%;margin:0 53px 0 15px;font-family:"Microsoft YaHei";}
.auth li strong{font-weight:700px;font-size:24px;color:#ff6c00;}
.auth li p{line-height:20px;color:#666;padding:10px 0;}
.auth li a{color:#333;text-decoration:underline;font-size:16px;}
.auth .n2{width:22%;}
.auth .n3{width:35%;margin-right:0;}
