/*通用base样式*/
.g-vtop{vertical-align:top;}
.g-c8{color:#888;}
.g-ml5{margin-left:5px;}
.g-ml10{margin-left:10px;}
.g-ml15{margin-left:15px;}
.g-ml20{margin-left:20px;}
.g-ml25{margin-left:25px;}
.g-ml30{margin-left:30px;}
.g-ml35{margin-left:35px;}
.g-mr5{margin-right:5px;}
.g-mr10{margin-right:10px;}
.g-mr15{margin-right:15px;}
.g-mr20{margin-right:20px;}
.g-mr25{margin-right:25px;}
.g-mr30{margin-right:30px;}
.g-mr35{margin-right:35px;}
.g-mt5{margin-top:5px;}
.g-mt10{margin-top:10px;}
.g-mt15{margin-top:15px;}
.g-mt20{margin-top:20px;}
.g-mt25{margin-top:25px;}
.g-mt30{margin-top:30px;}
.g-mt35{margin-top:35px;}

/*表单相关样式*/
input{outline:none;}
.u-ipttxt,.u-fslt{background-color:#fff;border:1px solid #ccc;}
.u-ipttxt{padding-left:5px;padding-right:5px;height:24px;line-height:24px;}
.u-fslt{padding-top:3px;padding-bottom:3px;}

/*按钮相关*/
.u-qgray-abtn{display:inline-block;background-color:#eee;padding:5px 10px;border:1px solid #aaa;border-radius:5px;cursor:pointer;color:#333;vertical-align:middle;}
.u-qgray-abtn:hover{text-decoration:none;}

/*表单验证信息*/
.frm-error{border:1px solid #f5c1b6;}
.valid-tips{display:inline-block;font-size:12px;vertical-align:middle;}
.valid-error{background:url(img/valid-error.png) no-repeat left center;padding-left:20px;color:#F00;}

/*左右结构表格*/
.m-lrtbl th{font-weight:normal;text-align:right;}
.m-lrtbl th,.m-lrtbl td{padding-top:8px;padding-bottom:8px;}
.m-tbl-vtop tbody th,.m-tbl-vtop tbody td{vertical-align:top;}

/*列表结构表格*/
.m-lstbox{border:1px solid #d6d6d6;}
.m-lsttbl{width:100%;word-break:break-all;}
.m-lsttbl th,.m-lsttbl td{padding:8px 5px;}
.m-lsttbl thead th{background-color:#f2f2f2;}
.m-lsttbl tbody td{background-color:#fff;}
.m-lsttbl tbody tr:nth-child(even) td{background-color:#f5f5f5;}
.m-lsttbl tbody tr:hover td{background-color:#FFC;}

/*搜索*/
.m-search{width:100%;padding:0 10px 15px;overflow:hidden;}
.m-search .u-fslt{min-width:128px;}
.m-search .search-itm li{float:left;margin-right:10px;line-height:24px;}
.m-search .srch-smt{background-color:#eee;border:1px solid #aaa;border-radius:3px;width:43px;height:24px;cursor:pointer;text-align:center;overflow:hidden;}
.m-search .date-txt{width:110px;background:#fff url(img/time-icon.png) no-repeat 95px center;}



