@import url(/f=css/c/shop/style.css);
.news .empty{margin-left:14px}
.home .empty{padding:10px 0;}
.main-cate li{width:150px;overflow:hidden}
.main-cate li a{*display:inline;max-width:120px;margin-right:5px;vertical-align:middle\9;*zoom:1}
.sub{ overflow:hidden;}
.about{ border:1px solid #E0E0E0; padding: 0 20px;}
.main { background:#FFF; float: right; }

.rec-product .rec-list{width:798px;margin-left:-4px}

.con_tit{background:url(img/spa_lit.png) repeat-x 0 bottom; padding:10px 20px 0;}
.tit_imt{ height:45px; line-height:30px;}
.tit_imt li{ float:left; width:100px;position:relative; height:40px; }
.tit_imt li.first{background:url(img/lr_iocl.png) no-repeat 81px 8px;}
.tit_imt li a{font-size:15px;font-weight:700;font-family:Microsoft YaHei,simhei; color:#522e0b;  }
.tit_imt li i{ position:absolute; left:23px; bottom:0; overflow:hidden; display:none; width:13px; height:8px;background:url(img/tit_item.png) no-repeat  0 0; z-index:3; }
.tit_imt li.cur i{ display:block; }

.thumb-list .item{ margin:0 14px;  width:169px; }

.auth{ border: 1px solid #E0E0E0;}
.auth-items{padding:20px 0}
.auth-ico{display:inline-block;*display:inline;*zoom:1;width:120px;padding-top:70px;background:url(img/auch_vip_credd.png) no-repeat 26px 0;text-align:center}
.auth-ico-entity{ background-position:-99px 0;}
.auth-ico-integrity{ background-position:-217px 0; }
.auth-ico-integrity a{color:#404040;text-decoration:none;*display:inline-block;*margin:-70px 0 0 2px;position:relative;padding-top:70px;}

/*about*/
.about_iner{ padding:20px;}
.company-detail h3{height:26px; padding-left:7px; line-height:26px; background:#f1f1f1}
.company-detail dl{padding:15px 7px;line-height:2}
.company-detail dt{float:left; color:#666}
.company-detail dd{min-height:24px;_height:24px;}
.company-scale dd{float: left; width:300px;}
.company-contact span{margin:0 6px}
.company-contact dd{margin-left:65px}
.company-intro .bt-bd{padding:20px 0 10px 5px;line-height:2}

.lin_com{ border-top:1px solid #ececec; margin:0 0 20px; padding-top:30px;}
.lin_com li{ float:left; width:355px; margin-bottom:8px; line-height:19px;}
.lin_com li em{float:left; text-align:right; font-size:13px; font-weight:700; width:100px;}
.lin_com li span{float:left; width:255px; line-height:19px;}


.m_dit em,.gui_dit em { float: left; font-size:13px; display:block; font-weight:700;  line-height:19px; text-align:left; margin-left:15px; width:100px; }
.m_dit span,.gui_dit span{  display:block; width:235px; line-height:19px; margin-left:20px;}
.m_dit,.m_dit tr,.m_dit td,.gui_dit,.gui_dit tr,.gui_dit td{ border:1px solid #ececec; }
.m_dit td,.gui_dit td{ padding:10px 5px ;}
.m_dit{ padding-top:30px;}

.company-intro h2{ margin-top:20px; }
.company-intro .comtit{ border:none; }
.gui_dit{ border:1px solid #ececec; padding-top:15px; }
.no_redrit{ height:250px; padding-left:20px; padding-top:60px; font-size:16px; font-weight:700; color:#888; }
/*auth*/
.box-main{ border:none; margin:0 10px; }
.bt-hd, .bm-hd { border-bottom: 1px solid #ECECEC;font-size: 14px; height: 34px; background:none; line-height: 34px;}
.item_resd{ display:none;}
.auth .cur{ display:block;}
.no_cerr h2.bm-hd{ font-size:14px; border:none; height:80px; line-height:80px; }
.no_cerr .bm-bd p{ font-size:12px; font-weight:700; margin-bottom:20px; }
.no_cerr .bm-bd .bg_con{ color:#808080; background:#f9f9f9; border:1px solid #ddd; padding:10px; }
.no_cerr .bg_con{ line-height:30px;}

.con_tit{background:url(img/spa_lit.png) repeat-x 0 bottom; padding:10px 10px 0;}
.tit_imt{ height:45px; line-height:30px;}
.tit_imt li{ float:left; width:100px;position:relative; height:40px; }
.tit_imt li.first{background:url(img/lr_iocl.png) no-repeat 81px 6px;}
.tit_imt li a{font-size:16px;font-weight:700;font-family:Microsoft YaHei,simhei; color:#333; cursor:pointer; text-decoration:none; }
.tit_imt li i{ position:absolute; left:23px; bottom:0; overflow:hidden; display:none; width:13px; height:8px;background:url(img/tit_item.png) no-repeat  0 0; z-index:3; }
.tit_imt li.cur i{ display:block; }
.auth-identity li{ border:none; }

.shen_sh .t-list{ padding:0 15px;}
.shen_sh{ height:280px; margin-bottom:50px; background:url(img/esr_oic.png) no-repeat 639px 155px; _background:url(img/esr_oic_ie.png) no-repeat 639px 155px; }
.shen_sh h3{ height:35px; line-height:35px; padding:10px 0 5px 15px;}
.shen_sh h3 span{ color:#ff0000; font-weight:normal; margin-left:10px; }
.shen_sh tr,.shen_sh td{ border:1px solid #ececec; }
.shen_sh td{ height:35px; text-align:center; }
