/**
 * 前端模板css文件
 * 
 */

/* 依赖的模块 */
@import url('/v2/m/init/css/style.css'); /* 调用公用样式 */

body{font-family: "microsoft yahei";color: #101010;}
.wb50{width: 50%;}
.imgbd{border: 1px dashed #ccc;width:360px;height:360px;}
.img232{width:232px;height:232px;}
.ca1{color: #a1a1a1;}

.pro-template{margin: 0;}

h1.tit01{border-bottom: 2px dashed #bbb;font-size: 14px;font-weight: normal;line-height: 30px;}
h1.tit01 span{display: block;width: 40%;border-top: 2px solid #676767;color: #868686;}
h1.tit01 span em{font-size: 16px;font-weight: bold;margin-right: 5px;color: #101010;}
h1.tit01 span .g-dib{display:inline-block;font-style: normal;font-size: 22px;color: #fff;background-color: #a1a1a1;height: 20px;line-height: 18px;font-weight: 400;margin-right: 5px;padding: 0 3px;}

.prototype{font-size: 14px;}
.prototype span.g-tr{width: 80px;margin-right: 5px;text-align: right;}
.prototype span{width: 60px;text-align: center;}
.prototype li{line-height: 22px;margin-bottom: 15px;}