.g-suggest{position:absolute;background:#fff;font-size:14px;font-weight:700;line-height:26px;z-index:399}
.g-suggest ul{border:solid 1px #817f82}
.g-suggest em{font-weight:400;cursor:default}
.g-suggest li{padding-left:9px;height:26px;cursor:default}
.g-suggest .hover{background:#ffecdb}
.g-suggest iframe{width:100%;height:100%}