/*我的账户中心 by lg 2013.07.09*/
.uc-c-c{padding:25px;}
.uc-c-c .y-btn{margin-right:15px;}
.uc-c-c .g-btn{margin-left:10px;}
.ye span{display:inline-block;*display:inline;*zoom:1;width:130px;text-align:right;}
.ye p{display:inline-block;*display:inline;*zoom:1;width:260px;margin-left:25px;}
.uc-c-c .Spage_noB{padding:10px 0;text-align:right;}
.check-paylist{line-height:28px;padding:40px 0}
.check-paylist span.f-l{width:130px;text-align:right;}
.check-paylist .m-l-130 .y-btn{margin-top:20px;}
.check-paylist .uc-input{background:url(/css/m/acenter/uc/img/d.gif) no-repeat 186px 6px;}
.uc-c-m h3 .he_icol{ padding-left:30px;background:url(img/search_iocl.jpg) no-repeat 0 5px; }

/*订单详情 yq 2014.03.19*/
.ti_ds { border-bottom:1px solid #ebebeb; padding:0 0 10px 5px;}
.ti_ds dt{ font-weight:700;line-height:30px;}
.ti_ds dd{ float:left; line-height:30px; width:360px;}
.us_sq{ border:none; margin-top:20px;}

.uc-table .wait{ color:#2664A2;}
.uc-table a.pay{ margin-right:5px;}

/*新版账户信息*/
.g-c3{color:#333;}
.g-corg{color:#fe6b01;}
.accnt-inf-itm{color:#888;}
.accnt-inf-itm h4{float:left;width:68px;overflow:hidden;}
.accnt-inf-itm .itm-bd{float:left;width:660px;overflow:hidden;}
.accnt-inf-itm .itm-bd .t{display:inline-block;width:72px;}
.accnt-inf-itm .itm-bd .c{margin-right:40px;}
.accnt-inf-itm .itm-bd .itm1{height:30px;line-height:30px;}
.accnt-inf-itm .itm-bd .itm2{padding-top:8px;padding-bottom:15px;}
.accnt-inf-itm .y-btn{margin-right:20px;}
.accnt-ye h4,.ynb-inf h4{line-height:30px;margin-top:1px\9;*margin-top:2px;_margin-top:0;}
.ynb-inf{padding-top:25px;padding-bottom:10px;}
.paypwd-inf{padding-top:20px;}
.paypwd-inf h4{line-height:normal;margin-top:1px;margin-top:3px\9;*margin-top:5px;_margin-top:2px;}
.paypwd-inf .itm-bd .c{margin-right:35px;}