@import url('http://res.csc86.com/v2/m/init/css/style.css');
@import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
@import url('http://res.csc86.com/v2/m/head-search/css/style.css');
@import url('http://res.csc86.com/v2/m/foot/css/style.css');

/* 部分样式重写 */
a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}

/* 无搜索框的样式 */
.head{height:90px;background:#fff;}
.head .logos{margin-top:15px;}
.head .csc{padding-right:12px;margin-right:12px; border-right:solid 1px #bbb;}
.head .channel{color:#666;font-size:18px;line-height:56px;}
.navigation{margin-top:30px;}
.navigation li{float:left;font-size:16px;padding:0 7px;line-height:20px;border-left:dashed 1px #d5d5d5;}
.navigation .g-bn{border:none;}
.navigation a{float:left;display:block;padding:2px 5px;color:#000;}
.navigation a:hover{color:#fff;background:#1684a0;text-decoration:none;border-radius:3px;}

/*专题内容*/
.main{background:#1684a0 url(img/banner.jpg) no-repeat center top;padding-top:536px;font-family:Microsoft YaHei;}

.flr{width:998px;margin-left:auto;margin-right:auto;}
.flr-hd{background:url(img/flr-hd.png) no-repeat;height:72px;padding-top:7px;font-size:35px;color:#fff;}
.flr-hd h2{margin-left:435px;}
.flr-bd{background:url(img/flr-bd2.png) no-repeat center top;/*border-right:4px solid #b8ebfc;border-bottom:4px solid #b8ebfc;border-radius:60px;border-top-right-radius:30px;*/margin-top:22px;}

.company-inf{height:496px;}
.company-gk{width:323px;/*border:4px solid #b8ebfc;border-top:none;border-radius:30px;*/}
.company-pic{position:relative;right:-2px;/*width:558px;*/padding:10px 48px 0;/*border-top:4px solid #b8ebfc;border-top-left-radius:30px;border-top-right-radius:30px;*/overflow:hidden;}
.spic-lst{width:570px;margin-top:10px;}
.spic-lst li{float:left;margin-right:12px;cursor:pointer;}

.pro-box{position:relative;bottom:-2px;width:972px;/*border-left:4px solid #b8ebfc;border-bottom-left-radius:60px;*/margin-top:75px;padding-bottom:20px;overflow:hidden;}
.pro-lst{width:974px;margin-left:20px;}
.pro-lst li{float:left;background-color:#fff;width:445px;height:387px;margin-right:42px;margin-top:18px;border-radius:26px;position:relative;overflow:hidden;}
.pro-lst a{display:block;}
.pro-lst a:hover{text-decoration:none;}
.pro-lst .inf{width:250px;margin-left:15px;margin-top:13px;overflow:hidden;}
.pro-lst .t,.pro-lst .yprc,.pro-lst .tprc{white-space:nowrap;}
.pro-lst .t{font-size:16px;color:#444;text-overflow:ellipsis;overflow:hidden;}
.pro-lst .t em{color:#46b3ac;}
.pro-lst .yprc,.pro-lst .tprc em{color:#777;}
.pro-lst .yprc{margin-top:8px;font-size:13px;}
.pro-lst .tprc{margin-top:-24px;font-weight:bold;}
.pro-lst .tprc em{font-size:16px;}
.pro-lst .prc{color:#fa0e05;font-size:40px;}
.pro-lst .prc i{font-style:normal;}
.pro-lst .prc .i1{font-size:28px;}
.pro-lst .prc .i2{font-size:23px;}
.pro-lst .go-ct{display:inline-block;background:url(img/sf.png) no-repeat;}
.pro-lst .go-ct{position:absolute;right:15px;bottom:15px;background-position:0 0;width:164px;height:56px;line-height:999px;overflow:hidden;}

.flr2,.flr3{margin-top:42px;}
.flr1{margin-top:17px;}
.flr1 .flr-hd{background-position:center 0;}
.flr2 .flr-hd{background-position:center -79px;}
.flr3 .flr-hd{background-position:center -158px;}
