.c{zoom:1;}
.c:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
a{color: #666}
body{background: url(../images/bg.gif);}
.g-f-l,.g-f-r{display: inline;}
.header{border-bottom: 5px #c82d3f solid;background: url(../images/header_bg.gif) repeat-x;}
.headtop{height:60px;padding:21px 0 0;}
.headtop span{ padding-top:10px;}
.headtop span,.headtop span a{ line-height:26px; font-size:16px; color:#000; display:inline-block; vertical-align:middle;}
.headtop span a{ padding:0 8px;}
.headtop span a.cur,.headtop span a:hover{ background:#f19832; border-radius:5px; color:#fff;text-decoration: none;}
.headtop i{ width:2px; height:26px; background:url(../images/line.png) no-repeat left 6px; display:inline-block; margin:0 15px; vertical-align:middle;}

.main{width: 100%;padding-top:517px;max-width: 1500px;background: url(../images/banner.jpg) no-repeat center 0;}
.title{height: 72px;overflow: hidden;text-indent: -999px;background: url(../images/title.gif) no-repeat;width: 100%;display: block;}
.t_t1{background-position: 0 -72px;height: 65px;}
.t_t2{background-position: 0 -137px;height: 58px;}
.t_t3{background-position: 0 -195px;height: 65px;}
.t_t4{background-position: 0 -260px;height: 60px;}
.t_t5{background-position: 0 -320px;height: 58px;}
.main_box{border:1px #ddd solid;border-top: 0;padding: 27px 10px 28px 28px;position: relative;background: #fff}

.w297{width: 297px;}
.list li{font: 14px/20px 'Microsoft YaHei';color: #999;margin-bottom: 10px}
.list span{font-size: 18px}
.list a{float: right;display: inline;width: 245px;border-left: 1px #ccc solid;padding-left: 15px;height: 20px;line-height: 20px;}
.list_title{font: 20px 'Microsoft YaHei';color: #222;margin-bottom: 10px;}
.tx{position: absolute;top:267px;left: 44px;width: 589px;}
.tx span{display: block;width: 24px;height: 114px;background: url(../images/tx_bg.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/logo.png");}
.tx p{display: block;height: 94px;background-color:rgba(241,152,50,0.90);background-color:#f19832\9;filter:alpha(opacity=90);float: right;display: inline;width: 517px;padding:10px 38px 10px 10px;line-height: 24px;color: #fff}
.tx a{color: #fff}

.trend li{ float: left;display: inline;width: 85px;height: 253px;position:relative;margin:0 40px 0;text-align: center;color: #fff;font: 14px 'Microsoft YaHei'}
.trend li span{display: block;width: 85px;position: absolute;left: 0;bottom:50px;}
.trend li span.btn{border-radius:3px;height: 30px;font: 18px/30px 'Microsoft YaHei';bottom: 0;left: 0;cursor: pointer;}
.bac_6aaeaf{background: #6aaeaf}
.bac_db2c4b{background: #db2c4b}
.bac_f57e20{background: #f57e20}
.w284{width: 284px}
.trend_title{font:bold 24px 'Microsoft YaHei';margin:0 0 40px 17px}
.scroll{overflow: hidden;position:relative;}
.scroll_box{width: 901px;overflow: hidden;}
.scroll_img {width:9000px;margin-left: -230px}
.scroll_img li{float: left;margin-right: 20px;width: 210px;display: inline;}
.scroll_box{margin: 20px 50px;overflow: hidden;}
.scroll span{display: block;height: 160px;background: #bbb;position: absolute;color: #fff;font:bold 16px/160px 'Microsoft YaHei';width: 32px;text-align: center;cursor: pointer;}
.scroll_l{left: 0;top: 20px;_top:0;}
.scroll_r{right: 0;top: 20px;_top:0;}

/*footer*/
.footer{color:#8d8d8d; text-align:center; line-height:26px; padding:20px 0;background: #fff}
.footer a,.footer a:hover{color:#8d8d8d;margin:0 5px;}
.jiathis_style{margin: 15px 0;}
.jiathis_style a{color: #fff}