.step{height:33px;background:#EFEFEF;color:#8B8B8b;font-weight:700;font-size:14px; line-height:33px}
.step li{float:left;width:150px;padding-left:42px;background:url(/css/m/demo/img/step-bg.png) no-repeat right 0}
.step .last{background:none}
.step .prev{background-position:right -66px}
.step .cur{background-color:#FF9000;background-position:right -33px;color:#FFF}