/*
 * 模板样式文件引入
 *
 * 基础init-头部topBar-搜索headSearch-底部foot
 *
 */

/*
 @import url('http://res.csc86.com/f=v2/m/init/css/style.css');
 @import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
 @import url('http://res.csc86.com/v2/m/head-search/css/style.css');
 @import url('http://res.csc86.com/v2/m/foot/css/style.css');
 合并后引入如下
*/

 @import url('http://res.csc86.com/f=v2/m/init/css/style.css,v2/m/top-bar/css/style.css,v2/m/head-search/css/style.css,v2/m/foot/css/style.css');

/* 部分样式重写 */
a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}

/* 无搜索框的样式 */
.head{height:90px; background:#fff;}
.head .logos{margin-top:15px;}
.head .csc{padding-right:12px;margin-right:12px; border-right:solid 1px #bbb;}
.head .channel{color:#666;font-size:18px;line-height:56px;}
.navigation{margin-top:30px;}
.navigation li{float:left;font-size:16px;padding:0 7px;line-height:20px;border-left:dashed 1px #d5d5d5;}
.navigation .g-bn{border:none;}
.navigation a{float:left;display:block;padding:2px 5px;color:#000;}
.navigation a:hover{color:#fff;background:#c31611;text-decoration:none;border-radius:3px;}

/* 以下为专题样式 */
body{ font-size:62.5%; font-family:Microsoft Yahei; min-width:1200px; margin:0 auto}
.share{ width:320px; height:30px; padding:15px 0 0 780px}
.ma{ margin:0 auto}
.mo{ width:1197px; margin:0 auto}
.mom{ width:1192px; margin:0 auto}

.fficon{ background:url(img/icon-f1.png) no-repeat}
.djs{ background:url(img/js.png) no-repeat -52px 21px}

/*顶部导航 nav 样式*/
.navimg{width:100%; height:56px; background:#1d1d56 url(img/nav.jpg) no-repeat center 0;}
.navbox{ position:fixed;top:0;left:0;z-index:20; display:block}
.nav{width:1244px; height:56px;  font-size:2em; line-height:56px; text-align:center; }
.nav a{ text-decoration:none; color:#fff; }
.nav a.ablock{ display:block; height:53px; float:left; color:#fff000; font-weight:700}
.nav a.tel{ width:161px}
.nav .mfqy{width:149px; height:50px; padding-left:40px }
.nav .xdlq{ width:188px}
.nav-list{ width:705px; height:56p; float:left; overflow:hidden}
.nav-list li{ float:left}
.nav-list a{ display:inline-block; }
.nav a:hover{ border-top:3px solid #00f6ff;}
.nav-list a:hover{ color:#00f6ff; font-weight:700}
.nav-list a.nms{ width:132px; }
.nav-list a.nxx{ width:83px; }
.nav-list a.nxt{ width:88px; }
.nav-list a.nxg{ width:83px}
.nav-list a.ncgs{ width:157px}
.nav-list a.ngys{ width:162px}


/*banner 样式*/
.banimg{ height:918px; background:url(img/bgb.jpg) no-repeat center 0}
.banimg .lead{width:403px; height:61px; background:url(img/lead.png) no-repeat; text-align:center; position:relative; top:732px}
.banimg .lead p{ line-height:30px; font-size:1.8em; color:#fff}
.banimg a.lqxd{ display:block; width:200px; height:200px; position:relative; top:544px; left:395px; border-radius:100%;}

/*产品区 wrap 样式*/
.wrap{ height:4030px; background:#3c3c70 url(img/bgf.jpg) no-repeat center 0}

/*秒杀专区 样式*/
  /*倒计时*/
.mszq{ height:1100px; background:#fda305 url(img/f1.jpg) no-repeat; position:relative; top:-62px}
.mszq .daojs{ border:1px solid #fff; height:80px;}
.mszq .daojs span{color:#fff; float:left; display:block;}
.mszq .daojs .zt{width:256px; height:30px; background:url(img/djszt.png) no-repeat 0 0px; margin-top:25px}
.mszq .daojs .xsdj{ position:relative; margin-left:100px; margin-right:225px; background-position:0 -30px}
.mszq .daojs .xsdj::before{
	 content:"";
	 width:138px; height:130px; background:url(img/icon-f1.png) no-repeat 0 5px;
	 position:absolute; left:-100px; top:-75px;
	 }
.mszq .daojs .sjxq em{ display:inline-block; width:52px; height:80px; color:#181616; font-size:2.2em; letter-spacing:15px; padding-left:6px; line-height:80px; text-align:right}
.mszq .daojs .sjxq em.day{width:48px; background-position:1px 21px;}
  /*秒杀标题*/
.mszq-tit{ width:330px; height:128px; text-align:center; padding-left:20px}
.mszq-tit h1{ font-size:4.6em; color:#ffeda2; height:70px; padding-top:30px;}
.mszq-tit h1 span{width:110px; height:56px; display:inline-block; background-position:-146px 0; position:relative; top:12px}
.mszq-tit p.zd{ font-size:1.6em; color:#ffea00}
  /*秒杀产品*/
.mszq ul.ms-list{ padding-top:30px;}  
.mszq ul.ms-list li{ width:286px; height:388px; background-color:#f32c3d; padding:4px 0 0 4px; float:left; margin:0 2px 30px 6px }
.mszq ul.ms-list a{ text-decoration:none;}
.mszq ul.ms-list .li-up{ width:282px; height:312px; background-color:#fffcfc;}
.mszq ul.ms-list .li-up a{ display:inline-block; position:relative }
.mszq ul.ms-list .li-up a img{ width:222px; height:244px; border:1px solid #e5e5e5; margin:20px 0 0 20px}
.mszq ul.ms-list .li-up .ltit{ padding:5px 20px; color:#5b5858; font-size:1.4em; width:242px}
.mszq ul.ms-list .li-up .lbk{ width:75px; height:60px; background-position:-140px -60px; position:absolute; top:-2px; right:2px; text-align:center; font-size:1.8em; color:#fff; line-height:1.2; padding-top:13px}
.mszq ul.ms-list .li-bot{ height:60px}
.mszq ul.ms-list .li-bot .price{ width:155px; color:#fff; font-size:2.2em; display:inline-block; line-height:2.8 }
.mszq ul.ms-list .li-bot .ljqg{ width:113px; padding-left:10px; height:44px; display:inline-block; background-position:-14px -124px; color:#c20006; font-size:2em; line-height:2; font-weight:700}

/*锡产品专区 样式*/
  /*共同标题 样式*/
.com-tit{ width:593px; height:55px; font-size:3.6em; color:#fff; background:url(img/ftit.png) no-repeat; text-align:center; position:relative}
.com-tit::before{
	content:"";
	width:18px; height:138px; background:url(img/sz.png) no-repeat;
	position:absolute; left:-280px; top:-50px; z-index:1
	}
.com-tit::after{
	content:"";
	width:18px; height:138px; background:url(img/sz.png) no-repeat;
	position:absolute; right:-280px; top:-50px; z-index:1
	}
  /*共同产品 样式*/
.com-list{ overflow:hidden; padding-bottom:25px; margin-bottom:65px}
.com-list li{width:278px; height:346px; float:left; margin:0 1px 15px 15px}
.com-list li a{ text-decoration:none;}
.com-list li .li-t a{ width:276px; height:255px; display:block; border:1px solid #bcbab1; border-bottom:none; position:relative}
.com-list li .li-t a p{ position:absolute; font-size:1.7em; color:#000; font-weight:900}
.com-list li .li-t a p.dj{ top:13px; left:10px}
.com-list li .li-t a p.hb{ width:54px; height:54px; left:10px; top:36px; background-color:#f7be0f; line-height:3; border-radius:100%; text-align:center; }
.com-list li .li-t a p.qg{ width:67px; height:50px; padding-top:3px; background:url(img/qg.png) no-repeat; color:#fff; text-align:center; line-height:24px; padding-left:7px; right:12px; top:192px}
.com-list li .li-t a img{ width:276px; height:255px}
.com-list li .li-d{ width:268px; height:90px; padding-left:10px} 
.com-list li .li-d p{ color:#fff; font-size:1.4em}
.com-list li .li-d .gdtit{ height:25px; padding-top:5px}
.com-list li .li-d .gdpri{ height:60px; font-size:2em}
.com-list li .li-d .gdpri em{ font-size:1.4em}
.com-list li .li-d .gdpri b{ padding-left:8px; font-family:impact; font-size:2.4em; line-height:1} 
.com-list li .li-d a{ color:#fff} 

/*锡线专区*/
.xxzq{ background-color:#fff;}
.xxzq-tit{ top:-45px}
.xx-list li .li-d{ background-color:#d10059;}

/*锡膏专区*/
.xgzq{ background-color:#d44600; position:relative; z-index:1}
.xgzq-tit{ top:-50px; background-position:0 -55px}
.xg-list li .li-d{ background-color:#f7be0f;}
.xg-list li .li-d p{ color:#0f0e0e}
.xg-list li .li-d a{ color:#0f0e0e}
.xg-list li .li-d .gdpri em{ color:#ff1413}
.xg-list li .li-d .gdpri b{ color:#ff1413}

/*锡条专区*/
.dbimg{ height:820px; background:#31316e url(img/xtimg.jpg) no-repeat center 0; padding-top:250px}
.xtzq{ background-color:#fff}
.xtzq-tit{ top:-50px; background-position:0 -116px}
.xt-list li .li-d{ background-color:#d10010;}
.xt-list li .li-d p,.xt-list li .li-d a,.xt-list li .li-d .gdpri em,.xt-list li .li-d .gdpri b{ color:#fff}

/*商家展示区 样式*/
.zsq{height:1680px; background:#b0ccde url(img/zsq.jpg) no-repeat center 0 }
.zszq{ width:1092px;}
.zszq-tit{ background-position: 0 -178px; margin-bottom:35px}
.zszq-tit::before,.zszq-tit::after{
	background:none;
	}
/*轮播图 样式*/
.rollist{ height:270px; overflow:hidden; box-shadow:0px 6px 10px hsla(211,90%,16%,.8)}
.rollist ul li a img{ width:1092px; height:290px;}
.rollist span{ width:1em; height:1em; background-color:#a60569; display:inline-block; font-size:3.8em; line-height:.9; text-align:center;  position:relative; cursor:pointer; left:30px; color:#fff}
.rollist span:last-child{ left:965px}
.rollbox:hover .rollist span{ top:-159px}

/*采购商 样式*/
.cgszq{ width:994px; height:590px; background:url(img/cgs.jpg) no-repeat; margin-top:40px; margin-bottom:10px}
.cgsgys{ font-size:3.4em; text-align:center; color:#b93a3e; padding-top:50px}
.cgsgys em{ color:#0f8cda; font-weight:400}
.cgs-list{ padding-top:18px; overflow:hidden; padding-bottom:20px}
.cgs-list li{ width:314px; height:108px; float:left; text-align:center; color:#fff; padding-top:235px}
.cgs-list li.lis{ margin-left:25px}
.cgs-list li h3{ font-size:2.4em;}
.cgs-list li p{ font-size:1.8em}
p.vip-p1{ color:#000; font-size:1.4em; text-align:center }
p.vip-p1 a{ font-size:1.2em; color:#c81028; font-weight:700; display:inline-block; text-decoration:underline}
p.vip-p2{ text-align:center; line-height:50px; margin-top:20px;}
p.vip-p2 a{ display:inline-block; width:233px; height:54px; background:url(img/icon.jpg) no-repeat; color:#fff; font-size:2.6em; font-weight:700; text-decoration:none}

.gyszq{width:997px; height:654px; background:url(img/gys.jpg) no-repeat}
.gys-list{ padding-top:20px; overflow:hidden; padding-bottom:80px}
.gys-list li{ width:193px; height:145px; text-align:left; float:left; padding:200px 28px 0 28px}
.gys-list li h3{ color:#f7be0f; font-size:2.4em; padding:5px 0}
.gys-list li p{ color:#fff; font-size:1.8em}

/*保障权益 样式*/
.bzzq{ height:339px; background-color:#1b3583}
.bzzq .bz-div{ float:left;}
.bzzq .bz-left{ width:252px; height:340px; background-color:#f7be0f; box-shadow:10px 0 20px #101f4e; margin-left:35px }
.bzzq .bz-right{ letter-spacing:1px; margin:50px 0 0 20px; padding-left:20px; width:660px  }
.bzzq .bz-left span{ display:inline-block; width:196px; height:198px; background:url(img/bz.jpg) no-repeat; margin:70px 0 0 24px}
.bzzq .bz-right h5{ font-size:2.0em; color:#fff100; font-weight:700; margin: 5px auto}
.bzzq .bz-right h5:first-of-type{ font-size:2.4em}
.bzzq .bz-right p{ width:690px; font-size:1.4em; color:#fff }

/*免责声明*/
.statement{ width:940px; font-size:1.2em; color:gray; margin:0 auto; overflow:hidden; padding:25px 0 15px 0}
.statement span{ display:inline-block; float:left; margin-left:10px; line-height:20px}
.statement span:first-child{ border-right:2px solid silver; padding-right:10px}

