/**
 * 详情页打印样式
 *
 */

/* 依赖的模块 */
@import url('pg-base.css'); /*皮革公用*/
.top-bar,.web-search,.m-nav,.container .side,.foot,.link,.back-top,.pg-hot-key,.content .tools,.content .view-bar,.content .guess-u-like,.content .path{display:none;}
.container,.container .content,.container .content .details{width:100%;border:none;}
.content .details .article p{font-size:16px;}
