<IfModule mod_rewrite.c>
RewriteEngine on

# You may need RewriteBase on some servers
RewriteBase /min

# rewrite URLs like "/min/f=..." to "/min/?f=..."
RewriteRule ^(js|css|app|dialog|editor|editorqq|bhf|shop|swfupload)/([bf]=.*)?$ index.php?g=$1&$2 [L]
RewriteRule ^([bfg]=.*\.(j|cs)s$)  index.php?$1 [L,NE]
</IfModule>
<IfModule mod_env.c>
# In case AddOutputFilterByType has been added
SetEnv no-gzip
</IfModule>