.d-bg{ background:#f3f3f3;}
.pro-info{background:#fff;border:solid 1px #ebebeb;}
.d-l-img{width:300px; height:auto; overflow:hidden; float:left;_display:inline;margin-right:20px;border-right:1px solid #ebebeb;}
.d-l-img .max-img,.d-l-img .max-img .i{width:300px; height:300px;}
.d-l-img .max-img{position: relative;border-bottom:1px solid #ebebeb;}
.d-l-img .max-img .i{*font-size:300px;}
.d-l-img ul{width:100%;overflow:hidden;padding:12px 10px;}
.d-l-img ul .ibox,.d-l-img ul .ibox .i{width:60px; height:60px;_overflow:hidden;}
.d-l-img ul .ibox{position:relative;padding:1px;border:1px solid #e1e1e1; margin-right:8px; float:left;}
.d-l-img ul .i{*font-size:60px;}
.d-l-img ul .i img{max-width:60px;max-height:60px;_display:none}
.d-l-img ul .cur{padding:0;border-color:#e94545;border-width:2px;}
.d-l-img ul .cur .arr{position:absolute;top:-9px;left:24px;width:12px;height:7px;background:url(img/arr.png) no-repeat;}
.d-l-explain{width:655px; height:auto;margin-right:20px;_display:inline; float:right;}
.d-l-explain h1{height:45px;line-height: 45px;border-bottom:dashed 1px #ebebeb;}
.d-l-explain table th,.d-l-explain table{;border-bottom:dashed 1px #ebebeb;}
.d-l-explain table th{padding:8px 10px 8px 0;text-align:center;font-weight:400;}
.d-l-explain table td{padding:8px 10px 8px 0;text-align:center;border:none;}
.d-l-explain table td strong{margin:0 6px 0 0;color:#c00;font-size:20px;font-family:Microsoft Yahei;}
.d-l-explain table td strong span{font-size:14px;}
    .pro-a-o{margin:10px 0;padding:10px 15px 15px;background:#f8f8f8;}
        .pro-a-o ul li{line-height:30px;}
        .pro-a-o ul li span{width:60px; display:inline-block;color:#888;}
        .pro-a-o ul li .flc-key{width:auto;color:#888;}
        .pro-a-o ul li .flc-val{width:auto}
    .obr-link{line-height:36px;padding:10px 0 0;}
        .obr-link a{display:inline-block;height:36px;margin:0 30px 0 0;font-size:14px;font-weight:700;font-family:Microsoft Yahei;color:#333;text-decoration:none;outline:none;}
        .obr-link .inquiry{width:155px;background:#e94545 url(img/btns.png) no-repeat 0 0;text-indent:-99999em;}
		.obr-link a:hover.inquiry{background-position:0 -196px;}
        .obr-link .to-order{width:150px;background-color:#aeaeae;background-position:0 -150px; }
		.obr-link a:hover.to-order{background-position:0 -242px;}
        .obr-link .favorited{cursor:default;}
        .obr-link a:hover{text-decoration:none;color:#2664a2;}

        .obr-link .fllow-contact-info{margin-top:-4px;margin-left:74px;*margin-top:32px;*margin-left:-115px;}
        .obr-link .fllow-contact-info .up-arr{left:105px;background-position:0 -128px;}
        .obr-link .fllow-contact-info ul{border:solid 1px #ccc;box-shadow:1px 1px 3px rgba(0,0,0,0.5);}

.di-off{padding:10px 0 25px 70px;background:url(../../c/shop/img/alert.png) no-repeat 0 20px}

.detail-info{margin-top:15px;}
.d-info-l{width:190px;}
    .d-info-l h3.t{height:28px;line-height:28px;padding:0 0 0 10px;font-size:14px;border-bottom:solid 1px #ebebeb;}
    .busi-info{border:solid 1px #ebebeb;border-radius:3px 3px 0 0;width:190px;overflow:hidden;}
        .busi-info h3{background:#f3f3f3;}
        .block-info{margin:0 5px;padding:3px 2px 0;*padding:5px 2px 0;border-bottom:dotted 1px #ccc;}
        .block-info div.lt{background:#F2F2F2;margin:2px 0;padding:3px 5px;color:#666;}
        .rz-info{padding:0 0 10px;}
        .rz-info a{display:block;background:url(img/icon-rz.png) no-repeat;margin:10px 0 0 4px;text-indent:-99999em;}

        .rz-info .integrity,.rz-info .real,.rz-info .entity{_display:inline;float:left;width:55px;height:55px}
        .rz-info .integrity{background-position:0 -10px;}
        .rz-info .real{background-position:-58px -10px;}
        .rz-info .entity{background-position:-116px -10px;}
        .rz-info .cur-def{cursor:default;}

        .busi-name{padding:10px 0 5px;}
        .busi-name strong{display: inline-block;max-width: 150px;_width:120px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;vertical-align: middle;}
		.busi-name .name{display:inline-block;max-width:150px;_width:120px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;word-wrap:normal;vertical-align:middle;color:#444;font-weight:bold;}
        .busi-name .vip{margin:0 4px;_margin:0 4px 0 0}

         .paras-com{padding:0 0 9px;}
         .paras-com li{line-height:25px; overflow:auto; zoom:1;}
         .paras-com li span{float:left;width:60px;text-align:right;}
         .paras-com li div{ width:110px; height:auto;float:left;max-height:50px; overflow:hidden;}
         .paras-com .main-ind{height:25px;white-space:nowrap;text-overflow:ellipsis;}
         .paras-com .third-im a{margin-right:2px}
         .paras-com .third-im img{position:relative;}

.m-shop-contact{width:176px; height: 124px; position: relative;margin: 0 auto 18px; line-height:22px}
.m-shop-contact .msc-bd{position: absolute; width:164px;height:88px;padding:24px 5px 18px; border:solid 1px #eee;background: #f6f6f6;border-radius:3px}
.m-shop-contact .msc-bd li{height:22px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.m-shop-contact .msc-bd img{margin-top:-2px;_margin-top:0;}
.m-shop-contact .msc-bd2{top:2px;left:2px}
.m-shop-contact ul.cur{background: #fff;border-color: #ddd;z-index:1}
.m-shop-contact .msc-indicators li{float:left;width:14px;height:14px; margin-right:3px; border-radius:7px;background:#666}
.m-shop-contact .msc-indicators{ position: absolute;top:8px;right:6px;z-index:2;line-height:14px;text-align:center;color:#fff; cursor: pointer;}
.m-shop-contact .msc-indicators .cur{background: #f60;}

.shop-operating{padding:12px 10px 11px}
.shop-operating a{width:78px;height:25px;color:#333;background:#f7f7f7 url(img/m-shop-contact-bg.png);border:solid 1px #ccc;text-align:center;line-height:25px}
.shop-operating a:hover{text-decoration:none;}
.shop-operating .shop-faved{color:#979797;cursor: default;}

.d-info-r{width:800px;}
    .paras-info{}
        .paras-info h3{width:798px;height:28px;_overflow:hidden;border:solid 1px #ebebeb;}
        .paras-info h3 strong{position:relative;top:-5px;left:-1px;display:inline-block;width:118px;height:32px;line-height:32px;font-size:14px;font-weight:700;text-align:center;background:#f3f3f3;border-style:solid;border-width:2px 1px 0 0;border-color:#e94545 #ebebeb;}
        .paras-list{padding:15px;background:#f3f3f3;}
        .paras-list li{width:29%;float:left;margin:5px 16px;_display:inline;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;word-wrap: normal;}

        .pro-d-con{margin:10px 0 30px;width:100%;overflow:hidden;}

.other-pro-list{margin:10px 0 0;border:solid 1px #ebebeb;}
.other-pro-list ul{padding:0 3px; overflow:auto; zoom:1; border:0;}
.other-pro-list ul li{float:left;width:162px; height:auto;margin:15px 0 0;padding:0 10px 15px;border-bottom:dotted 1px #ccc;text-align:center;_overflow:hidden;;}
.other-pro-list .ibox{ width:160px; height:160px; border:1px solid #ebebeb;_overflow:hidden;}
.other-pro-list .ibox .i{ width:160px; height:160px;*font-size:160px; }
.other-pro-list .ibox .i img{max-width:160px;max-height:160px;_display:none}
.other-pro-list ul li h5{width:162px; overflow:hidden; line-height:18px; text-align:center; padding:5px 0 2px; font-weight:normal;}
.other-pro-list ul li h5 a{color:#333;}
.other-pro-list  ul li strong{color:#c00;font:700 14px Arial;}
.other-pro-list ul li em{color:#888;font-family:Microsoft Yahei;}
.other-pro-list ul li i{font-style:normal;font-size:12px;}
.other-pro-list ul li span{color:#888;font-size:12px;width:auto;float:none;}
.other-pro-list ul li dfn{font-size:12px;font-family:Microsoft Yahei;}

.d-attribute{margin:20px auto 10px;}
.d-attribute h3{padding-left:10px; height:30px;border-bottom:solid 1px #ebebeb;}
.d-other-pro h3{background:url(img/d-bg.png) repeat-x 0 0; padding-left:10px; height:30px; border-bottom:1px solid #ebebeb;}
.d-attribute ul{ padding:10px 5px;overflow:auto;}
.d-attribute ul li{width:329px;float:left;}
.d-attribute ul li span,.d-attribute ul li div{line-height:24px; float:left;}
.d-attribute ul li span{width:132px;color:#666; text-align:right;}
.d-attribute ul li div{width:196px; color:#333; text-align:left;}
.d-in-d{border:0;margin-top:10px;}
.d-in-d h3{border-width:2px;}

.d-other-pro{margin:20px auto;border-bottom-style:solid;}
.d-other-pro ul{ margin:20px 0 0; padding:0 0 10px; overflow:auto; zoom:1; border:0;}
.d-other-pro ul li{_display:inline; float:left;width:166px; height:auto; margin:0 15px 0 18px;text-align:center;;}
.d-other-pro .ibox{ width:160px; height:160px; border:1px solid #ebebeb; padding:2px;}
.d-other-pro .ibox .i{ width:160px; height:160px;*font-size:160px; }
.d-other-pro .ibox .i img{max-width:160px;max-height:160px;_display:none}
.d-other-pro ul li h5{width:164px; height:36px; overflow:hidden; line-height:18px; text-align:center; padding-top:5px; font-weight:normal;}
.d-other-pro ul li h5 a{color:#333;}
.d-other-pro ul li strong{color:#c00;font:700 14px Arial;}
.d-other-pro ul li em{color:#888;font-family:Microsoft Yahei;}
.d-other-pro ul li i{font-style:normal;font-size:12px;}
.d-other-pro ul li span{color:#888;font-size:12px;width:auto;float:none;}
.d-other-pro ul li dfn{font-size:12px;font-family:Microsoft Yahei;}

/*产品详情页认证图标相关样式*/
.auth-info-box a{display:block;float:left;text-align:center;color:#666;overflow:hidden;}
.auth-info-box a:hover{text-decoration:none;}
.detail-info .auth-info-box{padding:5px 0 15px;height:52px;overflow:hidden;}
.detail-info .auth-info-box a{line-height:25px;width:48px;height:52px;padding:0 5px;}

/* 东盟产品加标识 */
.asean-icon-3{position: absolute;display: block;z-index:100;width: 32px;height: 22px;top:-1px;left: -4px;background: url(img/icon-asean-3.png);_bacground:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/icon-asean-3.png");}

/* 香港皮草城加标识 */
.fur-icon-3{position: absolute;display: block;z-index:100;width: 46px;height: 22px;top:-1px;left: -4px;background: url(img/icon-fur-3.png);_bacground:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/icon-fur-3.png");}

/*诚商通年限*/
.bsns-hd{background:url(img/year-bg.png) no-repeat center center;height:40px;font:bold 14px/30px Microsoft YaHei;color:#432703;text-align:center;border-bottom:1px dotted #ccc;padding:20px 0 15px;margin:0 5px;}
.bsns-hd img{ vertical-align:top;}
.bsns-hd span{display:inline-block;vertical-align:middle;}
.bsns-hd em{font-size:20px;color:#d20a0a;position:relative;top:2px;}
