@charset "utf-8";
/* 顶部频道导航样式 2014.01.14 by lg */
.dmg-logo{width:350px;height:99px;overflow:hidden;}
.nav{width:485px;float:right;height:26px;font-family:microsoft yahei;font-size:14px;line-height:24px;color:#ccc;margin-top:37px;overflow: hidden;}
.nav a{float:left;background:url(img/nav-line.gif) no-repeat 0 6px;margin-left:-1px;padding-left:1px; }
.nav a span{padding:3px 12px;_padding:5px 10px 3px;color:#444;font-weight:700;}
.nav a:hover,.nav a.hover{background-image:none;text-decoration:none;position:relative;z-index:9;}
.nav a:hover span,.nav a.hover span{color:#fff;background-color:#5696a2;border-radius:3px;}
.b-nav a span.zm{ -webkit-transform:scale(0.8); -o-transform:scale(1); display:inline-block; margin:0 -4px; }