@charset "utf-8";
/* 赢在东盟页面样式 2014.01.16 by lg */
.busi-av h3{height:21px;overflow:hidden;width:100%;}
.hot-line{border:1px solid #ccc;float:right;width:290px;padding-bottom:24px;margin-top:15px;}
.hot-line h2{font-weight:400;font-family:Verdana;color:#888;text-align:center;margin-top:-21px;margin-bottom:10px;position:relative;}
.hot-line h2 span{padding:0 10px; background-color:#fff;display:inline-block;*display:inline;*zoom:1}
.hot-line h2 em{font-size:24px;color:#444;font-family:microsoft yahei;margin-right:5px;}
.hot-line .g-h1{width:85%;margin:20px auto}

/*招商项目*/
.pj-pic{width:694px;height:385px;position:relative;overflow:hidden;}
.pj-pic ul li{position:absolute;top:0;left:0;display:none;width:694px;height:385px;overflow:hidden;}
.pj-pic ul .cur{display:block;}
.pj-menu{width:285px;height:385px;float:left;}
.pj-menu li{margin-bottom:2px;}
.pj-menu li h3{height:30px;line-height:30px;background-color:#dcdcdc;padding:0 12px;font-weight:400;font-size:12px;cursor:pointer;overflow:hidden;}
.pj-menu li div{height:77px;padding:10px 12px;background-color:#fff;position:relative;border-left:1px solid #f2f2f2;}
.pj-menu li div h4{font-size:18px;height:21px;line-height:20px;font-family:microsoft yahei;margin-bottom:5px;overflow:hidden;}
.pj-menu li div h4 a,.pj-menu li div h4 a:hover{color:#444;}
.pj-menu li div p{color:#888;}
.pj-menu li div p a,.pj-menu li div p a:hover{color:#2664a2;text-decoration:underline;margin-left:5px;}
.pj-menu li div,.pj-menu li.hover h3{display:none;}
.pj-menu li.hover div{display:block;}
.pj-menu li div b.ico-dsj{position:absolute;top:50%;left:-13px;margin-top:-15px;}

.bg-txt{display:inline-block;*display:inline;*zoom:1;height:30px;line-height:30px;color:#fff;font-size:16px;font-family:microsoft yahei;background-color:#8ABBC4;padding:0 10px;}

/*配套服务*/
.cmp-list{margin-left:100px;overflow:hidden;*zoom:1;font-size:14px;line-height:18px;font-family:microsoft yahei;}
.cmp-list a{color:#444;float:left;margin-right:10px;width:135px;margin-bottom:10px;}
.cmp-list a:hover{color:#eb3e3b;}
