.box{width: 100%;}
.box li{float: left;width: 33.33%;}

/*在线报名*/
.online{padding: 20px;}
.online li{margin-bottom: 10px;overflow: hidden;}
.online li span{float:left;width:60px;text-align: right;vertical-align: top;color: #444;font-size: 1.4rem;}
.online li input{width: 170px;height: 22px;line-height: 22px;padding:0 5px;background-color: #fff;font-size: 1.2rem;color: #616161;outline: none;border:1px solid #eee;border-radius:5px;font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
.online li input[type=submit]{width: 80px;height: 24px;color: #fff;font-size: 1.2rem;float: left;font-weight: 700;border:0;background: url(img/12.png) no-repeat;background-size: 100%;}

.zan input[type=button]{padding:0 5px;outline: none;border-radius:5px;font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;width: 100px;height: 30px;color: #fff;font-size: 1.2rem;font-weight: 700;border:0;background: url(img/12.png) no-repeat;background-size: 100%;}
.jzz{width:60%;position: absolute;top: 10px;right: 20px;}