@import url(/f=css/c/shop/style.css);
html{background:#dfdfdf url(img/html-bg.png)}
body{background:url(img/body-bg.jpg) no-repeat center 50px;}

.top-bg,.foot-bg{height:0;overflow:hidden;}

.main{width:750px;padding:0 10px 0 20px;background:#fff}
.main .main{padding:0}
.main .box-main{box-shadow:none;}

.home-main{width:790px;padding:0;background:none}
.home .empty{padding:10px 13px}
.box-main,.box-sub{background:#fff;border:0;box-shadow:1px 1px 1px #ddd;}
.box-sub{margin-bottom:10px;border:0}
	.bm-hd,.bs-hd{background:#fff url(img/hd-bg.png) no-repeat 0 bottom;border-bottom: 0;}
	.bm-hd{padding-left:0;padding-top:5px;background:none;border-bottom:solid 1px #ececec;}

.box-home{width:790px;background:#fff;box-shadow:1px 1px 1px #ddd;}
	.bh-hd{background:#fff url(img/hd-bg.png) no-repeat 0 bottom;border:0}
	.bh-hd h2{padding-left:12px;background:none}
	.bh-hd .more{color:#333;}

	.logo-name,.logo-name .name{color:#333}

.follow-fav{top:54px;}
.follow-fav li{width:56px;height:30px;margin-bottom:2px;background:url(img/follow-fav.png) 0 0 no-repeat;line-height:28px;text-align:left;padding-left:72px;position:relative}
	.follow-fav span{margin:0;background:none;width:67px;height:28px;position:absolute;left:0;top:0;}
	.follow-fav a{padding-left:25px;line-height: 24px;background-position:3px 3px;width:40px;}
	.follow-fav a:hover{color:#333;}
	.ico-follow{background-image:url(img/follow.png);}
	.ico-followed{background-image:url(img/followed.png);}
	.ico-fav,.ico-fav:hover{background-image: url(img/fav.png);}
	.ico-faved,.ico-faved:hover{background-image: url(img/faved.png);}
	.ff-fav em,.ff-follow em{color:#333;}


.nav{border-right:0;background:none}
.nav .item{border-left:0}
.nav .pro:hover{background:none}
.nav .cur,.nav .cur:hover{background:none;border-bottom:solid 2px #ff001e;}
.nav .pro:hover a.item-txt{color:#333}
.nav .cur:hover a.item-txt{color:#333}
.nav .item-txt{color:#333}
.nav .cur .item-txt{color:#333}
.nav .item-arr{_border-color:#dfdfdf;border-top-color:#7a7a7a}
.nav .cur .item-arr{_border-color:#dfdfdf;border-top-color:#7a7a7a}
.nav .item:hover .item-arr,.nav .hover .item-arr{border-color:transparent;_border-color:#dfdfdf;border-bottom-color:#7a7a7a}
.nav .cur:hover .item-arr,.nav .cur-hover .item-arr{_border-color:#dfdfdf;border-bottom-color:#7a7a7a}

	.nav-cate,.nav-cate .cate-2th{border:solid 1px #ff001e;background:#fff}
	.nav-cate .c1-item-txt{color:#010101}
	.nav-cate .c1-item-txt span{_border-color:#f5f5f5;border-left-color:#6b6b6b}
	.nav-cate .cate-2th a{color:#010101}
	.nav-cate .cate-2th-more{background:#f5f5f5}

.crumb{color:#333}

.member-info{margin-bottom:10px;background:#fff;border-bottom:0;box-shadow:1px 1px 1px #ddd;}
.mi-basic strong{color:#333}

.shop-fav{border-top:0}
.shop-fav a{width:125px;height:23px;padding:5px 0 5px 8px;color:#222;background:url(img/shop-fav.png) 0 0 no-repeat;font-size:16px;font-family:Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,simhei,sans-serif}

.group{background:#fff url(img/group-bg.png) no-repeat}

.main-cate{padding:7px 0;border:0}
.main-cate h2{font-size:14px;color:#333;}
.main-cate span{color:#808080}
.main-cate ul{padding:6px 0;border:solid #ececec;border-width:1px 0}
.main-cate a{color:#333}

.main-cate li{width:150px;overflow:hidden}
.main-cate li a{*display:inline;max-width:120px;margin-right:5px;vertical-align:middle\9;*zoom:1}

.Spage{padding-bottom:50px;text-align:center;}
.Spage ul li a ,.Spage ul li.hidden span{background-color:#fff}

.di-params{width:415px}
.di-tab-bd{padding-bottom:50px}

.friend-links a{color:#333;font-size:14px}

.rec-product .item{margin:10px 5px 10px 0;background-color: #fff;}
.rec-product .rec-list{margin-left: 6px;}

.thumb-list .ibox{background:#fff;}
.thumb-list .item{margin:0 7px;}
.hot-product .thumb-list{margin-left: 19px;}
.product-list .item{margin:0 10px 0 7px}
.product-list .thumb-list{margin-left:-6px}

.about{overflow:hidden; background:#FFFFFF; padding: 0 20px; }
.about-hd h2,.about h3{color:#333;padding:0 0 5px;border-top:0;border-bottom:solid 1px #ececec;font-weight:700}
.ad-hd{height:26px;line-height:26px;background:#f2f2f2;color:#333;font-size:12px}
.detail-key{color:#666;}
.about-box .ab-bd{margin:20px 0 0;padding:0;}

.entity-photo{margin-left:-20px}

.honor-list li{margin:0 13px;}

.news-list{padding:20px 0;}
.news-list li{background:none;border:none}
.news-list li .title{font-size:14px}
.news-list li .amount{color:#333;}

.news-head{border-bottom:solid 1px #ececec}
.news-info{color:#666;}
.news-detail .detail-con{font-size:14px}
.news-detail .label-sort{background:#f2f2f2;color:#333;border:solid 1px #ccc;padding:7px 10px}


/*about*/
.about_iner{ padding:20px;}
.company-detail h3{height:26px; padding-left:7px; line-height:26px; background:#f1f1f1}
.company-detail dl{padding:15px 7px;line-height:2}
.company-detail dt{float:left; color:#666}
.company-detail dd{min-height:24px;_height:24px;}
.company-scale dd{float: left; width:300px;}
.company-contact span{margin:0 6px}
.company-contact dd{margin-left:65px}
.company-intro .bt-bd{padding:20px 0 10px 5px;line-height:2}

.lin_com{ border-top:1px solid #ececec; margin:20px 0; padding-top:20px;}
.lin_com li{ float:left; width:355px; margin-bottom:8px; line-height:19px;}
.lin_com li em{float:left; text-align:right; font-size:13px; font-weight:700; width:100px;}
.lin_com li span{float:left; width:255px; line-height:19px;}


.m_dit em,.gui_dit em { float: left; font-size:13px; display:block; font-weight:700;  line-height:19px; text-align:left; margin-left:15px; width:100px; }
.m_dit span,.gui_dit span{  display:block; width:255px; margin-left:20px; line-height:19px;}
.m_dit,.m_dit tr,.m_dit td,.gui_dit,.gui_dit tr,.gui_dit td{ border:1px solid #ececec; }
.m_dit td,.gui_dit td{ padding:10px 5px ;}
.m_dit{ padding-top:30px;}

.company-intro h2{ margin-top:20px;}
.gui_dit{ border:1px solid #ececec; padding-top:15px; }
.no_redrit{ height:250px; padding-left:20px; padding-top:60px; font-size:15px; font-weight:700; color:#888; }
/*auth*/
.box-main{ border:none; }
.bt-hd, .bm-hd { border-bottom: 1px solid #ECECEC;font-size: 16px; height: 34px; background:none; line-height: 34px;}
.item_resd{ display:none;}
.auth .cur{ display:block;}
.no_cerr h2.bm-hd{ font-size:14px; border:none; height:80px; line-height:80px; }
.no_cerr .bm-bd p{ font-size:12px; font-weight:700; margin-bottom:20px; }
.no_cerr .bm-bd .bg_con{ color:#808080; background:#f9f9f9; border:1px solid #f1f1f1; padding:10px; }
.no_cerr .bg_con{ line-height:30px;}

.con_tit{background:url(img/spa_lit.png) repeat-x 0 bottom; padding:10px 20px 0;}
.tit_imt{ height:45px; line-height:30px;}
.tit_imt li{ float:left; width:100px;position:relative; height:40px; }
.tit_imt li.first{background:url(img/lr_iocl.png) no-repeat 81px 8px;}
.tit_imt li a{font-size:15px;font-weight:700;font-family:Microsoft YaHei,simhei; color:#333; cursor:pointer; text-decoration:none; }
.tit_imt li i{ position:absolute; left:23px; bottom:0; overflow:hidden; display:none; width:13px; height:8px;background:url(img/tit_item.png) no-repeat  0 0; z-index:3; }
.tit_imt li.cur i{ display:block; }
.auth-identity li{ border:none; }

.shen_sh{ height:280px; margin-bottom:50px; background:url(img/esr_oic.png) no-repeat 629px 155px; background:url(img/esr_oic.png) no-repeat 629px 155px; }
.shen_sh h3{ height:35px; line-height:35px; padding:10px 0 5px;}
.shen_sh h3 span{ color:#ff0000; font-weight:normal; margin-left:10px; }
.shen_sh tr,.shen_sh td{ border:1px solid #ececec; }
.shen_sh td{ height:35px; text-align:center; }
.shen_sh .t-list{ padding-right:10px;}
.comtit{ border:none; }