.after1{line-height:0px; height:0px; font-size:0px; clear:both; zoom:1; width:100%; display:block;visibility: hidden;}
.after:after{ content:""; line-height:0px; height:0px; font-size:0px; clear:both; zoom:1; width:100%; display:block;visibility: hidden;}

.cwdz{ width:100%; padding-bottom:30px;}
.cwdz .kgp1{ font-size:18px;font-family:微软雅黑; line-height:55px; font-weight:bold}

.seolmtable{ border-collapse:collapse; text-align:center;width:100% ; }
.seolmtable thead tr{  font-size:14px;font-family:微软雅黑;} 
.seolmtable thead .t1{ background:#ccc;}
.seolmtable thead th{   padding:8px 0px;   font-weight:normal; background:#ccc;}
.seolmtable tbody tr{  font-size:12px;} 
.seolmtable tbody td{   padding:5px 0px; border-bottom:1px solid #fff;}
.seolmtable  .tl{ text-align:left}
.seolmtable  .tl1{ padding-left:10px;}
.seolmtable  .tl2{ padding-left:25px;}
.seolmtable  .tl3{ padding-left:60px;}
.seolmtable  .tl4{ padding-left:75px;}
.seolmtable .col1{ color:#999}
.seolmtable .col2{ color:#ff0000}
.seolmtable .add,.seolmtable .del,.seolmtable .edit,.seolmtable .pp,.seolmtable .zt{ margin-right:10px; cursor:pointer;}
.seolmtable .add:hover,.seolmtable .del:hover,.seolmtable .edit:hover,.seolmtable .pp:hover,.seolmtable .zt:hover{ color:#ff0000}
.seolmtable .up,.seolmtable .down{ margin-right:10px; font-size:13px; font-weight:bold; cursor:pointer; font-family:微软雅黑}
.seolmtable .up:hover{ color: #0F0}
.seolmtable .down:hover{ color:#ff0000}
.seolmtable  .tl.tp30{ padding:10px 0px 10px 30px; font-size:12px; background:none}
.seolmtable  .tl.tp30 input{ margin-right:30px; width:135px; height:25px;}
.seolmtable tbody .tl.tp1{ padding-left:35px;}
.seolmtable tbody .t1{ background:#dbdbdb}
.seolmtable tbody .t2{ background:#e8e8e8; display:none}
.seolmtable tbody .t2.t22{ display: table-row;}
.seolmtable tbody .t3{ background:#fff;display:none}
.seolmtable tbody .t3.t33{display: table-row;} 
.seolmtable tbody  span.jh{ background:url(../img/icons/unless.png) center no-repeat;  float:left; height:20px; width:20px;}
.seolmtable tbody  span.jh1{ background:url(../img/icons/less.png) center no-repeat; float:left; height:20px; width:20px;}
.seolmtable tbody  span.jh0{ background: none; float:left; height:20px; width:20px;}
.seolmtable tbody td .kgbt{ width:138px; height:25px;font-size:14px;}
.seolmtable tbody td input{ height:22px; line-height:22px;}
.seolmtable tbody td .g-d-text.i1{ width: 100px; height:22px; line-height:22px;}
.seolmtable tbody td .i2{ width:230px;}
.seolmtable tbody td .i3{ width:130px; height:25px;}
.seolmtable tbody td label{ margin-right:10px;}
.seolmtable tbody td select{ width:190px; height:25px; line-height:25px;}
.seolmtable tbody td .dz{ cursor:pointer; color: #0080FF}
.seolmtable tbody td .cwdz1{ background:url(//resmanage.csc86.com/img/verify-bg.png) center 0px no-repeat ; height:16px;}
.seolmtable tbody td .cwdz2{ background:url(//resmanage.csc86.com/img/verify-bg.png) center -50px no-repeat ; height:16px;}
.seolmtable tbody td .cwdz3{ background:url(//resmanage.csc86.com/img/verify-bg.png) center -100px no-repeat ; height:16px;}

.jcfl{ width:550px; }
.jcfl .con{ height:270px;border-bottom:1px solid #ccc; padding-bottom:10px;}
.jcfl .title{ font-size:14px; line-height:35px}
.jcfl .left{ width:550px; float:left; height:270px;}
.jcfl .left .wk{ width:170px; overflow-y: scroll; height:170px; float:left; margin-right:10px; border:1px solid #ccc}
.jcfl .left .wk p{ line-height:22px; padding-left:10px;} 
.jcfl .left .wk p:hover{ background:#ccc; cursor:pointer}
.jcfl .left .wk p.hover{ background:#ccc;}
.jcfl .center{ width:30px; float:left;height:170px; padding-top:65px; text-align:center}
.jcfl .center span{ font-size:20px}
.jcfl .right{ width:230px; float:right; height:270px; overflow-y: scroll;border:1px solid #ccc;}
.jcfl .right p{line-height:22px; padding-left:10px;}
.jcfl .right p:hover{background:#ccc; cursor:pointer}
.dqxzlm{ line-height:40px;}
.dqxzlm span{ color:#FF8000;  font-weight:bold;}
.ssgjc{ line-height:25px;}
.ssinput input{ width:280px;} 
.bgl{ line-height:40px;}
.bglmc{ line-height:25px;}
.bglmc input{ line-height:25px;width:280px;}

.xglm{ padding:30px; width:560px;}
.xglmtable{ border-collapse:collapse; text-align:center;width:100% ;  text-align:left;}
.xglmtable tbody .fontw{ font-weight:bold}
.xglmtable tbody .ml5{ margin-left:5px;}
.xglmtable tbody .mr25{ margin-right:25px;}
.xglmtable tbody .red{ color:#ff0000;}
.xglmtable tbody tr{  font-size:12px;} 
.xglmtable tbody .cxgl{ background:#ccc; border:2px solid #333; padding:4px 6px; cursor:pointer; margin-left:10px; font-size:12px;}
.xglmtable tbody .yqlj{  cursor:pointer; margin:5px 5px 0px 5px; font-size:14px; padding:2px 20px 2px 5px;  border:1px solid #333; position:relative;white-space:nowrap; font-size:14px; display:inline-block; }
.xglmtable tbody .yqlj b{ font-weight:normal;white-space:nowrap; }
.xglmtable tbody .yqlj em{ display:inline-block; position:absolute; top:-3px; right:2px; font-size:12px; width:20px; height:20px; text-align:center; z-index:10}
.xglmtable tbody .add{ font-size:20px; cursor:pointer}
.xglmtable tbody td{   padding:5px 0px;   font-size:14px;}
.xglmtable tbody td .inpt1{ width:370px;}


.addyqlj{ padding:30px; width:270px;}
.addyqljtable{ border-collapse:collapse; text-align:center;width:100% ;  text-align:left;}
.addyqljtable tbody tr{  } 
.addyqljtable tbody td{   padding:5px 0px;   font-size:14px;}
.addyqljtable tbody td input{ width:160px;}
.addyqljtable tbody td .red{ color:#ff0000; margin-left:5px;}


.ppzt{ padding:30px; width:780px; max-height:474px; overflow-y: auto}
.ppzttable{ border-collapse:collapse; text-align:center;width:100% ;  text-align:left;}
.ppzttable tbody tr{  } 
.ppzttable tbody td{   padding:5px 0px;   font-size:14px;}
.ppzttable tbody .title{ padding-top:10px; vertical-align:top}
.ppzttable tbody .td1 ul li{ float:left; width:113px; height:35px; border:1px solid #ccc; position:relative; padding:3px; margin-right:10px; margin-bottom:10px; cursor:pointer}
.ppzttable tbody .td1 ul li span{ display:block; width:20px; height:20px; position:absolute; right:0px; line-height:20px; text-align:center;  cursor:pointer;}
.ppzttable tbody .td1 ul li img{ width:83px; height:35px;} 
.ppzttable tbody .td1 ul li .s1{ top:0px; }
.ppzttable tbody .td1 ul li .s2{ bottom:0px; font-size:14px;}
.ppzttable tbody .td1 ul li .s3{ font-size:30px; display:block; width:100%; height:35px; line-height:35px; }
.ppzttable tbody .td2 ul li{ float:left; width:197px; height:126px; border:1px solid #ccc; position:relative; padding:3px; margin-right:10px; margin-bottom:10px;cursor:pointer}
.ppzttable tbody .td2 ul li img{ width:167px; height:126px;}
.ppzttable tbody .td2 ul li span{ display:block; width:20px; height:20px; position:absolute; right:0px; line-height:20px; text-align:center;  cursor:pointer;} 
.ppzttable tbody .td2 ul li .s1{ top:0px; }
.ppzttable tbody .td2 ul li .s2{ bottom:0px;font-size:14px; }
.ppzttable tbody .td2 ul li .s3{ font-size:50px; display:block; width:100%; height:126px; line-height:126px; }

.addppzt{ padding:30px; width:370px;}
.addppzttable{ border-collapse:collapse; text-align:center;width:100% ;  text-align:left;}
.addppzttable tbody tr{  } 
.addppzttable tbody .title{ vertical-align:top; padding-top:5px;}
.addppzttable tbody td{   padding:5px 0px;   font-size:14px;}
.addppzttable tbody td .i1{ width:280px;}
.addppzttable tbody td .red{ color:#ff0000; margin-left:5px;}
.addppzttable tbody td .i2{ width:60px; font-size:12px; height:22px; line-height: normal;}
.addppzttable tbody td .s1{ font-size:12px; margin-left:5px;display:inline-block; line-height:16px; height:16px;  }
.addppzttable tbody td .s1 b{ color:#ff0000; margin-left:5px; padding-top:2px; float:right; font-weight:normal;font-size:14px; }
.addppzttable tbody td .img{ width:300px; margin-top:10px;}
.addppzttable tbody td .img img{ max-width:100%}

.seolmtable .tp30.lmbac{ padding-top:0px; padding-bottom:10px; padding-left:30px;}
.seolmtable .tp30.lmbac .s1{ color:#ff0000; margin-left:5px;}
.seolmtable .tp30.lmbac .img{  margin-left:10px;  display:inline-block; margin-right:10px;}
.seolmtable .tp30.lmbac .img img{width:100px; max-height:50px; } 



