.sjzj{ width:100%}
.sjzj .kgp1{ font-size:18px;font-family:微软雅黑; line-height:55px; font-weight:bold}
.sjzjtable{ border-collapse:collapse; text-align:center;width:100% ;}
.sjzjtable tbody tr{  font-size:16px;font-family:微软雅黑;} 
.sjzjtable tbody td{   padding:8px 0px;  }
.sjzjtable tbody .tl{ text-align:left}
.sjzjtable tbody .tl.tp1{ padding-left:35px;}
.sjzjtable tbody td .kgbt{ width:138px; height:25px;font-size:14px;}
.sjzjtable tbody td input{ height:22px; line-height:22px;}
.sjzjtable tbody td .g-d-text.i1{ width: 230px; height:22px; line-height:22px;}
.sjzjtable tbody td .i2{ width:230px;}
.sjzjtable tbody td .i3{ width:130px; height:25px;}

.zjmxtable{ border-collapse:collapse; text-align:center;width:100% ; border:1px solid #888; margin-top:20px;}
.zjmxtable thead tr{  font-size:14px;font-family:微软雅黑;} 
.zjmxtable thead .t1{ background: #E4E4E4;}
.zjmxtable thead .t2{ background:#e8e8e8;}
.zjmxtable thead th{   padding:4px 0px; border-bottom:1px solid #888; border-left:1px solid #888; font-weight:normal}
.zjmxtable thead th span{ font-size:15px; font-weight:bold}
.zjmxtable thead th .s2{ margin-left:40px;}
.zjmxtable tbody tr{  font-size:12px;} 
.zjmxtable tbody td{   padding:4px 0px; border-bottom:1px solid #888; border-left:1px solid #888; }
.zjmxtable  .tl{ text-align:left}
.zjmxtable  .tl.tp30{ padding:10px 0px 10px 30px; font-size:12px;}
.zjmxtable  .tl.tp30 input{ margin-right:30px; width:135px; height:25px;}
.zjmxtable tbody .tl.tp1{ padding-left:35px;}
.zjmxtable tbody td .kgbt{ width:138px; height:25px;font-size:14px;}
.zjmxtable tbody td input{ height:22px; line-height:22px;}
.zjmxtable tbody td .g-d-text.i1{ width: 100px; height:22px; line-height:22px;}
.zjmxtable tbody td .i2{ width:230px;}
.zjmxtable tbody td .i3{ width:130px; height:25px;}
.zjmxtable tbody td label{ margin-right:10px;}
.zjmxtable tbody td select{ width:190px; height:25px; line-height:25px;}
.zjmxtable tbody td .dz{ cursor:pointer; color: #0080FF}
.zjmxtable tbody td .cwdz1{ background:url(//resmanage.csc86.com/img/verify-bg.png) center 0px no-repeat ; height:16px;}
.zjmxtable tbody td .cwdz2{ background:url(//resmanage.csc86.com/img/verify-bg.png) center -50px no-repeat ; height:16px;}
.zjmxtable tbody td .cwdz3{ background:url(//resmanage.csc86.com/img/verify-bg.png) center -100px no-repeat ; height:16px;}

a.pg-cur{ cursor:pointer}


