.tb-do .tb-btn{width:50px;height:24px;cursor:pointer;}
.tool-bar .add-btn{_display:inline;float:right;width:73px;height:26px;background:url(../img/keybtn.png) no-repeat;text-align:center;line-height:26px;text-decoration:none;font-weight:400;color:#333;margin:4px 0 0 0;}

.pt-form{padding:30px 0;background:#fff;}
.pt-form li{margin-bottom:10px;line-height: 28px;}
.pt-form .pt-key{width:180px;text-align:right;}
.pt-form .star{color:#f00;}
.pt-form .pt-value{padding-left:180px;}
.pt-form select{padding:4px;width:134px;border:solid 1px #dcdcdc;margin-right:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.pt-form .pt-txt{width:268px;height:22px;border:solid 1px #dcdcdc;padding:2px;}
.pt-form .w50{width:50px;}
.pt-form .confirm,.pt-form .cancel{width:71px;height:32px;background:url(../img/ad-form-btn.png) no-repeat;text-align:center;line-height:32px;border:none;cursor:pointer;color:#fff;margin:10px 10px 0 0;}
.pt-form .cancel{background-position:0 -42px;color:#333;}
.pt-form .g-gray{color:#888;margin-left:10px;}
.pt-form .pt-pic{position: relative;padding:10px 10px 0 0;}
.images-del{padding: 0 6px;position:absolute;right: 12px;top: 12px;background: #fff;line-height: 21px;}
.g-gray{color:#888;}
.g-orange{color:#f60;}
.pt-select{padding:4px;width:80px;}

.bsqz-info{padding:20px 0 20px 85px;}
.bsqz-info li{display:inline;margin:0 60px 0 0;}
.bsqz-list li{margin-bottom:20px;line-height:24px;}
.bsqz-list .key{width:120px;text-align:right;}
.bsqz-list .value{padding:0 100px 0 120px;}
.bsqz-list textarea{width:600px;height:50px;padding:2px;}
.bsqz-list .confirm,.bsqz-list .cancel{width:71px;height:32px;background:url(../img/ad-form-btn.png) no-repeat;text-align:center;line-height:32px;border:none;cursor:pointer;color:#fff;margin:0 10px 0 0;}
.bsqz-list .cancel{background-position:0 -42px;color:#333;}

.m_basic{padding:30px 0 0;}
.m_basic .nth1{margin:0 0 15px;}
.m_basic .k{width:120px;text-align:right;}
.m_basic .v{padding:0 100px 0 120px;}
.m_basic .txt{border:solid 1px #ccc; width:260px;padding:2px;}
.m_basic .t1{width:130px;}
.m_basic .date{width:117px;}
.m_basic .tel{width:125px;}
.m_basic textarea{width:260px;height:50px;padding:2px;}
.m_basic ol li{margin:0 0 15px;}
.m_basic ol li.uppic{padding:0 0 0 60px;}
.m_basic ol li span{display:inline-block;width:50px;padding:0 10px 0 0;}
.m_basic .confirm{width:71px;height:32px;background:url(../img/ad-form-btn.png) no-repeat;text-align:center;line-height:32px;border:none;cursor:pointer;color:#fff;margin:0 10px 0 0;}

.mark-pic{padding:10px 0 0;}
.del-top-img{margin-left:10px}
.img-del{height:20px;margin:10px 0 0;}
.img-del span{position:relative;float:left;margin:0 10px 0 0;width:60px;height:15px;text-align:center;cursor:pointer;background:#ccc;}
.img-del span em{position:absolute;right:-8px;top:-8px;width:17px;height:17px;background:url(../img/verify-bg.png) no-repeat;text-indent:-9999em;}
.img-del .cur{background:#417EB7;}

.add-shop-form li{margin:5px 0;}
.add-shop-form li span{display:inline-block;width:70px;font:700 12px/24px microsoft yahei;text-align:right;*float:left;}
.add-shop-form select{padding:2px;width:150px;}
.add-shop-form .txt{border:solid 1px #ccc;padding:2px;width:150px;}
.add-shop-form .t1{width:70px;margin:0 5px 0 0;}
.m-f-err{margin:0 0 15px;padding: 0 0 0 22px;background: url(../img/verify-bg.png) 0 6px no-repeat;color:#888;line-height:28px;}
#f_err{color:red;display:none;text-align:center;}

.dialog-box{width:400px;}
.dialog-box select{margin-bottom:20px;}
.dialog-box li{float:left;line-height:26px;width:49%;}
.dialog-box .page{margin-top:10px;}
.dialog-box .page a,.dialog-box .page span{margin: 0 4px;}
.dialog-checked{padding-top: 6px;}
.dialog-checked li{/* line-height:20px; */margin-bottom: 0;}
.floor-bind select{width:240px;height:24px;margin:3px 0;}