.link{border:0;}
body{background: url(img/body-bg.png) no-repeat center 200px;}

.content{background: url(img/banner-2.jpg) no-repeat center 500px;}

.box-hd{position: relative; background:url(img/hd-bg.png) no-repeat;overflow:hidden;}
.box-hd h2{width:50px;margin:0 auto; padding-top: 14px;color:#fff;font-size:24px;font-weight:400;line-height:28px;font-family:Microsoft YaHei,simhei}
.box-hd-1{top: -43px;height: 50px;background-position:0 -46px}
.box-hd-2{top: -43px;height: 50px;background-position:0 -133px}
.box-bd{/* background:#7964b3 url(img/box-bg.png) */}

.bai-share{position: absolute;margin:10px 0 0 550px}
.bds_more,#bdshare a{color:#fff;}
#bdshare .shareCount{color:#333;}

.banner{background:url(img/banner-1.jpg) no-repeat center 0;}
.banner .bd{height: 500px;overflow: hidden;}
.banner h1{_display:inline; margin: 185px 0 0 375px;color:#fff;}

.nav{margin: 87px 0 0 9px;font-size:28px;line-height:36px}
.nav li{float:left;width:320px;height:112px;margin-right:9px;}
.nav a{padding: 14px 0 24px 104px;color:#fff;display:block;}
.nav a:hover{color:#f3f40e;text-decoration:none;background:url(img/banner-hover.png) no-repeat 0 -1px;_background-position:4px -1px}
.nav a span{font-size: 20px;}
.nav .n1{padding-left:100px;}
.nav .n2:hover{background-position: -329px -1px;_background-position:-325px -1px}
.nav .n3:hover{background-position: -658px -1px;_background-position:-654px -1px}

.hot-news{height:450px;padding-top: 68px;}
.hot-news .hd{background-position:0 0;height:45px;}

.focus-play{position:relative;overflow:hidden;width:643px;height:330px;z-index:0;margin-left: -1px;border:solid #ffffff 5px;}
.focus-play ul li{position:absolute;display:none}
.focus-play ul li.cur{display:block}
.focus-play ol{position:absolute;right:6px;bottom:8px;z-index:3}
.focus-play ol li{float:left;width:18px;height:18px;margin-right:6px;color:#ff4e00;text-align:center;line-height:18px;background:#fef3d9;border-radius:18px;opacity:.7;filter:alpha(opacity=70);cursor:default}
.focus-play ol li.cur{position:relative;width:19px;height:19px;top:-1px;color:white;font-size:14px;font-weight:bold;line-height:19px;background:#f60;border-radius:19px;opacity:1;filter:alpha(opacity=100)}

.news-list{margin-left:20px;font-size:14px;line-height:28px}
.news-list li{background: url(img/dot.png) no-repeat 0 center;padding-left: 10px;width: 316px;height:28px;overflow: hidden}
.news-list a{color:#fff;}

.live{height:365px}
.live .bd{margin-top: -24px;}
.live-control{position: relative;}
.live-control a{position: absolute;top: 79px;display:block;width:29px;height:78px;background:url(img/control.png) 0 0}
.live-control .prev{left: -45px;}
.live-control .next{right: -45px;background-position:-29px  0;}
.live-photos{position: relative;width:1000px;overflow:hidden}
.live-photos ul{width:2040px}
.live-photos li{float:left;width:310px;height:230px;margin-right:20px;border:solid 5px #fff}

.star{height:705px}
.star .bd{width:1000px;margin-top: -24px;overflow: hidden;}
.star ul{width: 1012px;}
.star li{position:relative;float:left;border:solid 1px #b4b4b4;background:#fff;width:238px;height:578px;margin-right:13px}
.star .txt{padding:0 25px}
.star p{color:#666;line-height:24px;}
.star .g-h-01{background:#b4b4b4}
.star a{font-size:14px;color:#333;margin-left: 5px;}
.star a:hover{color:#684abc;}
.star .info{position: absolute; top:270px; width: 64px;height: 90px;padding: 55px 16px 0 0;text-align:center;background:url(img/tri-bg.png) no-repeat;color:#fff;}

.atlas{height:430px}
.atlas .bd{margin-top: -35px;}
.control{width:43px;margin: -30px 0 0 957px;position: absolute;}
.control a{width:19px;height:19px;background: url(img/control.png) 0 -82px;}
.control .next{background-position: -19px -82px;}
.control .prev-dis{background-position: 0 -101px;}
.control .next-dis{background-position: -19px -101px;}
.photos{width:1000px;height: 336px;overflow: hidden;}
.photos ul{width: 1020px;margin-top:0}
.photos li{float:left;width:235px;height:148px;margin:0 20px 20px 0;}

.related{height:225px}
.related .bd{width:1000px;overflow:hidden;margin-top: -20px;}
.related ul{width: 1020px;}
.related li{float:left;width:180px;height:120px;margin-right:20px;border:solid 2px #c5b0fe;}

.foot-line{height:3px; background:#30bac7;overflow:hidden;}