@charset "utf-8";
/*基础样式*/
.g-ml30{margin-left:30px;}

/**/
.sea-cw,.cw-zd{ height:72px; line-height:36px; padding:0 0 0 10px;border:1px solid #d6d6d6; border-bottom:none;}
.sea-cw span,.cw-zd span{ float:left; margin-right:10px; vertical-align:middle;}
.sea-cw{padding:10px 15px 5px}
.sea-cw span{margin-right:40px}
.sea-cw span a{ vertical-align:middle;}
.sea-cw .cw-txt{width:120px;height:24px}
.sea-cw select{height:24px}
.cw-zd span{ font-weight:700; margin-right:25px;}
.cw-zd span.no-w{ font-weight:normal;}
.cw-zd .tb-btn{ float:right;padding:5px 10px; margin-right:10px;cursor: pointer;}

.confirmed{ height:158px;border:1px solid #d6d6d6; border-bottom:none}
.moth{}
.ed-to{ height:36px; line-height:36px; display:inline-block; margin:0 10px;}
.ed-to a{ margin-left:10px; vertical-align:middle;}
.ed-modify select{ margin:0 5px;}
.moth input{ float:right; margin:10px 10px 0 0;}
.mt-info{ background:#fddab8; font-size:14px; font-weight:700; line-height:36px; padding:8px 6px;}
.mt-info span{ width:200px; display:inline-block;}
.right-ok{ float:right; margin:6px 15px 0 0;}
a.backed{ float:right; margin-right:15px;}
.whtstart{ margin-left:10px; display:inline-block;}

.export{float: left;padding:10px 0 0 10px;}
.p-btn{padding:3px 10px}
.cached .close-wrap{width:5%; text-align: center; line-height:12px;padding-top:5px}
.cached .title-wrap{width:180px; padding-right:30px}
.shows td{border-bottom:solid 1px #eee;}

/* 贷款 */
.sea-cw span.mr-16{margin-right: 16px;}
.mt-10{margin-top: 7px;}
.cw-dk{line-height: 72px;}
.cw-dk span{margin-right: 76px;}
.bs-name,.g-list tbody td.bs-name{padding-left: 10px;}
.dk-tool{text-align: center;}
.w89{width: 89px;}
.set-font{font: 700 13px Microsoft YaHei,simsun;}
.dk-affirm th{padding-right: 10px;width: 70px;text-align: right;font: 14px simsun;}
.dk-affirm th,.dk-affirm td{height: 40px;line-height: 40px;}
.dk-affirm input{width: 168px;height: 26px;border: 1px #cecece solid;}
.dk-affirm .g-data{margin-left: 10px;vertical-align: middle;_display: block;font-size: 33px;}

/* 提款详情 */
.tk-detail{margin-left: 30px;}
.tk-detail li{line-height: 24px;}
.tk-detail li span{color: #888;}
.back-btn a{float: left; display: block;margin:0 0 4px 25px;width: 94px;height: 26px;line-height: 26px;color: #222;text-align: center;background: url(../../img/app/btn-back.png) no-repeat;}
.back-btn{border-bottom: 1px #d6d6d6 solid;}
.pt-4{padding-top: 4px;}
.tin25{text-indent: 25px;}

/*打开失败原因弹窗*/
.dkfail-txtarea{width:340px;height:100px;padding:5px;border:1px solid #ccc;resize:none;}



.fh-dtl-bd{ padding-left:30px; background:#fff;}
.fh-dtl-bd .ddxq .dd {color: #888;}
.orderdtl-hd,.orderdtl-bd{margin:0 40px;}
.orderdtl-hd{border-bottom:1px solid #ebebeb;padding:15px 0;}
.orderdtl-hd h2{font-size:14px;margin-left:2px;}

.orderdtl-bd{padding:18px 2px 70px;}
.orderdtl-lst li{padding:6px 0;}
.orderdtl-lst li .t{color:#888;}
.orderdtl-lst li .c{display:block;position:relative;word-break:break-all;}
.orderdtl-lst .qxrsn .c{margin-left:84px;}
.orderdtl-lst .jjqxrsn .c{margin-left:108px;}
.orderdtl-lst .addr .c{margin-left:60px;}

.orderdtl-bd .ddxq{ line-height:25px;}
.orderdtl-bd .ddxq .dd{ color:#888;}
.ddtable{ border-collapse:collapse; text-align:center; margin:10px 0px;}
.ddtable thead tr{ border:#e8e8e8 solid 1px;}
.ddtable thead th{ background:#f6f6f6; padding:8px 0px; font-weight:normal; text-align:center}
.ddtable tbody tr{  border-left:#e8e8e8 solid 1px;  border-right:#e8e8e8 solid 1px;}
.ddtable tbody td{ border-bottom:#e8e8e8 solid 1px;   padding:8px 0px}
.ddtable tbody td.first{ text-align:left; padding-left:14px}
.ddtable tbody td span{ color:#888;}

.fh-dtl-bd .imgsrc{ width: 200px; height: 100px;}
.imgsrcwk { max-width: 100%; overflow-y: auto }
.imgsrcwk img{ max-width: 100%;  }

.refuse{width: 500px;}
.refuse p{font-size: 16px; font-weight: 700;}
.refuse ul{padding: 15px 0; line-height: 200%; font-size: 14px;}
.refuse textarea{width: 100%;height: 200px; font-size: 14px;}

.c{*zoom:1;}
.c:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
*html.c{height:1%;}



