/*
 * 模板样式文件引入
 *
 * 基础init-头部topBar-搜索headSearch-底部foot
 *
 */


 @import url('http://res.csc86.com/v2/m/init/css/style.css');

/* 以下为专题样式 */
body{background:#e77a18;}
.main-bd{background:#fff7e7;width:480px;margin:80px auto;padding-bottom:35px;border-radius:10px;}
.ipt-txt{background:#fff;border:1px solid #d3d2d0;height:22px;padding:0 3px;}
.ipt-smt{background:#ffb62b;border:none;height:30px;padding:0 30px;color:#363636;font:bold 18px Microsoft YaHei;}
.frm-tbl{width:100%;font-family:Microsoft YaHei;}
.frm-tbl caption{color:#eb8b10;font-weight:bold;font-size:24px;text-align:center;padding:20px 0 15px;}
.frm-tbl th,.frm-tbl td{padding-top:15px;}
.frm-tbl th{color:#ff7100;font-weight:normal;font-size:15px;text-align:right;width:150px;}
.frm-tbl .ipt-txt{width:200px;}
.frm-tbl td p{padding-bottom:15px;}
.frm-tbl .smt-tr th,.frm-tbl .smt-tr td{padding-top:0;}

