@charset "utf-8";
.aui_content{ font-size:12px;}
.aui_content div.conn{line-height:22px;}
.aui_content p.tips{ text-indent:2em; margin:10px 0 30px; }
.g-f-msg-box .g-f-error{border:solid 1px #ff8d1f; display:none; line-height:24px; height:24px; padding-left:25px;background:#FFECE9 url(/css/m/app-frame/img/ico-bg.png) no-repeat 7px -44px;color:#f30}
.aui_content .group{ width:300px; margin-bottom:10px; line-height:24px; height:24px; border:1px solid #666;}
.aui_content textarea{ margin-top:10px; border:1px solid #d4d0c8; color:#999; resize:none;}
.aui_content p.tips{ clear:both; line-height:25px; color:#545454;} 
.aui_content p.tips strong{ color:#184c95;}