@import url('base.css');
@import url('/v2/m/page/style_li.css');
/***公用样式***/
.txt-lst li
{
    line-height: 30px;

    overflow: hidden;

    height: 30px;

    text-indent: 21px;
    word-break: break-all;

    border-bottom: 1px #ebebeb solid;
    background: url(img/gather.png) no-repeat;
}
.txt-lst li.last
{
    border-bottom: 0;
}
.txt-lst li a
{
    color: #444;
}
.txt-lst li a:hover
{
    color: #e93058;
}
.txt-lst li.n-1
{
    background-position: -85px -144px;
}
.txt-lst li.n-2
{
    background-position: -85px -177px;
}
.txt-lst li.n-3
{
    background-position: -85px -209px;
}
.txt-lst li.n-4
{
    background-position: -85px -241px;
}
.txt-lst li.n-5
{
    background-position: -85px -272px;
}
.txt-lst li.n-6
{
    background-position: -85px -304px;
}
.txt-lst li.n-7
{
    background-position: -85px -337px;
}
.txt-lst li.n-8
{
    background-position: -85px -369px;
}
.txt-lst li.n-9
{
    background-position: -85px -399px;
}
.txt-lst li.n-10
{
    background-position: -85px -431px;
}
.page-container
{
    font-family: simsun;
}
.page-main,
.page-aside
{
    overflow: hidden;
}

/*左侧*/
.page-main
{
    width: 870px;
}
.position
{
    line-height: 35px;

    overflow: hidden;

    height: 35px;
    padding: 0 10px;

    word-break: break-all;

    background: #f6f6f6;
}
.position,
.position a
{
    color: #444;
}
.position a:hover
{
    color: #e93058;
}
.position .t
{
    color: #888;
}
.position i
{
    font-style: normal;

    margin: 0 5px;

    color: #ccc;
}
.page-main-bd
{
    border: 1px solid #ededed;
}

/*右侧*/
.page-aside
{
    width: 300px;
}

.page-cmnbox .cmnbox-hd h2
{
    font: 16px/26px Microsoft YaHei;

    color: #333;
}
.page-cmnbox .cmnbox-bd
{
    border-bottom: 4px solid #ededed;
}
.page-cmnbox .cmnbox-bd .column
{
    padding-bottom: 15px;
}
.hotzx-lst
{
    padding-bottom: 12px;
}
.hotzx-lst li span
{
    margin-right: 7px;

    color: #888;
}

.hotactv-lst
{
    width: 320px;
}
.hotactv-lst li
{
    float: left;
    overflow: hidden;

    width: 145px;
    margin-right: 12px;
    margin-bottom: 15px;
}
.hotactv-lst li .pic
{
    overflow: hidden;

    width: 140px;
    height: 100px;
}
.hotactv-lst li .t
{
    line-height: 18px;

    overflow: hidden;

    height: 18px;
    margin-top: 10px;

    word-break: break-all;
}
.hotactv-lst li .t a
{
    color: #444;
}
.hotactv-lst li .t a:hover
{
    color: #e93058;
}

.page-cmnbox .jcactv-bd
{
    padding-bottom: 12px;

    border-bottom: none;
}
.page-cmnbox .jcactv-bd .intro
{
    width: 185px;
}
.page-cmnbox .jcactv-bd .intro a.a-t
{
    font-weight: bold;
    line-height: 20px;

    display: block;
    overflow: hidden;

    max-height: 41px;
    margin-bottom: 4px;

        word-break: break-all;
    -ms-word-break: break-all;
}
.page-cmnbox .jcactv-bd .intro p
{
    color: #888;
}
.page-cmnbox .jcactv-bd .intro p a.more
{
    color: #227dd7;
}
.page-cmnbox .jcactv-bd .intro p a.more:hover
{
    color: #e77918;
}
.jcactv-lst
{
    margin-top: 10px;
}
.jcactv-lst li
{
    padding-left: 10px;

    background: url(img/dot1.png) no-repeat left center;
}


/***资讯列表***/
.page-newslst
{
    padding: 5px 15px;
}
.news-lst
{
    padding: 15px 10px 15px 3px;

    border-bottom: 1px dotted #ebebeb;
}
.news-lst li
{
    padding-left: 11px;

    background: url(img/dot2.png) no-repeat left center;
}
.news-lst li .t
{
    display: inline-block;
    overflow: hidden;

    width: 690px;
}
.news-lst li .t a
{
    font-size: 14px;

    color: #444;
}
.news-lst li .t a:hover
{
    color: #e93058;
}
.news-lst li .date
{
    float: right;

    color: #888;
}
.page-newslst .Spage
{
    padding: 30px 0 20px;
}

/***资讯详情***/
.newsDtl-hd
{
    padding: 25px 12px 8px;

    border-bottom: 3px solid #f1f1f1;
}
.newsDtl-hd h1
{
    font: 26px Microsoft YaHei;

    word-break: break-all;

    color: #333;
}
.newsDtl-hd .ly-date
{
    color: #888;
}
.newsDtl-hd .ly-date span
{
    margin: 0 18px;
}
.newsDtl-hd .ly-date em
{
    color: #2664a2;
}
.news-tag .hd
{
    width: 36px;
    margin-top: 2px;
}
.news-tag .bd
{
    margin-left: 36px;
}
.news-tag .bd span
{
    line-height: 22px;

    display: inline-block;
    overflow: hidden;

    height: 22px;
    padding: 0 5px;

    background: #eee;
}

.newsDtl-bd
{
    padding: 27px;
}
.newsDtl-bd .content
{
    line-height: 26px;

    overflow: hidden;

    width: 814px;
}
.newsDtl-bd .content img
{
    max-width: 814px;
}
.newsDtl-bd .Spage
{
    padding-top: 50px;
    padding-bottom: 5px;
}
.newsDtl-bd .editor
{
    margin-top: 35px;
}

.newsDtl-ft
{
    margin-top: 40px;
}
.print-wb
{
    line-height: 28px;

    height: 28px;
    padding: 10px 18px;

    border-top: dashed 1px #f0f0f0;
}
.print-wb .print-wrap
{
    color: #444;

    _margin-top: 7px;
}
.print-wb .ico-print
{
    overflow: hidden;

    width: 11px;
    height: 14px;
    margin-right: 5px;

    vertical-align: middle;

    background: url(img/news-dtl-sf.png) no-repeat 0 -51px;

    *background-position: 0 -50px;
}
.print-wb .share-t
{
    margin-left: 16px;
}
.print-wb .share-box
{
    width: 300px;
}
.print-wb .wb
{
    width: 150px;
}
.print-wb iframe
{
    float: right;

    width: 64px;
    height: 22px;
    margin-top: 3px;
}
.prev-next
{
    line-height: 50px;

    overflow: hidden;

    border-top: solid 1px #e3e3e3;
    background: #fbfbfb url(img/news-dtl-sf.png) repeat-x 0 0;
}
.prev-next a.g-fl,
.prev-next a.g-fr
{
    width: 421px;
    margin-left: -1px;
    padding: 0 5px;

    color: #333;
    border-left: solid 1px #e3e3e3;

    _padding: 14px 5px 10px;
}
.prev-next a span
{
    color: #444;
}
.prev-next a:hover
{
    text-decoration: none;
}
.prev-next a:hover span
{
    text-decoration: underline;

    color: #e93058;
}
.prev-next i
{
    display: inline-block;

    width: 14px;
    height: 23px;
    margin: 0 10px;

    vertical-align: middle;

    background: url(img/news-dtl-sf.png) no-repeat 0 -65px;

    *display: inline;
    *zoom: 1;
}
.prev-next .g-fr i
{
    background-position: 0 -88px;
}

/***活动列表***/
.page-actvlst-main
{
    overflow: visible;
}
.actvlst-hd
{
    margin: 16px 12px 0 12px;

    border-bottom: 1px #e8e8e8 dashed;
}
.actvlst-hd h2
{
    font: 18px/24px Microsoft YaHei;
}
.actvlst-hd .actv-time a
{
    line-height: 26px;

    display: inline-block;

    width: 50px;
    height: 26px;

    text-align: center;

    color: #7b7b7b;
    background: #f6f6f6;
}
.actvlst-hd .actv-time .cur
{
    color: #fff;
    background: #e93058;
}
.actvlst-hd .actv-time .cur:hover
{
    color: #fff;
}
.actvlst-hd .actv-time a:hover
{
    color: #e93058;
}

.actvlst-itm
{
    /* margin-top:20px; *//* padding-bottom:10px; */
}
.actvlst-itm .sttc-icon
{
    position: absolute;
    top: 0;
    left: -5px;

    display: inline-block;
    overflow: hidden;

    padding-left: 24px;

    color: #fff;
    background: url(img/actv-sf.png) no-repeat;
}
.actvlst-itm .jjstrt-icon,
.actvlst-itm .pass-icon
{
    line-height: 20px;

    width: 52px;
    height: 20px;
}
.actvlst-itm .jjstrt-icon
{
    background-position: 0 0;
}
.actvlst-itm .zzjx-icon
{
    top: -8px;

    width: 89px;
    height: 19px;
    padding-top: 8px;

    background-position: 0 -29px;
}
.actvlst-itm .pass-icon
{
    background-position: 0 -65px;
}
.actvlst-lst
{
    overflow: hidden;

    width: 868px;
}
.actvlst-lst li
{
    padding: 27px 13px;

    border-bottom: 1px dashed #e8e8e8;
}
.actvlst-lst li.last
{
    border-bottom-style: solid;
}
.actvlst-lst .pic
{
    overflow: hidden;

    width: 220px;
    height: 120px;
}
.actvlst-lst .inf
{
    margin-left: 234px;

    word-break: break-all;
}
.actvlst-lst .inf h3
{
    font-size: 16px;

    overflow: hidden;

    height: 24px;
    margin-bottom: 13px;

    ling-height: 24px;
}


.actvlst-lst .inf p
{
    line-height: 22px;

    overflow: hidden;

    height: 22px;
}
.actvlst-lst .inf p span
{
    font-weight: bold;
}

.page-actvlst .Spage
{
    overflow: hidden;

    padding: 30px 0 34px;

    text-align: center;
}
/* 资讯列表 */
.news-list span
{
    display: inline;
    float: right;

    color: #888;
}
.news-list a
{
    font-size: 14px;

    display: block;

    width: 670px;
}

.news-list li
{
    margin: 0 14px;
    padding-left: 3px;

    background-position: -94px -23px;
}
.news-list li.bd-1
{
    zoom: 1;

    margin-bottom: 19px;
    padding-bottom: 19px;

    border-bottom: 1px #ebebeb dashed;
}
.news-list li.last
{
    zoom: 1;

    padding-bottom: 19px;

    border-bottom: 1px #ebebeb solid;
}

/* 详情页 */
.detail
{
    padding: 0 18px;
}
.detail h1
{
    font: 24px/28px Microsoft YaHei,simsun;

    overflow: hidden;
    /* height: 30px; */

    margin-top: 18px;
    padding-bottom: 30px;

    text-align: center;
        word-break: break-all;
    -ms-word-break: break-all;

    border-bottom: 1px solid #e8e8e8;
}
.detail .intro .describe
{
    float: right;

    width: 568px;
}
.detail .intro .describe p
{
    font-size: 14px;
    line-height: 26px;

    overflow: hidden;

    height: 26px;

        word-break: break-all;
    -ms-word-break: break-all;
}


.detail .intro img
{
    float: left;
}

.detail .cont-t
{
    font: 700 18px/21px Microsoft YaHei,simsun;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 21px;

        word-break: break-all;
    -ms-word-break: break-all ;
}
.detail .cont-t span
{
    display: block;

    background: #fff;
}
.detail .cont-t i
{
    line-height: 0;

    position: absolute;
    top: 13px;
    right: 0;

    width: 728px;
    height: 1px;

    border-bottom: 1px #e8e8e8 solid;
}
.detail img
{
    display: block;

    margin: 0 auto;
}
.detail .editor
{
    line-height: 16px;

    display: block;
    overflow: hidden;

    height: 16px;
    margin: 15px 0 40px;

    text-align: right;
        word-break: break-all;
    -ms-word-break: break-all;
}
.tools
{
    line-height: 40px;

    height: 40px;
    padding-left: 20px;

    border-top: 1px dashed #e8e8e8;
}
.tools .print
{
    padding-left: 15px;

    color: #444;
    background: url(img/print.png) no-repeat 0 center;
}
#bdshare
{
    margin-top: 10px;
    margin-left: 15px;
}
#weibo
{
    float: right;
    overflow: hidden;

    height: 30px;
    margin: 10px 0 0 0;
}

.bdsharebuttonbox
{
    position: relative;
    top: 6px;
    /* left: 6px; */

    float: left;
}
.icon-print
{
    padding-left: 18px;

    cursor: pointer;

    color: #2664a2;
    background: url(img/print.png) no-repeat 0 1px;
}
.fc-2664a2
{
    font-weight: normal;

    color: #2664a2;
}

.label
{
    overflow: hidden;

    margin-top: 18px;
    padding: 0 25px;
    padding-bottom: 16px;

    border-bottom: 2px #e9e9e9 solid;
}
.label a,
.label span
{
    line-height: 22px;

    display: inline;
    float: left;

    height: 22px;
}
.label span
{
    width: 40px;
}
.label a
{
    margin-right: 7px;
    padding: 0 4px;

    background: #eee;
}
.bd-ececec
{
    border: 1px #ececec solid;
}

.view-bar
{
    line-height: 54px;

    height: 54px;
    padding: 0 14px;

    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #f6f6f6 url(img/pre.png) no-repeat;
}
.view-bar span
{
    font-family: simsun;
    font-size: 14px;

    display: block;
    overflow: hidden;
    zoom: 1;

    width: 47%;
    height: 54px;

    color: #333;
}
.view-bar .g-fr
{
    text-align: right;
}
.view-bar span.r
{
    height: 54px;
    padding-right: 26px;

    border-left: 1px #ebebeb solid;
    background: url(img/r.gif) right 16px no-repeat;
}
.view-bar span.l
{
    height: 54px;

    text-indent: 23px;

    background: url(img/l.gif) 0 16px no-repeat;
}

.detail .Spage
{
    text-align: center;
}
/* 相关推荐 */
.guess-u-like
{
    width: 411px;
    height: 155px;
    margin-top: 23px;
    padding: 0 0 20px 20px;

    border-right: 1px #ebebeb solid;
}
.guess-u-like h2
{
    font: 16px Microsoft YaHei,simsun;

    margin-bottom: 10px;
}
.back-link
{
    line-height: 36px;

    width: 251px;
    height: 36px;
    margin: 86px 0 0 94px;

    background: url(img/back-link.png) no-repeat;
}
.back-link a
{
    display: inline;
    float: left;

    width: 79px;
    margin-left: 45px;

    color: #2664a2;
}
.back-link a:hover
{
    color: #fa6824;
}
.detai-t
{
    padding-bottom: 10px;

    border-bottom: 1px #f1f1f1 solid;
}

.detai-t h1
{
    padding-bottom: 0;

    border-bottom: 0;
}
.detai-t .lable
{
    color: #888;
}
.detai-t .lable a,
.detai-t .lable span
{
    display: inline;
    float: left;

    width: 36px;
}
.detai-t .lable a
{
    line-height: 22px;

    overflow: hidden;

    width: 56px;
    height: 22px;
    margin-right: 10px;

    text-align: center;
        word-break: break-all;
    -ms-word-break: break-all;

    background: #eee;
}



.sub-t
{
    font: 12px simsun;

    margin-top: 10px;

    text-align: center;

    color: #888;
}
.sub-t span
{
    line-height: 18px;

    height: 18px;
    padding-right: 30px;

        word-break: break-all;
    -ms-word-break: break-all;
}
.abstract
{
    font-size: 14px;
    line-height: 26px;

    height: 72px;
    margin-bottom: 55px;
    padding: 14px;

    background: #f6f6f6;
}
.p-26
{
    padding: 0 26px;
}
/* 图说关键字列表 关键字模块 */
.key-word
{
    overflow: hidden;

    margin: 15px 14px 10px;
}
.key-word strong,
.key-word span
{
    font: 14px/26px Microsoft YaHei,simsun;

    display: inline;
    float: left;

    height: 26px;

    text-align: center;
}
.key-word strong
{
    padding: 0 14px;

    color: #fff;
    background: #fa7500;
}
.article{ font-size:14px; line-height:25px;}
.article p
{
    font-size: 14px;
    line-height: 28px;

    margin-bottom: 15px;
}
/*列表搜索*/
.list-top
{
    margin: 0 0 10px;

    border-bottom: dashed 1px #e2e2e2;
}
.list-search
{
    padding: 20px 15px;
}
.list-search strong
{
    color: #888;
}
.list-search select
{
    width: 85px;
    margin: 0 25px 0 0;
    padding: 3px;

    border: solid 1px #e2e2e2;
}
.list-search .txt
{
    width: 90px;
    height: 20px;
    padding: 1px;

    border: solid 1px #e2e2e2;
    background: url(img/date.png) 96% 4px no-repeat;
}
.list-search .btn
{
    font-size: 13px;
    font-weight: 700;

    width: 75px;
    height: 24px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: none;
    background: #277bd5;
}
#endTime
{
    margin: 0 25px 0 0;
}
.map-title
{
    line-height: 29px;

    height: 29px;

    text-indent: 17px;

    border-bottom: 1px #aeaeae solid;
    background: #f6f6f6;
}
.map-column
{
    display: inline-block;
    float: left;
    overflow: hidden;

    width: 291px;
    height: 130px;
    margin: 13px 0 0;

    border-right: 1px #e8e8e8 dashed;
}
.map-column h3
{
    margin: 10px 0 15px;
    padding-left: 98px;
}
.map-column a
{
    line-height: 22px;

    float: left;
    overflow: hidden;

    width: 60px;
    height: 22px;
    margin-left: 45px;

    text-align: left;
    word-break: break-all;

    color: #888;
}
.map-column a:hover
{
    color: #f57301;
}
.last-add
{
    width: 312px;

    border-right: 0 ;
}
.last-add a
{
    display: block;
    overflow: hidden;

    width: 300px;
    height: 100px;
    margin: 14px 0 5px 12px;
}
.pd-link
{
    overflow: hidden;

    margin-left: 30px;
}
.fx-tip
{
    margin-left: 15px;

    color: #888;
}
.wb-tip
{
    color: #888;
}

/*免责声明 start*/
.ssclmr{background-color:#f6f6f6;padding:10px 15px;margin:30px 0 40px;color:#888;line-height:22px;font-family:simsun;}
.ssclmr dt{font-weight:normal;}
/*免责声明 end*/