.g-ml10{margin-left:10px;}
.srch-box{background-color:#fff;border:1px solid #d6d6d6;border-bottom:none;padding:20px;}

.lrtbl{width:100%;}
.lrtbl th,.lrtbl td{padding-top:8px;padding-bottom:8px;vertical-align:top;}
.lrtbl th{text-align:right;}
.lrtbl td{text-align:left;}
.error-tip{color:#F00;}

.mgc-lrtbl th{width:60px;}
.mgc-lrtbl .error-tip{display:block;}
.mgc-lrtbl .g-tc{text-align:center;}
