/**
 * 前端模板css文件
 * 
 */

 @import url('/v2/m/top-bar/css/style.css'); 
 @import url('/v2/m/head-search/css/style.css'); 
 @import url('/v2/m/foot/css/style.css'); 
 @import url('../../index/css/nav.css'); 
 
 
.path{ color:#888; height:34px; line-height:34px;}
.path a{ color:#888;}
.path a:hover{ color:#f67301;}
.video{ background:#222; padding:37px 0 60px;}
.video h1{ height:30px; line-height:30px;font-size:24px; color:#fff;text-align:center;}
.info{ width:700px; height:24px; line-height:24px;position:relative;text-align:center; margin:15px auto 17px;}
.info span{ color:#fff; margin:0 auto;}
.video-play{ width:700px; height:400px; margin:0 auto 20px;}
.sig p{ line-height:28px; color:#fff;font-size:14px;}
.jiathis_style_24x24{ position:absolute; right:0; vertical-align:middle; top:0; height:24px; overflow:hidden;}
.jiathis_style_24x24 a{ width:20px; height:20px; display:inline-block;}
.jiathis_style_24x24 span{ float:left;}
.info .jiathis_style_24x24 .jtico{ background:url(img/icon.png) no-repeat left top;}
.info .jiathis_style_24x24 .jtico_tqq,.info .jiathis_style_24x24 .jtico_qzone,.info .jiathis_style_24x24 .jtico_tsina{ width:20px; height:20px; display:inline-block; overflow:hidden; padding:0;}
.info .jiathis_style_24x24 .jtico_tqq{ background-position:0 0;}
.info .jiathis_style_24x24 .jtico_qzone{ background-position:-25px 0;}
.info .jiathis_style_24x24 .jtico_tsina{ background-position:-50px 0;}