.pro-show .fit-top{ position:relative; width:807px; height:44px; height:44px; background:url(http://res.csc86.com/css/m/list-pro/img/list-tips-bg.png) no-repeat 0 0;}
.pro-show .fit-top a{ position:absolute;}
.pro-show .fit-top a.what{ right:140px; top:12px;}
.pro-show .fit-top a.add-ty{right:20px; top:10px; height:25px; line-height:25px; width:85px; padding-left:5px; font-weight:700; color:#FFF;}
.pro-show .fit-top a.add-ty:hover{ text-decoration:none;}
.lih-pro .item{border-bottom:1px solid #ebebeb; padding:10px 0;}
.lih-pro .item li{_display:inline;float:left;}
.lih-pro .item .img{ position: relative;width:100px; height:100px; padding:2px; border:solid 1px #ebebeb;}
.lih-pro .item .i{ width:100px; height:100px;*font-size:100px;overflow:hidden;}
.lih-pro .item .i img{max-width:100px;max-height:100px;_display:none}
.lih-pro .item .list{ width:270px; margin:0 30px 0 5px; }
.lih-pro .list h2 a,.lih-pro .list .pro-name a{position:relative; top:-3px; display:inline-block; width:270px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; font-weight:400; font-size:14px;}
.lih-pro .list h2 em,.lih-pro .list .pro-name em{color:#f00}
.lih-pro .list div em{ color:#184c95; line-height:30px;}
.lih-pro .list .info li{_display:inline;float:left;width:115px;margin-right:10px;overflow:hidden;}
.lih-pro .list p{height:36px; margin:15px 0 0; line-height:18px;overflow:hidden;color:#888;}
.lih-pro .list .icol{color:#999;}
	.ico-20{display:inline-block;width:25px;height:20px;margin:0 3px 0 0;vertical-align:middle;}
	.ico-20-real{background:url(../../c/auth/sm20.png) center 0 no-repeat;}
	.ico-20-entity{background:url(../../c/auth/st20.png) center 0 no-repeat;}
	.ico-20-eshop{background:url(../../c/auth/vip20.png) center 0 no-repeat;}
	.ico-20-integrity{background:url(../../c/auth/ss20.png) center 0 no-repeat;}
.lih-pro .item .price{position:relative; top:-3px;width:100px;*width:90px; margin:0 -2px 10px 0 0; color:#c00; font:700 14px Arial;}
.lih-pro .item .price em{font-size:12px;color:#c00;font-family:Microsoft Yahei;}
.lih-pro .item .price i{font-style:normal;font-size:12px;}
.lih-pro .item .price span{font-size:12px;color:#888;}
.lih-pro .item .price dfn{font-size:12px;font-family:Microsoft Yahei;}
.lih-pro .item .adress{position:relative; top:-3px; width:180px;*width:190px; margin:0 10px 0 0;}
.lih-pro .item .adress .cname{display:inline-block; max-width:120px;_width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;vertical-align:middle}
.lih-pro .item .adress p{color:#888;margin:5px 0;}
.lih-pro .item .adress .vip{margin:0 4px}
.lih-pro .item .active{width:80px;}
.lih-pro .active a{position:relative; top:-3px; display:block; padding-left:20px; background:url(http://res.csc86.com/css/m/list-pro/img/p-li-icol.png) no-repeat -20px 2px; color:#888;}
.lih-pro .active a:hover{text-decoration:none;}
.lih-pro .active .phone{ background-position:-20px -22px; margin-top:8px;}
.lih-pro-spr li.item .ibox{position:relative;}

.lih-pro-e{position:absolute;top:-2px;left:-2px;width:41px;height:41px;background: url(http://res.csc86.com/css/m/list-pro/img/p-li-icol.png) no-repeat 0 -108px;z-index:8;}
.rank-ad{width: 100%;_position: relative;}
.rank-ad .bar{position: fixed;_position: absolute;bottom: 90px;right:20px;_display: inline;_float: right;width: 48px;padding:0 0 25px;background: #feedd3 url(http://res.csc86.com/css/m/list-pro/img/tip-bg.png) no-repeat 0 bottom;border-top:solid 2px #feb856;color:#666;line-height:14px;}
.rank-ad .bar em{display:block;_display:inline;float:right;width:10px;height:10px;overflow:hidden;margin:1px 2px 0 0;background:url(http://res.csc86.com/css/m/list-pro/img/x.png) no-repeat;cursor:pointer;}
.rank-ad a{display:block;width:48px;clear:both;color:#777;}
.rank-ad a,.rank-ad a:hover{text-decoration:none;}
.rank-ad a span{display: block;width: 16px;margin:0 auto;text-align:center;}

/*产品列表页认证图标相关样式*/
.auth-info-box a{display:block;float:left;text-align:center;color:#666;margin-right:3px;overflow:hidden;}
.auth-info-box a:hover{text-decoration:none;}

/*在线交易标志*/
.bz-zxjy{background:url(http://res.csc86.com/css/m/list-pro/img/zxjy-bg.png) no-repeat 0 0;width:63px;height:19px;padding-left:9px;margin-top:18px;line-height:18px;color:#fff;cursor:default;overflow:hidden;}
.thumb-pro .auth-info-box .bz-zxjy{float:left;margin-top:4px;*margin-top:0;}/*针对大图列表的在线交易标志*/

/* 东盟产品加标识 */
.asean-icon-1{position: absolute;display: block;width: 28px;height: 20px;left: -4px;top: -1px;background: url(http://res.csc86.com/css/m/list-pro/img/icon-asean-1.png) no-repeat;_bacground:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/icon-asean-1.png");}
.asean-icon-2{position: absolute;display: block;width: 51px;height: 20px;left: -4px;top: -1px;background: url(http://res.csc86.com/css/m/list-pro/img/icon-asean-2.png) no-repeat;_bacground:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/icon-asean-2.png");}

/* 香港皮草城 */
.fur-icon-1{position: absolute;display: block;width: 38px;height: 20px;left: -4px;top: -1px;background: url(http://res.csc86.com/css/m/list-pro/img/icon-fur-1.png) no-repeat;_bacground:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/icon-fur-1.png");}
.fur-icon-2{position: absolute;display: block;width: 63px;height: 20px;left: -4px;top: -1px;background: url(http://res.csc86.com/css/m/list-pro/img/icon-fur-2.png) no-repeat;_bacground:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/icon-fur-2.png");}

/*诚商通年限*/
.csc-year{display:inline-block;background:url(http://res.csc86.com/css/m/list-pro/img/year-bg.png) no-repeat center center;color:#d23c2e;font-weight:bold;font-family:simsun;}
.csc-year em{margin-left:2px;}

/*重写商品列表（小图）部分样式*/
.spro-lst .item .img{ position: relative;width:110px; height:110px; padding:0; border:solid 1px #ebebeb;}
.spro-lst .item .i{ width:110px; height:110px;*font-size:110px;overflow:hidden;}
.spro-lst .item .i img{max-width:110px;max-height:110px;_display:none}

.spro-lst .item .list{width:250px;margin:3px 30px 0 10px;}
.spro-lst .item .list h2 a,.spro-lst .list .pro-name a{width:auto;height:42px;white-space:normal;}
.spro-lst .list p{margin-top:5px;}
.spro-lst .item .adress{width:210px;*width:203px;margin-right:30px;margin-top:3px;}
.spro-lst .item .adress .cname{max-width:160px;*max-width:150px;_width:150px;color:#444;}
.spro-lst .item .prc-inf{color:#888;margin-top:3px;}
.spro-lst .item .prc{color:#ff3300;font:bold 20px Arial;}
.spro-lst .item .prc:hover{text-decoration:none;}
.spro-lst .item .prc em{font:normal 20px Microsoft YaHei;}
.spro-lst .item .prc i{font-style:normal;}

.spro-lst .item .img{z-index:1;}
.spro-lst .bpro-img{position:absolute;top:-5px;left:114px;background:#e8e8e8;width:221px;height:221px;border:1px solid #c2c2c2;padding:6px;display:none;}
.spro-lst .bpro-img .jt{background:url(http://res.csc86.com/css/m/list-pro/img/l-jt.png) no-repeat;width:7px;height:11px;overflow:hidden;position:absolute;left:-7px;top:50px;}
.spro-lst .bpro-img .bd{display:table-cell;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*zoom:1;overflow:hidden;background:#fff;width:220px;height:220px;border:1px solid #dfdfdf;*font-size:199px;}
.spro-lst .bpro-img .bd img{max-width:220px;max-height:220px;_width:100%;_height:100%;}


.search-list .tjzt{ width:100%; padding:10px 0px 20px;}
.search-list .tjzt .left{ float:left; width:217px; height:125px;}
.search-list .tjzt .right{ float:left; padding-left:15px}
.search-list .tjzt .right .title{ height:22px; font-size:14px; font-family:Microsoft YaHei; font-weight:bold}
.search-list .tjzt .right .title a{ color:#444;}
.search-list .tjzt .right .title .red{ color:#ff0000; }
.search-list .tjzt .right .conten{ line-height:22px; font-size:12px; color:#989898}

.search-list .yysj{ border:1px solid #dcdcdc}
.search-list .yysj .title{ line-height:35px; border-bottom:1px solid #dcdcdc; font-family:Microsoft YaHei; font-weight:bold;font-size:14px;}
.search-list .yysj .title .red{ padding:0px 10px; color:#ff0000;}
.search-list .yysj .conten{ padding:25px 0px; text-align:center}
.search-list .yysj .title2{line-height:35px;  font-family:Microsoft YaHei; font-weight:bold;font-size:14px; padding-left:10px; background:#f6f6f6}


.search-list .yysj .play{ overflow:auto;width:998px; padding:20px 0px 10px;  }
.search-list .yysj .play .center{ width:870px; overflow:hidden; float: left;  }
.search-list .yysj .play .center ul{ width:800%; float:left;} 
.search-list .yysj .play li{ float:left; margin-right:50px; width:180px; height:235px; overflow:hidden; cursor:pointer;}
.search-list .yysj .play li:hover img{filter:alpha(opacity=70);opacity:0.7;}
.search-list .yysj .play li p{ text-align:center; }
.search-list .yysj .play li a{text-decoration:none;}
.search-list .yysj .play li .p0{ width:180px; height:180px; display:table-cell; vertical-align:middle;}
.search-list .yysj .play li .p0 img{ max-width:180px; max-height:180px; }
.search-list .yysj .play li .p1{ font-size:14px; color:#444;line-height:30px; } 
.search-list .yysj .play li .p1 .s1{ padding:5px 10px; background: #243141; color:#fff}
.search-list .yysj .play li .p2{ font-size:12px; color:#999;height:25px;} 
.search-list .yysj .play li .p2 .red{ color:#ff0000; margin-right:5px;font-family:Microsoft Yahei}
.search-list .yysj .play .left,.search-list .yysj .play .right{ height:100%; width:64px; padding:0px; position:relative;  float: left; height:180px; visibility:hidden; }
.search-list .yysj .play .left{  background:url(http://res.csc86.com/css/m/list-pro/img/lr.png) 0px center no-repeat; }
.search-list .yysj .play .right{  background:url(http://res.csc86.com/css/m/list-pro/img/lr.png) -64px center no-repeat;  position:relative;  }

.search-list .xldj{ line-height:35px; display:block; background:#e8e8e8; text-align:center; cursor:pointer;}

