@charset "utf-8";
/* 微商联盟 相册管理 2014.04.12 by lg */
.af-nav h2{ background: url('img/ico.gif') no-repeat 0px 7px;}
.wxphoto .btn{display: inline-block;width: 60px;height: 26px;line-height: 26px;background: url('img/upload.png') no-repeat 0 -78px; text-align: center;color: #444;}
.upinto{padding-bottom: 15px;}
.upinto input{width: 250px;height: 24px;line-height: 24px;border:1px solid #ccc;margin-right: 10px;}
.upinto p{line-height: 30px;color: #888;}
.upinto p span{color: red;}
.upimage li{float: left;margin-right: 20px;}
.upimage li div.upimg{width: 175px;border: 1px solid #ebebeb;padding: 1px;}
.upimage li div.upbtn{padding: 10px;}
.upbtn span a{text-align: center;}