.g-o-a{width:1000px;margin:0 auto;}
body{background:#e9e9e7 url(../img/bg.jpg) 0 0 repeat;font-family:microsoft yahei;}
.logo{background:#fff;}
.banner{text-align:center;}
.logo area{outline:none;}
.banner{height:446px;background:url(../img/ad2.jpg) center 0 no-repeat;}
.con{width:880px;margin:0 auto;}
.block{border:solid 1px #ddd;border-top:none;margin:0 0 12px;}
.block .b-top{height:12px;overflow:hidden;background:url(../img/t.png) -9px 0 repeat-x;}
.block .b-inner{padding:33px 25px 45px 30px;background:#fff;}

.b-inner .b-p,.b-step .tx{color:#666;font-size:14px;}
.b-tit{padding:0 0 14px 3px;background:url(../img/h.png) 0 bottom repeat-x;margin:0 0 15px;}

.a-list li{float:left;width:405px;margin:30px 0 10px;}
.a-list li span{_display:inline;float:left;width:72px;height:72px;margin:0 10px 0 0;background:url(../img/ic.png) no-repeat;}
.a-list .n2 span{background-position:-72px 0;}
.a-list .n3 span{background-position:0 -72px;}
.a-list .n4 span{background-position:-72px -72px;}
.a-list li h4{color:#333;font-size:18px;font-weight:400;margin:8px 0 5px;}
.a-list li p{color:#888;}

.b-step h4{color:#333;font-size:18px;font-weight:400;}
.b-step li{padding:10px 0 40px 60px;background:url(../img/step.png) -1px 0 repeat-y;position:relative;}
.b-step li .num{position:absolute;top:0;left:0;_left:-60px;width:44px;height:61px;background: url(../img/num.png) no-repeat;}
.b-step .n2 .num{background-position:0 -62px;}
.b-step .n3 .num{background-position:0 -124px;}
.b-step .n4 .num{background-position:0 -186px;}
.b-step .n5{padding-bottom:5px;}
.b-step .n5 .num{background-position:0 -248px;}
.b-step li .pi{margin:15px 0 0;}

.b-pic{padding:15px 0 0;text-align:center;}

.contact{padding:0 0 0 35px;background:url(../img/c.png) 3px 8px no-repeat;}
.contact li{color:#333;font-size:16px;line-height:26px;margin-bottom: 10px;}

.footer-bg{height:26px;background:#0cbde8 url(../img/foot.jpg) center 0 no-repeat;margin:-5px 0 0;}
.footer{background:#0cbde8;}

.link{border:none;color:#fff;line-height:20px;}
.link a,.link a:hover,.link p{color:#fff;}

.scoller{_display:none;position:fixed;top:32px;width:121px;height:391px;margin:0 0 0 885px;background:url(../img/menu.png) no-repeat;}
.scoller ul{position:relative;padding:84px 10px 0 9px;}
.scoller li{cursor:pointer;color:#333;height:29px;line-height:29px;padding:0 0 0 3px;}
.scoller .cur,.scoller .f:hover{background:#f66d64;color:#fff;}
.scoller .gotop{text-indent:-99999em;position:absolute;width:101px;height:62px;top:0;left:9px;background:url(../img/top.png) no-repeat;}
.scoller .gotop:hover{background-position:0 -62px;}