/*头部菜单*/
.uc-common *{font-family: Microsoft YaHei;}
.uc-common a{color:#444;}
.uc-common a:hover{color:#e77918; text-decoration: none;}
.uc-common a.corange:hover{color:#f00;}

.uc-common .wwrap{width: 1192px;}
.uc-common .corange{color:#e77918;}
.uc-common .mt7{margin-top: 7px;}
.uc-common .box{border: 1px solid #dadada; background-color: #fff; padding: 0;}
.uc-common .icon{background-image: url(img/uc.png); display: inline-block; background-repeat: no-repeat;}

.uc-common .icon-ph-1{width: 10px; height: 20px; background-position: -47px 0;}
.uc-common .icon-ph-2{width: 10px; height: 20px; background-position: 0 0;}
.uc-common .icon-em-1{width: 20px; height: 13px; background-position: 0 -44px;}
.uc-common .icon-em-2{width: 20px; height: 13px; background-position: -37px -44px;}
.uc-common .navbar{width:100%;height: 50px; background-color: #3d4368;overflow:hidden;}
.uc-common .navmenu{margin-left: 48px;}
.uc-common .navmenu a{color:#fff; height: 50px; line-height: 50px; padding: 0 40px; font-size: 18px; font-weight: 700;}
.uc-common .navmenu a:hover,.navmenu a.hover{color:#fff; text-decoration: none; background-color: #2e3148;}
.uc-common .usr{padding: 15px 12px;}

.uc-common .icon-1{width: 20px;height: 20px; background-position: 0 -57px; position: absolute; left: 18px; top:16px;}
.uc-common .icon-2{width: 0;height: 0; border: 6px solid transparent; border-bottom-color: #ccc; position: absolute; bottom: 0; left:30px;}
.uc-common .ly-l{width: 202px;}

.uc-common .leftmenu{font-size: 16px;}
.uc-common .leftmenu li{padding: 5px 0 5px 50px; border-bottom: 1px solid #dadada;}
.uc-common .leftmenu li:last-child{border-bottom: none;}
.uc-common .leftmenu li.t{padding-top: 13px; padding-bottom: 8px;}
.uc-common .leftmenu li.b{padding-top: 12px; padding-bottom: 0;}
.uc-common .leftmenu li p{margin-top: 2px;}
.uc-common .leftmenu li a.hover{color:#e77918;}

.uc-common #figupload{position:absolute; left: 0; top: 0;width: 65px;height: 65px;opacity: 0;filter:alpha(opacity=0);}

.uc-common .swfupload{position:absolute;left: 0; top: 0; opacity:0; filter: alpha(opacity=0); width: 65px; height: 65px;}

.figupload{width: 65px; height: 65px; border-radius: 65px; border: 1px solid #eee;overflow: hidden; line-height: 65px; text-align: center;}
.uc-common #infoimg{max-width: 65px; max-height: 65px; width: auto; height: auto;}

.mbd{width:1192px!important;margin:0 auto; padding-top: 15px;}
.af-bd{width: 978px !important;}
.app-frame{width: 1152px;}
.af-nav h2{background-image:url(//res.csc86.com/css/c/membercenter/img/off-ico.png);}

.sh-status li.sh-r{width: 826px!important;}
.sd-inlc li{width:152px!important; height:64px; }
.af-bd-945{width: 945px!important; float: right;}

.whyzxlj{margin-left:10px; border-left:1px solid #9497aa;width:100px; text-align: center; line-height: 18px; color:#fff;height:20px; margin-top:18px; font-family: '微软雅黑'; font-size: 15px;}
.whyzxlj a{color:#fff;}