
.c{zoom:1;}
.c:after{content: '.';height:0;display: block;clear: both;visibility: hidden;}
body{background: #7a021d}
.web-search{background: #fff}
.h628{height: 628px;}
.w1200{width:1200px;margin: 0 auto; }
.banner{background:#a20e30 url(../images/banner.gif) no-repeat center 0;width: 100%;height: 628px;}
.por{position: relative;}
#lotteryBtn{position: absolute;}
.cj_round{position: absolute;width: 481px;height: 481px;top:120px;left: 0;/* _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/rund.png"); */}
.cj_btn{width: 172px;height: 201px;display: block;position: absolute;top:250px;left: 157px;background: url(../images/btn.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/btn.png");}
.name_panle{position: absolute;top:504px;right: 128px;width: 375px;}
.name_panle h3{color: #a20e30;font: 20px 'Microsoft YaHei'}
.name_list{height: 50px;overflow: hidden;}
.name_list li{float: left;width:187px;display: inline;line-height: 22px; }

.hd_rule{background: url(../images/gz.gif) no-repeat;height: 190px;overflow: hidden;}
.hd_rule ul{margin: 25px 0 0 145px;line-height: 22px}

.bac_fff{background: #fff}
.bac_img{background:#fff url(../images/bg.gif) no-repeat right 0; }
.list{margin-top: 30px;padding:20px;}
.list h2{background: url(../images/title.gif) no-repeat;height: 60px;text-indent: -999px;margin-top: 16px;}
.list h2.t_t{background-position: 0 -60px;overflow: hidden;}
.icon{display: block;background: url(../images/icon.gif) no-repeat;overflow: hidden;}
.server {width: 410px;margin: 20px 0 20px 10px}
.server span{width: 180px;height: 180px;}
.s_r{background-position: 0 -180px;}
.tx{width: 177px;font-family:'Microsoft YaHei';}
.tx dt{font-size:35px;color: #444 }
.tx dd{font-size: 22px;color: #888;line-height: 32px;}
.tx a{width: 174px;height: 42px;text-indent: -999px;margin-top: 15px;}
.btn1{background-position: 0 -361px;}
.btn2{background-position: 0 -404px;}
.ml_170{margin-left: 170px;}

.bac_f1c40f{background: #f1c40f}
.bac_8e44ad{background: #8e44ad}
.bac_16a085{background: #16a085}
.bac_3498db{background: #3498db}
.bac_f02134{background: #f02134}
.bac_e74c3c{background: #e74c3c}
.dz_server{margin: 35px 0 15px;}
.dz_server a{cursor: default;float: left;display: inline;width: 382px;height: 163px;margin: 0 0 4px 4px;color: #fff;background: url(../images/dz.gif) no-repeat;overflow: hidden;text-indent: -999px;}
.dz_server a.btn3{background-position:-386px 0 }
.dz_server a.btn4{background-position:-772px 0 }
.dz_server a.btn5{background-position:0 -168px }
.dz_server a.btn6{background-position:-386px -168px }
.dz_server a.btn7{background-position:-773px -168px }
.bac_a20e30{background: #a20e30;padding: 10px;}
.footer{background: #fff;margin-top: 54px;}
.cj_dialog{width: 458px;position: absolute;background: #a20e30;z-index: 5;_height:330px;}
.cj_dialog h2{text-indent: 15px;height: 36px;line-height: 36px;background: #7d0420;color: #fff}
.cj_dialog h2 span{float: right;display: inline;width: 20px;height:21px;background: url(../images/closed.gif) no-repeat;margin: 5px}
.b_l,.b_r,.b_b{display: block;position: absolute;}
.b_l{width: 10px;background: url(../images/l.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/l.png");height: 100%;left: -10px;}
.b_r{width: 10px;background: url(../images/r.png) no-repeat 0 bottom;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/r.png");height:100%;_height: 296px;right: -10px;_right:-5px;bottom: 0}
.b_b{width: 458px;background: url(../images/b.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/b.png");height: 16px;bottom: -16px;}
.cj_dialog_main{display: none}
.cur{display: block;}

.jx{width: 256px;font: 24px 'Microsoft YaHei';color: #fff;margin: 10px auto}
.jx p{float: right;display: inline;width: 172px;}

.fx{margin: 10px 24px;}
.fx p{color: #fff;padding: 10px 0}
.w98{width: 98px;}
.w118{width: 118px;}
a.tx_btn{display: block;background: url(../images/btn_l.gif) no-repeat;height: 32px;color: #a20e30;line-height: 32px}
.tx_btn span{background: url(../images/btn_r.gif) no-repeat right 0;display: block;height: 32px;text-align: center;margin-left: 4px}
.tx_input{width: 289px;height: 30px;}
.fx p.pointer{display: block;background: #880423;padding:10px;margin: 15px 0;}
.my_tabel{width: 362px;margin: 15px auto 0;}
.my_tabel th{color: #fff;font-weight: normal;width: 79px;text-align: left;height: 45px;line-height: 45px;}
.my_tabel input{height: 30px;width: 279px;}
.fx p.zl{padding: 50px 0;text-indent: 24px;font-size: 16px;}
.fx p.tip{font-size: 14px;text-align: center;padding: 50px 0;}
.tip a{color: #fdcd01;font-weight: bold;}
.tx_area{width: 370px;height: 60px}
.fx_btn{width: 200px;margin: 0 auto 15px;}
#clip_container{position: relative;}

.shade{background-color:rgba(0,0,0,0.90);background-color:#000\9;filter:alpha(opacity=90);position: absolute;top: 0;left: 0;z-index: 4;width: 100%;height: 100%}