.banner{background: url(../images/banner_bg.jpg) repeat-x;}
.banner img{display: block;margin: 0 auto;width: 100%;overflow: hidden;}
.f_e93012{color: #e93012}
.c{zoom:1;}
.c:after{content: ".";display: block;clear: both;visibility: hidden;height: 0}

.w108{width: 108px;}
.ht_380{height: 380px;}
.ht_345{height: 345px}

.bgc_129f51{background: #129f51;}
.bgc_fff{background: #fff}
.title{width: 1000px;margin: 0 auto;}
.list_box{width: 1000px;margin: 0 auto;overflow: hidden;}
.list{width: 1008px;}
.list li{float: left;display: inline;width: 216px;margin:0 8px 8px 0;padding: 14px;background: #fff;font-size:12px;line-height: 22px;}
.list li p a{color: #444}
.star{background: url(../images/star.gif) repeat-x;display:inline-block;zoom:1;_display:inline;height: 14px;}
.star4{width: 63px}
.price{font: 700 1.5em 'Microsoft YaHei';}
a.btn{background: url(../images/btn.gif) no-repeat; display: block;overflow: hidden;text-indent: -9999px;}
a.btn_ask{height: 39px;width: 214px;}
a.btn_ask:hover{background-position:0 -39px;}

.bg_d0ecdc{background: #d0ecdc;}
.fix_list{padding:5px 0 }
.fix_list li{width: 236px;border: 1px #83c9a2 solid;padding: 3px;line-height: 26px}
.fix_list li img{ display: block;margin: 6px auto 0;}
.fix_list li p{padding: 0 10px}
.fnt{font: normal 14px 'Microsoft YaHei';margin-top: 5px}
a.btn_buy{background-position: 0 -109px;width: 236px;height: 31px;}
a.btn_buy:hover{background-position: 0 -78px;}

.bgc_36c978{background: #36c978;}
.title_01{color: #d6ffe8;font: 700 3em 'Microsoft YaHei';text-align: center;height: 68px;line-height: 68px}
.bg_fff{background: #fff}
.purchaser{width: 180px;height:345px;padding: 35px 30px 0;margin-left:11px;line-height: 28px;position: relative;}
.fix_m{padding: 35px 3px 0; width: 228px}
.fix_m ol{font-size: 12px;text-align: center;}
.purchaser h3{text-align: center;font: 700 2.2em 'Microsoft YaHei';color: #e0462e; }
a.btn_updata{display: block;width: 150px;height: 34px;background: #e0462e;padding:5px 0 1px;text-align: center;margin: 0 auto;color: #fff;font: 700 1.4em 'Microsoft YaHei';position: absolute;bottom: 14px;left:46px;}
a.btn_small{font-weight:bold;display: block;width: 80px;height: 23px;line-height: 23px;background: #e0462e;text-align: center;color: #fff}
a.fix_btn_small{margin-left:95px;width:58px;}
a.btn_updata:hover,a.btn_small:hover{background: #fd1d03;text-decoration: none;}
.bt_1_ebe8e7{border-top: 1px #ebe8e7 solid;}
.fnt_20{font-size: 1.5em}
.fnt_14{font-size: 14px;}
.step{margin: 30px 0 0 25px}

.range{width: 454px;height: 352px;padding: 14px;margin-left: 11px}
.range_data{width: 85px;float: left;}
.range_data p{float: left;display: inline;width: 42px;}
.range_data p span{display: block;text-align: center;}
.mss_log{float: left;width: 85px;overflow: hidden;padding-right:10px; }
.hot_range{line-height: 22px;}
.hot_range h3{font-size: 14px}
.lh_22{line-height: 22px}
.range h4{margin: 35px 0 10px}
.btn_box{ width: 204px;margin:20px auto 15px;}
.btn_box a{width: 96px;}

.server{background: #fff;margin: 0 10px;padding: 10px 0 20px}
.w295{width: 295px;}
.server .s_title{background: url(../images/ico1.gif) no-repeat;text-indent: 35px;height: 35px;line-height: 35px}
.server .s_title1{background: url(../images/ico2.gif) no-repeat;text-indent: 35px;height: 35px;line-height: 35px}
.server .s_title2{background: url(../images/ico3.gif) no-repeat;text-indent: 35px;height: 35px;line-height: 35px}
.server div{padding: 0 10px 0 20px}
.server p{padding-left: 35px}
.server a{font: 700 1.5em 'Microsoft YaHei';color: #444}

.footer_add a{ display: block;cursor: pointer;margin-bottom: 1px}

.fiexd{position: absolute;top:700px;right: 40px;}
.fiexd li{ margin-bottom: 2px}
.fiexd a{font: 700 12px 'Microsoft YaHei';display: block;background: url(../images/nav_bg.jpg) no-repeat;height: 48px;width: 108px;padding:5px 0 0 15px;color: #fff;cursor: pointer;}
.fiexd a:hover{background-position: 0 -60px;text-decoration: none;}
.fiexd a b{display: block;font-size:1.5em }
.fiexd .bac_top{background: url(../images/bac_top.jpg) no-repeat;width: 108px;height: 36px;color: #fff;font: 700 1.5em 'Microsoft YaHei';line-height: 36px;padding-left: 15px;cursor: pointer;}

/*外边距*/
.mt_8{margin-top: 8px}
.mt_10{margin-top: 10px}
.mt_30{margin-top: 30px}
.m_auto{margin:0 auto;}
.ml_10{margin-left: 10px;}

/* 内边距 */
.pt_10{padding-top: 10px}
.pb_10{padding-bottom:10px }
.pb_15{padding-bottom: 15px}
.pb_25{padding-bottom: 25px}

/* 浮动 */
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}



