.add-form{margin-top:30px;padding-bottom:30px; border-bottom:solid 1px #ccc;}
.form-item{height:24px;margin-bottom:20px}
.item-key{float: left;width:120px;text-align: right;}
.item-val{margin-left:120px}
.item-val input{width: 90px;height:20px}
.item-val button{width: 70px;height:28px; padding:3px 12px;}

.place-list{margin:30px 0 0 20px}
.place-list table{background:#fff}
.place-list span{color: #999;}
.place-list td{padding:10px 15px;border:solid 1px #ccc;}
.place-list td a{margin-right:10px}
.place-list thead td{font-weight:700;font-size:14px}