@import url('base.css');
a.w43{width: 43px;}
.con-l{width: 198px;height: 447px;border: 1px #e6e6e6 solid;}
.m-lr12{margin: 0 12px;}
.con-l-img{float: left;display: inline;margin-left: 12px;width: 60px;}
.tab-nav{float: right;display: inline;margin-right: 12px;width:110px;}
.tab-nav li{margin-bottom: 6px;width: 108px;height:16px ;overflow: hidden;text-indent: 8px;-ms-word-break: break-all;word-break: break-all;}

.con-l-tab{margin-bottom: 5px;}
.con-l-tab li.cur{background: url(img/icos.gif) no-repeat 0 -291px;}
.con-l-tab li.cur a{color: #8e0500}

.news{margin: 0 12px;}
.bt-e6e6e6{border-top: 1px #e6e6e6 solid;padding: 0 12px;}

.con-mid{width: 540px;margin-left: 10px;}

.slide {width: 540px; height: 220px; overflow: hidden; position: relative;}
.slide ul li { width: 540px; height: 220px;}
.slide ol {position: absolute; bottom: 8px; right: 5px; }
.slide ol li {width: 18px; height: 10px; background: #fff; float: left; text-indent: -9999px; margin-right: 5px; box-shadow: 0 0 5px #888; overflow: hidden;}
.slide ol li.cur {background: #8e0500}

.hot-brand{margin-top: 2px;height: 193px;overflow: hidden;}
.hot-brand ul{width: 539px;height: 191px;border-top: 1px #e6e6e6 solid;border-left: 1px #e6e6e6 solid;}
.hot-brand li{position: relative;float: left;display: inline;width: 133px;height: 95px;border-right: 1px #e6e6e6 solid;border-bottom: 1px #e6e6e6 solid;}
.hot-brand li a{position: absolute;display: block;left: -1px;top:-1px;padding:11px 1px 1px;width: 133px;height: 85px;line-height: 26px;-ms-word-break: break-all;word-break: break-all;overflow: hidden;text-align: center;}
.hot-brand li img{display: block;margin:0 auto 2px;}
.hot-brand li span{position: absolute;left: 0;bottom: 0;display: block;padding: 0 10px;height: 22px;width: 113px;text-align: center;line-height: 22px;text-align: center;}
.hot-brand li a:hover{padding:10px 0 0;border: 1px #8e0500 solid;}
.hot-brand li a:hover span{color: #fff;background: #8e0500}
.hot-brand li.fix{width: 136px;}
.hot-brand li.fix a{width: 136px;}
.hot-brand li.fix a span{width: 116px;}
.con-r{width: 240px;}
.log-reg {background:url(img/icos.gif) -33px -39px no-repeat; height: 40px; line-height: 40px;}
.log-reg a {width: 120px; height: 100%; text-indent: -9999px; float: left;}
.log-reg a.login{width: 120px;}
.islog ul{background:url(img/icos.gif) -33px -79px no-repeat; height: 40px; overflow:hidden;}

.log-mess{background:url(img/icos.gif) -33px -79px no-repeat;line-height:19px;padding: 0; height:40px;  overflow:hidden; position:relative;border: 0;}
.log-mess li{overflow: hidden;font-family: Arial,simsun;text-align: left;width:102px; margin-left:8px; float:left; height:38px; padding-top:1px; white-space: nowrap; _display:inline;}
.log-mess li.push{ position:absolute; right:0; top:0;}
.log-mess li.push{ width:46px; height:41px; display:block; padding:0; overflow:hidden;}
.log-mess li.push a{width:32px; height:34px; padding:5px 4px 0 8px; display:block; overflow:hidden; color:#FFF; text-align: center; line-height:24px; white-space:normal; line-height:15px; letter-spacing:2px;}
.log-mess li.push a:hover {text-decoration:none;border-bottom: 0;background: none;}
.log-mess a{ display:block;padding-left: 0; height:19px; line-height:19px; color:#444;}
.log-mess em{ color:#fc6824;font-weight: 700}

.tab-set {position: relative;height: 30px; border: 1px solid #e8e8e8; border-bottom: none; margin-top: 10px;}
.tab-set ul li {float:left; width: 120px; text-align: center;font-family: Microsoft YaHei,simhei;font-size: 14px; line-height: 30px; border-bottom: 1px solid #e8e8e8; background-color: #F6F6F6;}
.tab-set ul li a {text-decoration: none; color: #747474;}
.tab-set ul li.b-line {border-right: 1px solid #E8E8E8; width: 117px;}
.tab-set ul li.cur {border-bottom: none; background-color: #fff}
.tab-set ul li.cur a {color: #444; cursor:default;}
.tab-set span{position: absolute;left: 0;top: 0;display: block;width: 11px;height: 10px;background: url(img/gather.png) no-repeat 0 -130px;}
.tab-inner {overflow: hidden;border: 1px solid #E8E8E8; width:238px; height:98px; overflow:hidden; clear:both; border-top: none; border-bottom: none;}
.tab-inner ul.hyfw {padding-top:25px; width:260px;}
.tab-inner ul.hyfw li { display: inline; float: left;height: 70px; margin-right: 12px;text-align: center;width: 50px;}
.tab-inner ul.hyfw li:last-child {margin-right: 0}
.tab-inner ul.hyfw li a {white-space: nowrap;}
.tab-inner ul.hyfw li a:hover{color: #f67301}
.tab-inner ul li a.t {display: inline-block; width: 32px; height: 37px;}

.f-sale {background:url(img/icos.gif) no-repeat -33px -175px; height: 40px;}
.f-sale a {width: 120px; text-indent:45px; float: left; height: 40px; font:normal 14px/40px "Microsoft YaHei",simhei;}

.sev-help{line-height:24px; padding:2px 0 0 10px; width:224px;}
.sev-help li{ height:24px;overflow:hidden; width:234px;}
.sev-help .ry-buy,.sev-help .s-shop{ margin-right:10px; }
.sev-help .ry-buy{ color:#fc6824;}
.sev-help .s-shop{ color:#2664a2;}

.buy-sell{border: 1px #e6e6e6 solid;}
.buy-sell li{float: left;display: inline;width: 70px;height: 25px;line-height: 25px;text-align: center;border-right: 1px #e6e6e6 solid;}
.buy-sell li.cur{background: #8e0500;color: #fff}

.tab-content{padding: 10px 11px 13px;height: 168px;border-top: 0;}

.tab-content img{float: left;display: inline;margin-right: 10px;}
.tab-content p{font-family:simsun;color: #888}
.tab-content p a{display: block;margin-bottom: 8px;height: 16px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;}
.tab-content p span{color: #fa6824;font-weight: bold;}
.tab-content p a.more{color: #888}

.tab-content ul{clear: both;padding-top: 3px;overflow: hidden;}
.tab-content li{line-height: 26px;height: 26px;overflow: hidden;}
.tab-content li span{float: right;display: inline;margin-left: 15px;color: #fa6824;}
.tab-content li a{height: 26px;overflow: hidden;}

.discount{width: 708px;overflow: hidden;}

.discount-tab-nav{height: 42px;background: #f6f6f6;border-bottom: 2px #e2e2e2 solid;}
.discount-tab-nav li{position: relative;float: left;display: inline;width: 137px;height: 42px;text-align: center;font: 16px/42px Microsoft YaHei,simsun;border-right: 1px #e2e2e2 solid;border-bottom: 2px #e2e2e2 solid;}
.discount-tab-nav li.cur{border-bottom-color: #8e0500;font-weight: bold;}

.discount-tab-content{margin-top: 13px;width: 732px;}
.discount-tab-content li{float: left;display: inline;width: 160px;height: 275px;overflow: hidden;margin-right: 23px;text-align: center;}
.discount-tab-content li img{display: block;margin-bottom: 10px;}
.discount-tab-content li a{display: block;height: 253px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;text-align: center;}
.discount-tab-content li b{position: relative;display: block;height: 22px;font:700 18px Microsoft YaHei,simsun;color: #c60303;}
.discount-tab-content li b span{position: relative;display: inline-block;*display: inline;zoom:1;top: -3px;width: 39px;height: 17px;font: 12px Microsoft YaHei,simsun;color: #fff;background: #c60303;}
.discount-tab-content li b i{font: 14px Arial;}
.hot-tuan{width: 280px;}
.hot-tuan h2{height: 42px;font:700 16px/42px Microsoft YaHei,simsun;top: -2px;text-indent: 68px;background: url(img/gather.png) no-repeat 0 -49px;border-bottom: 2px #e6e6e6 solid;}

.tuan{margin-top: 13px;border: 1px #e6e6e6 solid;}
.tuan a{display: block;height: 238px;overflow: hidden;font: 14px Microsoft YaHei,simsun;text-align: center;-ms-word-break: break-all;word-break: break-all;}
.tuan a img{display: block;margin-bottom: 10px;*margin-bottom: 5px;}
.tuan span{float: left;height: 38px;font: 20px/38px Microsoft YaHei,simsun;color: #c60303}
.tuan span span{font-size: 14px ;height: auto;padding-top: 2px;}
.tuan div{margin: 3px 5px;height: 38px;line-height: 38px;background: url(img/gather.png) no-repeat 134px -167px;border-top: 1px #cecece dashed;}
.tuan b{float: right;width: 127px;text-indent: 13px;}
.tuan b{float: right;color: #888}

.floor-title{height: 30px;border-bottom: 2px #e2e2e2 solid;}
.floor-title a {float: right;display: inline;padding-left: 15px;margin:5px 0 0 15px;border-left: 1px #ededed solid;}
.floor-title a.last{border-left: 0;}
.floor-title h2{position: relative;float: left;display: inline;width: 200px;height: 30px;font: 18px/26px Microsoft YaHei,simsun;color: #000;border-bottom: 2px #8e0500 solid;}
.floor-title span{padding-right: 5px;font-size: 24px;color: #8e0500}

.floor{height: 384px;border-top: 0;overflow: hidden;}

.scroll {width: 200px; height: 280px; overflow: hidden; position: relative;}
.scroll ul li { width: 200px; height: 280px;}
.scroll ol {position: absolute; bottom: 8px; right: 5px; }
.scroll ol li {width: 8px; height: 8px;margin-right: 5px; float: left; text-indent: -9999px;overflow: hidden; background: url(img/scroll-nav-off.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="css/img/scroll-nav-off.png");}
.scroll ol li.cur {background: url(img/scroll-nav-on.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="css/img/scroll-nav-on.png");}





.side-ad{width: 200px;}
.side-ad b{display: block;margin: 10px 10px 8px;}
.side-ad p{margin: 0 6px 0 10px;}
.side-ad p a{float: left;display: inline;margin-bottom: 8px;width: 50px;height: 16px;-ms-word-break: break-all;word-break: break-all;margin-right: 4px;overflow: hidden;}
.side-ad .side-link{height: 104px;background: #f2f2f2;border-right: 1px #e2e2e2 solid;overflow: hidden;}
.prduct-list{ position: relative;float: left;display: inline;width: 798px;overflow: hidden;}
.prduct-list ul{width: 800px;}
.prduct-list li{float: left;display: inline;padding-top: 8px;width: 199px;height: 184px;font: 12px Microsoft YaHei,simsun;text-align: center;border-right: 1px #e2e2e2 solid;border-bottom: 1px #e2e2e2 solid;}
.prduct-list li span{display: block;overflow: hidden;height: 20px;-ms-word-break: break-all;word-break: break-all;}
.prduct-list li a{display: block;}
.prduct-list li img{display: block;margin: 12px auto 0;width: 130px;height: 132px;}

.fix-sz h2{font-size: 16px;}
.join{padding-top: 16px;height:295px;border-top-color: #8e0500;overflow: hidden;}
.join li{float: left;display: inline;margin-left: 7px;padding-right: 2px;width: 322px;}
.join li.line-split{clear: both;zoom:1;overflow: hidden;width: 980px;margin: 24px 4px;line-height: 0;font-size: 0;height: 1px;border-top: 1px #e6e6e6 solid;}
.join ul{width: 1023px;}
.join img{float: left;display: inline;width: 170px;height:110px;}
.join-intro a{display: block;margin-bottom: 5px;max-height:40px;_height:expression(this.scrollHeight > 40 ? "40px" : "auto");overflow: hidden;-ms-word-break: break-all;word-break: break-all;font: 16px Microsoft YaHei,simsun;}
.join-intro span{display: block;color: #888;height: 18px;line-height: 18px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;}
.join-intro span span{display: inline;color: #444;}
.join-intro span span.fc-c60303{color: #c60303;}
.join-intro{float: right;display: inline;width: 139px;}
.join-intro span.btn_join,.join-intro span.btn-find{margin-top: 3px;float: left;display: inline;height: 26px;cursor:pointer;font: 14px/26px Microsoft YaHei,simsun;text-align: center;}
.join-intro span.btn_join{margin-right: 5px;width: 76px;background: url(img/gather.png) no-repeat 0 -236px;color: #fff;}

.title-interview{height: 38px;font:700 16px/38px Microsoft YaHei,simsun;text-indent: 14px;border-top: 2px #e2e2e2 solid;}
.interview li{float: left;display: inline;margin:0 21px 0 6px;width: 228px;text-align: center;color: #888}
.interview a{display: block;height: 134px;overflow: hidden;font-weight: bold;text-align: center;-ms-word-break: break-all;word-break: break-all;}
.interview img{display: block;margin-bottom: 5px;}
.interview p{height: 38px;line-height: 20px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;}
.interview p a{display: inline;font-weight: normal;}
.interview li.last{margin-right: 0;}
.bt-e2e2e2{margin-top: 20px;border-top: 1px #e2e2e2 solid;}

.market,.special{width: 360px;}
.interact h2,.market h2,.special h2{text-indent: 3px;}
.box{overflow: hidden;border-top: 1px #6f1a17 solid;height: 335px;}
.g-p14{padding:0 14px 0 14px;}
.market-list{margin-top: 8px;}
.market-list li,.special-list li{line-height: 26px;height: 26px;}
.special{margin: 0 10px;}
.pic-list{padding: 14px 14px 0;width: 340px;height: 196px;overflow: }
.pic-list li{float: left;display: inline;margin:0 10px 10px 0;width: 160px;}
.mt-14{margin-top: 14px;display: block;}
.special-list{margin-top: 12px;padding: 6px 19px 0;border-top: 1px #efefef dashed;}
.interact{width: 260px;}

.img-msg{margin: 0 auto;width: 224px;}
.img-msg img{float: left;display: inline;}
.img-msg p{float: right;display: inline;width: 144px;height: 58px;overflow: hidden;color: #878787;-ms-word-break: break-all;word-break: break-all;}
.img-msg p a{display: block;margin-bottom: 5px;height: 16px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;font-weight: bold;}
.interact-list{width: 224px;margin: 2px auto 0;}
.interact-list li{height: 24px;overflow: hidden;-ms-word-break: break-all;word-break: break-all;line-height: 24px;}
.mt-20{margin-top: 20px;}
.line-split{margin: 11px 0;height: 1px;line-height: 0;font-size: 0;border: 0;border-top: 1px #eee dashed;}


.fixed{position: fixed;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-30));overflow:hidden;width: 100px;right: 10px;top:30px;background: #f6f6f6;}
.telescopic{display: block;height: 18px;background:#8e0500 url(img/gather.png) no-repeat 44px -308px;cursor: pointer;}
.fixed ul{margin-top: 12px;}
.fixed li{line-height: 28px;text-indent: 16px;font-family: simsun;color: #888;}
.fixed li span{font:700 12px Arial;padding-right: 3px;}
.fixed li.icon-dot{text-indent: 31px;background: url(img/gather.png) no-repeat 17px -355px;}
.telescopic-1{display: block;margin-top: 10px;width: 100px;height: 8px;font-size: 0;line-height: 0;cursor: pointer;background:#8e0500 url(img/gather.png) no-repeat 0 -492px;}
.online{display: block;margin-top: 5px;width: 100px;height: 48px;background:#8e0500 url(img/gather.png) no-repeat 0 -504px;}
.online a{display: block;width: 100px;height: 48px;text-indent: -999px;overflow: hidden;}
.back-top{display: block;margin-top: 5px;width: 100px;height: 48px;cursor: pointer;background: url(img/gather.png) no-repeat 0 -557px;}
.fixed li a{color: #888;}
.fixed li:hover,.fixed li.hover,.fixed li.active{background: url(img/gather.png) no-repeat 5px -408px;color: #fff}
.fixed li.icon-dot:hover,.fixed li.hover_a,.fixed li.active_a{background: url(img/gather.png) no-repeat 5px -449px;color: #fff}
.fixed li:hover a,.fixed li.hover a,.fixed li.active_a a,.fixed li.active a{color: #fff}

