/* CSS 5 */
*html { background-attachment:fixed; background-image:URL("about:blank");}
.g-o-a{ width:990px;}
.huo-top { height:27px; line-height:27px; background:#F1F1F1;}
.huo-top span{ float:right;}
.huo-top span a{ margin:0 5px; color:#333; }
.huo-top span a:hover{ color:#067ed4; text-decoration:none; }
/*搜索*/
.m-search{ margin-top:25px;}
.m-search .ss-txt { border:2px solid #0085e5;}
.m-search div .btn { background: url(img/search-btn.png) no-repeat;}
.m-search ul li.cur a, .m-search ul li.cur a:hover, .hot-keys a:hover{ color: #e60000;}

/*右则导航*/
.fiexd_outer{ height:35px; background:url(img/b-t.png) repeat-x 0 0; text-align:center; width:100%;}
.fiexd_nav{ position:fixed; top:0; width:990px; z-index:5;}

.fiexd{ position:fixed; height:auto; width:151px; right:40px; top:200px; background: url(img/fiexd-right.png) 0 0 no-repeat;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50));padding:51px 0 0 0; overflow:hidden;}

.fiexd .link-lc a{height:39px; margin-top:8px; display:block; text-indent:500px; font-size:0;}

/*内容*/
.main-nav{ background:#0052ab url(img/banner.png) no-repeat center top;}
.nav{ padding:330px 0 30px 15px;}
.nav a{ height:60px; display:inline-block;}
.nav a.n1{ width:258px;}
.nav a.n2{ width:234px;}
.nav a.n3{ width:240px;}
.nav a.n4{ width:240px;}
.conent{ background:#0067cf url(img/botm.png) no-repeat bottom left; padding-bottom:30px;}
.f1-con{padding:50px 10px 0;}
.f1-bg{background:url(img/bg1.png) no-repeat left top;}
.f2-bg{background:url(img/bg2.png) no-repeat left top;}
.f3-bg{background:url(img/bg3.png) no-repeat left top;}
.f4-bg{background:url(img/bg4.png) no-repeat left top;}
.f1-ul{ height:auto; overflow:hidden; zoom:1; background:#fff; margin-top:10px;}
.f1-ul li{ float:left; position:relative; height:281px;}
.f101{ padding:15px 5px 15px 15px; background:#cce1f5; width:223px; z-index:1;}
.title{ height:30px; line-height:30px; font-size:18px; color:#161616; display:block; padding-top:3px;}
.f101 span{ display:block; padding:2px 0;}
.f1o2{ padding:15px 0 15px 30px; background:#fff; width:206px;}
.pr-title{ color:#444444; line-height:22px; display:block; padding-top:5px;}
.pr-cl{ color:#888; display:block;}
.pr-jg{ color:#888; display:block;}
.pr-jg i{ color:#e93012; font-size:12px;font-family:"Microsoft YaHei",Tahoma; font-style:normal;}
.pr-jg em{ font-size:20px; font-family:"Microsoft YaHei",Tahoma;color:#e93012; margin-right:5px;}
.pr-to{ position:absolute; bottom:15px; right:0; width:50px; height:46px; display:inline-block; background:url(img/btn.png) no-repeat left top;}
.top-t{ position:absolute; right:-9px; width:15px; height:23px; display:inline-block; top:12px; z-index:10; background:url(img/r.png) no-repeat left top;}
.iconpr img{ margin-right:10px;}
.ba-top{ margin-top:10px;}
.ba-top a{ border-top:1px solid #fff; height:80px; display:inline-block; width:990px;}
.ghcard{ width:60px; height:20px; line-height:20px; text-align:center; background:#0052ab; color:#fff; display:inline-block; position:absolute; bottom:18px; right:15px;}
.right-a01{ height:100px; text-align:right;}
.right-a01 a{width:140px; height:90px; display:inline-block;}



