.top-bar, .web-search, .nav-banner, .foot, .link, .list-wrapper .col-aside, .list-wrapper .path, .list-wrapper .details .tools, .list-wrapper .details .view-bar, .list-wrapper .details .guess-u-like {display: none;}
.list-wrapper .details {border: none; margin:auto;}
.list-wrapper .col-list {width: 100%}
.list-wrapper .details .cont-wrap {display: block; width: 100%; padding: 0; margin: 0}