/*
 * 互联网金融
 *
 * by lg 2014.08.06
 *
 */

@import url('style.css');

.c-106689{color: #106689}
.bg-f2f5fa{background-color: #f2f5fa;}
.bg-fff{background-color: #fff;}
.bg-fbfbfb{background-color: #fbfbfb;}
.g-mr10{margin-right: 10px;}
.g-p20{padding: 20px;}
.g-p30{padding: 30px;}
.g-fs13{font-size: 13px;}
.g-fs26{font-size: 26px;}
.g-lh30{line-height: 30px;}
.line{height: 0;font-size:0;line-height: 0;overflow: hidden;border-top: 1px solid #d6d6d6;border-bottom: 1px solid #fff;}
.line2{height: 0;font-size:0;line-height: 0;overflow: hidden;border-top: 1px solid #d6d6d6;}

.b{background: url(img/b.jpg) top center no-repeat;height: 400px;}
.ibox{width: 45%;}
.ibox div.i{padding: 30px 30px 30px 60px;}
.iboxtxt{width: 50%;margin-top: 30px;}
.iboxtxt h3{font-size: 15px;line-height: 30px;}
.iboxtxt a{display: block;width: 100%;height: 40px;line-height: 40px;font-size: 24px;color: #fff;background-color: #f7820d;border-radius: 20px;text-decoration: none;}
.iboxtxt a:hover.btn{background-color: #ed7b09;}

.listbox li{width: 229px;float: left;padding: 30px 10px;}
.listbox li h4{font-size: 18px;line-height: 30px;color: #20789d;margin-top: 10px}
.listbox li h5{font-size: 15px;line-height: 30px;color: #333;}
.listbox li h5 b{font-size: 18px;color: #000;margin-right: 10px;}
.listbox li p{margin-left:22px;font-size: 14px;color: #333; }
.listbox li a.btn{display:block;width: 175px;margin: 0 auto;height: 34px;line-height: 34px;font-size: 14px;color: #000;text-decoration: none;background-color: #c2e4f5;border-radius: 17px;margin-top: 10px;}
.listbox li a:hover.btn{background-color: #afd9ee;}

.desc li{width:33.29%;float: left;}
.tith4{font-size: 26px;font-weight: 400;background: url(img/t.gif) repeat-x center;}
.tith4 span{padding: 0 30px;background-color: #fff;}
.tith4 span img{margin-right: 10px}