@charset "utf-8";
.content{background:#ffeef3 url(page/bg3.jpg) no-repeat center top;padding-top:532px;}
.bigpic1{}

.wrapper{width:832px;margin:0 auto;padding:0 50px 0 50px;font:400 16px/26px microsoft yahei; margin:0 auto; background:#fff;}
.wrap1 .ahome{position:absolute;width:140px;height:45px;line-height:45px;text-align:center;color:#fff;top:215px;left:155px;text-decoration:none;}
.wrap1 h2{position:absolute;width:105px;color:#FCFFD4;left:0;top:67px;text-align:center;line-height:20px;*line-height:23px;_line-height:25px;}
.wrap1 h2 strong{font-size:27px;}
.wrap2{background:#FEFFEF;}
.cTit{position:relative;height:42px;background:url(page/num.png) no-repeat;padding:0 0 0 65px;}
.cTit2{background-position:0 -52px;}
.cTit3{background-position:0 -104px;}
.cTit4{background-position:0 -156px;}
.cTit .kiss{position:absolute;right:0;top:3px;width:79px;height:60px;background:url(page/kiss02.jpg) no-repeat;}

.lead strong{font-weight:bold;font-size:24px;color:#dc005c;}
.lead div{padding:0 0 0 80px;}
.lead p{font-size:18px;}
.lead .date{color:#000;text-align:right;margin:-18px 5px 0 0;}

.cPic{width:343px;height:266px;}

.intro .cInfo{width:470px;}
.experience .cInfo{width:460px;}
.experience .cTit{margin:40px 0 50px;}
.experience .cPic{_display:inline;margin:0 20px 0 0;}

.bearing .cTit{margin:60px 0 50px;*margin:10px 0 50px;}
.share .cTit{margin:50px 0 15px;}

.cItem h2{height:40px;line-height:40px;font-size:24px;color:#df0341;border-bottom: dashed 1px #df0341;}
.cItem p{text-indent:36px;}

.intro{padding:20px 0;}
.intro .cInfo .cTit{margin:0 0 15px;}
.intro .cInfo p{padding:0 15px 0 0;}

.slide{position:relative;width:600px;height:400px;overflow:hidden;padding:35px 40px 35px 73px;margin:0 auto;background:url(page/src.png) no-repeat left top;}
.slide .ctrl{position:absolute;top:195px;width:36px;height:42px;background:url(page/arr.png) no-repeat;_background-image:url(page/ie6_arr.png);z-index:100;cursor:pointer;}
.slide .l{left:75px;}
.slide .r{background-position:-36px 0;right:45px;}
.slide ul{width:602px;height:366px;position:relative;}
.slide li{display:none;width:602px;height:366px;overflow:hidden;position:absolute;top:0;left:0;}
.slide .cur{display:block;}
.slide li .pic{display:block;position:relative;width:602px;height:366px;cursor: pointer;text-decoration:none;}
.slide li .pic .txt{position:absolute;left:0;bottom:-30px;height:30px;width:602px;overflow:hidden;text-align:center;color:#fff;line-height:30px;}
.slide li .pic .bg{position:absolute;left:0;bottom:-30px;height:30px;width:602px;opacity:.7;background:#000;filter:alpha(opacity=70);}
.slide .cur .pic .txt,.slide .cur .pic .bg{bottom:0}

.shareList {padding:0 0 35px;}
.shareList li{margin:40px 0 0;padding:0 10px;}
.shareList li h3{color:#FF7900;font-weight:400;font-size:28px;padding:10px 0 35px;}
.shareList .pic{width:318px;height:230px;padding:4px;background:url(page/box2.png) no-repeat;overflow:hidden;}
.shareList .txt{width:425px;}


.ac-slide{width:880px;height:150px;margin:0 0 0 28px;position:relative;}
.ac-slide .ctrl{position:absolute;top:55px;width:11px;height:19px;background:url(page/arr.png) 0 -81px no-repeat;z-index:100;cursor:pointer;}
.ac-slide .l{left:0;}
.ac-slide .r{background-position:-61px -81px;right:0;}

#acSlide{width:860px;height:150px;overflow:hidden;margin:0 auto;position:relative;}
#acSlide li{_display:inline;width:195px;height:150px;overflow:hidden;float:left;margin:0 10px;}

.gotop{display:none;width:95px;height:145px;padding:80px 10px 10px;position:fixed;top:200px;right:30px;background:url(page/rment01.png) no-repeat;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-150));}
.gotop a{display:block;height:36px;width:95px;}
.gotop a.cen{display:block;height:50px;width:95px;}
.link{border-top:none;background:#DDF8E9;}

.quan{width:932px;height:680px;margin:15px auto 0; background:#fff; }


.group{}
.group .hd{color:#fff;font-size:20px; background:#df0341;}
.group .hd h2{ margin-left:10px; font-size: 35px}
.group .hd div{padding: 18px 0 0 325px;}
.group-comment{ padding-right:15px;}
.group-topic,.group-comment{width:444px;height:558px;background: #fff;}
.group-topic .btn a{margin:0 13px;width: 82px;height: 24px;line-height: 24px;color:#fff;background:#cc1342}
.group-info{padding: 28px 10px 0 30px;color:#444;}
.group-info .thumb{width:84px;padding:5px;background: #f0f0f0;}
.group-info .thumb .g-f-l,.group-info .thumb .g-f-r{width:47px;margin:0 -5px;line-height:16px}
.group-info .txt{margin-left:120px;}
.group-info .txt p{margin:10px 0 5px;}
.group-info .txt .join{margin-right:10px;padding:2px 8px;color:#fff;background:#e0462e;}
.group-info .txt a:hover{text-decoration:none}
.group-info .txt .rec{padding-left:16px;background:url(index/rec-bg.png) no-repeat 0 center;color:#922800;}
.group-info .topics{border-top:dashed 1px #e0e0e0}
.group-info .topics h4 a{color:#cc1342;}
.group-info .topics li{padding:15px 0;border-bottom:dashed 1px #e0e0e0;}
.group-info .topics p{margin:5px 0 10px}
.group-info .topics div{color:#a1a1a1;}

.comment{width:430px; margin:20px auto; position:relative;z-index:1}
.com_form{width:100%; position:relative}
.input{width:99%; height:60px; border:1px solid #ccc}
.com_form p{height:28px; line-height:28px; position:relative}
span.emotion{display: inline-block;*display: inline; zoom:1; width:16px; height:16px; background:url(index/face.png) no-repeat 0 0;margin: 4px 0 -4px;cursor: pointer;}
.com_form p .tips {margin-left: 5px; color: #999; font-size: 13px;}
.com_form p .tips i {color: #F18401; font-style: normal;}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
.sub_btn {width: 82px;height: 24px;line-height: 24px;position:absolute; right:0px; top:0;display: inline-block;zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */*display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;
    text-align: center;color: #fff;border: none;background:#cc1342;
    margin-top: 10px;}
.sub_btn_hover {background-image: url(img/submit.png); color: #ccc}

.comment-result {width:430px;margin:0 auto; padding: 0 5px;height: 395px; overflow: hidden; position: relative;}
.comment-result a.more {position: absolute; right: 0; bottom: 5px; color: #F28202;}
.comment-result ul {border-top: 1px solid #eee;}
.comment-result ul li {border-bottom: 1px solid #eee; padding: 12px 0 8px; width: 670px; overflow: hidden;}
.comment-result ul li .img-l {float: left;}
.comment-result ul li .img-l img {width: 52px; height: 52px; overflow: hidden; vertical-align: middle;}
.comment-result ul li .comment-ctn {float: left; margin-left: 10px; font-size: 12px;width: 360px; overflow: hidden;}
.comment-result .comment-ctn span {color: #666}
.comment-result .comment-ctn span.time {display: block; margin-top: 10px; font-size: 11px; color: #999}
.comment-result .comment-ctn i { color: #F08300; font-style: normal;}

.showlist {padding: 20px 0 52px;background:url(page/shadow.png) center bottom no-repeat; margin:0 auto; width:1000px;}
.showlist li{float:left;}
.showlist .simple{width:131px;height:549px;background:url(page/c3.png) no-repeat;margin: 0 0 0 -2px;float:left;}
.showlist .s2{background-position:0 -549px;}
.showlist .s3{background-position:0 -1098px;}
.showlist .s4{background-position:0 -1647px;}
.showlist .s5{background-position:0 -2196px;}
.showlist .s6{background-position:0 -2745px;}

.showlist .intro{position:relative;z-index:100;display:none;padding:10px 15px 0 220px;height:490px;margin:20px 0 0 -2px;width:113px;background:#fff url(page/c2.png) no-repeat;border:solid 1px #fff;color:#444;float:left;overflow:hidden;}
.showlist .intro h3{font:700 30px/55px "microsoft yahei";border-bottom:solid 1px #fff;margin:0 0 10px;}
.showlist .intro p{line-height:20px;}
.showlist .intro .pic{display:inline-block;margin:10px 0;}
.showlist .intro .pic img{-webkit-transition:all .1s linear;-moz-transition:all .1s linear;transition:all .1s linear;}

.showlist .intro .vmore{display:inline-block;width:74px;height:21px;text-indent:-9999em;background:url(img/vmore.png) no-repeat;}
.showlist .i2{background-position:0 -510px;}
.showlist .i3{background-position:0 -1020px;}
.showlist .i4{background-position:0 -1530px;}
.showlist .i5{background-position:0 -2040px;}
.showlist .i6{background-position:0 -2550px;}
.showlist .cur .intro{display:block;-webkit-animation: opentoClose 0.8s linear;-moz-animation: opentoClose 0.8s linear;}
.showlist .cur .intro img{}
.showlist .cur .simple{display:none;}

ul.hedsh{ height:auto; overflow:hidden; zoom:1; padding:20px 0 50px;}
ul.hedsh li{ float:left; height:160px; border:1px solid #fff; display:inline-block; overflow:hidden; position:relative;}
ul.hedsh li.sw01{ width:160px;}
ul.hedsh li.sw02{ width:316px;}
ul.hedsh li.sw03{ width:310px;}
ul.hedsh .show{ width:100%; height:160px; background:#DF0341; filter:alpha(opacity=80);opacity:0.8; position:absolute; left:0; top:0; display:none;}
ul.hedsh .show h5{ font-size:16px; color:#fff; font-weight:700; height:30px; line-height:30px; text-align:center; padding-top:20px;}
ul.hedsh .show p{ padding:10px 15px; color:#fff; line-height:20px;}


