/* CSS 5 */
*html { background-attachment:fixed; background-image:URL("about:blank");}
.g-o-a{ width:990px;}
.huo-top { height:27px; line-height:27px; background:#F1F1F1;}
.huo-top span{ float:right;}
.huo-top span a{ margin:0 5px; color:#333; }
.huo-top span a:hover{ color:#067ed4; text-decoration:none; }
/*搜索*/
.m-search .ss-txt { border:2px solid #e60000;}
.m-search div .btn { background: url(img/search-btn.png) no-repeat;}
.m-search ul li.cur a, .m-search ul li.cur a:hover, .hot-keys a:hover{ color: #e60000;}

/*导航*/
.main-nav { background:url(img/nav-bg.png) repeat-x; }
.main-nav .g-o-a { position: relative; }
.main-nav div .ico1 { position:absolute; bottom:-131px; left:-8px;}
.main-nav div .ico2 { position:absolute; bottom:6px; right:132px;}
#red-nav { margin-left:150px;}
#red-nav li{float:left; background:url(img/clip.png) left 2px no-repeat; height:46px; padding:10px 40px 0 40px; }
#red-nav li a { display:inline-block;color:#f6aeac; font-weight:700; line-height:24px; padding-top:18px;}
#red-nav li.fir a{ background:url(img/nav-ico1.png) top center no-repeat;}
#red-nav li.sec a{background:url(img/nav-ico2.png) top center no-repeat ;}
#red-nav li.las a {background:url(img/nav-ico3.png) top center no-repeat;}

#red-nav li a:hover { color:#FFF; text-decoration:none }
.top-banner{ height:500px; background:url(img/tit-bg.png) no-repeat top center;}

.ins-con{ background:#ffc198;}
.tit-floed{ background:#c62e00; border-bottom:1px solid #6a1b03; font-size:14px; font-family:Microsoft YaHei,simhei; height:45px; line-height:45px; }
.tit-floed li{ float:left; }
.tit-floed li a{ display:block; width:120px; text-align:center; color:#FFF; }
.tit-floed li a:hover{ text-decoration:none; background:#fe6635 url(img/tit_icol.png) 10px center no-repeat;}
.tit-floed li.f-and{ float:right; }
.tit-floed li.f-and a:hover { background:none; }

.conn-list{ background:#efefef;}
.pro-flod ul{ padding:0 15px;}
.pro-flod li{ float:left; width:240px; margin-bottom:20px;   }
.pro-flod li .img{ display:block; text-align:center;  }
.pro-flod div.con_bod{ padding:5px 5px 10px 5px;background:#FFF; margin:0 5px; }
.pro-flod div.con_bod:hover,.pro-flod div.con_bod.hover{ background:#f9fbbd;}
.pro-flod .font a{ color:#333; font-weight:700; }
.pro-flod .font a:hover{ color:#ff3200; text-decoration:none; }

.pro-flod .link_btn{ color:#646465; padding-top:5px; }
.pro-flod .link_btn strong{ color:#fd604d; margin-right:20px; }
.pro-flod .link_btn span{ display:block;}
.pro-flod .link_btn a{ display:block; height:32px; line-height:32px; width:106px; margin:10px 0 0 48px; text-decoration:none; font-size:14px; font-weight:700; text-align:center; color:#FFF; background:url(img/btn-link.png) no-repeat 0 0;}
.pro-flod .link_btn a:hover{ text-decoration:none; background-position:0 -51px; }

.pro-flod h3{ height:30px; background:url(img/flod-tit-bg.png) repeat-x 7px 0; height:43px; }
.pro-flod h3 a{ display:block; padding-left:35px; width:120px; height:43px; line-height:43px; background: url(img/tit_icol.png) 10px center no-repeat; color:#FFF; font-size:14px; font-family:Microsoft YaHei,simhei; }
.pro-flod h3 a:hover{ text-decoration:none; }
.b_band{ background:#ffc198; }

.gor-yin span{ float:right; color:#FFF; font-weight:normal; line-height:40px; padding-right:20px;}
.gor-yin li{ width:192px;}
.gor-yin li .con_bod{ border:1px solid #ff5d35; padding:0; }
.gor-yin li .con_bod:hover{ border:1px solid #20c3d2; background:#20c3d2;}
.gor-yin li .font{background:#ff5d35;}
.gor-yin li .con_bod:hover .font{ background:#20c3d2;}
.gor-yin li .font a{ display:block; color:#FFF; height:24px; padding:0; line-height:24px; margin:0 12px; overflow:hidden; white-space:nowrap; }
.gor-yin li .font a:hover{ color:#FFF; }

.fiexd_outer{ height:45px;}
.fiexd_nav{ position:fixed; top:0; width:990px;}

.fiexd{ position:fixed; height:422px; width:99px; right:40px; top:200px; background: url(img/fiexd-bg.png) 0 0 no-repeat;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50));}

.fiexd ul{ padding:77px 0 0 30px; line-height:36px; font-size:14px;  }
.fiexd ul li a{color:#fdd974; font-weight:700; font-family: Microsoft YaHei,simhei;}
.fiexd ul li a:hover{ color:#fff; text-decoration:none; }
.wd-link{ padding:28px 0 0 7px;}
.wd-link a{ display:block; width:85px; height:27px; }
.f-top{padding:6px 0 0 25px;}
.f-top a{ display:block; width:52px; height:45px; }
.f-top a:hover,.f-top a:hover{ text-decoration:none; }
.footer{ background:#9d9d9d;}
.footer p{ color:#FFF; }
.footer a{ color:#FFF; }