@import url('style.css');
a{color: #444}
.jbgs{padding-bottom:22px;}
.con-r{width: 630px;height: 583px;overflow-y: scroll;overflow-x:hidden}
.con-l{width: 520px;height: 583px;background: #f6f6f6;}
.content{width: 1200px;margin: 0 auto;}
.title{font:400 18px/56px Microsoft YaHei,simsun;height: 56px;margin: 0 17px;overflow: hidden;word-break:break-all;}
.intro-title{font:20px Microsoft YaHei,simsun;margin-bottom: 12px;width: 605px}
.content{font: 12px/20px Microsoft YaHei,simsun;}
.list-title{margin-top: 25px;width: 605px;font:bold 18px/34px Microsoft YaHei,simsun;border-bottom: 1px solid #5bb80f;height: 34px;}

.ft-content{margin-top: 10px;width: 605px}
.ft-content p{text-indent: 24px;}

.lmjs{padding-top:84px;height:521px;}
.column-box{width: 623px;}
.column-box h2{font: 24px Microsoft YaHei,simsun;margin-bottom: 10px}
.column-box p{margin-bottom: 25px;max-height: 54px}

.product-list li{float: left;display: inline;width: 140px;margin-left: 20px;background: #fff}
.product-list li.first{margin-left: 0}
.product-list img,.product-list a{display: block;word-break:break-all;}
.product-list img{margin-bottom: 5px}
.product-list a{line-height: 16px;}
.product-list a span{padding: 0 10px 5px;display: block;}
.person-box{width: 647px;overflow-y:scroll;overflow-x:hidden;height: 582px;}

.person-intro{background: #f6f6f6;padding-right: 25px;margin-bottom: 30px;}
.person-intro dl{float: right;display: inline;width: 435px;}
.person-intro dt{font: 12px Microsoft YaHei,simsun;line-height: 16px;overflow: auto;border-bottom: 1px #dbdbdb dashed;}
.person-intro dt span{float: left;display: inline;height:70px;font-size:24px;line-height: 70px;margin-right: 20px}
.person-intro dt p{margin-top: 20px;height: 33px;overflow: hidden;word-break:break-all;}
.person-intro dd{margin-top: 12px;height: 60px;overflow: hidden;word-break:break-all;}

.photo{position: relative;width: 520px;}
.bg{background: #000;opacity: .62;filter:alpha(opacity=62);width: 280px;height: 225px;position: absolute;right: 0;bottom:38px;display: block;}
.photo dl{font: 12px Microsoft YaHei,simsun;color: #fff;position: absolute;width: 254px;height: 199px;right: 0;bottom: 38px;padding:13px}
.photo dl dt{color: #5bb70f;text-align: right;font-size: 30px;border-bottom: 1px #646464 solid;padding-bottom: 10px;margin-bottom: 15px}
.photo dl dt span{color: #fff;display: block;font-size: 12px}
.photo dl dd{line-height: 20px;height: 116px;overflow: hidden;word-break:break-all;}