@import url('/v2/m/init/css/style.css');
@import url('./uc-common.css');
body{background-color: #e9e9e9;}
.ipt-txt{height:38px;line-height: 38px;}
.single-main{padding-top:41px;}
.single-main .main-bd{padding-top:50px;}
.bind-phone-tips{background-color: #fef7ee;margin-left:95px;margin-right:95px;padding:22px 28px;border:1px solid #fdece2;color:#e36446;font-size: 14px;}
.bind-phone-bd{margin:50px 54px auto;padding-top:40px;padding-bottom:180px;border-top:1px solid #f7f4f4;}
.uc-lrtbl{font-size:16px;}
.valid-code .qgray-btn{width:90px;margin-left:13px;font-size: 14px;}
.yllw-btn{width:160px;}