@import url('/v2/m/init/css/style.css');
@import url('./uc-common.css');
html{overflow-x: hidden;}
body{background-color: #e9e9e9;}
.single-header{border-bottom:none;}
.single-header .contact{padding-right:15px;}

/*非弹窗登录*/
.login-main{height:580px;}
.login-ads,.login,.login .bg{position:absolute;}
.login-ads{width:1920px;left:50%;margin-left:-960px;text-align: center;overflow: hidden;}
.login{left:50%;margin-left:145px;top:53px;width:350px;height:472px;}
.login .bg{background-color: #fff;opacity: 0.8;filter: alpha(opacity=80);width:100%;height: 100%;border-radius:5px;}
.login-c{position:relative;padding:0 30px 21px;color:#666;font-size: 14px;font-family:simsun;}
.login-top{padding-top:38px;padding-bottom:22px;}
.login-top h2{color:#333;font-size: 18px;}
.login-top .newreg,.login-frm .refresh,.login-three .qq,.login-three .sina,.login-three .weixin{display:inline-block;background:url("img/login-icon.png") no-repeat;vertical-align: middle;}
.login-top .newreg,.login-lk .forget-pwd{color:#0066cc;}
.login-top .newreg:hover,.login-lk .forget-pwd:hover{color:#e68d18;}
.login-top .newreg{position: absolute;right: 0;top:40px;background-position: 0 -139px;padding-left:25px;height:21px;}
.login-top .newreg:hover{background-position: 0 -161px;}
.login-frm li{margin-bottom:20px;}
.login-frm .ipt-txt{background-color:#f8f8f8;width:260px;height:42px;line-height: 42px;padding-left:15px;padding-right:15px;border:none;font-size: 16px;}
.login-frm .code-li .ipt-txt{width:106px;}
.login-frm .code-li .code-img{display: inline-block;background-color: #fff;width:93px;height: 42px;margin-left:10px;vertical-align:middle;overflow: hidden;}
.login-frm .refresh{background-position:0 -90px;width:24px;height: 24px;margin-left:8px;cursor: pointer;}
.login-frm .refresh:hover{background-position: 0 -114px;}
.yztips .valid-tips{margin-left: 0;}
.login-opts{margin-top:20px;}
.login-smt{background-color:#e68d18;width:290px;height: 42px;line-height: 42px;font-size: 18px;}
.login-smt:hover{opacity: 0.9;filter: alpha(opacity=90);}
.login-lk{padding-top:12px;}
.login-lk .forget-pwd{text-decoration: underline;}
.login-three{margin-top:10px;padding-top:20px;border-top:1px solid #b4b1ae;}
.login-three span{display: inline-block;vertical-align: middle;}
.login-three .qq,.login-three .sina,.login-three .weixin{width:30px;height: 30px;margin-left:5px;opacity: 0.6;filter: alpha(opacity=60);cursor: pointer;}
.login-three .qq:hover,.login-three .sina:hover,.login-three .weixin:hover{opacity:1;filter: alpha(opacity=100);}
.login-three .qq{background-position: 0 0;}
.login-three .sina{background-position: 0 -30px;}
.login-three .weixin{background-position: 0 -60px;}


/*供应商采购商注册第一步*/
.loginyzm{padding: 30px; width: 530px;}
.loginyzm .yllw-btn,.reg-step1-lrtbl .blue-btn{width: 324px;}

.loginyzm .reg-step1-lrtbl{font-size: 16px;}
.loginyzm .reg-step1-lrtbl .ipt-txt{width:314px;height: 38px;line-height: 38px;font-size: 16px;}

.loginyzm .reg-step1-lrtbl .agreement{font-size: 14px;}
.loginyzm .reg-step1-lrtbl .ipt-txt-code{width: 190px;}
.loginyzm .reg-step1-lrtbl .valid-code .gray-btn,.loginyzm .reg-step1-lrtbl .valid-code .yllw-btn{width: 110px;margin-left: 11px;}
.loginyzm .reg-step1-lrtbl .valid-code .gray-btn,.loginyzm .reg-step1-lrtbl .valid-code .yllw-btn{background-color:#e1e1e1;color:#999;}
.loginyzm .reg-step1-lrtbl .valid-code .gray-btn:hover{background-color: #5b8ab9;color:#fff;}
.loginyzm .reg-step1-lrtbl .valid-code .yllw-btn:hover{background-color: #f5b525;color:#fff;}
.loginyzm .reg-step1-lrtbl .agreement .valid-tips{margin-left:0;}

.loginyzm .reg-step1-lrtbl .vldcode-td .ipt-txt{width:140px;}
.loginyzm .reg-step1-lrtbl .code-img{display: inline-block;background-color: #d2dce2;width:93px;height: 42px;margin-left:10px;vertical-align:middle;overflow: hidden;}
.loginyzm .reg-step1-lrtbl .refresh{margin-left:10px;margin-right:6px;cursor: pointer;font-size: 14px;}

