/**
 * 前端模板css文件
 * 
 */

/* 依赖的模块 */
/*@import url('');  没用到模块的话请注释本行 */

/*本页面的定制样式*/
.c-icon {background-image: url(img/icon-sprite.png); _background-image: url(img/icon-sprite-ie6.png);}
h1.c-n {font-size: 18px;}
h2.c-n {font-size: 16px;}
h3.c-n {font-size: 14px;}
h4.c-n {font-size: 12px;}
h1.c-t {padding-bottom: 5px; border-bottom: 2px solid #e8e8e8; font-size: 16px}
a.c-n {color: #444}
a.c-n:hover {color: #f60; text-decoration: none;}
p.c-n {color: #888}
.c-mask {background-color: #000000; bottom: 0; height: 26px; left: 0; opacity: 0.6; filter: alpha(opacity=60); position: absolute; width: 100%;}
a.c-info {bottom: 0; color: #FFFFFF; height: 26px; left: 0; line-height: 26px; position: absolute; text-align: center; width: 100%;}
a.c-more {color: #888; padding-right: 10px; background: url(img/icon-group.png) no-repeat -718px -502px; float: right;}
ul li.c-n {padding-left: 10px;}
.adverst {margin: 15px auto}	/*广告*/
div.c-title {padding-bottom: 3px; border-bottom: 2px solid #e8e8e8}
div.c-title span {float: left; margin: 0 8px -2px 0;}
div.c-title span a {color: #FF6C00; font-size: 18px; text-decoration: none;}
div.c-title h1 a {color: #444; font-family: "Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti; font-size: 18px; font-weight: bold;}

.list-wrapper {margin: 0 auto 20px;}
.list-wrapper .col-list {width: 730px; overflow: hidden;}
.list-wrapper .path {height: 35px; line-height: 35px; background-color: #f6f6f6;}
.list-wrapper .path span {color: #888; padding-left: 10px;}
.list-wrapper .path i {margin: 0 5px; font-style: normal; color: #ccc; font-family: simsun}
.list-wrapper .path a {color: #444;}
.list-wrapper .path a:hover {color: #f60; text-decoration: underline;}
.list-wrapper .list {margin-top: 10px; border-bottom: 1px solid #e8e8e8}
.list-wrapper .list li {height: 48px; border-bottom: 1px dashed #e8e8e8; line-height: 48px; background-position: -20px -433px; padding-left: 15px; overflow: hidden;}
.list-wrapper .list li:last-child {border-bottom: none;}
.list-wrapper .list li span {color: #888; font-family: simsun;}
.list-wrapper .list li span.title {color: #444; width: 500px; max-width: 550px;}
.list-wrapper .list li span.title a {font-size: 14px;}
.list-wrapper .col-aside {width: 260px; overflow: hidden;}
.list-wrapper .top-adv {width: 260px; height: 260px; overflow: hidden; margin-bottom: 10px;}
.list-wrapper .top-adv img {width: 260px; height: 260px; overflow: hidden;}
.list-wrapper .col-aside .fas-rec {border: 1px solid #eaeaea; padding: 5px 10px 10px}
.list-wrapper .col-aside .fas-rec h3 {height: 30px;}
.list-wrapper .col-aside .fas-rec li{height: 26px; line-height: 26px; width: 228px;background:url(../../index/css/img/r_iocl.png) no-repeat 3px -33px; overflow:hidden;}
.list-wrapper .adv-rec {height: 80px; overflow: hidden; margin: 12px 0;}
 .list-wrapper .adv-rec a,.list-wrapper .adv-rec img{ width:260px; height:80px;}
.list-wrapper .rank {border: 1px solid #eaeaea}
.list-wrapper .rank .tabs-nav {width: 258px; overflow: hidden; height: 33px;}
.list-wrapper .rank .tabs-nav li {border-bottom: 1px solid #eaeaea; width: 128px; border-right: 1px solid #eaeaea; float: left; color: #888; background-color: #f6f6f6; text-align: center; height: 32px; line-height: 32px; cursor: pointer;}
.list-wrapper .rank .tabs-nav li.cur {border-bottom: none; color: #444; background-color: #fff}
.list-wrapper .rank .tabs-nav li:last-child {border-right: none; width: 129px;}
.list-wrapper .rank .tabs-ctn ul {padding: 10px; display:none;}
.list-wrapper .rank .tabs-ctn ul.cur{ display:block;}
.list-wrapper .rank .tabs-ctn li {height: 26px; line-height: 26px; padding-left: 28px;background:url(../../../spining/insfront/css/img/icon_rank.png) no-repeat;_background:url(../../../spining/insfront/css/img/icon_rank-ie6.png) no-repeat; background-repeat: no-repeat; overflow: hidden; width: 210px; _display: inline-block;}
.list-wrapper .rank .tabs-ctn li a {color: #444}
.list-wrapper .rank .tabs-ctn li a:hover {color: #f60; text-decoration: underline;}
.list-wrapper .rank .tabs-ctn li.top1 {background-position: 3px 7px;}
.list-wrapper .rank .tabs-ctn li.top2 {background-position: 3px -24px;}
.list-wrapper .rank .tabs-ctn li.top3 {background-position: 3px -53px;}
.list-wrapper .rank .tabs-ctn li.top4 {background-position: 3px -83px;}
.list-wrapper .rank .tabs-ctn li.top5 {background-position: 3px -112px;}
.list-wrapper .rank .tabs-ctn li.top6 {background-position: 3px -141px;}
.list-wrapper .rank .tabs-ctn li.top7 {background-position: 3px -174px;}
.list-wrapper .rank .tabs-ctn li.top8 {background-position: 3px -207px;}
.list-wrapper .rank .tabs-ctn li.top9 {background-position: 3px -238px;}
.list-wrapper .rank .tabs-ctn li.top10 {background-position: 3px -269px;}
.list-wrapper .mar-rec {border: 1px solid #eaeaea; padding: 0 10px 10px;}
.list-wrapper .mar-rec .title {height: 30px; line-height: 30px;}
.list-wrapper .mar-rec .detail{height: 80px; overflow: hidden; margin: 5px 0;}
.list-wrapper .mar-rec .detail a,.list-wrapper .mar-rec .detail a img{ width:240px; height:80px;}
.list-wrapper .mar-rec .com-list {margin-top: 10px;}
.list-wrapper .mar-rec .com-list li {height: 26px; line-height: 26px; padding-left: 10px; width: 228px;background:url(../../index/css/img/r_iocl.png) no-repeat 3px -33px; overflow:hidden;}

.pageBar {text-align: center; padding-top:20px; border-top:1px solid #e6e6e6; position:relative; top:-1px;*+top:-4px;color: #888; font-size: 20px;}
.pageBar span {margin: 0 5px; font-size: 14px;}
.pageBar span em {margin: 0 5px;}
.pageBar span input {border: 1px solid #ccc; height: 18px; line-height: 18px; color: #888; text-align: center; padding: 2px 5px; width: 38px; margin: 0 3px;}
.pageBar span input.btn {color: #fff; background-color: #f60; border-color: #f60; cursor: pointer; height: 22px; display: none;}
.pageBar a {padding: 0 11px; border: 1px solid #ccc; color: #888; text-decoration: none; margin: 0 2px; height: 28px; line-height: 28px; display: inline-block; font-size: 14px;}
.pageBar a:hover {color: #fff; background-color: #f60}
.pageBar a.prev, .pageBar a.next {padding: 0 23px;}
.pageBar a.cur {color: #fff; background-color: #f60; border-color: #f60}

/*展会列表*/
.list-wrapper .ex-list {}
.ex-list ul{ padding-right:20px;}
.list-wrapper .ex-list li {padding: 20px 0; border-bottom: 1px dashed #e8e8e8; height: 120px;}
.list-wrapper .ex-list li a.g-fl,.list-wrapper .ex-list li a.g-fl img {width: 200px; height: 120px; overflow: hidden; display:block}
.list-wrapper .ex-list li a.g-fl { margin-right:25px;}
.list-wrapper .ex-list li h2 {margin-bottom: 10px; height:22px; overflow:hidden;}
.list-wrapper .ex-list li .cont { overflow: hidden; height: 120px}
.list-wrapper .ex-list li .cont p {line-height: 22px; height:22px; overflow:hidden;}
.list-wrapper .ex-list li .cont em { display: inline-block; margin-top: -22px; margin-left: 3em;}

/*页面找不到*/
.list-wrapper .error-msg { display:inline-block; margin:65px 0 0 115px; width:350px; padding-left:75px; background:url(img/enty.png) no-repeat left top;}
.list-wrapper .error-msg span{ color:#888; line-height:28px; display:block;}
.list-wrapper .error-msg span.t{ font-size:16px; color:#444;font-family: "Microsoft YaHei";}

/**搜索**/
.sear-list{ height:30px; line-height:30px; padding:7px 0; border-bottom:1px solid #e6e6e6;}
.sear-list select{ width:110px;/* height:29px;*/ padding:5px; border:1px solid #e6e6e6; line-height:29px; margin-right:5px; float:left; *position:relative; *top:4px;}
.sear-list span{ display:inline-block; height:31px; line-height:30px; margin:0 8px; float:left;}
.sear-list span.g-fwb {color:#888;}
.sear-list a{ width:85px; height:30px; line-height:30px; text-align:center; background:#e94544; color:#fff;display:inline-block; margin-left:10px; float:left; font-size:14px;font-family: "Microsoft YaHei";}
.sear-list input{ float:left;}
.sear-list a:hover{ background:#f25453; text-decoration:none;}



