.pagebox{}
.pagebox img{display:block;}
.pagebox .bannercoupon{height:716px;background: url(../images/head.jpg) no-repeat center top;}
.pagebox .process{ width:1024px; height:418px; margin:0 auto;}
.pagebox .event-btns{ height:80px; text-align:center; padding:53px 0;}
.pagebox .explantion{ width:1024px; height:720px; margin:0 auto; padding-bottom:100px; overflow:hidden;}
.event-btns a{margin:0 35px; text-decoration:none;}
.event-btns .regbtn{display:inline-block;width:360px;height:80px; line-height:80px;background:#8E8E8E; border-radius:40px; color:#fff; font-size:30px;}
.event-btns .regbtn.active{background:#FD2041;}
.event-btns .couponbtn{display:inline-block;width:360px;height:80px;line-height:80px;background:#FD2041;border-radius:40px;color:#fff; font-size:30px;}
.coupon-bag{ position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.7);}
.coupon-bag .table{ display:table; width:100%; height:100%;}
.coupon-bag .cell{display:table-cell; width:100%; height:100%; vertical-align:middle; color:#fff;}
.coupon-bag .bagbox{ width:470px; height:547px; margin:0 auto; background:url(../images/hb.png?t=11) no-repeat;}
.coupon-bag .close{ height:67px; cursor:pointer;}
.coupon-bag .content{ height:221px;}
.coupon-bag .greetings{ text-align:center; font-size:26px; color:#ee2234; font-weight:bold; height:100px; line-height:36px;}
.coupon-bag .greetings .ico{ display:inline-block; width:35px; height:42px; background:url(../images/ico01.png) no-repeat; background-size:35px 42px;}
.coupon-bag .explantion{ height:100px; text-align:center;}
.coupon-bag .explantion p{ color:#333333; font-size:16px; line-height:26px;}
.coupon-bag .explantion p em{ color:#ee2234;}
.coupon-bag .parent-tips{text-align:center; font-size:26px; color:#ee2234; font-weight:bold; height:70px; padding-top:25px;}
.coupon-bag .child-tips{height:145px; text-align:center;}
.coupon-bag .child-tips p{ color:#333333; font-size:16px; line-height:26px;}
.coupon-bag .child-tips p em{ color:#ee2234;}
.coupon-bag .nickname{ height:154px;}
.coupon-bag .nickimg{ height:110px;}
.coupon-bag .nickimg img{ display:block; width:95px; height:95px; border-radius:50%; margin:0 auto;}
.coupon-bag .nick{ font-size:24px; color:#ebe386; text-align:center; height:30px;}
.coupon-bag .btnbox{ height:60px; text-align:center;}
.coupon-bag .btnbox a{ display:block; width:155px; height:44px; line-height:44px; margin:0 auto; background:#FFDE42; border-radius:22px; font-size:26px; color:#ee2234; text-align:center; -webkit-box-shadow:1px 5px 1px #C1051E;box-shadow:1px 5px 1px #C1051E;}
.gzh-pagebox{ position:relative; height:877px;background:url(../images/bg1.png) no-repeat; background-size:100% 100%;}
.gzh-pagebox .erweima{ position:absolute; left:50%; top:100px; margin-left:-135px; width:270px; height:270px;}



