 @import url('http://res.csc86.com/f=v2/m/init/css/style.css');
 @import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
 @import url('http://res.csc86.com/v2/m/head-search/css/style.css');
 @import url('http://res.csc86.com/v2/m/foot/css/style.css');

a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}
body{ font-family:Microsoft YaHei;}
.g-1030{ width:1030px; margin:0 auto;}
.g-1059{ width:1059px; margin:0 auto;}
.maintop{ height:46px;}
.main{background: #2f0064 url(img/banner.jpg) no-repeat center 0; min-width:1000px;}

.nav{height:46px;background:#5e10b2;line-height:46px;}
.nav .g-o{position: relative;}
.nav ul{padding-left:170px}
.nav a{color:#fff;padding:0 25px;}
.nav li{float: left;}
.issue{ position: absolute; top: -15px;left:0}

.banner{height: 694px;}
.jiathis_style{ float:right; margin-top:10px; margin-right:115px;}
.jiathis_style a{color:#fff;}

.flrbg{ background: #2f0064; height:935px;}
.box{ overflow:hidden;}
.titletop{ height:45px; text-align:center;}
.box ul{ width:103%; margin-left:6px;}
.box ul li{ width:240px; height:450px; background-color:#fff; text-align:center; float:left; margin-right: 9px; margin-top:7px;}
.box ul li .pic{ margin-top:10px;}
.box ul li .txt{ text-align:left; padding:15px; padding-top:0;}
.box ul li .txt h2{ font-size:34px; font-weight:500; color:#f32f05;}
.box ul li .txt h2 span{ font-size:22px;}
.box ul li .txt p{ line-height:21px;}
.box ul li .txt .p1{ font-size:12px; color:#999999;}
.box ul li .txt .p1 span{ text-decoration: line-through;}
.box ul li .txt .p2{ font-size:14px;}
.box ul li .txt .p2 a{ color:#333;}
.box ul li .txt .p3{ font-size:14px; color:#e24040;}
.box ul li .btn{ position:relative;}
.box ul li .btn .t{ cursor:pointer; z-index:0;}
.box ul li .btn .b{ position:absolute; z-index:1; margin-left:18px; display:none; cursor:pointer;}
.box ul li .btn .b .qq{padding:10px; position:absolute; top:9px; left:47px;}
.box ul li .btn:hover .b{ display: block; }
.pdts-t{ position:relative;}

.title{ background: #7721df; height: 50px; text-align:center; position:relative;font: 24px/45px Microsoft YaHei,simsun; color: #fff;margin: 0 5px;padding: 5px 0;}
.title span{padding-left: 60px;background: url(img/titlebg.png) no-repeat;line-height: 50px;}
.title span.tit02{background-image: url(img/titlebg02.png)}
.title span.tit03{background-image: url(img/titlebg03.png)}
.title span.tit04{background-image: url(img/titlebg04.png)}
.txtpic{ float:left; margin-right:10px;}
.toptxt{ /* float:left; */ /* margin-top:5px; */ font-size: 24px;}
.topt{ width:300px; margin:0 auto; padding-top:15px;}
.txtpic2{ float:right; margin-left:10px;}
.toptxt2{ float:right; margin-top:5px;}
.show{ height:255px;}
.outer{ height:237px; background:#fff;}
/*scroll*/
.img-scroll{position: relative; padding: 25px;}
.scroll-box{overflow: hidden;width: 920px;margin: 0 auto;}
.scroll-box ul{width: 9999px; text-align:center;}
.box .scroll-box li{float: left;display: inline;margin-right: 20px; width:215px; height:190px;}
.scroll-box li p{ font-size:17px; line-height:26px;}
.scroll-box li a{text-decoration:none; color:#333;}
.ctr-l,.ctr-r{text-align: center;top:0;display: block;position: absolute;width: 32px;height: 160px;color: #9f9e9e;font: 36px/160px Arial;cursor: pointer;}
.ctr-l{left:0; padding-top:28px; font-size:36px;}
.ctr-r{right:0;padding-top:28px; font-size:36px;}
.ctr-l:hover{ color:#cf0104;}
.ctr-r:hover{ color:#cf0104;}


.fixed-nav{width:170px;height:300px;background:url(img/fixed-nav.png) no-repeat; position: absolute;margin-left:1040px;top: 760px;_background-image: url(img/fix-nav-ie6.png);
}
.fixed-nav ul{display: block;padding-top: 105px; text-align:center;}
.fixed-nav ul li.last{}
.fixed-nav a{display: block;height:39px; font-size:15px; color:#fff7bd; line-height:39px;}
.fixed-nav ul li.last a{height: 36px;}