<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<title>Document</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="http://res.csc86.com/f=css/base-reset.css,css/m/app-frame/style.css,css/c/membercenter/mem-foot.css,css/c/membercenter/member.css,css/m/zzmark/css.css" /><script src="http://res.csc86.com/f=js/l/jquery.js,js/p/seajs/1.2.0/dist/sea.js,js/m/config.js,js/c/membercenter/member.js"></script><link rel="stylesheet" href="http://res.csc86.com/f=css/c/memberhome/m-public.css,css/c/memberhome/m-top.css,css/c/memberhome/m-left.css,css/c/memberhome/m-right.css,css/c/memberhome/m-mid.css,css/c/memberhome/m-foot.css" /><script src="http://res.csc86.com/f=js/c/memberhome/m-home.js"></script>
	<link rel="stylesheet" href="../../template.css"/>
</head>
<body>
	<div class="g-o-a app-frame offer">
		<div class="af-nav"></div>
		<div class="af-bd">
			<h1 class="af-hd">我购买的模板</h1>
			<div class="g-c-f af-page"></div>
			<div class="af-list">
				<table width="100%">
					<thead class="af-list-hd">
						<tr>
							<td>订单信息</td>
							<td width="100">订单金额</td>
							<td width="60">单位</td>
							<td width="100">有效期</td>
							<td width="80">状态</td>
							<td width="90">操作</td>
						</tr>
					</thead>
					<tbody class="af-list-bd">
						<tr>
							<td>
								<div class="g-f-l"><img src="/image/no-img.png" alt="" width="60" height="80"/></div>
								<div class="g-f-l bl-info">
									<a href="">欧美范女装箱包内衣女鞋</a>
									<p class="muted">行业：纺织行业、服装服饰、皮具皮革</p>
								</div>
							</td>
							<td><strong class="deaf">52</strong>元</td>
							<td>季</td>
							<td class="muted">开始2015-11-11<br/>结束2015-12-11</td>
							<td class="muted">已完成</td>
							<td><a href="">再次购买</a></td>
						</tr>
						<tr>
							<td>
								<div class="g-f-l"><img src="/image/no-img.png" alt="" width="60" height="80"/></div>
								<div class="g-f-l bl-info">
									<a href="">欧美范女装箱包内衣女鞋</a>
									<p class="muted">行业：纺织行业、服装服饰、皮具皮革</p>
								</div>
							</td>
							<td><strong class="deaf">300</strong>元</td>
							<td>永久有效</td>
							<td class="muted">付款成功后生效</td>
							<td class="muted">待付款</td>
							<td><a href="">再次购买</a></td>
						</tr>
						<tr>
							<td>
								<div class="g-f-l"><img src="/image/no-img.png" alt="" width="60" height="80"/></div>
								<div class="g-f-l bl-info">
									<a href="">欧美范女装箱包内衣女鞋</a>
									<p class="muted">行业：纺织行业、服装服饰、皮具皮革</p>
								</div>
							</td>
							<td><strong class="deaf">0</strong>元</td>
							<td>永久有效</td>
							<td class="muted">永久有效</td>
							<td class="muted">待应用</td>
							<td><a href="">付款</a>&nbsp; <a href="">再次购买</a></td>
						</tr>
						<tr>
							<td>
								<div class="g-f-l"><img src="/image/no-img.png" alt="" width="60" height="80"/></div>
								<div class="g-f-l bl-info">
									<a href="">欧美范女装箱包内衣女鞋</a>
									<p class="muted">行业：纺织行业、服装服饰、皮具皮革</p>
								</div>
							</td>
							<td><strong class="deaf">20</strong>元</td>
							<td>月</td>
							<td class="muted">付款失败</td>
							<td class="muted">已终止</td>
							<td><a href="">再次购买</a></td>
						</tr>
						<tr>
							<td>
								<div class="g-f-l"><img src="/image/no-img.png" alt="" width="60" height="80"/></div>
								<div class="g-f-l bl-info">
									<a href="">欧美范女装箱包内衣女鞋</a>
									<p class="muted">行业：纺织行业、服装服饰、皮具皮革</p>
								</div>
							</td>
							<td><strong class="deaf">20</strong>元</td>
							<td>月</td>
							<td class="muted">开始2015-11-11<br/>结束2015-12-11</td>
							<td class="muted">应用中</td>
							<td><a href="">再次购买</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="g-c-f af-page"></div>
		</div>
	</div>
</body>
</html>