<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<title>Document</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="http://res.csc86.com/f=css/base-reset.css,css/m/app-frame/style.css,css/c/membercenter/mem-foot.css,css/c/membercenter/member.css,css/m/zzmark/css.css" /><script src="http://res.csc86.com/f=js/l/jquery.js,js/p/seajs/1.2.0/dist/sea.js,js/m/config.js,js/c/membercenter/member.js"></script><link rel="stylesheet" href="http://res.csc86.com/f=css/c/memberhome/m-public.css,css/c/memberhome/m-top.css,css/c/memberhome/m-left.css,css/c/memberhome/m-right.css,css/c/memberhome/m-mid.css,css/c/memberhome/m-foot.css" /><script src="http://res.csc86.com/f=js/c/memberhome/m-home.js"></script>
	<link rel="stylesheet" href="../../template.css"/>
</head>
<body>
	<div class="g-o-a app-frame offer">
		<div class="af-nav"></div>
		<div class="af-bd">
			<h2 class="af-hd">模板详情</h2>
			<div class="g-c-f template-detail">
				<div class="g-f-l thumb">
					<img src="/image/no-img.png" alt="" width="300" height="400"/>
				</div>
				<div class="g-f-l">
					<h1 class="g-fs-22 g-fw-n">蓝黑色调企业官网通用行业模板</h1>
					<dl class="g-fs-14 g-lh-32 muted param">
						<dt>配　　色：</dt>
						<dd>红色</dd>
						<dt>推荐行业：</dt>
						<dd>纺织行业、服装服饰、皮具皮革</dd>
						<dt>热　　度：</dt>
						<dd><div class="g-d-ib stars-bd"><div class="g-d-ib star-4"></div></div></dd>
						<dt>价　　格：</dt>
						<dd>
							<ul class="g-c-f prices">
								<li><strong class="deaf">20</strong> 元/月</li>
								<li class="cur"><strong class="deaf">50</strong> 元/季</li>
								<li><strong class="deaf">100</strong> 元/年</li>
								<li><strong class="deaf">300</strong> 元/永久有效</li>
							</ul>
						</dd>
					</dl>
					<a href="" class="buy-now">立即购买</a>
					<div class="tips muted">
						<strong>友情提示：</strong>
						<p>
							1.支付成功才能正常使用该模板，支付不成功时可在我购买的模板中继续支付；<br/>
							2.购买成功后，该模板将立即应用至您的旺铺，刷新旺铺即可。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>