<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<title>Document</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="http://res.csc86.com/f=css/base-reset.css,css/m/app-frame/style.css,css/c/membercenter/mem-foot.css,css/c/membercenter/member.css,css/m/zzmark/css.css" /><script src="http://res.csc86.com/f=js/l/jquery.js,js/p/seajs/1.2.0/dist/sea.js,js/m/config.js,js/c/membercenter/member.js"></script><link rel="stylesheet" href="http://res.csc86.com/f=css/c/memberhome/m-public.css,css/c/memberhome/m-top.css,css/c/memberhome/m-left.css,css/c/memberhome/m-right.css,css/c/memberhome/m-mid.css,css/c/memberhome/m-foot.css" /><script src="http://res.csc86.com/f=js/c/memberhome/m-home.js"></script>
	<link rel="stylesheet" href="../../template.css"/>
</head>
<body>
	<div class="g-o-a app-frame offer">
		<div class="af-nav"></div>
		<div class="af-bd">
			<h1 class="af-hd">模板市场</h1>
			<ul class="g-c-f af-tab">
				<li class="cur"><a href="">所有模板</a></li>
				<li><a href="">推荐模板</a></li>
				<li><a href="">免费模板</a></li>
			</ul>
			<div class="template-filter">
				<ul>
					<li>
						<div class="term">配色：</div>
						<ul class="items">
							<li><a href="">全部</a></li>
							<li><a href="">红色</a></li>
							<li><a href="">紫色</a></li>
							<li><a href="">蓝色</a></li>
							<li><a href="">绿色</a></li>
							<li><a href="">黄色</a></li>
							<li><a href="">黑色</a></li>
							<li><a href="">橙色</a></li>
						</ul>
					</li>
					<li class="industry">
						<div class="term">推荐行业：</div>
						<ul class="items">
							<li><a href="">全部</a></li>
							<li><a href="">皮具皮革</a></li>
							<li><a href="">机械电子</a></li>
							<li><a href="">工业原料</a></li>
							<li><a href="">纺织行业</a></li>
							<li><a href="">服装服饰</a></li>
							<li><a href="">包装印刷</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="g-h-20"></div>
			<div class="market-list">
				<ul class="g-c-f">
					<li class="item">
						<a href="" class="thumb"><img src="/image/no-img.png" alt="" width="240" height="320"/></a>
						<a href="" class="t">欧美范女装箱包内衣女鞋</a>
						<div class="stars"><span class="muted">热度：</span><div class="g-d-ib stars-bd"><div class="g-d-ib star-1"></div></div></div>
						<div class="price"><span class="muted">价格：</span><span class="deaf">免费</span></div>
						<div class="g-c-f btns">
							<a href="" class="preview">预览</a>
							<a href="" class="buy">购买</a>
						</div>
					</li>
					<li class="item">
						<a href="" class="thumb"><img src="/image/no-img.png" alt="" width="240" height="320"/></a>
						<a href="" class="t">欧美范女装箱包内衣女鞋</a>
						<div class="stars"><span class="muted">热度：</span><div class="g-d-ib stars-bd"><div class="g-d-ib star-5"></div></div></div>
						<div class="price"><span class="muted">价格：</span><strong class="deaf">50</strong>/月</div>
						<div class="g-c-f btns">
							<a href="" class="preview">预览</a>
							<a href="" class="buy">购买</a>
						</div>
					</li>
					<li class="item">
						<a href="" class="thumb"><img src="/image/no-img.png" alt="" width="240" height="320"/></a>
						<a href="" class="t">欧美范女装箱包内衣女鞋</a>
						<div class="stars"><span class="muted">热度：</span><div class="g-d-ib stars-bd"><div class="g-d-ib star-3"></div></div></div>
						<div class="price"><span class="muted">价格：</span><strong class="deaf">50</strong>/月</div>
						<div class="g-c-f btns">
							<a href="" class="preview">预览</a>
							<a href="" class="buy">购买</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="g-h-20"></div>
		</div>
	</div>
</body>
</html>