<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<title>Document</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="http://res.csc86.com/f=css/base-reset.css,css/m/app-frame/style.css,css/c/membercenter/mem-foot.css,css/c/membercenter/member.css,css/m/zzmark/css.css" /><script src="http://res.csc86.com/f=js/l/jquery.js,js/p/seajs/1.2.0/dist/sea.js,js/m/config.js,js/c/membercenter/member.js"></script><link rel="stylesheet" href="http://res.csc86.com/f=css/c/memberhome/m-public.css,css/c/memberhome/m-top.css,css/c/memberhome/m-left.css,css/c/memberhome/m-right.css,css/c/memberhome/m-mid.css,css/c/memberhome/m-foot.css" /><script src="http://res.csc86.com/f=js/c/memberhome/m-home.js"></script>
	<link rel="stylesheet" href="../../template.css"/>
</head>
<body>
	<div class="g-o-a app-frame offer">
		<div class="af-nav"></div>
		<div class="af-bd">
			<h1 class="af-hd">模板购买成功</h1>
			<div class="ad-d-b ad-paid">
				<div>
					<strong>恭喜您，模板购买成功！</strong>
					<p>恭喜您，模板购买成功！</p>
					<a href="javascript:" class="a1">继续购买模板</a>
					<a href="javascript:" class="a2">查看我的模板</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>