body{background: url(../images/body_bg.jpg) repeat-x 0 125px;}
.c{zoom:1;}
.c:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

.w1228{width: 1228px;margin: 0 auto;}
.container{width: 100%;background: url(../images/banner.jpg) no-repeat center 0;padding-top: 516px;}
.content{overflow: hidden;background: url(../images/content_bg.jpg) no-repeat;width: 1228px;margin: 0 auto;height: 2140px;}

.footer{width: 1228px;position: relative;margin: -80px auto 0;}

.mt_3{margin-top: 3px}
.items{font-family:  'Microsoft YaHei';color: #fff}
.items1{margin: 114px 0 0 696px;width: 394px;}
.items2{margin: 274px 0 0 116px;width: 389px; text-align: right;}
.items3{margin: 159px 0 0 617px;width: 500px;}
.items4{margin: 238px 0 0 684px;width: 390px;}

.items h2{font-size:23px;font-weight: normal; }
.items p{font-size: 16px;line-height: 24px;}
.items span{margin-top: 10px;display: block;width: 173px;height: 45px;overflow: hidden;text-align: left;text-indent: -999px}
.items_btn1{background: url(../images/btn1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/btn1.png");}
.items_btn2{float: right;display: inline;background: url(../images/btn2.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/btn2.png");}
.items_btn3{background: url(../images/btn3.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/btn3.png");}
.items span.items_btn4{background: url(../images/btn4.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/btn4.png");width: 328px;height: 82px}
.items a{color: #fff;padding-top: 90px;display: block;cursor: pointer;}
.items a:hover{text-decoration: none;}