.top{height:62px;border-bottom:solid 4px #f10267;background:#fff;}
.top_a a{line-height:62px;font-size:14px;color:#000;margin:0 10px;}
a,map,area{outline:none;}
a:hover{color:#f60;}
html,body{font-family:"microsoft yahei";background:#7e0000;}
.g-o-a{width:952px;}
.banner{height:699px;background:url(../img/head.jpg) center 0 no-repeat;}
.b_in{position:relative;}
.b_in .join{font-size:22px;color:#fff;position:absolute;top:327px;left:420px;}
.b_in .join a{color:#fff;}
.bdshare{position:absolute;top:10px;right:5px;width:160px;}

.b_in .join .mail{position:relative;top:5px;left:5px;_top:0;display:inline-block;text-indent:-9999em;width:163px;height:28px;overflow:hidden;background:url(../img/join.jpg) no-repeat;}
.b_in .join .mail:hover{background-position:0 -28px ;}
.b_in .stage{position:absolute;top:184px;left:753px;font-size:14px;color:#fff;font-weight:700;}

.nav a{position:absolute;width:228px;height:228px;display:block;top:424px;text-indent:-9999em;}
.nav .n1{left:15px;}
.nav .n2{left:248px;}
.nav .n3{left:481px;}
.nav .n4{left:712px;}

.line1{padding:0 0 0 1px;background:url(../img/line1.jpg) no-repeat;}
.line2{padding:0 1px 0 0;background:url(../img/line2.jpg) right 0 no-repeat;}

.block{padding:0 0 0 270px;color:#fff;}

.bl1{height:244px;background:#9000c5 url(../img/1.jpg) 130px center no-repeat;}
.bl2{height:489px;background:#ef3f3e url(../img/2.jpg) 130px center no-repeat;}
.bl3{height:244px;background:#ffb345 url(../img/3.jpg) 130px center no-repeat;}
.bl4{height:240px;background:#18c09f url(../img/4.jpg) 130px center no-repeat;}

.bl1 p{font-size:16px;line-height:30px;text-indent:32px;padding:0 135px 0 0;}
.bl1 .tit{font-weight:700;padding:15px 0 0;text-indent:0px;}
.bl1 a,.bl4 a{color:#fff;}
.block .c1{color:#ffd200;}

.bl2 h3{font-size:16px;padding:40px 0 0;}
.bl2 ul li{padding:0 50px 0 150px;width:135px;height:106px;overflow:hidden;float:left;margin:25px 0 0;background:url(../img/icon.png) 10px 0 no-repeat;}
.bl2 ul li h4{font-weight:400;font-size:16px;margin:0 0 7px;}
.bl2 ul li p{line-height:18px;}
.bl2 ul .l2{background-position:10px -126px;}
.bl2 ul .l3{background-position:10px -252px;}
.bl2 ul .l4{background-position:10px -378px;}
.bl2 ul .l5{background-position:10px -504px;}
.bl2 ul .l6{background-position:10px -630px;}

.bl3 div,.bl4 div{padding:55px 0 0;line-height:31px;font-size:17px;}
.ma{padding:40px 0;background:#fff6c5;text-align:center;}
.link{background:#fff;margin-bottom:50px;padding-bottom:30px;}
.foot-lg span{display:inline-block;border:solid 1px #d2d2d2;margin:0 5px;}

.fiexd_nav{ display:none;}
.fiexd{ position:fixed; height:63px; width:248px; right:10px; top:80px; background:url(../img/tel.png) no-repeat 0 0;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50));}
.link-lc{text-align:center;}

.tablewidth{ background:#fff; width:523px; position:relative; }
.tablewidth table{ margin:50px 0 0 0px;height:195px;width:523px; }
.tablewidth tr{height:30px; line-height:30px; width:523px;}
.tablewidth tr td{padding:10px; color:#333;}
.tablewidth tr td span{ color:#f30; margin-left:5px; display:none;}
.tablewidth tr th{width:110px; text-align:right; font-weight:normal; font-size:14px;}
.tablewidth tr th em{color:#f30;}

#myform{padding-top:40px;}
ul.lay-ul{height:195px;width:523px; }
#myform li{height:30px; line-height:30px; width:523px; padding:6px 0; list-style:none;}
#myform span{ width:90px; display:inline-block; font-size:14px;}
#myform li.lay0101 span{ _margin-left:13px;}
#myform span i{ color:#C00; margin-right:6px; font-style:normal;}
.tab-title{ height:40px; background:#ededed; line-height:40px; padding-left:20px; font-size:18px; font-weight:600; color:#202020; position:absolute; top:-20px; left:-78px; width:600px;_width:617px;}
.tab-title a{ width:20px; height:15px; display:inline-block; background:url(../img/close.png) no-repeat left top;margin:10px 10px 0 0;}
.tablewidth input{ height:26px; line-height:26px; width:250px; padding:0 6px; }
.btn-sub{ height:34px; text-align:center;}
.btn-sub button{ width:118px; height:34px; line-height:34px; font-weight:700; text-align:center; margin:0 auto; font-size:15px; color:#f9f3d6; background:url(../img/sub.png) no-repeat top left; border:none; cursor:pointer; margin-top:20px;}
.aui_dialog .aui_buttons{ text-align:center; margin-bottom:20px; display:none;}
#dosubmit{width:118px; height:34px; line-height:34px; font-weight:700; text-align:center; margin:0 auto; font-size:15px; color:#f9f3d6; background:url(../img/sub.png) no-repeat top left; border:none; cursor:pointer; margin:20px 0 0 120px;}