@charset "utf-8";
/*public*/
.bg-fcf3d1{background-color:#fcf3d1; color:#444;}
.christmas .nav_img{ background:#ffbb02;}
.nav_img .bg1{background:url(img/01.jpg) no-repeat center 0;height:114px;}
.nav_img .bg2{background:url(img/02.jpg) no-repeat center 0;height:112px;}
.nav_img .bg3{background:url(img/03.jpg) no-repeat center 0;height:132px;}
.nav_img .bg4{background:url(img/04.jpg) no-repeat center 0;height:90px;}
.nav_img .bg5{background:url(img/05.jpg) no-repeat center 0; height:117px;}
.christmas .nav_img img{ display:block; margin:0 auto;}

.christmas { background:#ffbb02;}

.con1 .bg1{background:url(img/06.jpg) no-repeat center 0; height:174px;}
.con1 .bg2{background:url(img/07.jpg) no-repeat center 0; height:364px;}
.con1 .bg3{background:url(img/08.jpg) no-repeat center 0; height:247px;}
.con1 .main{ position:relative;}
.con1 .main_inner{ position:absolute; left:0; top:-665px;}

.con1 ul{ padding-left:20px;}
.con1 li img{ padding-bottom:3px; background:#f7112e;}
.con1 li h2{font-family: Microsoft YaHei,simhei; font-size:21px;height:30px; line-height:30px; margin-top:3px; overflow:hidden;}
.con1 li h2 a{ color:#f7112e; }
.con1 li h2 a:hover{ text-decoration:none;}
.con1 li{ float:left; display:inline; width:230px; padding-right:8px;}
.con1 li span{font-family: Microsoft YaHei,simhei; font-size:15px; display:block; height:44px; line-height:22px; overflow:hidden;}
.con1 li.item2 h2{ height:25px; line-height:25px; overflow:hidden; margin:0 0 3px;}
.con1 li.item2 h2 a{ color:#7fd629;}
.con1 li.item2 img{ padding:3px 0 0; background:#7fd32a;}

.con1 li.item3 h2 a{ color:#a39648;}
.con1 li.item3 img{ padding:0 0 3px; background:#a39648; }
.con1 li.item4 h2{ height:25px; line-height:25px; overflow:hidden; margin:0 0 3px;}
.con1 li.item4 h2 a{ color:#2f2f2f;}
.con1 li.item4 img{ padding:3px 0 0; background:#2f2f2f;}
.jiathis_style .separator, .jiathis_style .jiathis_separator,.jiathis_style .button, .jiathis_style .jiathis_txt{ color:#fff !important; font-weight:700;}
.b_item{ padding-top:30px;}
.b_item li{ position:relative;}
.b_item li img{ background:#45617f;}
.b_item li  div.bg{ display:none;_display:block; width:230px; height:150px; position:absolute; top:0; left:0; background:#45617f; opacity:0.6; filter:alpha(opacity=50); }
.b_item li .font { display:none;_display:block; width:210px; color:#fff; height:130px; padding:10px;top:0;font-family: Microsoft YaHei,simhei; font-size:15px; left:0; color:#fff; position:absolute;}
.b_item li:hover .font,.b_item li:hover .bg{ display:block; color:#fff; text-decoration:none;}
.b_item li .font span{ font-size:18px; display:block; overflow:hidden; height:24px; line-height:24px; font-weight:700; }

.con2 .bg1{background:url(img/10.jpg) no-repeat center 0; height:293px;}
.con2 .bg2{background:url(img/11.jpg) no-repeat center 0; height:285px;}
.con2 .bg3{background:url(img/12.jpg) no-repeat center 0; height:280px;}
.con2 .main{ position:relative; height:0px;}

.con2 .main .main_inner{ position:absolute; left:21px; top:-801px; height:750px;}
.con2 .top_item{ position:relative; width:945px; height:602px;}
.con2 .top_item li{ position:absolute; width:150px; height:150px; overflow:hidden; border-radius:50%; top:0; left:0;}
.con2 .top_item li.item1{ top:90px; left:249px;}
.con2 .top_item li.item1 i{ position:absolute; z-index:3; left:-49px; top:-20px; background:url(img/02.png) no-repeat 0 0; width:215px; height:196px;}
.con2 .top_item li.item2{ top:276px; left:301px; width:183px; height:183px;}
.con2 .top_item li.item2 i{ position:absolute; z-index:3; left:-48px; top:-22px; background:url(img/01.png) no-repeat 0 0; width:295px; height:240px;}
.con2 .top_item li.item3{ top:11px; left:436px; width:118px; height:118px;}
.con2 .top_item li.item3 i{ position:absolute; z-index:3; left:-22px; top:-18px; background:url(img/03.png) no-repeat 0 0; width:177px; height:149px;}
.con2 .top_item li.item4{ top:72px; left:793px; width:132px; height:132px;}
.con2 .top_item li.item4 i{ position:absolute; z-index:3; left:-56px; top:-20px; background:url(img/04.png) no-repeat 0 0; width:196px; height:167px;}
.con2 .top_item li.item5{ top:372px; left:714px; width:183px; height:183px;}
.con2 .top_item li.item5 i{ position:absolute; z-index:3; left:-22px; top:-26px; background:url(img/05.png) no-repeat 0 0; width:229px; height:233px;}

.con2 .b_item{ padding-top:5px;}
.con2 .b_item li{ width:230px; margin-right:8px; display:inline; float:left; }
.con2 .b_item li img{ padding-bottom:3px; background:#f7112e;}
.con2 .b_item li:hover .bg{ background:#f7112e;}
.con2 .top_item h2{ font-size:16px; height:25px; line-height:25px; overflow:hidden; font-family:Microsoft YaHei,simhei; color:#f7112e; margin-left:40px;}
.con2 .top_item .item2 h2{ margin-left:62px;}
.con2 .top_item .item3 h2{ margin-left:35px;}
.con2 .top_item .item4 h2{ margin-left:26px;}
.con2 .top_item .item5 h2{ margin-left:59px;}
.con2 .top_item .bg{ position:absolute; display:none; width:230px; top:0; left:0; height:190px; opacity:0.5; filter:alpha(opacity=50);  background:#45617f;}
.con2 .top_item .font{position:absolute; display:none; overflow:hidden; line-height:16px; top:40px; left:16px; width:120px; height:85px;  color:#FFF; z-index:4;}
.con2 .top_item li.item2 .font{ top:12px; padding-top:50px; left:20px; width:146px; height:120px;}
.con2 .top_item li.item3 .font{ top:21px; left:16px; width:107px; height:65px;}
.con2 .top_item li.item4 .font{ top:35px; left:14px; width:118px; height:85px;}
.con2 .top_item li.item5 .font{ top:63px; left:31px; width:131px; height:85px;}
.con2 .top_item .hover .bg,.con2 .top_item :hover .bg,.con2 .top_item :hover .font,.con2 .top_item .hover .font{ display:block; text-decoration:none;}

.con3 .bg1{background:url(img/13.jpg) no-repeat center 0; height:181px;}
.con3 .bg2{background:url(img/14.jpg) no-repeat center 0; height:233px;}
.con3 .bg3{background:url(img/15.jpg) no-repeat center 0; height:305px;}
.con3 .main{ position:relative; height:0px;}
.con3 .main .main_inner{ position:absolute; top:-630px; padding:20px 0 0 20px;}


.con3 li{ width:230px; float:left; display:inline; margin-right:8px;}

.con3 .top li .bg{background:#e91e15;padding:0 15px;font-family:Microsoft YaHei,simhei; overflow:hidden; height:70px;}
.con3 .top li .bg a{ display:block; color:#fff; height:30px; line-height:30px; overflow:hidden; font-size:21px;font-family:Microsoft YaHei,simhei; }
.con3 .top li .bg a:hover{ text-decoration:none; }
.con3 .top li .bg span{  display:block; color:#fff;}
.con3 .b_item img{ padding-bottom:3px; background:#298e1e;}
.con3 .b_item .bg{ background:#298e1e; }


.nav_item{ position:fixed; display:none; right:50px; top:200px; height:463px; width:165px; background:url(img/right_nav.png) no-repeat left top;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50));}
.nav_item ul{ padding-top:106px;  }
.nav_item li{ height:39px; margin-bottom:18px; }
.nav_item li.item2{ margin-bottom:10px;}
.nav_item li a{ display:block; height:40px; }
.nav_item li.huo{ margin-top:44px;}
.fiexd_nav{ display:block;}

.fei_xi{ position:absolute; right:50px; top:-1338px;}
/*footer*/
.footer{ text-align:center; line-height:26px; padding:20px 0;background:#ffbb02; height:181px; color:#fff;}
.footer a,.footer a:hover{margin:0 5px; color:#fff;}