/* CSS 5 */
*html { background-attachment:fixed; background-image:URL("about:blank");}
.g-o-a{ width:990px;}
.huo-top { height:27px; line-height:27px; background:#F1F1F1;}
.huo-top span{ float:right;}
.huo-top span a{ margin:0 5px; color:#333; }
.huo-top span a:hover{ color:#067ed4; text-decoration:none; }
/*搜索*/
.m-search .ss-txt { border:2px solid #e60000;}
.m-search div .btn { background: url(img/search-btn.png) no-repeat;}
.m-search ul li.cur a, .m-search ul li.cur a:hover, .hot-keys a:hover{ color: #e60000;}

/*导航*/
.main-nav { background:url(img/nav-bg.png) repeat-x; }
.main-nav .g-o-a { position: relative; }
.main-nav div .ico1 { position:absolute; bottom:-131px; left:-8px;}
.main-nav div .ico2 { position:absolute; bottom:6px; right:132px;}
#red-nav { margin-left:150px;}
#red-nav li{float:left; background:url(img/clip.png) left 2px no-repeat; height:46px; padding:10px 40px 0 40px; }
#red-nav li a { display:inline-block;color:#f6aeac; font-weight:700; line-height:24px; padding-top:18px;}
#red-nav li.fir a{ background:url(img/nav-ico1.png) top center no-repeat;}
#red-nav li.sec a{background:url(img/nav-ico2.png) top center no-repeat ;}
#red-nav li.las a {background:url(img/nav-ico3.png) top center no-repeat;}

#red-nav li a:hover { color:#FFF; text-decoration:none }
.top-banner{ height:500px; background:url(img/tit-bg.png) no-repeat top center;}
.cont-box{ background:#fff; padding:3px 8px;}

.content{ background:url(img/BG.png) repeat left top; padding:15px 0 30px 0;}
.banner{ background:#fff; border:1px solid #cdcdce; padding:8px;}

.act{ height:230px;}
.act h2{ height:37px; padding-left:80px; line-height:37px;  color:#000; font-size:20px; font-family:Microsoft YaHei,simhei; font-weight:normal;}
.pjs,.pfs,.plc{background:url(img/line.png) repeat-x top left;}
.act-l{ width:615px; float:left;}
.p-h{padding-top:26px; color:#494949;}
.pjs span{ width:102px; height:113px; float:left;}
.js-r{ float:right; width:495px; padding-left:15px; font-size:14px;}
.top-h{ padding-top:15px;}
.pfs{ padding-top:10px; text-align:center; font-size:14px;}
.pfs div{ color:#737475;}
.pfs a{ width:254px; height:55px; background:url(img/btn01.png) no-repeat left top; color:#fff; display:inline-block; line-height:55px; text-align:center; font-size:22px;}
.pfs a:hover{ background:url(img/btn02.png) no-repeat left top; text-decoration:none;}
.psf-h{ padding-top:10px;}
.act-r{ width:330px; float:right;}
.plc{ text-align:left; font-size:14px; padding-left:42px;}
.ajs{ background:url(img/icon01.png) no-repeat 35px 0;}
.bfs{ background:url(img/icon02.png) no-repeat 35px 5px;}
.ayq{ background:url(img/icon03.png) no-repeat 35px 0;}
.blc{ background:url(img/icon04.png) no-repeat 35px 2px;}
.icon-3{ background:url(img/line.png) repeat-x top left; text-align:center; padding-top:30px;}
.icon-3 a{ width:94px; height:81px; display:inline-block; margin-right:10px;}
.icon-3 a.ic1{ background:url(img/icon05.png) no-repeat left top;}
.icon-3 a.ic2{ background:url(img/icon06.png) no-repeat left top;}
.icon-3 a.ic3{ background:url(img/icon07.png) no-repeat left top;}
.icon-3 a.ic1:hover{ background:url(img/icon051.png) no-repeat left top;}
.icon-3 a.ic2:hover{ background:url(img/icon061.png) no-repeat left top;}
.icon-3 a.ic3:hover{ background:url(img/icon071.png) no-repeat left top;}
.js-r p em{ color:#ff3601;}
.footer03{ background:#3b3b3b; color:#808080;}
.footer03 .link{ border:0;}
.footer03 .love-links a{ color:#808080;}


