@import url('/v2/m/init/css/style.css');
@import url('/v2/c2/newcgsc/css/newtop.css');

/*@import url('/v2/m/newsearch/css/style.css');*/
@import url('/v2/m/bot-rightcopy/css/style.css');
@import url('/v2/c2/newcgsc/css/newsearch.css');

/*logo和搜索*/

/*通用样式*/
body {
	background: #ededed;
	color: #444;
	font: 12px/1.5 arial, simsun;
}
a {
	color: #444;
	outline: none;
}
a:hover {
	color: #f67301;
	text-decoration: none;
}

/*f74701*/

 /**头部广告**/
#bannerAll{display:none}
.max-banner,.min-banner{ position:relative;}
.max-banner span,.min-banner span{ width:15px; height:15px; display:inline-block; background:url(../image/ind-close.png) no-repeat left top; cursor:pointer; position:absolute; right:12px; top:12px;}
.min-banner{ display:none;}
.bgf{ background:#fff;}
.bord{ border:1px solid #ebebeb}


/*公告提示*/

.tsgg{  border:1px solid #EA0000;background:url(//res.csc86.com/v2/c2/newcgsc/css/img/warning.png) 13px 8px no-repeat;}
.tsgg p{font-size:14px; line-height:25px;  padding:5px 0px 5px 45px;}
/*返回头部重新*/
.g-back-btn {
	background-color: #233240 !important;
	margin-bottom: 5px;
	 width:40px; height:40px;
	
}
.g-back-btn:hover {
	background-color: #233240 !important;
}
.g-wslm-btn:hover {
	opacity: 0.5;
}
.g-wslm-btn {
	margin-bottom: 5px;
	border:1px solid #ccc;
}
.g-xbyjfk-btn {
	display: block;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background-color: #fff;
	margin-bottom: 6px;
	border:1px solid #ccc;
}
.g-xbyjfk-btn .em1 {
	display: inline-block;
	width: 40px;
	margin-top: 2px;
	color: #333;
	line-height: 18px;
	text-align: center;
}
.g-xbyjfk-btn .em2 {
	display: inline-block;
	width: 40px;
	color: #333;
	line-height: 18px;
	text-align: center;
}
.g-code {
	padding: 15px 18px 80px 15px !important;
}

/*logo和搜索部分重写*/
.g_logo {
	width: auto;
}
.g_logo  h1, .g_logo .line, .g_logo h2 {
	float: left;
	overflow: hidden;
}
.g_logo  h1 {
	margin-right: 10px;
}
.g_logo .line {
	width: 0px;
	height: 40px;
	border-right: 1px solid #d2d2d2;
	margin-top: 10px;
	margin-right: 14px;
}
.g_logo h2 {
	background: url(img/logo.png) no-repeat;
	width: 171px;
	height: 48px;
	line-height: 999px;
	margin-top: 41px;
}
.ch_search .ared, .ch_search a:hover, .ch_search a:active {
	color: #f67301;
}
.search_txt {
	border-color: #3385ff;
}
.search_k input.btn {
	background: #3385ff;
}

/*采购商城地方站切换样式*/
.cgsc-zhuz {
	margin-top: 5px;
	margin-left: 15px;
	text-align:center;
	float:left;
	height: 25px;
	line-height: 25px;
	color: #233240;
	font-family: '微软雅黑';
	font-size: 16px;
}
.zdxx{ width:110px; float:left}
.cgsc-ziz {
	font-family: '微软雅黑';
	float: left;
	margin-top: 0px;
	cursor: pointer;
	margin-left: 0px;
	height: 22px;
	z-index: 99;
	line-height: 22px;
	width: 70px;
	position: relative;
}
.cgsc-ziz span {
	width: 100px;
	text-align: left;
	display: block;
	color: #888;
	font-size: 12px;
}
.cgsc-ziz em {
	position: absolute;
	right: 5px;
	top: 13px;
	width: 5px;
	height: 3px;

}
.cgsc-ziz .cgsc-lbk {
	position: absolute;
	top: 22px;
	left: -1px;
	width: 70px;
	border: 1px solid #efefef;
	background-color: #fff;
	z-index: 999;
	text-align: center;
	display: none;
}
.cgsc-ziz .cgsc-lbk ul {
}
.cgsc-ziz .cgsc-lbk li {
	height: 28px;
	line-height: 28px;
}
.cgsc-ziz .cgsc-lbk li.cur {
	background-color: #ff923a;
	color: #ff500b;
}
.cgsc-ziz .cgsc-lbk li.cur a{ color:#fff;}

/*顶部导航重新*/
.hoverMnu {
	z-index: 100;
}

/*公司 产品切换样式重写*/

/*.ch_search .ared, .ch_search a:active, .ch_search a:hover{color:#233240}*/

/*底部重写*/
.frie-links {
	padding: 6px;
	width: 1000px;
	border-bottom: 2px solid #151e26;
}
.frie-links dd {
	width: 880px;
}
.frie-links dt{color:#fff;}
.frie-links a{ color:#fff;}
/*.frie-links .more span{*/
	 /*background:url(../image/arr.png) 0 0 no-repeat;*/
	/*}*/
/*改版王雪莲start*/
.frie-links .more span{
	background:url(../image/arr-new.png) 0 0 no-repeat;
}
/*改版王雪莲end*/
.link {
	border-top: none;
}
.love-links a{ color:#fff} 
.footer_nav_wp {
	height: 160px;
	padding-bottom:20px;
}
.footer_nav dl {
	width: 180px;
}
.footer_nav a:hover{ color:#f67301}
.footer_nav dl  dt{ color:#444;}
.footer_nav dl dd  a{ color:#666;}

/**首页通用样式**/
.indx-flr {
	word-break: break-all;

	 
}

/*价格样式*/
.price {
	font-size: 18px;
	color: #f67301;
	font-family: Arial;
}
.price em, .price i {
	font-style: normal;
}
.price em {
	font-size: 16px;
	font-family: Microsoft YaHei;
	padding-right:4px;
}

/*产品列表*/
.kgpro-lst li {
	float: left;
}
.kgpro-lst .pic, .kgpro-lst .pic .i {
	width: 218px;
	height: 218px;
}
.kgpro-lst .pic .i {
	*font-size: 190px;
}
.kgpro-lst .pic .i img {
	max-width: 218px;
	max-height: 218px;
}
.kgpro-lst .title, .kgpro-lst .price, .kgpro-lst .decr {
	padding-left: 10px;
	padding-right: 10px;
}
.kgpro-lst .price.mt{ margin-top:4px; *zoom:1}
.kgpro-lst .title, .kgpro-lst .decr {
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.kgpro-lst .title {
	margin-top: 5px; font-size:14px; color:#333; font-family:Microsoft Yahei; 
	position:relative;
}
.kgpro-lst .title a{ color:#222;}
.kgpro-lst .title a:hover{ color:#f67301; text-decoration:underline;}
.kgpro-lst .decr a {
	color: #777;
}
.kgpro-lst .red{ color:#ff1e1e; display:block; float:left; height:30px; line-height:30px;}
.kgpro-lst .cjl{ font-size:12px;color:#6c6c6c; display:block; float:right; height:30px; line-height:30px;}

/*orgtab-lst*/
.orgtab-lst {
	position: absolute;
	right: 5px;
	top: 3px;
	height: 30px;
}
.orgtab-lst li {
	float: left;
	height: 32px;
	padding-left: 15px;
	padding-right: 15px;
	font: 14px/30px Microsoft YaHei;
	cursor: pointer;
	overflow: hidden;
}
.orgtab-lst .cur {
	border-bottom: 2px solid #233240;
	color: #233240;
}

/*banner轮播和精选热销左右箭头*/
.slide-box .prev, .slide-box .next, .jxrx-bd .prev, .jxrx-bd .next {
	display: none;
	position: absolute;
	background: #c8c8c8 url(img/sf.png) no-repeat;
	background: rgba(0,0,0,0.3) url(img/sf.png) no-repeat;
	width: 29px;
	height: 50px;
	line-height: 999px;
	cursor: pointer;
	overflow: hidden;
}
.slide-box .prev, .jxrx-bd .prev {
	background-position: 0 -230px;
}
.slide-box .next, .jxrx-bd .next {
	background-position: -29px -230px;
}
.slide-box .prev:hover, .slide-box .next:hover, .jxrx-bd .prev:hover, .jxrx-bd .next:hover {
	background-color: #878787;
	background-color:rgba(0,0,0,0.7);
}

/**导航部分**/
.main-nav {
	height: 35px;
	background:#fafafa;
	min-width:1190px;
	font-family: Microsoft YaHei;
}
.main-nav-bd {
	z-index: 10;
}

/*商品分类*/
.ctgry-box {
	position: absolute;
	left: 0;
	width: 200px;
	
}
.ctgry-box .box-hd {
	background-color: #242d3a;
	height: 35px;
	line-height: 35px;
	color: #fff;
	overflow: hidden;
}
.ctgry-icon, .ctgry-frst-lst .bd {
	display: inline-block;
	vertical-align: middle;
}
.ctgry-box .box-hd h2 span{display: inline-block; }
.ctgry-frst-lst .bd i{ display:inline-block; width:25px; height:20px; float:left; margin-top:10px;}
.ctgry-frst-lst .bd i.i1{ background-position:0px 0px;}
.ctgry-frst-lst .hover .bd i.i1{background-position:-100px 0px;}
.ctgry-frst-lst .bd i.i2{ background-position:0px -50px;}
.ctgry-frst-lst .hover .bd i.i2{background-position:-100px -50px;}
.ctgry-frst-lst .bd i.i3{ background-position:0px -100px;}
.ctgry-frst-lst .hover .bd i.i3{background-position:-100px -100px;}
.ctgry-frst-lst .bd i.i4{ background-position:0px -150px;}
.ctgry-frst-lst .hover .bd i.i4{background-position:-100px -150px;}
.ctgry-frst-lst .bd i.i5{ background-position:0px -200px;}
.ctgry-frst-lst .hover .bd i.i5{background-position:-100px -200px;}
.ctgry-frst-lst .bd i.i6{ background-position:0px -250px;}
.ctgry-frst-lst .hover .bd i.i6{background-position:-100px -250px;}
.ctgry-frst-lst .bd i.i7{ background-position:0px -300px;}
.ctgry-frst-lst .hover .bd i.i7{background-position:-100px -300px;}
.ctgry-frst-lst .bd i.i8{ background-position:0px -350px;}
.ctgry-frst-lst .hover .bd i.i8{background-position:-100px -350px;}
.ctgry-frst-lst .bd i.i9{ background-position:0px -400px;}
.ctgry-frst-lst .hover .bd i.i9{background-position:-100px -400px;}
.ctgry-frst-lst .bd i.i10{ background-position:0px -450px;}
.ctgry-frst-lst .hover .bd i.i10{background-position:-100px -450px;}
.ctgry-icon {
	background: url(img/ctgry-sf.png) no-repeat;
	width: 19px;
	height: 19px;
	margin-right: 18px;
}
.ctgry-icon3, .ctgry-icon8, .ctgry-icon9, .ctgry-icon10 {
	height: 16px;
}
.ctgry-icon6, .ctgry-frst-lst .hover .ctgry-icon6 {
	height: 15px;
}
.ctgry-icon11, .ctgry-frst-lst .hover .ctgry-icon11 {
	height: 17px;
}
.ctgry-icon1 {
	background-position: 0 0;
	width: 24px;
	height: 22px;
}
.ctgry-icon2 {
	background-position: 0 -23px;
}
.ctgry-icon3 {
	background-position: 0 -43px;
}
.ctgry-icon4 {
	background-position: 0 -60px;
}
.ctgry-icon5 {
	background-position: 0 -80px;
}
.ctgry-icon6 {
	background-position: 0 -100px;
}
.ctgry-icon7 {
	background-position: 0 -116px;
}
.ctgry-icon8 {
	background-position: 0 -136px;
}
.ctgry-icon9 {
	background-position: 0 -153px;
}
.ctgry-icon10 {
	background-position: 0 -170px;
}
.ctgry-icon11 {
	background-position: 0 -187px;
}
.ctgry-frst-lst .hover .ctgry-icon2 {
	background-position: -20px -23px;
}
.ctgry-frst-lst .hover .ctgry-icon3 {
	background-position: -20px -43px;
}
.ctgry-frst-lst .hover .ctgry-icon4 {
	background-position: -20px -60px;
}
.ctgry-frst-lst .hover .ctgry-icon5 {
	background-position: -20px -80px;
}
.ctgry-frst-lst .hover .ctgry-icon6 {
	background-position: -20px -100px;
}
.ctgry-frst-lst .hover .ctgry-icon7 {
	background-position: -20px -116px;
}
.ctgry-frst-lst .hover .ctgry-icon8 {
	background-position: -20px -136px;
}
.ctgry-frst-lst .hover .ctgry-icon9 {
	background-position: -20px -153px;
}
.ctgry-frst-lst .hover .ctgry-icon10 {
	background-position: -20px -170px;
}
.ctgry-frst-lst .hover .ctgry-icon11 {
	background-position: -20px -187px;
}
.ctgry-box .box-hd h2 {
	margin-left: 23px;
	font-size: 15px;
}
.ctgry-box .box-bd {
	background: none;
	border-top-width: 0;
	border-bottom-width: 1px;/*padding-left:0px;padding-bottom:0px;*/
}
.ctgry-frst-lst.pd{ padding:10px 0px;	background: url(http://res.csc86.com/v2/c2/newcgsc/image/1px-black.png);}
.ctgry-frst-lst li {
	margin-left:1px;
	cursor: default;
	overflow: hidden;
}
.ctgry-frst-lst .bd {
	display:block;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	color: #fff;
	font-size: 14px;
	background:url(http://res.csc86.com/v2/c2/newcgsc/image/1px-black.png) -9999px no-repeat;
	
}
.ctgry-frst-lst .hover {
	position: relative;
	z-index: 10;
	background:#fff;
}
.ctgry-frst-lst .hover .bd {
	color:#444;
}
.ctgry-frst-lst .last .bd {
	border-bottom: none;
}
.ctgry-scnd {
	background-color: #fff;
	position: absolute;
	width: 715px;
	left:200px;
	top: 0px;
	overflow: hidden;
	font-family: simsun;
}
.ctgry-scnd-show {
		width: 745px;
}
.ctgry-scnd-bd {
	display: none;
	height: auto;
	min-height: 408px;
	padding-top: 8px;
	padding-bottom: 2px;
	border: 1px solid #e3e3e3; border-left:none;
	overflow: auto;
}
.ctgry-scnd-bd .no-pro {
	text-align: center;
	padding-top: 150px;
	color: #999;
	font-size: 16px;
}
.ctgry-scnd-bklf {
	float: left;
	width:540px;
	padding:10px 8px;
}
.ctgry-scnd-itm {
	line-height: 23px;
	float:left
}
.ctgry-scnd-itm dl {
	float: left;
	width: 520px;
	padding: 8px 10px 5px 10px;
}
.ctgry-scnd-itm dl dt{ float: left; width:100px;color: #333; font-size: 14px;  font-family: '微软雅黑';}
.ctgry-scnd-itm dl dd{ float: left; width:410px; border-bottom: 1px dotted #ccc;}
.ctgry-scnd-itm .dl2 {
	border-right: none;
}
.ctgry-scnd-itm dd {
	padding-bottom: 15px;
}
.ctgry-scnd-itm dt a {
	color: #444444;
	
}
.ctgry-scnd-itm dt a:hover {
	color: #f67301;
}
.ctgry-scnd-itm dt .bqicon{
	padding-right:10px;
}
.ctgry-scnd-itm dd a {
	display: inline-block;
	word-wrap: break-word;
	color: #666;
	position:relative;
	padding:0px 5px;
	font-size: 14px;
	font-family: '微软雅黑';
}
.ctgry-scnd-itm dd a span{
	color:#f67301;
}
.ctgry-scnd-itm dd a em{
	background:url(img/add_hot_i3.png) no-repeat right top ;
	display:block; width:9px; height:12px;
	position:absolute; top:-2px; right:15px;
	}
.ctgry-scnd-itm dd a:hover {
	color: #f67301;
}
.ctgry-scnd-itm dd i {
	color: #ccc;
	font-style: normal;
	margin: 0px 5px;
}
.ctgry-scnd-itm dd em + i {
	color: #ccc;
	font-style: normal;
	margin: 0px 5px 0px 15px;
	width:6px;
	height:12px;
}
.ctgry-scnd-itm dd em + span {
	color: #ccc;
	font-style: normal;
	margin: 0px 5px 0px 15px;
	padding:0px 3px;
}


.ctgry-scnd-bd .last dd {
	border-bottom: none;
}

/*商品分类右侧区域图片*/
.ctgry-scnd-bkgf {
	float: left;
	width: 169px;
}
.ctgry-scnd-gfls {
	height:144px;
	margin-top:5px;
}
.ctgry-scnd-gfls ul {
	display: inline-block;
	
}
.ctgry-scnd-gfls li {

	float: left;
	border:1px solid #e3e3e3;
	border:1px solid #e3e3e3;
	margin-right:-1px;margin-top:-1px;
}
.ctgry-scnd-gfls li a{ display:block;/*border:1px solid transparent;*/ }
.ctgry-scnd-gfls li:hover{	border-color:#fe891d;	z-index:1;	position:relative;}
.ctgry-scnd-sjdh {
	width: 169px;
}
.ctgry-scnd-sjdh img{ width:169px;}

/*商品分类图片滚动*/
.ctgry-scrll, .ctgry-scrll-lst li {
	width: 245px;
	overflow: hidden;
}
.ctgry-scrll {
	float: left;
	height: 410px;
	margin-left: 10px;
	position: relative;
}
.ctgry-scrll-lst {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24500px;
}
.ctgry-scrll-lst li {
	float: left;
}
.ctgry-scrll-trg {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.ctgry-scrll-trg a {
	display: inline-block;
	background: #ccc;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-right: 8px;
	line-height: 99px;
	vertical-align: middle;
	overflow: hidden;
}
.ctgry-scrll-trg .cur {
	background: #233240;
}

/*导航栏*/
.main-nav-lst {
	margin-left: 200px;
	height: 35px;
	width: 648px;
	line-height: 35px;
	font-size: 16px;
	overflow: hidden;
}
.main-nav-lst li {
	float: left;
	text-align:center
}
.main-nav-lst li a{ display:block; 	padding:0px 25px;}
.main-nav-lst li a:hover{ background:#fff; color:#ff881d}
.main-nav-lst .cur a, .main-nav-lst li a:hover {
	color: #f67301;
}

/*购物车*/
.shopcart {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
	width: 260px;
	color: #333;
}
.shopcart-hd {
	background-color: #fff;
}
.shopcart-hd .gojs-abtn, .shopcart-bd .ljdl-abtn {
	display: inline-block;
	background-color: #4c4c4c;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.shopcart-hd .gojs-abtn {
	width: 65px;
	height: 44px;
	line-height: 44px;
	background-color: #233240
}
.shopcart-hd .gojs-abtn i, .shopcart-hd .scart-icon, .shopcart-hd .jt-icon {
	display: inline-block;
	background: url(img/shopcart-sf.png) no-repeat;
	vertical-align: middle;
}
.shopcart-hd .gojs-abtn i {
	background-position: -15px -20px;
	width: 5px;
	height: 9px;
	margin-left: 6px;
}
.shopcart-hd .bd {
	height: 31px;
	width: 163px;
	padding: 12px 15px 0 16px;
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	text-align: right;
	white-space: nowrap;
}
.shopcart-hd .scart-icon {
	background-position: 0 0;
	width: 23px;
	height: 19px;
}
.shopcart-hd .jt-icon {
	background-position: 0 -20px;
	width: 14px;
	height: 13px;
}
.shopcart-hd .bd .num {
	display: inline-block;
	width: 110px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
}
.shopcart-hd .bd .num em {
	color: #f67301;
	font-weight: bold;
}

/**srsv-flr**/
.srsv-flr {
	height: 420px; background:#ededed; width:100%; overflow:hidden; position:relative;min-width:1190px;
}
.srsv-flr .flr-bd {
	width: 1190px;
}
.slide-scrll, .srsv-rt {
	overflow: hidden;
}

/*banner轮播*/
.postire{ position:relative}
.postiab{ position: absolute; top:0px; right:0px;}
.sybanner{ width:1920px; height:420px; margin-left:-365px; position: relative; }
.slide-scrll, .slide-box, .slide-lst li {
	width: 1920px;
}
.slide-box, .slide-lst li {
	height: 420px;
	overflow: hidden;
}

.slide-box{
	background-size: auto !important;
}
.slide-box li img{background-size: auto}

.slide-lst li {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.slide-box .prev, .slide-box .next {
	top: 50%;
	margin-top: -25px;
}
.slide-box .prev {
	left: 580px;
}
.slide-box .next {
	right: 625px;
}

/*登录状态采购发布*/
.cgsc-loginfo {
	height: 418px;
	border: 1px solid #e3e3e3;
	width: 245px;
}
.log-wdkbs {
	background: #fff;
	overflow: hidden;
}
.log-wdkbs .log-tpi {
	padding-top: 23px;
	height: 40px;
	text-align: center;
}
.log-wdkbs .log-tpi .mfzc{  height:40px; line-height:40px;  width:170px; margin:0px auto}
.log-wdkbs .log-tpi .mfzc a{ color:#fff; font-size:14px; font-family:Microsoft Yahei; display:block;background:#ff923a;transition: background 500ms;}
.log-wdkbs .log-tpi .mfzc a:hover{ background:#ff7200}
.log-wdkbs .log-btn {
	background:#f8f8f8;
	margin-top: 9px;
	border-bottom:1px solid transparent;
	height: 40px;
	line-height:40px;
	text-align:center;
	font-size:14px; font-family:Microsoft Yahei;transition:background  500ms;
}
.log-wdkbs .log-btn:hover{ background:#fff;border-bottom:1px solid #ebebeb}
.log-wdkbs .log-btn a{ color:#156beb;}
.log-wdkbs .log-btn .log-dlan {
	height: 30px;
	line-height: 30px;
	width: 75px;
	border-radius: 4px;
	float: left;
	margin-left: 40px;
	color: #fff;
	background-color: #223340;
	text-align: center;
}
.log-wdkbs .log-btn .log-zcan {
	height: 28px;
	line-height: 28px;
	width: 75px;
	border-radius: 4px;
	float: left;
	border: 1px solid #233240;
	margin-left: 10px;
	color: #444;
	background-color: #fff;
	text-align: center;
}
.log-wdkbs .log-btn a:hover .log-zcan{
	color:#223340;
}
.log-wdkbs .log-btn a:hover .log-dlan{
	opacity: 0.8
}

.log-wdkbs .log-tpi  img {
	border-radius: 50%;
	border: 0px;
}

/*登录进去显示的用户信息*/
.log-userkbs {
	height: 105px;
	overflow: hidden;
	display: block;
}
.log-userkbs .usertp {
	padding-top: 5px;
	height: 42px;
	text-align: center;
}
.log-userkbs .usertp span {
	width: 42px;
	height: 42px;
}
.log-userkbs .usertp span img {
	border-radius: 50%;
	border: 0px;
}
.log-userkbs .usertp em {
	width: 62px;
	height: 42px;
	line-height: 40px;
	margin-left: 10px;
}
.log-userkbs .sptis {
	margin-top: 10px;
	height: 48px;
}
.log-userkbs .sptis .spdfk {
	float: left;
	height: 48px;
	width: 75px;
	background: #233240;
	color: #fff;
}
.log-userkbs .sptis .spdfk p {
	text-align: center;
	margin-top: 5px;
}
.log-userkbs .sptis .spdfk span {
	display: block;
	text-align: center;
}
.log-userkbs .sptis .spdfh {
	float: left;
	height: 48px;
	width: 75px;
	background: #233240;
	color: #fff;
	margin-left: 1px;
}
.log-userkbs .sptis .spdfh p {
	text-align: center;
	margin-top: 5px;
}
.log-userkbs .sptis .spdfh span {
	display: block;
	text-align: center;
}
.log-userkbs .sptis .spdsh {
	float: left;
	height: 48px;
	width: 75px;
	background: #233240;
	color: #fff;
	margin-left: 1px;
}
.log-userkbs .sptis .spdsh p {
	text-align: center;
	margin-top: 5px;
}
.log-userkbs .sptis .spdsh span {
	display: block;
	text-align: center;
}

/* 公告栏*/
.proclmat {
	height: 35px;
	overflow: hidden;
}
.proclmat .bulletin {
	display: block;
	float: left;
	cursor: pointer;
	width: 122px; text-align:center;
	height:28px;
	line-height: 30px;
    border-bottom: 2px solid #ebebeb;
}
.proclmat .activity {
	display: block;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	width: 35px;
	height: 34px;
	line-height: 40px;
}
.proclmat .procl {
	display: block;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	width: 35px;
	height: 34px;
	line-height: 40px;
}
.proclmat .cur {
	border-bottom: 2px solid #ff8420;
	color: #233240;
}
.pro-actbk {
	border-bottom: 1px solid #ebebeb;
	line-height: 30px;
	width: 245px;
}
.pro-actbk li{ width:210px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; line-height:25px;}
.pro-actbk .pro-bd {
	width: 210px;
	overflow: hidden;
	margin-left: 18px;
	padding-bottom:4px;
}
.pro-actbk .disp {
	display: none;
}

/*交易动态*/
.jymoving {
	width: 228px;
	
	overflow: hidden;
}
.jymoving .tit {
	margin-left: 18px;
	height: 30px;
	line-height: 30px;
	color: #444;
	font-size: 12px;
	font-family: '宋体';
	font-weight: bold;
}
.jymoving .jytis {
	display: block;
	margin-left: 8px;
	height: 26px;
	width: 218px;
}
.jymoving .jytis .ls48 {
	float: left;
	background-color: #eee;
	height: 26px;
	line-height: 26px;
	width: 48px;
	text-align: center;
	margin-left: 2px;
}
.jymoving .jytis .ls60 {
	float: left;
	background-color: #eee;
	height: 26px;
	line-height: 26px;
	width: 60px;
	text-align: center;
	margin-left: 2px;
}
.jymoving .jytis .ls40 {
	float: left;
	background-color: #eee;
	height: 26px;
	line-height: 26px;
	width: 40px;
	text-align: center;
	margin-left: 2px;
}
.jymoving .cgsc-jydt {
	height: 125px;
	margin-top:6px;
	margin-left: 10px;
	width: 218px;
	overflow: hidden;
}
.jymoving .cgsc-jydt li {
	height: 25px;
	*height:22px;
	line-height: 25px;
	text-align: center;
}
.jymoving .cgsc-jydt li .em1 {
	float: left;
	width: 48px;
	height: 22px;
	display: inline-block;
	overflow: hidden;
	margin-left: 2px;
}
.jymoving .cgsc-jydt li .em2 {
	float: left;
	width: 60px;
	height: 22px;
	display: inline-block;
	overflow: hidden;
	margin-left: 2px;
}
.jymoving .cgsc-jydt li .em3 {
	float: left;
	width: 40px;
	height: 22px;
	display: inline-block;
	overflow: hidden;
	margin-left: 2px;
}

/*.slide-box .prev:hover,.slide-box .next:hover{background-color:#c8c8c8;text-decoration:none;}*/
.slide-trg {
	position: absolute;
	left: 565px;
	bottom:0px;

}
.slide-trg li{
	float: left;
	background: url(//res.csc86.com/v2/c2/newcgsc/image/sybanner-1px.png);
	width: 113px;
	font-size: 12px;
	color: #c1c5cf;
	height: 47px;
	font-family: "Microsoft Yahei";
	border-right: 1px solid #bababb;
	overflow: hidden;
	cursor: pointer;
	 padding: 0px 5px 0px;
	position: relative;
	text-align: center;

}
.slide-trg li span{ display: table-cell;vertical-align: middle;	*position: absolute; width: 113px; height:47px; *top: 50%; *left: 5px;  *height: auto; }
.slide-trg span a { *position: relative; *top: -50%;width: 113px; height:47px; color: #c1c5cf;}
.slide-trg .cur {
	background: #2347e0;
	color: #fff;
}

/**标杆企业\最新低价团购\精选热销\销售排行**/
.bgqy-hd h2, .djtg-hd h2, .jxrx-hd h2, .xsph-hd h2 {
	font-size: 16px;
	font-family: Microsoft YaHei;
}

/*精选热销\销售排行*/
.bgqy-hd, .jxrx-hd, .xsph-hd {
	padding-bottom: 8px;
}
.bgqy-hd h2{ width:275px; float:left;}
.bgqy-hd .bgqya{ float:right; height:24px; line-height:30px;}
.bgqy-hd .bgqya a{ color:#333; font-size:14px; font-family:microsoft Yahei; font-weight:bold; padding-right:35px;}
.bgqy-hd .bgqya a:hover{ color:#f67301;}
.bgqy-hd h2, .jxrx-hd h2, .xsph-hd h2, .djtg-hd h2 {
	margin-left: 10px;
}
.bgqy-bd, .jxrx-bd, .xsph-bd {
	border: 1px solid #ebebeb;
	overflow: hidden;
}

/*标杆企业*/
.bgqy-hd .orgtab-lst {
	bottom: 3px;
	top: auto;
	*bottom: 3px;
}
.bgqy-bd {
	width: 1188px;
	overflow: hidden;
}
.bgqy-lst {
	padding:3px 3px 8px 3px;
}
.bgqy-lst li {
	float: left;
	border: 1px solid #ebebeb;
	 margin-left:5px;
	 margin-top:5px;
	 display:table-cell; vertical-align:middle; text-align:center;
	 position: relative; width:140px; height:95px;

}
.bgqy-lst li.bgqy-change{transition:border-color  500ms;}
.bgqy-lst li.bgqy-change a{transition:color  500ms;}
.bgqy-lst li.bgqy-change:hover{ border:1px solid #f67301}
.bgqy-lst li .blackbgab{position:absolute; width:140px; height:95px; background: url(../image/1px-black2.png); left:0px; top:0px; display:none;}
.bgqy-lst li .blcakbg{ display:table; width:140px; height:95px; *position: relative;*top: 50%;}
.bgqy-lst li .blcakbg .jz{vertical-align:middle;display:table-cell; *position: relative; *top: -25%; }
.bgqy-lst li .blcakbg .jz p{ color:#fff; text-align:center; font-family:microsoft Yahei; line-height:25px;}
.bgqy-lst li .blcakbg p a{ background:#3b84ea; padding:0px 8px; border-radius:15px; color:#fff; display:inline-block; }



.bgqy-lst li a {
	display: block;
	padding:15px 5px;
	text-align: center;
}
.bgqy-lst li .refresh {  text-align:center; padding:0px; line-height:95px;
}

.refresh {
	font-family: Microsoft YaHei;
	cursor: pointer; font-size:14px; font-weight:bold;
}
.refresh i {
	background: url(../image/sysy.png) 0px -500px no-repeat;
	width: 28px;
	height: 24px; display:inline-block;vertical-align: middle;
}
.bgqy-change{ width:140px; height:95px; display: table; }
/*最新低价团购*/
.djtg-hd h2 i {
	display: inline-block;
	background-color: #ff500b;
	width: 7px;
	height: 25px;
	vertical-align: middle;
}
.djtg-bd {
	width: 1190px;
	margin-top: 12px;
	overflow: hidden;
}
/*.djtg-lst {
	width: 1212px;
	border-top: 1px solid #233240
}
.djtg-lst li, .djtg-lst .pic {
	float: left;
}
.djtg-lst li {
	width: 558px;
	padding: 12px;
	margin-right: 22px;
	border: 1px solid #ebebeb;
	overflow: hidden;
}*/
.djtg-lst {
	width: 1188px;
	border-top: 1px solid #233240;
	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}
.djtg-lst li, .djtg-lst .pic {
	float: left;
}
.djtg-lst li {
	width: 548px;
	padding: 15px 19px  19px 19px;
	overflow: hidden;
	margin:10px 0;
}
.djtg-lst li:nth-child(2n+1){
	border-right:1px solid #ebebeb;
}
/**/
.djtg-lst .pic, .djtg-lst .pic .i {
	width: 250px;
	height: 180px;
}
.djtg-lst .pic .i {
	*font-size: 157px;
}
.djtg-lst .pic .i img {
	max-width: 250px;
	max-height: 180px;
}
.djtg-lst .inf {
	position: relative;
	margin-left: 280px;
	font-size: 14px;
	line-height: 24px;
}
.djtg-lst .t {
	height: 48px;
	overflow: hidden;
}
.djtg-lst .t a {
	color: #223342;
	line-height: 24px;
}
.djtg-lst .t a:hover {
	color: #f67301
}
.djtg-lst .prc, .djtg-lst .kd {
	height: 24px;
	overflow: hidden;
}
.djtg-lst .prc {
	margin-top: 10px;
	font-size: 18px;
	font-family: Microsoft YaHei;
}
.djtg-lst .prc em {
	color: #f67301;
}
.djtg-lst .kd {
	margin-top: 8px;
	color: #888;
}
.djtg-lst .cz {
	margin-top: 5px;
}
.djtg-lst .buy-btn {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #233340;
	width: 150px;
	height: 43px;
	color: #233340;
	font: 16px/43px Microsoft YaHei;
	text-align: center;
}
.djtg-lst .buy-btn:hover {
	color: #f67301;
	border: 1px solid #f67301;
}

/*精选热销*/
.jxrx {
	width: 880px;
}
.jxrx-bd {
	padding-top: 25px;
	padding-bottom: 15px;
}
.jxrx-bd .prev {
	left: 0;
}
.jxrx-bd .next {
	right: 0;
}
.jxrx-bd .prev, .jxrx-bd .next {
	top: 110px;
}

/*.jxrx-bd .prev:hover,.jxrx-bd .next:hover{background-color:#c8c8c8;text-decoration:none;}*/
.jxrx-c {
	width: 800px;
	height: 305px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.jxrx-c .kgpro-lst {
	position: absolute;
	left: 0;
	top: 0;
	width: 28300px;
}

/*width预留了100个li的宽度+li的间距*/
.jxrx-c .kgpro-lst li {
	width: 234px;
	margin-right: 49px;
}
.jxrx-c .kgpro-lst .pic, .jxrx-c .kgpro-lst .pic .i {
	width: 234px;
	height: 234px;
}
.jxrx-c .kgpro-lst .pic .i {
	*font-size: 204px;
}
.jxrx-c .kgpro-lst .pic .i img {
	max-width: 234px;
	max-height: 234px;
}
.jxrx-c .kgpro-lst .title, .jxrx-c .kgpro-lst .price {
	padding-left: 0;
	padding-right: 0;
}
.jxrx-c .kgpro-lst .title {
	margin-top: 15px;
	font-size: 14px;
}
.jxrx-c .kgpro-lst .price {
	margin-top: 8px;
}
.jxrx-c .kgpro-lst .price em {
	font-size: 16px;
}

/*销售排行*/
.xsph {
	width: 300px;
}
.xsph-bd {
	width: 298px;
}
.xsph-box {
	width: 278px;
	height: 345px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}
.xsph-scroll {
	position: absolute;
	left: 0;
	top: 0;
	width: 2780px;
}
.xsph-lst {
	float: left;
	padding: 0 15px 30px;
	min-width: 280px;
}
.xsph-lst li {
	margin-top: 25px;
}
.xsph-lst .pic {
	float: left;
	position: relative;
}
.xsph-lst .pic i {
	position: absolute;
	top: -3px;
	left: -20px;
	color: #233240;
	font-size: 16px;
	font-family: Tahoma, arial;
}
.xsph-lst .pic, .xsph-lst .pic .i {
	width: 80px;
	height: 80px;
	margin-left: 5px;
}
.xsph-lst .pic .i {
	*font-size: 70px;
}
.xsph-lst .pic .i img {
	max-width: 80px;
	max-height: 80px;
}
.xsph-lst .inf {
	margin-left: 100px;
}
.xsph-lst .t {
	width:160px;
	height: 48px;
	line-height: 24px;
	overflow: hidden;
}
.xsph-lst .price {
	margin-top: 3px;
	font-size: 16px;
}
.xsph-lst .price em {
	font-size: 16px;
}
.xsph-trg {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.xsph-trg a {
	display: inline-block;
	background: #ccc;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-right: 8px;
	line-height: 99px;
	vertical-align: middle;
	overflow: hidden;
}
.xsph-trg .cur {
	background: #233240;
}

/**产品展示楼层**/
.indx-flr .flr-hd, .indx-flr .flr-bd {
	overflow: hidden;
}
.indx-flr .flr-hd {
	width: 190px;
}
.indx-flr .flr-hd img {
	max-width: 200px;
}
.indx-flr .flr-bd {
	margin-left: 0px;
}
.pricebig {
	font-size: 18px;
}

/*楼层左侧*/
.indx-flr .flr-hd h2 {
	height: 38px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font: 23px/38px Microsoft YaHei;
	overflow: hidden;
}
.indx-flr .flr-hd .scat-lst {
	padding-top: 0px;
	padding-bottom: 6px;
}
.g-pd5{ padding:10px;}
.indx-flr .flr-hd.hyfl1 .scat-lst li {
	background:#07bdb7;
	border-bottom:1px solid #4decd7;border-right:1px solid #4decd7;transition:background  500ms;
}
.indx-flr .flr-hd .scat-lst li a{ display:block;}
.indx-flr .flr-hd.hyfl1 .scat-lst li:hover{ background:#00d4cc}
.indx-flr .flr-hd .scat-lst li:hover a{ color:#fff;}
.indx-flr .flr-hd.hyfl2 .scat-lst li {
	background:#ff871d;
	border-bottom:1px solid #ffb777;border-right:1px solid #ffb777;transition:background  500ms;
}
.indx-flr .flr-hd.hyfl2 .scat-lst li:hover{  background:#fe7a00}
.indx-flr .flr-hd.hyfl3 .scat-lst li {
	background:#0063c9;
	border-bottom:1px solid #258dde;border-right:1px solid #258dde;transition:background  500ms;
}
.indx-flr .flr-hd.hyfl3 .scat-lst li:hover{ background:#0078f3}
.indx-flr .flr-hd.hyfl4 .scat-lst li {
	background:#ff2f2b;
	border-bottom:1px solid #ff6d6b;border-right:1px solid #ff6d6b;transition:background  500ms;
}
.indx-flr .flr-hd.hyfl4 .scat-lst li:hover{ background:#e60111}
.indx-flr .flr-hd.hyfl1 .scat-lst ul{ border-top:1px solid #4decd7;border-left:1px solid #4decd7;}
.indx-flr .flr-hd.hyfl2 .scat-lst ul{ border-top:1px solid #ffb777;border-left:1px solid #ffb777;}
.indx-flr .flr-hd.hyfl3 .scat-lst ul{ border-top:1px solid #258dde;border-left:1px solid #258dde;}
.indx-flr .flr-hd.hyfl4 .scat-lst ul{ border-top:1px solid #ff6d6b;border-left:1px solid #ff6d6b;}
.indx-flr .flr-hd .scat-lst li {
	float: left;
	width: 94px;
	height: 30px;
	text-align:center;
	line-height: 30px;
	overflow: hidden;
	line-height:30px;

}
.indx-flr .flr-hd .scat-lst a {
	margin: 0 12px;
	color: #fff;
}
.indx-flr .flr-hd .scat-lst a:hover {
	color: #f67301;
}
.indx-flr .flr-hd .brnd-lst li {
	position:relative;
	padding:5px 0px;
	border:1px solid transparent;
	border-bottom:1px solid #e3e3e3;transition:border-color  500ms;
}

.indx-flr .flr-hd .brnd-lst li a{ display:block; width:188px; overflow:hidden; position:relative;}
.indx-flr .flr-hd.hyfl1 .brnd-lst li:hover{ border:1px solid #07beb7}
.indx-flr .flr-hd.hyfl2 .brnd-lst li:hover{ border:1px solid #fec48d}
.indx-flr .flr-hd.hyfl3 .brnd-lst li:hover{ border:1px solid #7fb2e4}
.indx-flr .flr-hd.hyfl4 .brnd-lst li:hover{ border:1px solid #fe9894}
.indx-flr .flr-hd .brnd-lst li.last{
	border-bottom:1px solid transparent;
	}
.indx-flr .flr-hd.hyfl1 .brnd-lst li.last:hover{ border:1px solid #07beb7}	
.indx-flr .flr-hd.hyfl2 .brnd-lst li.last:hover{ border:1px solid #fec48d}
.indx-flr .flr-hd.hyfl3 .brnd-lst li.last:hover{ border:1px solid #7fb2e4}
.indx-flr .flr-hd.hyfl4 .brnd-lst li.last:hover{ border:1px solid #fe9894}
.xcw{ border:1px solid #e3e3e3; margin-top:5px; height:309px; overflow: hidden;transition:border-color  500ms;}
.indx-flr .flr-hd.hyfl1 .xcw:hover{border:1px solid #07beb7}
.indx-flr .flr-hd.hyfl2 .xcw:hover{border:1px solid #fec48d}
.indx-flr .flr-hd.hyfl3 .xcw:hover{border:1px solid #7fb2e4}
.indx-flr .flr-hd.hyfl4 .xcw:hover{border:1px solid #fe9894}
/*楼层右侧*/
.indx-flr .flr-bd {
	padding-top: 0px;
}
.indx-flr .flr-bd .bd-hd .more {
	position: absolute;
	right: 27px;
	top: -9px;
	background-color: #fff;
	padding-left: 6px;
	padding-right: 6px;
	color: #555;
	font-family: simsun;
}
.indx-flr .flr-bd .bd-hd .more:hover {
	color: #233240;
}
.indx-flr .flr-bd .bd-bd {
	width: 975px;
	overflow: hidden;
}
.indx-flr .flr-bd .kgpro-lst {
	width: 1004px;
	margin-left: 1px;
}
.indx-flr .flr-bd .kgpro-lst li {
	width: 218px;
	margin-right: 9px;
	margin-top: 10px;
	border: 1px solid #eee;
	padding:8px;
transition:border-color  500ms; position:relative;
}
.indx-flr .flr-bd .kgpro-lst li:hover {border:2px solid #ff0000;padding:7px;}
.indx-flr .flr-bd .kgpro-lst li:hover .title a{ color:#f67301;transition:color  500ms;  }

/*各楼层的颜色*/
.indx-flr1 .flr-hd h2 {
	background-color: #258dde;
}
.indx-flr1 .flr-bd .bd-hd {
	border-bottom: 2px solid #157dce;
}
.indx-flr2 .flr-hd h2 {
	background-color: #ff8330;
}
.indx-flr2 .flr-bd .bd-hd {
	border-bottom: 2px solid #ff8330;
}
.indx-flr3 .flr-hd h2 {
	background-color: #07bdb7;
}
.indx-flr3 .flr-bd .bd-hd {
	border-bottom: 2px solid #07bdb7;
}
.indx-flr4 .flr-hd h2 {
	background-color: #f16654;
}
.indx-flr4 .flr-bd .bd-hd {
	border-bottom: 2px solid #f16654;
}

/**广告位楼层**/
.indx-xcw {
	min-height: 70px;
}

/**华南城实体市场**/
.stsc-hd {
	height: 42px;
	line-height: 42px;
	border: 1px solid #e7e7e7;
	border-top-width: 2px;
}
.stsc-hd h2 {
	margin-left: 10px;
	font-size: 16px;
	font-family: Microsoft YaHei;
}
.stsc-tab {
	position: absolute;
	right: 0;
	top: -2px;
}
.stsc-tab li {
	float: left;
	border-left: 1px solid #e7e7e7;
	border-top: 2px solid #e7e7e7;
	cursor: pointer;
	font-size: 14px;
}
.stsc-tab li span {
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	border-top: 2px solid #fff;
}
.stsc-tab .cur, .stsc-tab .cur span {
	border-top-color: #233240;
}
.stsc-tab .cur span {
	background-color: #fff;
}
.stsc-bd {
	border: 1px solid #e7e7e7;
	border-top: none;
	padding: 20px 0 23px 9px;
	overflow: hidden;
}
.stsc-itm {
	float: left;
	position: relative;
	background-color: #f5f5f5;
	width: 210px;
	height: 260px;
	margin-right: 2px;
	overflow: hidden;
}
.stsc-itm-hover, .stsc-itm-bd {
	width: 534px;
}
.stsc-itm-bd {
	position: absolute;
	left: 0;
	top: 0;
}
.stsc-itm .itm-hd a {
	display: block;
	width: 210px;
	height: 260px;
	cursor: pointer;
}
.stsc-itm .itm-hd .msk, .stsc-itm .itm-hd .t {
	position: absolute;
	width: 100%;
	height: 40px;
	left: 0;
	bottom: 0;
	overflow: hidden;
}
.stsc-itm .itm-hd .msk {
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.stsc-itm .itm-hd .t {
	text-align: center;
	color: #fff;
	font: 14px/40px Microsoft YaHei;
}
.stsc-itm .itm-bd {
	width: 304px;
	margin-left: 230px;
	padding-top: 15px;
}
.stsc-itm .itm-bd .t {
	font-size: 14px;
}
.stsc-itm .kgpro-lst {
	margin-top: 10px;
}
.stsc-itm .kgpro-lst li {
	width: 134px;
	margin-right: 18px;
}
.stsc-itm .kgpro-lst .pic, .stsc-itm .kgpro-lst .pic .i {
	width: 130px;
	height: 130px;
}
.stsc-itm .kgpro-lst .pic {
	background-color: #fff;
	border: 1px solid #eee;
}
.stsc-itm .kgpro-lst .pic .i {
	*font-size: 115px;
}
.stsc-itm .kgpro-lst .pic .i img {
	max-width: 130px;
	max-height: 130px;
}
.stsc-itm .kgpro-lst .title, .stsc-itm .kgpro-lst .price {
	padding-left: 0;
	padding-right: 0;
}
.stsc-itm .kgpro-lst .title {
	margin-top: 10px;
}
.stsc-itm .kgpro-lst .price {
	margin-top: 3px;
}

/**生意圈精选\推荐圈子\华南城介绍\华南城新闻**/
.cscinf-flr {
	padding-top: 8px;

}
.cscinf-itm {
	height: 320px;
	overflow: hidden;
}
.cscinf-itm .itm-hd {
	padding:8px 0px 5px;
}
.cscinf-itm .itm-hd h2 {
	font-size: 16px;
	font-weight: bold;
	padding-left:15px;
	font-family: Microsoft YaHei;
}
.cscinf-itm .itm-bd {
	border:1px solid #ebebeb;
	padding:10px;
	background:#fff;
}
.syq-lst li, .recqz-lst .t {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.star, .cscwl-lst .tel i, .dscyy .tel i, .cscwl-lst .tel span {
	display: inline-block;
	vertical-align: middle;
}
.star, .cscwl-lst .tel i, .dscyy .tel i {
	background: url(img/sf.png) no-repeat;
}

/*生意圈精选\华南城新闻*/
.syq, .cscnews {
	width: 230px;

}
.syq {
	 margin-left:10px;
}
.cscnews {
	border-right: none;
}
.syq .pic, .cscnews .pic {
	height: 80px;
}
.syq-lst {
	padding-top: 13px 0px;
}
.syq-lst li {
	background: url(img/dot.jpg) no-repeat left center;
	padding-left: 11px;
	height: 26px;
	line-height: 26px;
}

/*推荐圈子*/
.recqz {
	width: 240px;
	 margin-left:10px;
}
.recqz .itm-bd {
}
.recqz-lst {
	color: #888;
}
.recqz-lst li {
	padding: 0px 25px 10px;
	border-bottom:1px solid #ebebeb;
	margin-bottom:5px;
}
.recqz-lst li.last{ border-bottom:none; padding-bottom:0px;}
.recqz-lst .t {
	height: 25px;
	font-size:14px; font-family:Microsoft Yahei; font-weight:bold;

}
.recqz-lst .bd {
	margin-top: 5px;
}
.recqz-lst .inf {
	margin-left: 50px;
}
.star {
	position: relative;
	top: -1px;
	width: 59px;
	height: 12px;
}
.star0 {
	background-position: 0 -60px;
}
.star1 {
	background-position: 0 -48px;
}
.star2 {
	background-position: 0 -36px;
}
.star3 {
	background-position: 0 -24px;
}
.star4 {
	background-position: 0 -12px;
}
.star5 {
	background-position: 0 0;
}

/*华南城介绍*/
.cscabt {
	width: 460px; margin-left:10px;
}
.cscabttabk{  width:200px; height:35px; position: absolute; right:0px; bottom:-6px;}
.cscabt-tab li {
	float: left;
	height: 35px;
	cursor: pointer;
	width:100px; font-size:14px; font-weight:bold; font-family:Microsoft Yahei; text-align:center;
}

.cscabt-tab .cur {
	background: url(../image/sysy.png) 0px -572px no-repeat ; 
}
.cscwl {
	padding: 0px 25px;
}
.cscwl .prev, .cscwl .next {
	display: none;
	position: absolute;
	width:30px; height:50px;
	top: 102px;
	font-size: 50px;
	font-family: simsun;
	cursor: pointer;
	color: #ccc;
	overflow: hidden;
	background: url(../image/sysy.png) 0px -572px no-repeat ; 
}
.cscwl .prev {
	left: 0; background-position:0px -1050px;
}
.cscwl .next {
	right: 0;background-position:0px -1150px;
}
.cscwl .prev:hover, .cscwl .next:hover {
}
.cscwl-bd {
	width: 390px;
	height: 264px;
	overflow: hidden;
}
.cscwl-scrll {
	position: absolute;
	left: 0;
	top: 0;
	width: 3100px;
}
.cscwl-lst {
	float: left;
	width: 390px;
}
.cscwl-lst li {
	padding-bottom: 6px;
	border-bottom:1px solid #ebebeb;
	margin-bottom:6px;
}
.cscwl-lst .inf {
	margin-left: 110px;
}
.cscwl-lst .t, .cscwl-lst .tel {
	font-size: 14px;
	font-weight: bold;
}
.cscwl-lst .t {
	font-family: Microsoft YaHei;
}
.cscwl-lst .gs {
	height: 32px;
	margin-top: 3px;
	line-height: 16px;
	color: #666;
	overflow: hidden;
}
.cscwl-lst .tel {
	color: #e33a3f;
}
.cscwl-lst .tel i {
	background-position: -26px -72px;
	width: 19px;
	height: 19px;
	margin-right: 10px;
}
.dscyy {
	width: 235px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height:245px;
	font-family: Microsoft YaHei;
}
.dscyy h3, .dscyy .gs1, .dscyy .gs2 {
	text-align: center;
}
.dscyy h3 {
	font-size: 33px;
}
.dscyy .gs1, .dscyy .gs2, .dscyy .tel em {
	color: #666;
}
.dscyy .gs1 {
	font-size: 15px;
}
.dscyy .gs2 {
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}
.dscyy .tel {
	padding-left: 30px;
}
.dscyy .tel i {
	position: absolute;
	left: 0;
	top: 10px;
	background-position: 0 -72px;
	width: 26px;
	height: 30px;
}
.dscyy .tel em {
	font-size: 15px;
}
.dscyy .tel span {
	font-size: 24px;
	font-weight: bold;
	color: #e33a3f;
	line-height: 20px;
}
.dscyy .cz a {
	display: inline-block;
	background-color: #eb3b3e;
	height: 35px;
	padding-left: 85px;
	padding-right: 85px;
	line-height: 35px;
	color: #fff;
	font-size: 16px;
}

/**您可能感兴趣的商品**/
.yclk-flr {
	padding-bottom: 0px;
}
.yclk-flr .flr-hd {
	color: #333; height:40px; line-height:40px;
	font-size: 16px; font-family:Microsoft Yahei; padding-left:15px;
}
.yclk-flr .flr-hd  h2{ width:200px; float:left;}
.yclk-scrll .prev, .yclk-scrll .next {
	display: none;
	position: absolute;
	top: 100px;
	background: url(img/sf.png) no-repeat;
	width: 32px;
	height: 64px;
	overflow: hidden;
}
.yclk-scrll .prev {
	background-position: 0 -102px;
	left: -42px;
}
.yclk-scrll{ padding:10px; border:1px solid #d9d9d9; background:#fff; *zoom:1}
.yclk-scrll .prev:hover {
	background-position: 0 -166px;
}
.yclk-scrll .next {
	background-position: -32px -102px;
	right: -42px;
}
.yclk-scrll .next:hover {
	background-position: -32px -166px;
}
.yclk-scrll .scrll-c {
}
.yclk-scrll .kgpro-lst {
	 float:left;
}
.yclk-scrll .kgpro-lst li {
	position:relative;
	text-align:center;
	width: 232px;
	height: 232px;;
	border: 1px solid #ebebeb;
	margin-right:-1px;
	transition: border-color 400ms;
}
.yclk-scrll .kgpro-lst li:hover{border: 1px solid #e40201; position:relative; z-index:1; }
.yclk-scrll .kgpro-lst li:hover .pic{border: 1px solid #e40201;}
.yclk-scrll .kgpro-lst li:hover { position:relative; z-index:1;}
.yclk-scrll .kgpro-lst li:hover img{opacity: 0.75;filter: alpha(opacity=75);}
.yclk-scrll .kgpro-lst li:hover a{ color:#f67301}
.yclk-scrll .kgpro-lst li .ms{ position:absolute; bottom:1px; left:1px; background: url(../image/1px-white.png); width:230px;}
.yclk-scrll .kgpro-lst li .pic{ text-align:center ; margin:0px auto; display:block; width:230px; height:230px; overflow:hidden; border:1px solid transparent;transition: border-color 500ms;}

.yclk-scrll .kgpro-lst li .title{ height:45px; float:left; width:138px; padding:5px; margin:0px; line-height:22px; overflow:hidden}
.yclk-scrll .kgpro-lst li .title a{ white-space: normal;display:block; height:45px; width:140px; float:left; overflow:hidden; 	transition: all 500ms;}
.yclk-scrll .kgpro-lst li .price{ float:right; width: 82px; height:55px; line-height:70px; padding:0px;margin:0px; color:#ff0000; font-size:14px; font-family:Microsoft Yahei; font-weight:bold;}
.yclk-scrll .kgpro-lst .pic .i  img{ max-width:230px; max-height:230px;	transition: all 500ms;}
.frie-links a:hover {
	color: #f67301
}
.love-links a:hover {
	color: #f67301
}
.log-userkbs .sptis a:hover .spdfk,.log-userkbs .sptis a:hover .spdfh,.log-userkbs .sptis a:hover .spdsh{/*,.g-back a:hover*/
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
}

/*实体市场*/
.hncstsc{ border:1px solid #ebebeb; padding:10px; background:#fff; width:1168px; overflow:hidden}
.hncstsc ul{ width:200%}
.hncstsc ul li{ border:1px solid #ebebeb; margin-right:5px; position:relative; width:140px; height:167px; float:left}
.hncstsc ul li:hover{ border:1px solid #354078;}
.hncstsc ul li .a1{border:1px solid transparent; width:138px; height:165px; overflow:hidden; display:block}
.hncstsc ul li:hover .a1{border:1px solid #354078;}
.hncstsc ul li .blackbgab{position:absolute; width:140px; height:167px; background: url(../image/1px-black2.png); left:0px; top:0px; display:none;}
.hncstsc ul li .blcakbg{ position:relative; display:table; width:100%; height:100%;*top: 50%;}
.hncstsc ul li .blcakbg .jz{vertical-align:middle;display:table-cell; *position:relative;*top: -20%; }
.hncstsc ul li .blcakbg .jz p{ color:#fff; text-align:center; font-family:microsoft Yahei; line-height:25px;}
.hncstsc ul li .blcakbg p a{ background:#3b84ea; padding:4px 8px; border-radius:15px; color:#fff; }
.hncstsc ul li .ms{ position:absolute; left:1px; bottom:1px; line-height:30px; text-align:center; background:url(../image/1px-black2.png); width:138px;}
.hncstsc ul li .ms a{ color:#fff; display:block;}

.pdt30{ padding-bottom:30px;}




/*最新低价团购*/
.hotleft{  width:930px; float: left;}
.hotzg{ width:930px;}
.hotzg .title{ height:40px; position:relative;}
.hotzg .title h2{ width:275px; float:left; font-family:Microsoft Yahei; font-size:16px; font-weight:bold; height:40px;padding-left:10px;line-height:42px;   }
.hotzg .title .tgtitle{ width:500px; float:left; position:relative;bottom:-7px;left:0px;}
.hotzg .title .tgtitle li{ float:left; height:40px; line-height:30px; font-family:Microsoft Yahei; font-size:14px;font-weight:bold; width:123px; text-align:center;cursor:pointer}
.hotzg .title .tgtitle li.cur{background: url(../image/sysy.png) 0px -218px no-repeat ; }
.hotzg  .zxtg{border:1px solid #e3e3e3;  padding:10px; background:#fff; *zoom:1; display:none;width:908px; overflow:hidden;}
.hotzg  .zxtg.cur{ display:block;}
.hotzg  .zxtg ul{ width:200%;}
.hotzg  .zxtg li{ float:left; padding:12px; border:1px solid #e3e3e3; width:424px;	transition:border-color  500ms; margin-right:8px; }
.hotzg  .zxtg li:hover{border:2px solid #ff0000; padding:11px; }
.hotzg  .zxtg li:hover a{ color:#f67301;	transition: all 500ms;}
.hotzg  .zxtg li .img{ float:left; width:218px; height:218px;}
.hotzg  .zxtg li .ms{ float:left; width:196px; margin-left:10px}
.hotzg  .zxtg li .ms .p1{ font-weight:bold; font-size:14px;font-family:Microsoft Yahei; line-height:55px; color:#333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; width:195px;}
.hotzg  .zxtg li .ms .p2{ font-family:Microsoft Yahei; line-height:18px; margin-top:5px; height:55px;}
.hotzg  .zxtg li .ms .p2 .s1{ font-weight:bold}

.hotzg  .zxtg li .ms .p3{ font-family:Microsoft Yahei; line-height:22px; margin-top:40px;*zoom:1}
.hotzg  .zxtg li .ms .p3 .red{color:#ff1e1e; font-weight:bold; font-size:14px; float:left}
.hotzg  .zxtg li .ms .p3 .red em{ padding-right:4px;}
.hotzg  .zxtg li .ms .p3 .ml1{ float:right; display:inline }
.hotzg  .zxtg li .ms .p4{ height:35px; line-height:35px; background:#ff871d; text-align:center; margin-top:6px;transition:background  500ms;}
.hotzg  .zxtg li .ms .p4 a{ display:block; font-size:14px;font-family:Microsoft Yahei;; color:#fff;}
.hotzg  .zxtg li .ms .p4:hover{background: #FE5E1D; }

.hotrx{width:930px; float: left; margin-top:10px;}
.hotrx .title{ height:40px; position:relative;}
.hotrx .title h2{ width:275px; float:left; font-family:Microsoft Yahei; font-size:16px; font-weight:bold; height:40px;padding-left:10px;line-height:42px;   }

.sphyp{ width:70px; height:30px; padding-top:10px; text-align:right; line-height:30px; background: url(../image/sysy.png) 0px -487px no-repeat ; cursor:pointer; color:#333; float:right; font-family:Microsoft Yahei; font-size:15px; font-weight:bold; margin-right:40px;}

.hotrx  .zxrx{border:1px solid #e3e3e3;  padding:10px; background:#fff;*zoom:1; width:908px; overflow:hidden;}
.hotrx  .zxrx ul{ width:200%;}
.hotrx  .zxrx li{ float:left; border:1px solid #e3e3e3; width:293px; padding:1px;transition:border-color  500ms; margin-right:9px; overflow:hidden;}
.hotrx  .zxrx li:hover{border:2px solid #ff0000;padding:0px;}
.hotrx  .zxrx li .img{ width:218px; height:218px; margin:10px auto; overflow:hidden; padding:0px 9px;}
.hotrx  .zxrx li .ms{ padding:0px 9px;transition:background  500ms;*zoom:1;}
.hotrx  .zxrx li:hover .ms{ background:#FFC9C8;}
.hotrx  .zxrx li .ms .p1{ font-family:Microsoft Yahei; line-height:21px;  float:left; padding-top:7px; width:150px; 	white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }
.hotrx  .zxrx li .ms .p1 .s1{font-weight:bold; font-size:14px;color:#333;}
.hotrx  .zxrx li .ms .p1 .s2{ font-size:12px;}
.hotrx  .zxrx li .ms .p2{ font-family:Microsoft Yahei; line-height:18px;  height:55px; float:right; background:#ff0000; color:#fff; line-height:85px; padding:0px 10px; font-size:14px; margin-top:-1px;}
.hotrx  .zxrx li .ms .p2 em{ padding-right:4px;}




.hotright{ float: right; width:248px; height:auto;}
.hotright .title{ height:40px; position:relative;}
.hotright .title h2{ width:275px; float:left; font-family:Microsoft Yahei; font-size:16px; font-weight:bold; height:40px;padding-left:10px;line-height:42px;   }
.hotright .nr{ border:1px solid #e3e3e3;height:auto; background:#fff; padding-top:7px; *zoom:1; height:624px; }
.hotright li{ width:100%; border-bottom:1px solid #e3e3e3;overflow:hidden; float:left; margin-bottom:1px; cursor:pointer}
.hotright li.last{ border-bottom:none;}
.hotright li .img{ float:left; width:85px; padding:5px;  margin-left:5px; position:relative; text-align:right; }
.hotright li .img img{ width:35px; height:35px; margin-right:10px;}
.hotright li .num{ position:absolute; width:42px; height:20px; line-height:20px; font-size:18px; text-align:center; top:12px; left:0px; background:none ; display:block; color:#898989; font-family:Arial, Helvetica, sans-serif}
.hotright li .num.col{ color:#333}
.hotright li .ms{  float:left; width:135px; padding-top:5px;}
.hotright li .ms .p1{ color:#999; font-size:12px; font-family:Microsoft Yahei; line-height:16px; }
.hotright li .ms .p1 a{ color:#999;transition: color 500ms; display:block}
.hotright li .ms .p1 a.cor{ color:#444}
.hotright li .ms .p1 a:hover{ color:#f67301}
.hotright li .ms .p2{ color:#ff0000; padding-top:15px; display: none; font-family:microsoft Yahei;}
.hotright li .ms .p3{ color:#777;  font-size:12px;font-family:Microsoft Yahei;  display: none}

.hotright li.hover .img{ float:left; width:85px; height:85px; padding:6px; margin-left:5px; position:relative;}
.hotright li.hover .img img{ width:85px; height:85px;margin-right:0px;}
.hotright li.hover .num{ position:absolute; width:42px; height:20px; line-height:20px; font-size:18px; text-align:center; top:5px; left:-5px; background:#233240 ; display:block; color:#fff; font-family:Arial, Helvetica, sans-serif}
.hotright li.hover .ms{ float:left; width:135px;padding-top:5px;}
.hotright li.hover .ms .p1{ color:#333; font-size:12px; font-family:Microsoft Yahei; line-height:16px; }
.hotright li .ms .p1.col{ color:#333}
.hotright li.hover .ms .p2{ color:#ff0000; padding-top:15px; display:block}
.hotright li.hover .ms .p3{ color:#777;  font-size:12px;font-family:Microsoft Yahei;display:block}

.g-title{ line-height:35px;  border-bottom:1px solid #07bdb7}
.g-title.t2{ line-height:35px;  border-bottom:1px solid #ff871d}
.g-title.t3{ line-height:35px;  border-bottom:1px solid #258dde}
.g-title.t4{ line-height:35px;  border-bottom:1px solid #ff6d6b}
.g-title .hy{ border-bottom:2px; width:170px;padding-left:40px;background: url(../image/sysy.png)  no-repeat ; font-family:Microsoft Yahei; font-size:16px; color:#333; font-weight:bold;  }
.g-title .hy.hy1{ background-position:10px -294px; border-bottom:1px solid #07bdb7}
.g-title .hy.hy2{background-position:10px -344px; border-bottom:1px solid #ff871d }
.g-title .hy.hy3{background-position:10px -394px; border-bottom:1px solid #258dde }
.g-title .hy.hy4{background-position:10px -444px; border-bottom:1px solid #ff6d6b }
/*其他行业改版王雪莲start*/
.show-btn{}
.show-btn{height:60px;cursor: pointer;background: #ffffff}
.showHideIndex.show{background: #ffffff url(../image/show-hide1.png) no-repeat left center;}
.showHideIndex.hide{background: #ffffff url(../image/show-hide2.png) no-repeat left center;}
.showHideContent{display: none}
.showHideIndex{width: 160px;margin: auto;}
.showHideIndex span{width: 100px;margin: auto;font-size:14px;color: #999;display: block;line-height: 60px}
.lazy, .slide-box {
	background: #fff url(/v2/c/shop/skin0019/css/img/wj-loading.gif) no-repeat center center;
	background-size:65%;
}

.advertize-new1{display: block;margin: auto;width: 100%}
.advertize-new2{background:#fff}
.footer_nav_wp{background: #24344b}
.footer_nav dl dd a,.footer_nav dl dt{color: #fff;font-size: 12px}
.newbottom{background: #fff;min-width: 1190px}
.love-links a,.link p,.frie-links a, .frie-links dt{color: #444}
.frie-links{border-bottom:none}
/*其他行业改版王雪莲end*/
/*new底部*/
/*.newbottom{ background:#17222a; min-width:1190px;}*/


/*页面侧面*/
.scrollzx{height:45px; line-height: 20px; border: 1px solid #ccc; width: 50px; background-color: #fff; position: relative; padding-top:5px; font-size:9px; color: #818181; font-family:'微软雅黑';text-decoration:none; text-align:center;display: block;margin-top:15px;}
.scrolljhc{height:45px; line-height: 20px; border: 1px solid #ccc; width: 50px; background-color: #fff; position: relative; padding-top:5px; font-size:9px; color: #818181; font-family:'微软雅黑';text-decoration:none; text-align:center;display: block;margin-top:15px;}
.scrolljhc em{position: absolute; top:-10px; display: none; width: 20px; height: 20px; background: url('../image/sqicon1.png') no-repeat; right: -5px; color: #fff; text-align:center; line-height:20px;}
.scrollwx{height:45px; line-height: 20px; border: 1px solid #ccc; width: 50px; background-color: #fff; position: relative; padding-top:5px; font-size:9px; color: #818181; font-family:'微软雅黑';text-decoration:none; text-align:center;display: block;margin-top:15px; }
.scrolltop{height:45px; line-height: 20px; border: 1px solid #ccc; width: 50px; background-color: #fff; position: relative; padding-top:5px; font-size:9px; color: #818181; font-family:'微软雅黑';text-decoration:none; text-align:center;display: block;margin-top:15px;}

.cscwl-lst .t{padding-top:3px;}
.cscwl-lst .gs{margin-top:8px;}