@import url('http://res.csc86.com/v2/m/init/css/style.css');
@import url('http://res.csc86.com/v2/c/pro-template/template.css');
.xj-ls{width:700px; height:166px; margin:auto;}
.xj-ls .xj-img{float:left; width:119px; height:166px;}
.xj-ls .xj-txt{float:left; width:500px; height:166px; margin-left:50px;}
.xj-ls .xj-txt .xj-tlt{font-family:'微软雅黑'; font-size:14px; font-weight:bold; line-height:25px;}
.xj-ls .xj-txt li{font-family:'微软雅黑'; font-size:12px; color:#333; line-height:24px;}
.xj-ls .xj-txt li a{color:#2664a2; text-decoration:underline;}
.xj-ls .xj-txt li em{color:#2664a2}
