/* CSS 5 */
*html { background-attachment:fixed; background-image:URL("about:blank");}

/*导航*/
.huo-top{ padding:2px 0; height:auto; overflow:hidden; zoom:1;}
.huo-top a{ color:#000; margin:0 8px;}


.main{ background:url(img/allbg.jpg) repeat left top;}
.link a,.link,.link p{ color:#fff;}

.bg{ background:url(img/bg.jpg) no-repeat center top; padding-top:430px;}
.g-o-cont{ width:900px; height:auto; margin:0 auto;  color:#383838;background:#ffecc4; padding:15px 30px;font-family:'微软雅黑';}
.g-o-cont h1{ font-size:20px; font-weight:700;}
.g-o-cont h5{ font-size:16px; margin-top:10px; font-weight:normal; padding-bottom:30px;border-bottom:2px solid #f4dcb1; }
.g-o-cont h5 span{ color:#f40000;}
.g-o-cont h2{ font-size:16px; padding-top:20px; color:#3f3f3f;}
.sel{ padding:6px 0 20px; border-bottom:1px dashed #f4dcb1;}
.sel label{font-size:14px;margin:0 15px 0 0; line-height:30px;}
.sel input{ vertical-align:middle; margin-right:8px;}
.sel input.write{  border:none;border-bottom:1px solid #333; width:230px; height:20px; line-height:20px; background:#ffecc4;}
.g-o-cont .table{padding:25px 0;}
.g-o-cont .table span{ color:#f30; margin-right:3px;}
.g-o-cont h3{ font-size:18px; font-weight:700; text-align:left; color:#3f3f3f; padding:15px 0 10px;border-top:2px solid #f4dcb1;}
.g-o-cont table td{ font-size:16px; font-weight:700; color:#3f3f3f; line-height:36px;}
.g-o-cont table td input{border:none;border-bottom:1px solid #cdbe9e; width:300px; height:20px; line-height:20px; background:#ffecc4;}
.g-o-cont textarea{ width:898px; height:130px; border:1px solid #f4dcb1; background:#fff;}
.btn{ padding:30px 0; text-align:center;}
.btn input{ width:153px; height:37px; display:inline-block; background:url(img/btn.jpg) no-repeat left top; cursor:pointer; border:none;}
.butm{ height:55px; line-height:55px; font-size:16px; font-family:'微软雅黑'; background:#f5d9a3; position:relative; width:960px; margin:0 auto; text-align:center;}
.butm img{ position:absolute; left:-11px; top:0;}
.butm em{ font-weight:700;}
.aui_border{ background:#fff;}
.tablewidth{ line-height:26px; font-size:14px;font-family:'微软雅黑'; width:640px;}
.tablewidth p{ text-indent:24px;}
.tablewidth h2{ font-size:20px; font-weight:700;font-family:'微软雅黑'; text-align:center; padding:10px 0;}
.aui_buttons{ text-align:center;}
.aui_buttons .aui_state_highlight{ width:118px; height:36px; background:url(img/btn02.jpg) no-repeat left top; border:none; margin-bottom:30px; cursor:pointer;}















