.org-btn{background:#f60;height:30px;line-height:30px;border:none;border-radius:3px;color:#fff;font-family:simsun;text-align:center;padding:0 10px;*padding:0;cursor:pointer;}

.classify .frm-opt{margin-top:12px;padding-right:10px;text-align:right;}
.classify .frm-opt .org-btn{font-weight:bold;}
/* 产品分类 */
.af-nav h2{ background-image:url(/css/c/buyoffer/img/buyoffer-ico.png);}
.classify select{padding:5px;border:solid #ccc 1px;}
	.classify-top .txt{width:248px;height:24px;margin:0 10px 0 0;padding:0 0 0 3px;line-height:24px;border:solid 1px #ccc;}
	.classify-top .btn{width:62px;height:28px;background:url(img/search-bg.png) no-repeat;border:none;cursor:pointer;}
	.classify-top .addparentbtn{width: 81px;height: 27px;border: none;background: url(/css/c/shopmember/img/btn.png) 0 -77px no-repeat;text-align: center;cursor: pointer;}
	

/* 供应产品分类 */
	.proClassify td{border-bottom:solid #ebebeb 1px;text-align:center;}
	.proClassify .name,.proClassify .pic{text-align:left;}
	.proClassify .af-list-pro td{padding:15px 10px;}
	.af-list-pro td span.stutas{color:#f00;margin:0 0 0 15px;}
	.classify .af-page{height:32px;padding:1px 15px 4px 10px;line-height:32px;}
	.thimg .ibox{position:relative;width:60px;height:60px;background-color:#fff;padding:1px;border:1px solid #ebebeb;*z-index:0;}
	.thimg .ibox .rcm-ico{position:absolute;top:-2px;left:-2px;width:37px;height:39px;background:url(img/rcm-ico.png) no-repeat;_z-index:1;}
	.thimg .i{ width:60px; height:60px;*font-size:60px;*display:block;overflow:hidden;}
	.thimg .i img{max-width:60px;max-height:60px;_display:none;}
	.rcmed{color:#888;}

/* 自定义分类 */
.customClassify{*border-bottom:1px dotted #ccc;}
.customClassify th{background:#ffffe9;padding:6px 0;border:solid #ccc;border-width:1px 0;font-weight:700;}
.customClassify td{padding:15px 5px;border-bottom:dotted #ccc 1px;border-top:dotted #ccc 1px;}
.customClassify tfoot td{*border-bottom:none;}
	
.customClassify .branch{display:inline-block;width:11px;height:11px;margin-right:10px;overflow:hidden;background:url(img/branch.png) 0 -29px no-repeat;}
.customClassify .txt{width:178px;height:24px;overflow:hidden;padding:0 0 0 3px;line-height:24px;border:solid 1px #ccc;text-overflow:ellipsis; white-space:nowrap;}
.customClassify .order{display:inline-block;width:17px;height:17px;margin:0 4px;overflow:hidden;background:url(img/updown.png) no-repeat -0 -17px;}
.customClassify .subCon .order{background-image:url(img/sub-updown.png)}
.customClassify .down{background-position:-17px 0;}
.customClassify .up:hover{background-position:0 -34px;}
.customClassify .down:hover{background-position:-17px -34px;}
.customClassify tr.first .up,.customClassify tr.first .up:hover{background-position:0 0;cursor:default}
.customClassify tr.last .down,.customClassify tr.last .down:hover{background-position:-17px -17px;cursor:default}

.customClassify .subCon td{padding-top:0;}
.customClassify .subCon .broken{display:inline-block;width:24px;height:19px;margin:0 10px 0 5px;background:url(img/branch.png) no-repeat;}
.customClassify .subCon td{border:none;}
.customClassify .parent td{border-bottom:none;}
.customClassify .haschild .branch{background-position:-13px -29px;}
	.pro-amount:hover{text-decoration:none;}
	.pro-amount em{color:#333;}
#catetxt1,#catetxt2{height:26px;margin:10px 0;}
.g-d-b{display: block;}
#checkedAll{margin-right:10px;}

em.eor{font-weight:700;color:#f60;}
em.eor,a.aeor{margin:0 5px;}

/* 下拉产品类别 */
.p-cate-b{position:relative;float:left;line-height:24px;padding:4px 0 0;z-index:2;}
	.p-cata-add{position:relative;padding:0 32px 0 6px;cursor:pointer;border:solid 1px #c9c9c9;background:#f8f8f8;z-index:3;*height:24px;*width:38px;}
		.p-cata-arr{position:absolute;top:12px;right:10px;width:0;height:0;overflow:hidden;border:4px #f8f8f8 solid;border-top-color:#444;} 
	.p-cate-b ul{position:absolute;top:28px;border:solid 1px #c9c9c9;background:#f8f8f8;z-index:2;max-height:144px;width:144px;overflow-x:hidden;overflow-y:scroll;display:none;}
	.p-cate-b ul li{*float:left;padding:0 6px;width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;cursor:pointer;text-align:left;}
	.p-cate-b ul li:hover{background:#e6e6e6;}
	.p-cate-b ul li.c-sub{padding-left:30px;width:96px;}
.p-cate-b-h{z-index:4;}
	.p-cate-b-h ul{display:block;z-index:4;}
	.p-cate-b-h .p-cata-arr{border-top-color:#f8f8f8;border-bottom-color:#444;top:8px;}
	.p-cate-b-h .p-cata-add{border-bottom:none;z-index:5;}
.proClassify td.tl{text-align:left;}
.proClassify td .p-cate-b-h{top:-1px\9;_top:0;}
@-moz-document url-prefix(){.proClassify td .p-cate-b-h{top:-1px;} }
