.muted{color:#888}
.deaf{color:#cd0000}
strong.deaf{font-size:14px}
.stars-bd{*position:relative;width:70px;height:14px;margin-top:-2px;*top:2px;_top:0;background:url(img/star.png) repeat-x 0 0;vertical-align:middle;overflow:hidden}
.stars-bd div{*position:relative;*top:-3px;_top:0;height:14px;background:url(img/star.png) repeat-x 0 -14px;}
.star-1{width:14px}
.star-2{width:28px}
.star-3{width:42px}
.star-4{width:56px}
.star-5{width:70px}


.af-list-bd td{padding-left:10px}
.af-list-bd img{border:solid 1px #ccc}

.bl-info{padding-left:72px}
.bl-info a{line-height:30px}

.template-filter{margin-top:-10px;border:solid #ebebeb;border-width:0 1px 1px;line-height:34px}
.template-filter .industry{border-top:dotted 1px #ccc}
.template-filter .term{float:left;width:75px;padding-right:5px;text-align:right}
.template-filter .items{padding-left:80px}
.template-filter .items li{display:inline;margin-right:24px}

.market-list{width:840px;overflow:hidden}
.market-list ul{width:885px}
.market-list .item{ position: relative; float:left;width:250px;margin:0 45px 20px 0}
.market-list .thumb img{border:solid 1px #e8e8e8;padding:4px;margin-bottom:13px}
.market-list .t{color:#333;font-size:14px}
.market-list .stars{margin-top:10px;line-height:20px}
.market-list .viptext{height:18px}
.market-list .btns{margin-top:12px}
.market-list .btns a{width:118px;height:30px;border:solid 1px;text-align:center;line-height:30px;font-weight:700;font-size:14px;border-radius:2px;}
.market-list .btns .preview{float:left;background:#eee;border-color:#ccc;color:#444}
.market-list .btns .buy{float:right;background:#fc6824;border-color:#d5581e;color:#fff}

.template-detail h1{margin:5px 0 20px}
.template-detail .thumb{ position:relative; margin-right:22px;padding:5px;border:solid 1px #e8e8e8}
.template-detail .params{padding-left:334px}
.template-detail .param{margin-bottom:80px}
.template-detail .param dt{float:left;width:70px;*width:90px;*text-align:right;}
.template-detail .param dd{padding-left:70px;*padding-left:90px}
.template-detail .param .stars-bd{line-height:17px;*top:6px;}
.template-detail .param .stars-bd div{*top:-5px;_top:0;}
.template-detail .buy-now{width:160px;height:45px;margin-bottom:28px;background:#f67301;color:#fff;font-size:18px;text-align:center;line-height:45px;border:0;border-radius:2px;cursor:pointer}
.template-detail .tips p{margin-top:3px}
.template-detail .prices{height:27px;margin-top:5px}
.template-detail .prices li{float:left;height:22px;margin-right:10px;padding:0 10px;_padding:0 8px;border:solid 2px #ccc;line-height:22px;cursor:pointer;white-space:nowrap;}
.template-detail .prices .last{margin-right:0}
.template-detail .prices .cur{border-color:#f37913}

.viptext{height:20px;line-height:20px;overflow:hidden;}


.ad-paid{border:solid 1px #eee;padding:25px 20px 30px;background:#fafafa;}
.ad-paid div{padding:0 0 0 80px;background:url(img/success.png) 15px 5px  no-repeat;line-height:28px;}
.ad-paid div strong{font-size:14px;}
.ad-paid div a{display:inline-block;width:120px;height:29px;margin:5px 10px 0 0;text-align:center;background:url(img/sbtn.png) no-repeat;text-decoration:none;color:#fff;}
.ad-paid div .a2{background-position:0 -39px;color:#333;}

.template-icons{position:absolute;width:34px;height:40px;background:url(img/icons.png) no-repeat 0 0;top:-1px;left:15px;}
.free-ico{left:49px;background-position:-50px 0}

.skin-list .template-icons{width:21px;height:26px;background-position:0 -50px;top:5px;left:5px;}
.market-list .template-icons,.template-detail .template-icons{left:3px}
.skin-list .free-ico{left:26px;background-position:-50px -50px}
.disabled{cursor:default !important;}