@charset "utf-8";
.headtop{ height:41px; padding:15px 0;}
.headtop span,.headtop span a{ line-height:40px; font-size:14px; color:#000;}
.headtop span a{ margin:0 10px;}

.c{zoom:1;}
.c:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

/* 外边距 */
.ml_26{margin-left: 10px}

.banner{overflow: hidden;background:#e43333 url(../images/banner.jpg) no-repeat center 0;width: 100%;height: 982px}
.main{width: 1000px;margin: 509px auto 0;}
.definition{color: #fff;font-family: 'Microsoft Yahei', Tahoma, Arial;font-weight: bold;}
.definition dt{font-size: 35px;}
.definition dd{font-size: 18px;margin-top: 5px}

.introduce{width: 377px;margin-top: 70px; font-family: 'Microsoft Yahei', Tahoma, Arial;font-weight: bold;}
.introduce h2{font-size:26px;color: #e94545;margin-bottom: 15px}
.introduce p{font-size: 16px;font-weight: normal;margin-bottom: 15px}
.introduce b{display: block;font-size:26px;}

.address{float: right;display: inline;margin-top: 144px;width: 607px;margin-right: -10px}
.address li{float:left; display: inline;width: 199px;text-align: center;font:16px 'Microsoft Yahei',Tahoma, Arial}
.address li b{display: block;font: bold 24px 'Microsoft Yahei',Tahoma, Arial;margin-bottom: 10px}

.step{width: 1013px;margin:0 auto;background: #fff url(../images/icon3.gif) no-repeat center 0;overflow: hidden;}
.step_title{text-align: center;font: bold 38px 'Microsoft Yahei', Tahoma, Arial;color: #e94545;margin-top: 53px;}
.step_title span{display: inline-block;zoom:1;_display: inline;width: 43px;height: 79px;background: url(../images/num.gif) no-repeat;overflow: hidden;text-indent: -999px;margin:0 10px -8px}
.step ul{;background: url(../images/step.jpg) no-repeat;width: 1030px;margin: 35px auto 60px; }
.step ul li{float: left;display: inline;width: 110px;font: bold 1.5em 'Microsoft Yahei', Tahoma, Arial;margin-right: 72px;text-align: center;padding-top: 103px}
.step ul li.last{margin-right: 0}

.bac_e94545{background: #e94545}
.surprise{width: 1000px;margin: 0 auto;font: 18px 'Microsoft Yahei', Tahoma, Arial;color: #fff;padding: 40px 0;background: url(../images/icon.gif) no-repeat center 0;}
.surprise li{line-height: 38px}
.surprise h2{font-size: 38px;font-weight: bold;margin-bottom: 15px;}
.surprise h3{font-size: 24px;margin-bottom: 15px;}
.surprise b{display: inline-block;zoom:1;_diplay:inline;width: 22px;height: 22px;background: url(../images/icon2.gif) no-repeat;text-align: center;line-height: 22px;color: #e94545;font-family: 'Arial';margin-right: 10px}
.surprise span{color: #ffc63e}

.order_content{background: url(../images/bg.jpg) no-repeat center bottom;width: 100%;height: 1000px;}
.order_title{font: bold 38px 'Microsoft Yahei', Tahoma, Arial;color: #e94545;width: 1000px;margin: 14px auto;}
.order_content ul{background: url(../images/jx.gif) no-repeat;width: 990px;height: 476px;margin: 0 auto;}
.order_content ul li{float: left;display: inline;width: 150px;margin-right: 60px;text-align: center;font-family:'Microsoft Yahei', Tahoma, Arial }
.order_content ul li.last{margin-right:0 }
.order_content ul li b{font-size: 24px;font-weight: bold;margin-top: 40px;display: block;}
.order_content ul li p{display: block;width: 115px;font-size: 22px;color: #fff;margin: 135px auto 0;text-align: left;}
.order_content ul li span{display: block;width: 120px;margin: 70px auto 0;font-size: 18px;}
.fc_f64945{color: #f64945}
.fc_61c6f4{color: #61c6f4}
.fc_91db25{color: #91db25}
.fc_ffc63e{color: #ffc63e}
.fc_a649cb{color: #a649cb}
.icon{display: block;width: 41px;height: 22px;margin: 0 auto;background: url(../images/icon1.gif);}

.apply{width:825px;margin: 123px auto 0;}
.apply a,.apply span{display: block;overflow: hidden;text-indent: -999px}
.btn1{width: 200px;height: 40px;margin: 0 auto;}
.btn2{width: 326px;height: 116px;float: left;margin-top: 60px;}
.btn3{width: 326px;height: 116px;float: right;margin: 60px 36px 0 0;}

.foot_box{width: 100%;background:#fff url(../images/foot_bg.gif) repeat-x;}
.foot_content{width: 100%;background:url(../images/foot.jpg) no-repeat center bottom;height: 351px;}
.recommend{width: 1000px;margin: 0 auto;overflow: hidden;background: }
.recommend h2{font: bold 30px 'Microsoft Yahei', Tahoma, Arial;color: #fff}
.recommend ul {margin:20px 0 0 -10px;width: 1010px}
.recommend ul li{float: left;display: inline;width: 158px;height: 84px;margin:0 0 10px 10px;}

/*footer*/
.footer{color:#8d8d8d; text-align:center; line-height:26px; padding:20px 0;}
.footer a,.footer a:hover{color:#8d8d8d;margin:0 5px;}

.tablewidth{ width:550px; background:#f0f1f5;}
.tablewidth input{border:1px solid #ccc;width:170px; width:230px; line-height:30px; height:30px; vertical-align:middle;}
.tablewidth ul{ height:32px; margin-bottom:8px; display:block;}
.tablewidth ul li{ float:left; display:inline; height:30px; line-height:30px; display:inline-block; color:#565656;}
.tablewidth ul li.l{ width:165px; text-align:right; float:left; font-size:15px;}
.tablewidth ul li.r{ width:288px; float:left; padding-left:10px;}
.lay-h1{ height:35px; line-height:35px; text-align:center; font-size:18px; color:#8d8a9f; background:#fff; display:block; border-bottom:1px solid #e5e5e5;}
.tablewidth ul span{ width:22px; height:22px; display:none; overflow:hidden; background:url(../images/rtr.png) no-repeat left -40px; margin:0 0 0 8px; vertical-align:middle;}
.tablewidth ul span.cur{ display:inline-block;}
.aui_footer,.aui_content{ background:#f0f1f5;}
.aui_c button.aui_state_highlight{ background:url(../images/btn01.png) no-repeat left top; width:218px; height:44px; overflow:hidden; font-size:0; text-indent:300px;}
.aui_c .aui_buttons{ text-align:center; padding-bottom:15px;}
.tolink{ width:427px; height:200px; background:url(../images/btn03.png) no-repeat left top; margin:0 0 30px 50px;}
.tolink a{ width:200px; height:200px; display:inline-block; float:left;}
.tolink a.lay-l{}
.tolink a.lay-r{ margin-left:23px;}
.info{ display:none;}

.lay-alink{ font-size:16px; color:#1181e3; text-decoration:underline; position:relative; float:right; bottom:-40px; margin-right:25px;}

.fx{width: 1000px;margin: 0 auto;}