@charset "utf-8";
/*
 * 微盟V1.1  微盟会员中心首页
 * 会员中心
 * 2014.05.27 by lg
 */

 @import url('/v2/m/init/css/style.css');
 @import url('../../public/css/wslm-mywm.css');
 @import url('/v2/m/page/style_li.css');

/*public*/
.g-w120{width: 120px}
.g-lh26{line-height: 26px;}
.c-666{color: #666;}

.checkinput{width: 258px;height: 26px;line-height: 26px;border:1px solid #ccc;}
.checksubmit{width: 100px;height: 28px;line-height: 28px;border:0;background-color: #f9601d;margin-left: 10px;font-size: 14px;color: #fff;font-weight: 700;border-radius: 3px;cursor: pointer;}
a.paylink,a:hover.paylink{width: 100px;height: 28px;line-height: 28px;background-color: #f9601d;font-size: 14px;color: #fff;font-weight: 700;border-radius: 3px;text-decoration: none;text-align: center;}