@charset "utf-8";

.bg-74c368{background-color:#74c368;}
.bg-ffa1c5{background-color:#ffa1c5}
.bg-7ec3ed{background-color:#7ec3ed}
.bg-eb755b{background-color:#eb755b}
.m-t10{margin-top:10px;}

.c{zoom:1;}
.c:after{content: '.';height:0;display: block;clear: both;visibility: hidden;}
.top-sign-info{float: none}
.top_nav{width: 342px}
.top_nav a{float: left;display: inline;margin-left: 10px;color: #010101}

.nav{background: #3e7a1a;width: 100%;height: 46px;line-height: 46px;}
.nav_main{width: 1000px;margin: 0 auto; position: relative;}
.nav_btn{margin-left: 143px;color: #fff;font:bold 15px 'Microsoft YaHei';height: 46px;line-height: 46px;}
.nav_btn a{display: inline-block;zoom:1;_display: inline;width: 120px;text-align: center;color: #fff;}
.nav_log{display: block;width: 131px;height:175px;background:url(../images/logo.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/logo.png");position: absolute;top:-14px;left: 0}
.gh_btn{width: 254px;height: 46px;overflow: hidden;text-indent: -999px;background: url(../images/btn1.jpg) no-repeat 0 center;}

.banner{padding-top: 530px;background-color:#fff; background:url(../images/banner.jpg) no-repeat top center;}
.titimg{text-align:center;padding:10px;}
.titimg img{display:inline;}
.hot{width: 990px;margin: 0 auto;}
.hot li{float: left;display: inline;margin:5px 5px 0 0;}
.hot li img{float: left;display: inline;}
.hot li.last{float: right;margin-right: 0;background: url(../images/pic3.jpg) no-repeat;height: 472px;width: 292px;}

.title{background: #da235b;height: 70px;width: 990px;margin: 10px auto 0;}
.title span{display: block;background: url(../images/title_bg.jpg) no-repeat;height: 70px;font: 2.5em/70px 'Microsoft YaHei';color: #fff;text-indent: 20px;}

.products,.box,.products_footer{width: 990px;margin-left:auto;margin-right:auto;overflow: hidden;}
.p2{bottom:-230px;position:relative;}
.products ul{width:1000px;padding-bottom:15px;}
.products ul li{float: left;display: inline;width: 230px;margin-top:15px;margin-left:14px;background-color:#fff;padding-bottom:10px;}
.products a{color: #7b7b7b}
.products a img{margin:5px auto ;display: block;}
.products a span{color: #fff;float: right;width: 101px;height: 43px;background:url(../images/qiang.gif) no-repeat;font: 16px 'Microsoft YaHei';text-align: center;margin-right:-5px;}
.products a b{color: #c6011b;font: bold 16px 'Microsoft YaHei';}
.products a h1{color:#444;height:36px;overflow:hidden;padding-left: 5px;}
.products a p{padding-left: 5px;}
.products a:hover{text-decoration:none;}
.title_small{height: 59px;font: 1.5em/59px 'Microsoft YaHei';color: #fff;text-align: center;background:#da235b;}
.title_small a{color: #fff;}
.w480{width: 480px;}
.talk{background: url(../images/title.jpg);width: 990px;margin: 10px auto 0;height: 43px;font: bold 20px/43px 'Microsoft YaHei';color: #fff;text-indent: 42px;}
.title_tk{font: bold 26px/54px 'Microsoft YaHei';color: #ff4e00;border-bottom: 1px #d2d2d2 solid;margin:20px 0 17px 17px;}

.step{background: url(../images/step.jpg) no-repeat 0 center;width:448px;height: 300px;margin-left: 29px;position: relative;}
.step a,.step span{display: block;overflow: hidden;width: 80px;height: 27px;position: absolute;overflow: hidden;text-indent: -999px}
.btn1{left: 65px;top: 57px;}
.btn2{left: 307px;top: 113px;}
.btn3{left: 84px;top: 217px;}
.btn4{left: 332px;top: 250px;}
.qz_l{width: 87px;margin-top:49px }
.qz_l ul li{float: left;display: inline;width: 29px;text-align: center;}
.qz_r{margin-top:49px ;width: 360px;display: inline;color: #444}
.qz_r dt{font: 18px 'Microsoft YaHei';margin-bottom: 5px}
.qz_r dd{line-height: 20px;}
.title_qz{color: #d42259;font: 14px 'Microsoft YaHei'}
.lh_24{line-height: 24px}
a.qz_btn{display: block;width: 57px;background: #ff4e00;text-align: center;color: #fff;margin-top: 8px}
.fc_b1b1b1{color: #b1b1b1}
.qz_link{width: 264px;margin: 30px auto 0;}
.qz_link a{float: left;display: inline;width: 97px;height: 24px;color: #fff;font: bold 14px/24px 'Microsoft YaHei';text-align: center;margin-left: 25px;background: #ff4e00}
.qz_time{width: 118px;background: url(../images/icon.gif) no-repeat right center;}
.products_footer ul{width: 1016px;margin:12px 0 0 -26px;}
.products_footer li{float: left;display: inline;width: 229px;margin-left: 25px;}
.products_footer a{color: #fff;font: 18px 'Microsoft YaHei';text-align: center;}
.products_footer span{display: block;height: 44px;line-height: 44px;background: #d42259}
.add{width: 990px;margin: 5px auto 0;}
.add a{display: block;margin-bottom: 10px;}

/*footer*/
.footer{color:#8d8d8d; text-align:center; line-height:26px; padding:20px 0;}
.footer a,.footer a:hover{color:#8d8d8d;margin:0 5px;}
.jiathis_style{margin: 15px 0;}
.jiathis_style a{color: #fff}

.sc_btn{display: block;width: 170px;height: 107px;overflow: hidden;text-indent: -999px;margin: 100px auto;}

.side_nav{height: 282px;position: absolute;width: 107px;top:700px;right: 50px;}
.side_nav ul{margin: 5px 0;text-align: center;}
.side_nav a{height: 29px;font:bold 14px/29px 'Microsoft YaHei'; background: #df2961;color: #fff;border-bottom: 1px #fff solid;display: block;}
.side_nav ul li{height: 29px;}
.side_nav ul li.last{background: url(../images/side_bg.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/side_bg.png");width: 107px;height: 149px;cursor: pointer;}