.cate-input-text{
  width:365px;
  height: 26px;
  padding:0 5px;
}
.hyinput-box{
  position:relative;
  width:680px;
}
.hyinput-box .hyinput{
  
}
.hybtn{
      background-color:#dedede;
      width: 77px;
      height: 28px;
      border: 0;
      cursor: pointer;
      position:absolute;
      right:-87px;
      top:50%;
      margin-top:-14px;
      border:1px solid #A9A9A9;
}

.af-form {
  padding:15px 0;
}
.af-form .aff-item{
}
.aff-fr{
  line-height: 27px;
  display: inline-block;
}
.aff-fr.you-select strong{
  color: #f60;
}
.radiogroup label{
  margin-right:8px;
}
.radiogroup label input{
  margin-right:5px;
}
.hyinput-box .cate-panel{
  display: none;
  position:absolute;

  padding:10px;
  border:1px solid #A9A9A9;
  border-top-width:0;
  background-color: #fff;
}
.cate-panel.show{
  display: block;
}
.cate-panel ul{

}
.cate-panel ul li{
  width:33.33%;
  float: left;
}
.ovhid{
  overflow: hidden;
}
.hyselected{
  background-color: #fff;
  width: 679px;
  min-height: 28px;
  border:1px solid #A9A9A9;
}
.hyselected span{
  padding:0 3px;
  background-color: #EAEAEA;
  margin:3px 5px;
  display: inline-block;
}
.hyselected span i{
  display: inline-block;
  width:12px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  color:#fff;
  background-color: #BFC0C0;
  height: 12px;
  line-height: 12px;
  margin-left:5px
}
.hylist li{

}
.hylist li input{
  margin-right:10px
}
.cpservice{
  width:698px;
}
.cpservice li{
  float: left;
  width:19%;
  margin:0 3px 3px 0;
  box-sizing: border-box;
}
.cpservice li input{
  width:100%;
  padding:3px 6px;
  box-sizing: border-box;
}
.wait-m{
  overflow: inherit;
}
.g-dn{
  display: none;
}
.at-look select{
  margin-right:10px;
  font-size: 14px;
}
