.g-ico{display:inline-block;*display:inline;padding-left:20px;background:no-repeat 0 center;color:#2664A2;line-height:20px;visibility:middle;*zoom:1}
a.g-ico:hover{text-decoration: none;color: #f30}
.ico-fav{background-image:url(img/fav.png)}
.ico-fav:hover,.ico-faved{background-image:url(img/fav-hover.png)}
.ico-favorite{background-image:url(img/favorite.png);}
a.ico-favorite:hover{color:#2664A2;}
a.ico-favorited,a.ico-favorited:hover{background-image:url(img/favorited.png);color:#bbb;}
a.ico-faved:hover{color:#404040;}
.ico-inquiry{background-image:url(img/inquiry.png)}
a.ico-inquiry:hover{color:#2664A2;}
.ico-verif{background-image:url(img/verif.png)}
.ico-mobile{background-image:url(img/mobile.png)}
.ico-tel{background-image:url(img/tel.png)}
.ico-fax{background-image:url(img/fax.png)}
.ico-follow{background-image:url(img/follow.png)}
.ico-home{background-image:url(img/home.png)}
.ico-unread{background-image:url(img/unread.png)}
.ico-read{background-image:url(img/read.png)}
.ico-back{background-image:url(img/back.png)}
.ico-down{background-image:url(img/down.png)}
.ico-entity{background-image:url(img/entity.png)}
.ico-real{background-image:url(img/real.png)}
.ico-followed{background-image:url(img/right.png)}
a.ico-followed:hover{color:#404040;}