
.txzftable{ border-collapse:collapse; text-align:center; width:100%;  background:#fff;}
.txzftable.mr30{ margin:90px 0px 200px;}
.txzftable tbody tr{  font-size:15px;font-family:微软雅黑;} 
.txzftable tbody td{   padding:8px 0px;}
.txzftable tbody td.left{ text-align:right; padding-right:10px; }
.txzftable tbody td.first{ padding-top:20px;}
.txzftable tbody td.left.top{ vertical-align:top; padding-top:16px;}
.txzftable tbody td.left.top2{ vertical-align:top; padding-top:12px;}
.txzftable tbody td.left.top.first{  padding-top:20px;}
.txzftable tbody td.left.center{ text-align:center; padding:20px 0px 40px;}
.txzftable tbody td.left.pt10{ padding-top:20px;}
.txzftable tbody td.left .img{ width:50px; height:46px; background:url(//res.csc86.com/v2/c/order/image/pay/group.png) 0px -1050px no-repeat; float:right; }
.txzftable tbody td.right{ text-align:left; }
.txzftable tbody td.right input{ border: none; border:1px solid #cecece; height:30px; line-height:30px;padding-left:12px; font-size:14px;font-family:微软雅黑; width:105px; }
.txzftable tbody td.right .yzm{  background:#d4d4d4; font-size:14px; margin:0px 0px 0px 8px; border:none; width:105px; text-align:center; padding-left:0px; height:32px; cursor:pointer}
.txzftable tbody td.right .s2{ color:#22aadd; font-size:12px; margin-left:10px;}
.txzftable tbody td.right .s2 a{ color:#22aadd;}
.txzftable tbody td.right .s3{ color:#e94545; }
.txzftable tbody td.right .s4{ margin-left:5px; }
.txzftable tbody td.right select{ border: none; border:1px solid #cecece;width:125px; height:30px; line-height:30px; font-size:14px; color:#444;  padding-left:7px; margin-right:8px;  }
.txzftable tbody td.right select.gsyh{ width:260px;}
.txzftable tbody td.right input.i1{ width:105px}
.txzftable tbody td.right .yzm{/* padding:5px 20px 7px; background:#d4d4d4; font-size:14px; margin:0px 0px 0px 8px;*/}
.txzftable tbody td.right p{ padding-top:5px; }
.txzftable tbody td.right p a{ color:#22aadd; font-size:13px;}
.txzftable tbody td.right .p1{ font-size:18px;font-family:微软雅黑; line-height:25px;}
.txzftable tbody td.right .p2{ font-size:14px;font-family:微软雅黑;line-height:25px;}
.txzftable tbody td.right .p2.cor1{ color:#888}
.txzftable tbody td.right .red-abtn{background:#e94545;font-size:16px;height:48px;line-height:48px;padding:0 53px;}
.txzftable tbody td.left.center.tl { text-align:left}
.txzftable tbody td.left.center.tl .red-abtn.pt1{ padding:0px 30px; height:40px; line-height:40px;}
.txzftable tbody td.left.center.tl .s1{ margin-left:20px; color:#22aadd; cursor:pointer}
.txzftable tbody td.right .a{ color:#22aadd}
.txzftable tbody td.right .a.b{ margin-left:30px;}
.txzftable tbody td.right.pt0{ padding:0px}

.paymentszf .aui_main{ background:#fff;}
.paymentszf .aui_state_lock .aui_dialog{box-shadow: none!important}
.paymentszf .aui_nw,.paymentszf .aui_ne,.paymentszf .aui_sw,.paymentszf .aui_se,.paymentszf .aui_w {width:0px!important; height:0px!important; }
.paymentszf .aui_nw,.paymentszf  .aui_n,.paymentszf .aui_ne,.paymentszf .aui_w,.paymentszf .aui_e,.paymentszf .aui_sw,.paymentszf .aui_s,.paymentszf .aui_se{background:none!important;;opacity:0!important;filter:alpha(opacity=0)!important;}
.paymentszf .aui_title{ background:#f8f8f8!important; height:45px!important; line-height:45px!important; font-size:16px!important;font-family:微软雅黑; color:#444!important}
.paymentszf .aui_inner{ border-radius:5px; overflow: hidden; width:500px!important;background: none!important}
.paymentszf .aui_close{ color:#3e3a51!important; width:45px!important; height:45px!important; border:none!important; line-height:45px!important; top:0px!important; } 
