/*************** 底部版权 ************/
.frie-links { position: relative; height: auto; overflow: hidden; zoom: 1; /* border-top: 2px solid #e6e6e6;  */
line-height: 26px; padding: 6px ; width:1000px;border-bottom:1px solid #e6e6e6; padding-top:25px;}
.frie-links dt { width: 75px; height: 26px; float: left; display: inline-block; font-weight: 700; }
.frie-links dd { width: 880px; height: auto; float: left; display: inline-block; /* padding-bottom: 6px; */}
.frie-links .hide { height: 26px; overflow: hidden; }
.frie-links a { white-space: normal; word-warp: nomal; color: #444; display: inline-block; }
.frie-links a:hover { color: #f60 }
.frie-links dd i { color: #d8d8d8; margin: 0 5px; font-style: normal; }
.frie-links .more { position: absolute; top: 25px; right: 6px;}
.frie-links .more span { display: inline-block; width: 9px; height: 9px; background: url(/v2/c/home/newindex/css/img/arr.png) 0 0 no-repeat; margin: 0 0 0 3px; cursor: pointer;vertical-align: middle;*margin-left:0;_margin-top:5px; }
.frie-links .more .s1 { background-position: 0 -22px;}

.link { padding-bottom: 10px; color: #444; line-height: 26px; text-align: center }
.love-links a { color: #444; padding: 0 10px }
.love-links a:hover { color: #f60 }
.link p { color: #888 }
.foot-lg { padding: 10px 0; }
.foot-lg span { width: 120px; border: 1px solid #d2d2d2; margin: 0 5px; display: inline-block; *display: inline; *zoom: 1; height: 50px; text-align: center; vertical-align: top; }