@import url('style.css');
.w749{width: 749px;}
.w240{width: 240px;}
.w520{width: 520px;}
.mt-10{margin-top:10px}
body{font-family: simsun;}


.quotations{width: 218px;border: 1px #eaeaea solid;height: 218px}
.column-title{background: #f7f7f7;height: 35px;font: 16px/35px Microsoft YaHei,simsun;text-indent: 10px;}
.column-title-a a{float: right;display: inline;height: 35px;line-height: 35px;color: #888;margin-right: 9px}
.recommend{margin:15px 7px;line-height: 24px;}
.recommend-tx{float: right;display: inline;width: 124px;}
.recommend-tx a{display: block;overflow: hidden;word-break:break-all;height: 24px;}
.recommend-tx b{color: #fa6824;font-size: 14px;}

.list-ad{display: block;width: 200px;margin: 12px auto 10px;}
.list{margin: 0 auto 7px;width: 200px;}
.list li{overflow: hidden;height: 26px;line-height: 26px;word-break:break-all;background: url(img/icon.gif) no-repeat 0 center;text-indent: 7px;}
.list span{float: right;height: 35px;color:#fa6824;text-align: right;margin-left: 10px}
.list a{overflow: hidden;display: block;word-break:break-all;}

.slide {width: 520px; height: 220px; overflow: hidden; position: relative;}
.slide ul li { width: 520px; height: 220px;}
.slide ol {position: absolute; bottom: 8px; right: 5px; }
.slide ol li {width: 18px; height: 10px; background: #fff; float: left; text-indent: -9999px; margin-right: 5px; box-shadow: 0 0 5px #888; overflow: hidden;}
.slide ol li.cur {background: #ff6c00}
.slide img{width: 520px;height: 220px;}

.buy-num{background: url(img/gather.png) no-repeat;height: 60px;padding-left: 10px}
.buy-num b,.buy-num span{float: left;display: inline;height: 30px;margin-top: 15px;font:16px/30px Microsoft YaHei,simsun;}
.buy-num span{width: 25px;margin-left:4px;background: #fff;text-align: center;font-size: 18px;}
.side{border:1px solid #e8e8e8;zoom:1;}
.buy-btn{display: block;background: url(img/gather.png) no-repeat 0 -70px;width: 217px;height: 49px;overflow: hidden;text-indent: -99px;margin: 9px auto;}
a.buy-btn:hover{background-position: 0 -231px}
.side-ad{display: block;height:56px;margin: 9px auto;border-top: 1px solid #e8e8e8; padding: 17px 10px 0;}

.content-title h2{height: 40px;font:18px/40px Microsoft YaHei,simsun;color: #fff;text-indent: 10px}
.content-title span{float: right;display: inline;height: 40px;line-height: 40px;color: #8db1c3}
.content-title span a{color: #fff;padding: 0 10px}
.content-title{background: #517688;}
.pageant{margin-top: 5px;background: #f3f3f3}
.pageant-msg{float: right;display: inline;width: 228px;margin-right: 10px}
.pageant-msg h3{border-bottom: 1px #bebebe dashed;font: 16px/27px Microsoft YaHei,simsun;word-break:break-all;margin: 5px 0 18px;overflow: hidden;padding-bottom: 5px;max-height: 54px}
.pageant-msg p{line-height: 22px}
.pageant-msg b,.pageant-msg span{display: block;word-break:break-all;}
.pageant-msg b{font: 700 14px Microsoft YaHei,simsun; }
.pageant-msg span{max-height: 44px;overflow: hidden;}

.column-title-a h2{font:16px/38px Microsoft YaHei,simsun;height: 38px;text-indent: 10px;}
.column-title-a{background: #f7f7f7;}

.bt-2{border-top: 2px #517688 solid;}
.items{margin:15px 10px 10px;}
.items li{margin-bottom: 13px;}
.items p{float: right;width: 120px;height: 70px;overflow: hidden;}
.items b{display: block;overflow: hidden;word-break:break-all;height: 24px;line-height: 24px}
.items span{display: block;line-height: 18px;height:36px;overflow: hidden;}

.content-ad{padding: 15px 0;clear: both;zoom:1;}

.mytable{margin: 15px 10px 0;}
.mt-15{margin-top: 15px;}
.mytable th{text-indent: 10px;background: #f7f7f7;height: 35px;text-align: left;font: normal 16px Microsoft YaHei,Arial;}
.w110{width: 110px;}
.w275{width: 275px}
.w135{width: 135px}
.w100{width: 110px;}
.cut-off{height: 30px;line-height: 30px;overflow: hidden;word-break:break-all;display: block;text-indent: 10px }
.mytable th,.mytable td{padding-left: 18px;}
.fc-ff0{color: #ff0000}
.box{border: 1px #e8e8e8 solid;border-top: 0;height: 518px;overflow: hidden;}

.ctr-l,.ctr-r{cursor:pointer;width: 18px;background: url(img/gather.png) no-repeat 0 -129px;width: 18px;height: 18px;margin-top: 12px;}
.ctr-r{background-position: -18px -147px;margin-right: 9px}

.active{background-position: -18px -129px;}
.cur{background-position: 0 -147px;}

.bulk-purchase{margin-top: 15px;width: 714px;}
.bulk-purchase ul{float: left;display: inline;width: 238px;overflow: hidden;}
.bulk-purchase li img,.bulk-purchase li span{float: left;display: inline;margin-left:8px;width: 220px;}
.bulk-purchase li span{text-align: center;margin: 10px auto 0;overflow: hidden;word-break:break-all;height: 22px;line-height: 22px;zoom:1;}
.g-hide{overflow: hidden;}
.bulk-purchase li a{float: left;display: inline;margin-bottom: 10px;}

.column-r{float: right;display: inline;width: 238px;border-top: 2px #517688 solid;overflow: hidden;}
.w238{width: 238px;}
.logo-show{border-bottom:1px #f0f0f0 solid;border-left:1px #f0f0f0 solid;width: 211px;margin: 18px auto 16px;overflow: hidden; }
.logo-show a{zoom:1;display: block;float: left;display: inline;border-top:1px #f0f0f0 solid;border-right:1px #f0f0f0 solid; }

.matchmaker{border:1px #e8e8e8 solid;position: relative;border-top-width: 2px}
h2.h2-style{background:#f7f7f7 url(img/gather.png) no-repeat 10px -165px; text-indent: 23px}

.person{display: block;width: 155px;height: 54px;position: absolute;top:-14px;right: 13px;background: url(img/pic.png)no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="css/img/pic.png");}
.case{width: 474px;margin:18px 10px 0;}
.case p{float: right;display: inline;width: 350px;margin-right: 10px}
.case p b{display: block;overflow: hidden;font: 16px/18px Microsoft YaHei,simsun;height: 18px;word-brak:break-all;margin-bottom: 10px;}
.case p span{overflow: hidden;display: block;line-height: 19px;height: 54px;overflow: hidden;line-height: 19px}
.case-ul{width: 474px;border-top: 1px #e8e8e8 dashed;margin: 15px 10px 5px;padding-top: 10px;overflow: hidden;}
.case-ul li{background: url(img/icon.gif) no-repeat 0 center;text-indent: 7px;overflow: hidden;width: 220px;line-height: 24px;height: 24px;word-break:break-all;float: left;display: inline;margin-right: 10px}

.exhibitio-search input{}