@import url('style.css');

.new-supply,.hot-actv{height:218px;}
.new-supply{width:218px;margin-right:10px;}
.new-supply-list li{background:url(img/l-icon.png) no-repeat 0 0;height:26px;line-height:26px;padding-left:19px;overflow:hidden;}
.new-supply-list li em{color:#fa6824;float:right;}
.new-supply-list li a{padding-right:5px;}
.hot-actv{width:238px;}
.hot-actv .box1-bd{padding:3px 9px 8px;}
.hot-actv-list li{height:18px;padding:3px 0;cursor:pointer;overflow:hidden;}
.hot-actv-list li img{display:none;}
.hot-actv-list .curr{height:50px;}
.hot-actv-list .curr img{display:block;}
.hot-actv-list .curr span{display:none;}
.hot-actv .box1-ft{text-align:center;border-top:1px solid #e8e8e8;padding-top:5px;}

.gold-spplr{width:220px;}
.gold-spplr .box2-hd i{display:block;background:url(img/sf.png) -240px -41px;width:44px;height:40px;position:absolute;right:0;top:0;}
.gold-spplr-bd{background:#f5f5f5;padding:13px 0 13px 4px;}
.gold-spplr-list{border-left:1px solid #f0f0f0;border-top:1px solid #f0f0f0;}
.gold-spplr-list li{float:left;border-right:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.gold-spplr-list li a img{vertical-align:top;}
.mq-tour{width:540px;}
.mq-tour .box3-hd,.mq-tour .box3-bd{border:none;}
.mq-tour .box3-bd{padding-top:14px;}
.mq-tour .pictxt-list,.sj-actv .masktxt-pic-list{border-bottom:1px dashed #e8e8e8;}
.mq-tour .pictxt-list li,.sj-actv .masktxt-pic-list li{padding-bottom:23px;}
.mq-tour .pictxt-list .info{margin-left:215px;}
.mq-tour .pictxt-list .info h3{font-weight:normal;font-size:16px;font-family:Microsoft YaHei;}
.mq-tour .pictxt-list li .info p{height:66px;}
.mq-tour .txt-list,.sj-actv .txt-list{padding:13px 0;}
.mq-tour .txt-list li,.sj-actv .txt-list li{height:28px;line-height:28px;background-position:left 13px;}
.mq-tour .txt-list li{float:left;width:249px;}
.mq-tour .txt-list li a{margin-right:5px;}
.mq-tour .txt-list li em{color:#888;}
.sj-actv{width:240px;}
.sj-actv .box3-bd{padding:14px 9px 0 9px;}
.sj-actv .masktxt-pic-list li a{width:220px;height:105px;}

.rankings{width:220px;overflow:visible;}
.rankings .box2-hd i{display:block;position:absolute;top:0;left:-6px;background:#517688 url(img/sf.png) no-repeat -294px 0;width:6px;height:45px;}
.rankings .box2-bd{background:#f5f5f5;width:202px;padding-top:20px;padding-bottom:2px;border:none;overflow:hidden;}
.rankings-list li h3{font-weight:normal;}
.rankings-list li .num{color:#888;}
.rankings-list li .num em{color:#ff6c00;}
.rankings-list li{padding-left:19px;}
.rankings-list li h3{background:url(img/l-icon.png) no-repeat;width:183px;padding-left:19px;position:relative;left:-19px;height:18px;line-height:18px;overflow:hidden;}
.rankings-list .top1 h3{background-position:0 -30px;}
.rankings-list .top2 h3{background-position:0 -51px;}
.rankings-list .top3 h3{background-position:0 -73px;}
.rankings-list .top4 h3{background-position:0 -93px;}
.rankings-list .top5 h3{background-position:0 -115px;}
.pro-rankings-bd .rankings-list li{padding-bottom:6px;}
.rankings .cmpny-rankings-bd{padding-bottom:20px;}
.cmpny-rankings-bd .rankings-list li{padding-top:6px;padding-bottom:6px;}
.guide-topic{width:780px;}
.guide-topic .box3-hd,.guide-topic .box3-bd{border-left:none;}
.guide-topic .guide-bd{width:749px;padding-top:20px;padding-bottom:5px;overflow:hidden;}
.guide-bd .masktxt-pic-list,.guide-bd .txt-list{width:798px;}
.guide-bd .masktxt-pic-list li{float:left;margin-right:46px;}
.guide-bd .masktxt-pic-list li a{width:220px;height:120px;}
.guide-topic .topic-bd{padding:15px 0 5px 15px;}
.guide-bd .txt-list li{float:left;width:214px;margin-right:46px;}
.topic-bd .pictxt-list{width:532px;overflow:hidden;}
.topic-bd .pictxt-list li{float:left;width:220px;margin-right:46px;overflow:hidden;}
.topic-bd .pictxt-list .info{margin-left:100px;}
.topic-bd .pictxt-list li{padding-bottom:15px;}
.topic-bd .pictxt-list li .info h3{height:18px;}
.topic-bd .txt-list{width:220px;overflow:hidden;}

.artic-flr .box3-hd{padding-left:23px;}
.artic-flr .box3-hd .lbz-icon{position:absolute;left:12px;top:12px;} 
.artic-pic-list li{height:26px;line-height:26px;overflow:hidden;}
.artic-pic-list li .masktxt-pic{display:none;}
.artic-pic-list li .masktxt-pic a{width:190px;height:85px;}
.artic-pic-list .curr{height:85px;background:none;padding-left:0;padding-top:5px;padding-bottom:10px;}
.artic-pic-list .curr .t{display:none;}
.artic-pic-list .curr .masktxt-pic{display:block;}

.dskx{width:220px;}
.dskx .box3-hd,.dskx .box3-bd{border-right:none;}
.dskx .box3-bd{padding:15px 0 15px 14px;height: 152px}
.dskx .box3-bd .artic-pic-list{border-right:1px solid #e8e8e8;padding-right:13px;}
.srsq{width:540px;}
.srsq .box3-hd{border-left:none;border-right:none;}
.srsq-bd{padding:18px 15px 18px 15px;height: 146px;}
.srsq-bd .pictxt-list{width:251px;padding-right:15px;}
.srsq-bd .pictxt-list .info{margin-left:70px;}
.srsq-bd .txt-list{width:244px;}
.srsq-bd .txt-list li{height:21px;line-height:21px;background-position:left 10px}
.jyzd{width:240px;}
.jyzd .box3-hd,.jyzd .box3-bd{border-left:none;}
.jyzd .box3-bd{padding:15px 24px 15px 0;height: 152px}
.jyzd-bd .artic-pic-list{border-left:1px solid #e8e8e8;padding-left:23px;}
