/*
 * 模板样式文件引入
 *
 * 基础init-头部topBar-搜索headSearch-底部foot
 *
 */

/*
 @import url('http://res.csc86.com/f=v2/m/init/css/style.css');
 @import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
 @import url('http://res.csc86.com/v2/m/head-search/css/style.css');
 @import url('http://res.csc86.com/v2/m/foot/css/style.css');
 合并后引入如下
*/

 @import url('http://res.csc86.com/f=v2/m/init/css/style.css,v2/m/top-bar/css/style.css,v2/m/head-search/css/style.css,v2/m/foot/css/style.css');


/* 部分样式重写 */
html,body{overflow-x: hidden;}
a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}
.link{border-top: none!important;}
.link *{color:#fff!important;}
/* 无搜索框的样式 */
.head{height:90px; background:#fff;}
.head .logos{margin-top:15px;}
.head .csc{padding-right:12px;margin-right:12px;}
.head .channel{color:#666;font-size:18px;line-height:56px;}
.navigation{margin-top:30px;}
.navigation li{float:left;font-size:16px;padding:0 7px;line-height:20px;border-left:dashed 1px #d5d5d5;}
.navigation .g-bn{border:none;}
.navigation a{float:left;display:block;padding:2px 5px;color:#000;}
.navigation a:hover{color:#fff;background:#c31611;text-decoration:none;border-radius:3px;}

/* 以下为专题样式 */
.content a:hover{text-decoration: none;}
.ofh{overflow: hidden;}
.cred{color:#e50000;}
.cgreen{color:#060;}
.chs{color:#835809;}
.cyellow{color:#ff0;}
.cfff{color:#fff;}

.bn1{height: 705px; background: url(img/b1.jpg) center top no-repeat;}
.bn2{height: 751px; background: url(img/b2.jpg) center top no-repeat;}
.grules{background: #ffe8c0;}
.cwrap{width: 996px;margin: 0 auto;}
.grules-bg{width: 337px; height: 77px; position: absolute; bottom: 7px; right: -270px; background: url(img/b4.png) 0 0;}
.bn3{height: 900px; background: url(img/b3.jpg) center top no-repeat;}
.bn4{height: 860px; background: url(img/b5.jpg) center top no-repeat;}
.fwrap{background: url(img/b6.jpg) 0 0 repeat-x; background-color: #bc0a00;}

.tree{ width: 674px; height: 585px; background-position: center bottom; background-repeat: no-repeat; position: absolute; left: 50%; margin-left: -338px; bottom: 105px;}
.lv1{background-image: url(img/1.png);}
.lv2{background-image: url(img/2.png);}
.lv3{background-image: url(img/3.png);}
.lv4{background-image: url(img/4.png);}
.lv5{background-image: url(img/5.png);}
.lv6{background-image: url(img/6.png);}
.lv7{background-image: url(img/7.png);}
.lv8{background-image: url(img/8.png);}
.lv9{background-image: url(img/9.png);}

.usr{width: 996px; position: absolute; bottom: 12px; left: 50%; margin-left: -498px; text-align: center;}
.usr-1{padding: 0 60px;}
.usr-f, .usr-f a{font-size: 24px; font-family: Microsoft YaHei; line-height: 50px;}
.btn{width: 169px; height: 50px; font-size: 24px; font-family: Microsoft YaHei; font-weight: 700; line-height: 45px; display: inline-block;}
.ybtn{background: url(img/btn1.png); color: #e50000;}
.rbox{background-color: #ffdca0; border: 1px solid #bf8b47; border-radius: 8px;}
.rules{width: 511px; height: 397px;}
.rules-in{padding: 18px 32px;}
.rules-in dd{padding-top: 21px;}
.ranking{width: 459px; height: 397px;}
.ranking-in{padding: 5px 32px 10px;}
.ranking-t{width: 100%;}
.ranking-t td{text-align: center; border-right: 1px dashed #bf8b47; padding-top: 6px;}
.brn{border-right: none !important;}
.ranking-t th{text-align: center; border-bottom: 1px dashed #bf8b47;border-right: 1px dashed #bf8b47; padding: 6px 0;}
.brules{padding-top: 215px;}

.swrap{width: 966px; background: #fff; margin: 0 auto; margin-top: 25px; padding-top: 30px; padding-left: 30px; padding-right: 30px}
.g-c9{color:#999;}
.corg_abtn{display:inline-block;background:#d1101a;height:25px;color:#fff;
font:bold 14px/25px Microsoft YaHei;text-align:center;}
.corg_abtn:hover{background:#fd1d03;text-decoration:none;}
.tlq-bd{padding-bottom:35px;}
.qts_itm3{width:466px;}
.qts_itm3 .itm3_hd{border-bottom:1px dashed #e0e0e0;padding:0 8px 18px;}
.qts_itm3 .itm3_hd .hd_lf{width:85px;}
.qts_itm3 .itm3_hd .hd_lf .inf span{float:left;text-align:center;width:49%;line-height:15px;}
.qts_itm3 .itm3_hd .hd_c{margin-left:110px;line-height:22px;}
.qts_itm3 .itm3_hd .hd_c h3{margin-bottom:5px;}
.qts_itm3 .itm3_hd .hd_c .corg_abtn{height:20px;line-height:20px;padding:0 5px;}
.qts_itm3 .itm3_bd{line-height:22px;}
.qts_itm3 .itm3_bd h3{color:#e60012;font:bold 14px Microsoft YaHei;padding:15px 0 5px;}
.qts_itm3 .itm3_ft .corg_abtn{width:97px;}
.tpc-cmmnt{width:466px;}
.tpc-cmmnt .g-comment-page{padding-bottom:0;}
.g-comment-like span{white-space:nowrap;}
.pro1{position: absolute; left: 54px; top: 176px;}
.pro2{position: absolute; right: 40px; top: 196px;}
.pro3{position: absolute; left: 145px; top: 573px;}
.pro4{position: absolute; left: 415px; top: 591px;}
.pro5{position: absolute; left: 726px; top: 586px;}
.prof1{position: absolute; left: 224px; top: 92px;}
.prof2{position: absolute; right: 224px; top: 92px;}
.prof3{position: absolute; left: 124px; top: 479px;}
.prof4{position: absolute; left: 440px; top: 479px;}
.prof5{position: absolute; right: 107px; top: 479px;}
.probtn{position: absolute; width: 128px; height: 34px;}
.probtn1{left: 51px; top: 325px;}
.probtn2{right: 51px; top: 325px;}
.probtn3{left: 121px; top: 710px;}
.probtn4{left: 444px; top: 710px;}
.probtn5{right: 114px; top: 710px;}
.mask{position: fixed; width: 100%; height: 100%;left: 0; top: 0; z-index: 99; background: #000; filter:alpha(opacity=50); background: rgba(0, 0, 0, .7); }
.popwin{min-width: 400px; min-height: 200px; background: #fff; border-radius: 8px; position: fixed; left: 50%; top: 50%; z-index: 100}
.close{width: 54px; height: 54px; position: absolute; right: -27px; top: -27px; z-index: 101; background: url(img/close.png);}
.popwin-i{padding: 30px 20px;}
.stay{width: 217px; height: 69px; background: url(img/bt3.png); line-height: 59px;}
.stall{width: 217px; height: 69px; background: url(img/bt4.png); line-height: 59px;}
.popwin a:hover{text-decoration: none;}
.mr64{margin-right: 64px;}
.mr40{margin-right: 40px;}
.jspng{position: absolute; right: 22px; bottom: 0;}
.czz{width: 85px; height: 85px; background: url(img/zzb.png);position: absolute; z-index: 3;right: -53px; bottom: 278px;}
.g-comment-items ul{height: 200px; overflow: auto;}