@import url(/v2/m/init/css/style.css);
@import url(../../common/css/m-public.css);
@import url(../../common/css/app-frame.css);
html{overflow-y:auto;}
.g-c4{color:#444;}
.djprc-dtl-box,.ktqprc-dtl-box{margin-left:auto;margin-right:auto;padding-top:15px;}
.djprc-dtl-box{width:756px;}
.ktqprc-dtl-box{width:666px;}
.ktqprc-dtl-box .hd{font-weight:bold;font-family:simsun;}
.ktqprc-dtl-box .hd em{color:#c90000;font-family:Arial;}
.prcdtl-lst{border-left:1px solid #ddd;border-top:1px solid #ddd;text-align:center;color:#000;font-family:Arial;}
.prcdtl-lst th,.prcdtl-lst td{border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:7px 10px;}
.prcdtl-lst th{background:#f6f6f6;color:#444;}
.prcdtl-lst td span{display:inline-block;word-break:break-all;}
.prcdtl-lst td .prc b{font-size:14px;color:#cc0000;}