.aui_state_lock .aui_dialog{box-shadow: none!important}
.aui_inner { background: none!important}
.aui_nw,.aui_ne,.aui_sw,.aui_se,.aui_w {width:0px!important; height:0px!important; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se{background:none!important;;opacity:0!important;filter:alpha(opacity=0)!important;}
.aui_close{ color:#fff!important; width:42px!important; height:42px!important; border:none!important;background:url(//res.csc86.com/v2/c/member/supply/css/img/tkbac.png) no-repeat; text-indent:200px;white-space:nowrap; display:block; overflow: hidden!important; font:0px!important;} 

.tk{  padding:50px ; text-align:center;color:#100203;font-size:30px;   font-family:微软雅黑; font-weight:bold; margin:0px auto; width:435px}
