/* CSS 5 */
.g-o-a{ width:990px;}
.huo-top { height:27px; line-height:27px; background:#F1F1F1;}
.huo-top span{ float:right;}
.huo-top span a{ margin:0 5px; color:#888; }
.huo-top span a:hover{ color:#067ed4; text-decoration:none; }
/*搜索*/
.web-search{ background:#ab0000;}
.m-search{ width:542px; margin-right:0;}
.m-search div.g-c-f{ background:url(img/search_div.png) no-repeat 10px 0;}
.m-search .ss-txt{ border:none; width:365px;}
.m-search div .txt{ height:19px; width:343px; margin:4px 0 0 6px; line-height:19px;}
.m-search div .btn { background: url(img/search-btn.png) no-repeat; width:115px; height:36px;}
.m-search ul li a{ color:#c1c1c1;}
.m-search ul li.cur a, .m-search ul li.cur a:hover, .hot-keys a:hover{ color: #FFF; font-weight:700;}

/*banner*/
.banner{ height:500px; background:#7500ac url(img/banner.png) no-repeat  center 0;}


/*商品列表*/
.content{ background:url(img/con-bg.png) repeat 0 0;}
.list_pro{ padding:0 15px; width:960px; background:#fff;}

.w_698{ width:668px;_width:666px;}
.w_290{ width:290px;}

.list_pro h2{ background: url(img/spic_bg.png) no-repeat 0 center; height:40px;}
.list_pro h2 span{ display:none; color: #ff95ce;font-family: Microsoft YaHei,simhei; font-size:18px; font-weight:700; height: 34px; line-height: 30px; background:#FFF; width: 169px;}

.list_pro h4{ background:url(img/di_spic.png) no-repeat 0 center; height:34px;}
.comp_l{ background:#eee; border:1px solid #e3e3e3; padding-bottom:10px;}
.comp_l h3{ padding-left:15px; border-bottom:1px solid #e3e3e3; font-size:18px; font-family:Microsoft YaHei,simhei; height:40px; line-height:40px;}
.comp_l h3 a{ color:#333; }
.comp_l h3 a{ color:#333; text-decoration:none;}
.comp_l ul{ padding:10px 10px; color:#525252; line-height:21px;}
.comp_l div{ padding:0 10px;}
.comp_l li.padd{ padding-bottom:8px; height:41px; }
.comp_l li .str{ font-weight:700; color:#b20000;}

.comp_l div img{ border:1px solid #e3e3e3;}
.comp_l .sho_img img{ margin-bottom:5px;}

.pro_r li{ float:left; width:222px; _width:220px; overflow:hidden;}
.pro_r li.l_padd{ width:224px;}
.pro_r li.l_padd img{ width:219px;_width:214px;}
.pro_r dl{ border:1px solid #e3e3e3; border-left:none; padding-bottom:5px; }
.pro_r dt{ position:relative; border-bottom:1px solid #e3e3e3;  }
.pro_r dt img{ width:217px;_width:214px; padding:2px; zoom:1; }
.pro_r dd.adrs{ padding:0 2px 2px; }
.pro_r dt div{ display:none; position:absolute; bottom:2px; left:0; width:197px; *width:194px; opacity:0.6; color:#b3aba7; margin:0 2px; padding:0 10px; background:#000; height:20px; line-height:20px;}
.pro_r dt:hover div,.pro_r dt.hover div{ display:block;}
.pro_r dt strong{ font-weight:700;  color:#b20000;}
.pro_r dl{ _width:219px; overflow:hidden;}
.pro_r dd.tit { height:20px; line-height:20px; overflow:hidden; width:210px; margin:0 10px;}
.pro_r dd.tit a{ white-space:nowrap; overflow:hidden; width:205px;*width:200px; display:block; color:#444;}
.pro_r dd.tit a:hover{ text-decoration:none; color:#7600ad;}
.pro_r dd.price{ color:#888; padding:0 10px; width:200px;overflow:hidden;}
.pro_r dd.price a{ float:right; width:80px; margin-top:12px; height:35px; text-indent:-99999px; background:url(img/btn_pric.png) no-repeat 0 0; }
.pro_r dd.price a:hover{ background-position:0 -40px;}
.pro_r dd.price span{ display:block;  font-size:14px; height:24px; overflow:hidden; padding-left:15px; background:url(img/btn_pric.png) no-repeat 0  bottom; }
.pro_r dd.price i{ font-style:normal; font-size:12px;  color:#b20000; font-weight:700;}
.pro_r dd.price strong{ background:#fff; font-size:16px;overflow:hidden; line-height:30px; zoom:1;}


.fiexd{ position:fixed; height:386px; width:130px; right:40px; top:200px; background: url(img/fiexd-bg.png) 0 0 no-repeat;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50));}

.fiexd ul{ padding:45px 0 0 5px; line-height:36px; font-size:14px;  }
.fiexd ul li.padd{ color:#f7f7f7; height:29px; line-height:22px; padding-left:6px; font-weight:700; font-family: Microsoft YaHei,simhei; }
.fiexd ul li a{display:block; height:29px; padding-left:5px; line-height:20px;color:#f7f7f7;  font-weight:700; font-family: Microsoft YaHei,simhei;}
.fiexd ul li a:hover{ color:#f7f7f7; text-decoration:none; background: url(img/bg_r_list.png) 0 0 no-repeat; }
.wd-link{ padding:7px 0 0 7px;}
.wd-link a{ display:block; width:114px; height:27px; }
.f-top{ margin-top:20px;}
.f-top a{ display:block; height:30px; color:#7131b8; font-size:14px; text-align:center; }
.f-top a:hover{ text-decoration:none; color:#fff; }
/*foot yq*/
.footer{ background:#a4a4a4;}
.footer p{ color:#FFF; }
.footer a{ color:#FFF; }
.footer a:hover{ color:#0688e5; text-decoration:none; }
.jiathis_style{ height:18px; overflow:hidden; margin:15px 0 0 114px;}
.jiathis_style table{ display:none;}
.jiathis_style .jtico{ margin-left:5px !important;}