@charset "utf-8";
/* 
 * 微盟V1.1 智能绑定
 * 会员中心
 * 2014.05.14 by lg
 */

 @import url('/v2/c/member/wslm/public/css/wslm-mywm.css');

/*自动绑定成功*/
.wmform .succ{float: left;border: 0;margin-left:160px;}

/*手动绑定*/
.wm-step{background: url(/css/c/membercenter/img/prev.png) top center no-repeat;height: 34px;width: 429px;margin: 0 auto;}
.wm-step2{background-position: 0 -41px;}
.wm-step3{background-position: 0 -82px;}
.wm-step li{width: 33.33%;float: left;height:20px;position: relative;}
.wm-step li span{position: absolute;width: 100%;top: 40px;font-weight: 700;}
.wm-step li.g-t-l span{left: -25px;}
.wm-step li.g-t-c span{left: 2px}
.wm-step li.g-t-r span{right: -9px}
.wmtable li b.ico-help{margin-bottom: 2px;}
.wmtable li img.uphead{vertical-align: top;}

/*协议*/
.agreement{width: 610px;height: 280px;border: 1px solid #ccc;padding: 10px;overflow: hidden;overflow-y: scroll;}

.wmform .step2{margin-left:120px;}

.copy-link{font-size: 13px;color: #333;}
.copy-link span.g-t-r{width: 60px;margin-right: 10px}
/*.copy-link input{border: 0;background: none;outline: none;width: 180px;}*/

.wmform .succ.m-l-45{margin-left: 290px;}