body{ background:#005099 url(img/body_bg.png) no-repeat center 0;}
.h_520{ height:383px; }
.web_top{ padding-top:20px;}
.web_top a{ color:#FFF; padding:0 10px;}
.logo{ width:233px; height:70px; background:url(img/logo.png) no-repeat center 0;}
.logo a{ display:block; width:65px; height:60px; }
.jiathis_style{ width:230px; float:right; height:30px; margin-top:6px;}
.main_nav{ height:45px;}
.main_nav li{ float:left; width:160px; text-align:center;}
.main_nav li a{ font-size:18px; color:#FFF;  font-family: Microsoft YaHei,simhei;}
.main_nav li a:hover{ color:#FA6824; text-decoration:none;}
.w_640{ width:650px;}

.src-img {height: 260px;overflow: hidden;position: relative;width: 620px;}
.src-img ul {height: 230px; position: absolute; width: 20000px;}
.src-img li { float: left; position:relative; z-index:3;height:260px; width:620px;}
.src-img li img { height:260px; width:620px;}
.src-img ol {bottom: 15px;position: absolute;right: 15px;}
.src-img ol li { background:#b3b3b3; height: 10px;margin-left: 10px;overflow: hidden;text-indent: -99999px;width: 20px; cursor:pointer;}
.src-img ol li.cur { background: #da0000;}

.src-img li .bg{ display:none; position:absolute; width:620px; height:40px; z-index:4; bottom:0; left:0; background:#000; opacity:0.7; }
.src-img li .tit{ display:none;position:absolute;width:620px; height:40px; line-height:40px; font-size:14px; z-index:5; left:10px; bottom:0; color:#b3b3b3;font-family:Microsoft YaHei,simhei;}
.src-img li:hover .bg,.src-img li.hover .bg{ display:block;}
.src-img li:hover .tit,.src-img li.hover .tit{ display:block;}


.hui_rc{ width:290px; }
.hui_rc h2,.ped_dl dd.tit,.jin_cai .h_tit,.jin_hui .h_tit{ position:relative; top:-5px; font-size:24px;font-family: Microsoft YaHei,simhei;  }
.hui_rc h2 a,.ped_dl dd.tit a{ display:block; overflow:hidden;  white-space:nowrap; color:#333; }
.hui_rc h2 a:hover,.ped_dl dd.tit a:hover{ text-decoration:none;}
.hui_rc p{ line-height:25px;}
.ti_ad{ line-height:29px;}
.tie_bor{ overflow:hidden; position:relative; border:1px solid #dddddd; height:38px; line-height:38px; padding-left:10px; background:url(img/tie_bor.png) repeat-x 0 0;}
.tie_bor ul{ position:absolute;}
.tie_bor li{ height:38px; line-height:38px;} 

.adv_list{ padding-top:17px;}
.adv_list img{ padding-right:25px;}
.adv_list .last img{ padding:0;} 

.w_500{ width:500px;}
.w_410{ width:410px;}
.ped_dl dt{ width:190px;}
.ped_dl dd{ float:right; width:290px; line-height:23px;}
.ped_dl dd.tit{ font-size:16px; font-weight:bold;}
.ped_dl dd.tit a{width:290px;height:30px; line-height:30px;}


.dl_r dt{ width:190px;}
.dl_r dd.tit a,.dl_r dd{ width:205px; line-height:25px;}

.jin_cai{ border-top:1px solid #e9e9e9;}
.jin_cai .h_tit{ padding:10px 0 5px; font-size:18px;}

.jin_cai .tit ol {float: right;height: 18px;padding-top:10px;width:80px;}
.jin_cai .tit li {background: url(img/scoll-dipt.png) 0 3px no-repeat scroll;cursor: pointer; float: left;height:15px;margin-left:15px;_margin-left:7px;width:11px; cursor:pointer;}
.jin_cai .tit li.cur {background-position: -25px 3px;}


.view-slide{ height:155px; overflow:hidden; }
.view-slide div{ float:left; width:188px; margin:0 auto;}
.view-slide div img{ width:170px; height:125px;}
.view-slide div span{ display:block; height:26px; line-height:26px; text-align:center;}
.view-slide div span a{ color:#333;}
.view-slide div span a:hover{ color:#067ED4; text-decoration:none; }

.jin_hui{ border-top:1px solid #E9E9E9;}
.jin_hui .h_tit{ font-size:18px; padding:10px 0 5px;}
.jin_hui li a{ float:left; width:191px; _width:189px; height:75px;}
.jin_hui li a.last{ width:175px;}
.jin_hui li img{ border:1px solid #b2b2b2; width:175px; height:65px; }





.yqhd a{ position:absolute; width:120px;left:321px;top:1110px;  height:30px;}

.yqhd a.btn_de2{ left:540px;top:1110px; }



.hui_xi { line-height:24px;}
.hui_xi h1{ color:#CC0033;font-size: 15px; border-bottom:1px solid #E9E9E9; line-height:30px;}



/*footer*/
.foot-top {text-align:center; color:#868686; margin:0 auto; padding:10px 0;}
#footer { color:#fff;text-align:center;padding:20px 0 30px 0;}
.foot { margin:0 auto; text-align:center;}
.foot a { color:#fff; padding:0 8px;}

.foot p { line-height:27px;}














