.head{ padding:6px 0;}
.h-l{}
.h-r{ color:#000; padding-top:10px;}
.h-r a{ margin:0 10px; color:#000;}

.main{ background:url(img/bg.png) repeat left top; font-family:Microsoft YaHei,simhei;}
.nav{ background:url(img/banner.png) no-repeat center top;}
.nav-top{ height:auto; zoom:1; padding-top:10px;}
.nav-top .jiathis_style{ float:right;}
.nav-top .jiathis_style a{ color:#000;}
.n-info{ padding:435px 20px 0 70px;+*padding:420px 20px 0 70px; color:#fff; font-weight:700; font-size:17px; line-height:30px;}
.n-bpr{ padding:55px 0 100px 685px; width:230px;}
.n-bpr h2{ color:#d1452e; font-size:22px; font-weight:700;}
.n-bpr p{ color:#75452d; font-size:16px; line-height:32px; padding:10px 0 20px;}
.lo-h2{ height:42px; line-height:42px; background:#f2571a url(img/nav-bg.png) no-repeat right top;; color:#fff; font-weight:700; font-size:20px; padding-left:30px;}
.con,.cul{ color:#75452d; font-size:16px; line-height:30px; padding:15px 20px 30px 20px;}
.cul{ height:auto; overflow:hidden; zoom:1;}
.cul li{ width:30%; float:left; padding-right:15px;}
.cul li a,.con a{ background:#75452d; color:#fff; padding:0 10px; display:inline-block; height:24px; line-height:24px;}
.po{ background:#ebb600; color:#75452d; font-size:14px; height:34px; line-height:34px; padding:0 20px;}
.ba-top{ padding-top:20px;}
.ba-top a{ border-bottom:1px solid #fff; width:990px; height:80px; display:inline-block;}














