/*根据需要引入下面这些css*/
@import url("/v2/m/init/css/style.css");
/*@import url("/v2/m/newtopnav/css/style.css");*/
@import url("/css/m/acenter/acenter-top/top.css");
@import url("/css/m/acenter/uc-sidebar/uc-sidebar.css");
@import url("/css/m/acenter/uc/uc.css");
@import url("/css/m/acenter/uc-content/uc-content.css");
@import url("/css/m/acenter/acenter-footer/footer.css");
@import url("../../common/css/style.css");/*新版账户中心公用样式*/
@import url("/v2/m/dialog/css/style.css");/*弹窗样式*/
@import url("/v2/m/page/style_li.css");/*分页*/

/*我的优惠券*/
.mycpn-bd{padding:0 20px 30px 20px;}
.Spage{padding-top:20px;text-align:right;}

.jhcpn-pop .ac-ftxt{width:200px;}
.jhcpn-pop .cpn-tip{background-color:#f2f2f2;border:1px solid #e4e4e4;padding:10px 15px;line-height:26px;color:#333;}

/*为空的时候*/
.blank-list{padding-top:80px;}