/*
 * 模板样式文件引入
 *
 * 基础init-头部topBar-搜索headSearch-底部foot
 *
 */

/*
 @import url('http://res.csc86.com/f=v2/m/init/css/style.css');
 @import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
 @import url('http://res.csc86.com/v2/m/head-search/css/style.css');
 @import url('http://res.csc86.com/v2/m/foot/css/style.css');
 合并后引入如下
*/

 
 /* 依赖的模块 */
@import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
@import url('http://res.csc86.com/v2/m/head-search/css/style.css');
@import url('http://res.csc86.com/v2/m/init/css/style.css');
@import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
@import url('http://res.csc86.com/v2/m/head-search/css/style.css');
@import url('http://res.csc86.com/v2/m/foot/css/style.css');
/* 没用到模块的话请注释本行 */


/* 部分样式重写 */
a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}
body{ font-family:Microsoft YaHei;}

/*js 样式*/
.selected{ background-color:#f6f6f6;}

/* 以下为专题样式 */
.main{ background:#eeeeee url(img/banner.jpg) no-repeat center top; }
.main2{ background:#eeeeee url(img/banner2.jpg) no-repeat center top; }
.main3{ background:#eeeeee url(img/banner3.jpg) no-repeat center top; }
.main4{ background:#eeeeee url(img/banner4.jpg) no-repeat center top; }
.main5{ background:#eeeeee url(img/banner5.jpg) no-repeat center top; }
.main6{ background:#eeeeee url(img/banner6.jpg) no-repeat center top; }

.banner{height:576px;}
.jiathis_style{ float:right; margin-top:10px; height:300px;}
.jiathis_style a{ color:#fff;}

.box{ background-color:#fff;}
.pic{ float:left; margin:40px 0 40px 40px; border:1px solid #CCC;}
.box .txt{ width:665px;_width:600px; color:#858585; float:right; margin:0 55px 0 40px; text-align:justify;}
.box .txt h1{ font-size:14px; margin-top:20px; line-height:55px; color:#333;}
.box .txt p{ font-size:12px; line-height:22px;}

.dholder{ background-color:#fff;}
.dholder h1{ font-size:20px; padding-left:25px;}
.line{ width:955px; float:right; margin-top:30px; }
.dl{ background: url(img/rcircle.png) no-repeat center top; width:54px; height:54px; color:#fff; text-align:center; margin-top:-10px; margin-left:-27px; float:left;}
.dl p{ font-size:16px; padding-top:5px;}
.dl span{ font-size:12px;}
.dl .m{ border-bottom:1px dashed #fff; width:45px; margin-left:4px;}
.l_infot{ float:right; margin-right:25px;}
.container{margin-left:-8px;}

.l_info{ float:right; width:880px; margin-right:25px;cursor:pointer;}
.l_info h2{ font-size:12px;}
.l_info p{ font-size:12px; padding-top:15px; padding-right:60px; line-height:22px;}
.dtl{ margin-left:20px; display:none;}
.demo{  position: relative;width:825px; height:30px; background-color:#e7e6e5;overflow:hidden;float:left;}
.demo ul{ height:30px;position:absolute; width:2000px;}
.demo ul li{ width:200px;text-align:center;line-height:30px;display:inline-block;height:30px;float:left; color:#666666;}
.demo ul:after{display:block;clear:both; visibility: hidden;}


/*scroll*/
.img-scroll{position: relative; padding: 25px;}
.scroll-box{overflow: hidden;width: 920px;margin: 0 auto;}
.scroll-box ul{width: 9999px; text-align:center;}
.scroll-box li{float: left;display: inline;margin-right: 20px; width:215px; height:160px;}
.scroll-box li a{ font-size:13px; text-decoration:none; color:#fff;}
.ctr-l,.ctr-r{text-align: center;top:0;display: block;position: absolute;width: 32px;height: 160px;color: #9f9e9e;font: 18px/160px Arial;cursor: pointer;}
.ctr-l{left:0; padding-top:28px; font-size:24px;}
.ctr-r{right:0;padding-top:28px; font-size:24px;}
.ctr-r:hover{ color:#f7113d;}
.ctr-l:hover{ color:#f7113d;}
.text{ background-color:#333; opacity:0.6; width:215px; height:30px; margin-top:-30px;}
.text p{ line-height:30px; color:#fff;}

.link {padding-bottom: 10px;border-top: none;color: #444;line-height: 26px;text-align: center;}


/*侧导航*/
.fiexd_nav{ display:none;}
.fiexd{ position:fixed; height: auto; width:210px; right:0px; top:60px; background: url(img/fixed-bg.png) no-repeat top;_background:url(img/right-nav-top.png) no-repeat -1px top;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50)); padding-top:54px;}
.link-lc{text-align: center; width:160px; margin:0 auto; margin-top:-50px; height:70px; color:#ff5655; float:right; font-size:16px; line-height:18px;}
.link-lc h2{ font-style:italic;}
.link-lc h2 span{ font-style:normal;}

/*弹窗相关*/
.pup{background:#f0f1f5;width:530px; height:380px; font-size:15px;font-family:Microsoft YaHei; border-radius:5px; display:none;}
.g-cred{color:#F00;}
.pup .box-hd h2{color:#1f1f1f;font-size:19px; padding:3px; background-color:#fff;}
.cyds-tbl{width:100%;}
.cyds-tbl th{text-align:right;font-weight:normal;height:45px;white-space:nowrap; width:185px;}
.cyds-tbl .g-h5{height:5px;}
.ipt-txt{ border:1px solid #ccc;color:#444; height: 45px; border: 1px solid #ccc; padding: 0 3px}
.txt-area{border:1px solid #ccc;color:#444; width: 432px; height: 53px; overflow: auto;}
.ipt-txt{ width:230px; height:30px;border:1px solid #ccc;padding:0 3px;}
.txt-area{padding:3px;resize:none;}
.ipt-smt{background:url(img/ok-btn.png) no-repeat;width:215px;height:41px;border:none;color:#fff;font:bold 18px/30px Microsoft YaHei;cursor:pointer;}

.pop{background:#f0f1f5;width:530px; height:290px; font-size:15px;font-family:Microsoft YaHei; border-radius:5px; display:none;z-index:999999;position:fixed;top:50%;left:50%;margin-left:-265px;margin-top:-190px;}
.g-cred{color:#F00;}
.pop .box-hd h2{color:#1f1f1f;font-size:19px; padding:3px; background-color:#fff;}
.box-c{ width:530px; text-align:center;}
.box-c h1{ font-size:20px; color:#ff5469;}
.box-c p{ font-size:17px; color:#808080; line-height:35px;}

