.search-index{margin:160px auto 320px;}
.search-index h1{margin-right:32px}
	.si-form{width:495px;height:30px;padding:4px;border:solid 1px #ddd;margin:40px auto;background:#f8f8f8;_padding-bottom:1px;}
	.si-inner{width:495px;height:30px;background:url(http://res.csc86.com/css/c/search/img/search-index.jpg) no-repeat;}
	.si-form .q{float:left;width:355px;height:28px;margin:1px 0 0;line-height:28px;font-size:14px;padding:0 0 0 30px;border:0;background:none;}
	.si-form .s,.a-search-btn{float:right;width:100px;height:30px;line-height:30px;border:0;background: #0177E5;color:#fff;font-size:15px;cursor:pointer;font-family:Microsoft Yahei;}

.list-top .g-select{margin:1px 0 0 6px}
.list-top .select-model{width:120px}

.search-list{}
.search-list .item .list{width:350px;margin:0 50px 0 15px;}
.search-list .item .price{width:80px;margin-right:40px;}
.search-list .item .adress{width:220px;margin:-2px 20px 0 0;*margin-top:0}
.search-list .item .adress .cname{max-width:130px;_width:130px;vertical-align:middle}
.search-list .item .vip{margin:0 4px}
.search-list .item .active{width:110px;}
.search-list .lih-pro-spr .item .active{width:100px;}

.key-nav{border:1px solid #ebebeb;margin-bottom:10px}
.key-content{background:#fff;}
.cate-nav .key-content{margin-bottom:-3px}
.key-content .search{float:left;padding-left:10px;color:#444;display: inline-block;}
.key-content strong{max-width:175px;margin:0 2px;color:#e94545;font-weight:bold;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis; vertical-align:top\0\9}
.key-content .search h1{display: inline;}
.key-content .article b,.key-content b strong,.key-content .search strong{max-width:175px;color:#e94545;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis; vertical-align:top\0\9}
@-moz-document url-prefix(){.key-content strong,.key-content .article b,.key-content b strong,.key-content .search strong{vertical-align:top;}}
.key-content .article{float:right;color:#444;padding-right:10px; display:inline-block}

.key-all{border-top:1px solid #ebebeb;float:left}
.key-all h3{float:left;font-weight:400;padding:5px 18px 0 0;text-align:right;width:42px}
.key-all ul{float:left;width:930px;padding:5px 0 10px;overflow:hidden}
.key-all ul li{width:155px;float:left;height:30px;line-height:30px;overflow:hidden}
.key-all ul li span{color:#888;}
.key-all ul li a{color:#184c95;padding:0 2px}
.key-all ul .cur a{color:#f60;}
.key-foot .key-all ul{width:990px}
.key-foot .key-all ul li{width:155px;padding-left:10px;color:#757575}
.key-foot .search{font-weight:bold}
.key-foot .key-all ul li a{color:#757575}
.no-supplier{border:1px solid #d5e4ee;background:#f7fbff;margin-bottom:10px;text-indent:18px;color:#444}
.no-supplier span{font-weight:bold;color:#444;padding-left:15px}
.no-supplier span a{padding:0 10px;}

.n-pro{padding:95px 0 105px 390px;width:610px;height:auto;margin:0 auto;text-align:left;background:url(img/no-nothing.png) no-repeat 200px 105px;}
.n-list{background:url(img/no-nothing.png) no-repeat 255px -290px;padding:95px 0 105px 440px}
.n-char{background:url(img/no-nothing.png) no-repeat 230px -783px;padding:95px 0 105px 410px}
.n-pro h3{color:#333}
.n-pro ul a{text-decoration:underline;}
.n-pro h3 strong,.n-pro h3 span{color:#f67301;}
.n-pro h3 span{font-size:12px}
.n-pro .n-y{display:block;text-align:left}
.n-pro ul{margin:10px 0;}
.n-pro ul li{line-height:25px;color:#333;padding:0 0 0 10px;background:url(img/dot.png) 0 11px no-repeat;}
.n-pro ul span{color:#f30;display:inline}

.advanced-search{border:solid #eee 1px;}
.advanced-search h2{padding:20px 0 0;font-size:22px; text-align:center;}
.advanced-search .list{padding:10px 0 40px 90px;}
.advanced-search .item{margin-top:15px;height:30px;}
.advanced-search .txt{width:250px;height:26px;line-height:26px;border:solid 1px #ccc;outline:none;margin-right:10px;}
.advanced-search .txt2{border-color:#8BA5CA}
.advanced-search .select{width:253px;margin-right:14px;padding:5px 5px 5px 2px;border:solid 1px #ccc;outline:none;}
.advanced-search .item strong{float:left;width:100px;height:30px;padding-right:5px;font-weight:400;text-align:right;line-height:30px;}
.advanced-search .item strong span{margin-left:8px;}
.advanced-search .item .btn{width:91px;height:40px;border:none;/*background:#233240 url(img/search-btn-bg.png) 0 -96px no-repeat;*/color:#fff;font:18px/40px 'Microsoft YaHei';cursor:pointer; /*text-indent:1000px;*/; background:#233240; border-radius:3px}
.advanced-search .item .btn:hover{background-position:0 -146px;}

.b-t-3blue{border-top:solid #0069b5 3px;}

.d-supply-list .ibox {width:150px;height: 90px;border: 1px solid #ebebeb;padding: 1px;}
.d-supply-list .ibox .i {width: 150px;height: 90px;}

.advanced-search .sel2{width:162px;}
.advanced-search .aff-value{padding-left:0;}
.advanced-search .g-f-msg-box{display:inline-block;}

#businessTypeForm{display:inline-block;}
.m-search{width:493px;}
.m-search div .txt{width:265px;*margin-left:-11px;_margin-left:0;}
.m-search .g-c-f{line-height:30px;}
.m-search div .ad-btn{margin:0 0 0 5px;_float:right;}
.m-search .hot-keys a{color:#666;}

.n-pro ul .inquiry-pulish-now{display:inline-block;padding:0 8px 0 28px;background:#067ed4 url(img/inquiry.png) 9px 6px no-repeat;color:#fff;text-decoration:none;}.n-pro ul .inquiry-pulish-now:hover{background-color:#0066ae;}

.main{float:left;width:800px}
.sub{float:right;width:188px}

/*新搜索列表*/
.search-list .spro-lst .item .list{width:340px;margin-right:80px;}
.search-list .spro-lst .item .adress .cname{max-width:180px;_width:180px;}
.search-list .spro-lst .item .adress{width:230px;margin-right:55px;}