/* CSS Document */
.discuss_type1 .li { padding-left:65px; position:relative; zoom:1; margin-bottom:20px;}
.discuss_type1 .li .pic1 {position:absolute; top:0; left:0; width:55px; height:55px; overflow:hidden;}
.discuss_type1 .li .t1 {color:#067ED4; line-height:20px;}
.discuss_type1 .li .t1 em {margin-right:10px;}
.discuss_type1 .li .t1 span {color:#888;}
.discuss_type1 .nr {line-height:1.7; min-height:20px; _height:20px;}
.discuss_type1 .comm { line-height:30px; height:30px;}
.discuss_type1 .comm .ico_xh,.discuss_type1 .comm .ico_db {display:inline-block; *display:inline; zoom:1; background:url(img/ico_bg.gif) no-repeat; padding-left:30px; margin-left:10px;}
.discuss_type1 .comm .ico_xh {background-position:3px 7px;}
.discuss_type1 .comm .ico_db {background-position:3px -34px;}
.discuss_type1_pl_box {position:relative; padding-top:9px;}
.discuss_type1_ul {border:1px solid #FDE7D2; background:#FFFAEE; padding:15px 10px; position:relative;}
.discuss_type1_pl_box .ico_sanjiao {background:url(img/ico_bg.gif) no-repeat bottom center; width:18px; height:10px; position:absolute; left:20px; top:0px; z-index:2; line-height:0; font-size:0;}
.discuss_type1_ul .li1 {padding-left:60px; position:relative; zoom:1; margin-bottom:10px;}
.discuss_type1_ul .li1 .pic2 {position:absolute; top:0; left:10px; width:40px; height:40px; overflow:hidden;}