@charset "utf-8";
.sns-page{ text-align:center; height:28px; margin:0;}
.sns-page a{ width:auto; height:20px; line-height:20px; border:1px solid #ccc; color:#333; background:#fff; padding:0 6px; font-size:12px; text-decoration:none; display:inline-block; margin:0 3px;}
.sns-page a.cur,.sns-page a.cur:hover{ color:#fff; background:#f96400; border:1px solid #f96400;}
.sns-page a:hover{ border:1px solid #f96400; color:#f96400;}



