.aui_inner{ background:#FFF;}
.aui_content{ font-size:12px;}
.aui_content div.conn{line-height:22px;}
.aui_content p.tips{ text-indent:2em; margin:10px 0 30px; display:inline; }
.g-f-msg-box .g-f-error{border:solid 1px #ff8d1f; display:none; line-height:24px; height:24px; padding-left:25px;background:#FFECE9 url(/css/m/app-frame/img/ico-bg.png) no-repeat 7px -44px;color:#f30}
.aui_content .group{ width:300px; margin-bottom:10px; line-height:24px; height:24px; border:1px solid #666;}
.aui_content textarea{ margin-top:10px; border:1px solid #d4d0c8; color:#999; resize:none;}
.aui_content .txt{ border:1px solid #DDD; height:24px; line-height:24px; width:200px; margin:20px 0 5px;}
.aui_content p.tps{ line-height:25px; margin-bottom:20px; }
.aui_content p.tips{ clear:both; line-height:25px; color:#545454;} 
.aui_content p.tips strong{ color:#067ED4;}

/*相册管理 yq*/
.upload-inner li{ position:relative; float:left; display:inline; width:105px; padding:0 10px;}
.upload-inner li a.del{ display:none; position:absolute; top:0; right:0; width:18px; height:18px; line-height:22px; text-align:center;background:url(img/del-btn.png) no-repeat 0 0;}
.upload-inner li:hover a.del{ display:block; }
.upload-inner li span{ display:block; width:105px; height:95px;}
.upload-inner li .up-load{ padding:10px; }

.aui_outer .aui_inner{ background:#fff;}
#upload-inner{ width:505px; overflow:hidden;}

#iframeId{ overflow:visible;}

























