/*公用样式*/
.g-cred{color:#F00;}
.g-c8{color:#888;}
.g-mr15{margin-right:15px;}
.ipt-txt{background-color:#fff;border: 1px solid #dcdcdc;height:25px;line-height:25px;padding-left:5px;padding-right:5px;}

.imgshow{height:50px;border:1px solid #fe9b30; display:inline-block; margin-right:15px;vertical-align:middle;}
.imgwidth{ width:130px;}
.down{ vertical-align:middle;}

/*首页轮播 和 广告位 列表页*/
.xcw-lst .xcw-tab thead tr td{ text-align:left;}
.xcw-lst .xcw-tab thead tr td.tab-h-l{ text-align:center;}
.xcw-lst .xcw-tab td.pho img{ margin-right:6px;}

/*首页轮播 和 广告位 增加*/
.xcwadd-box{background-color:#fff;border:1px solid #d6d6d6;padding:25px 0;}
.xcwadd-tbl th,.xcwadd-tbl td{padding:10px 0;}
.xcwadd-tbl th{text-align:right;font-weight:normal;}
.xcwadd-tbl .ipt-txt{width:260px;}

/*行业管理*/
.frm-czbox{text-align:center;margin-top:15px;}
.frm-czbox input{margin:0 5px;}
.industry-tab{text-align:left;}
.industry-tab th,.industry-tab tbody td{padding-left:15px;padding-right:15px;text-align:left;}
.industry-tab th{background-color:#f2f2f2;height:32px;}
.industry-tab .ipt-txt{width:220px;}