.af-nav h2{background-image:url(/css/c/shopmember/img/mem-shop.png)}
.quote-nav h2{background-image:url(img/quote-ico.png)}
.quote-nav .item em{margin-top:8px}

.aff-text{width:250px;}

.box-a{border:solid 1px #ebebeb}
	.ba-hd{height:28px;padding-left:9px;border:solid 1px #ebebeb;border-bottom:none 0;background:#ebebeb;font:700 14px/28px simsun;line-height:28px}
.list-bd .ba-hd{font-size:12px}

.ui-submit{display:inline-block;*display:inline;background:#E94545 url(img/buyoffer-bg.png) no-repeat right -50px;*zoom:1}
.ui-submit input,.ui-submit a{font-family:"Microsoft Yahei";position:relative;height:34px;*margin-right:-3px;_margin-left:0;padding:0 24px;*padding:0 12px;border:none 0;background:url(img/buyoffer-bg.png) no-repeat 0 0;color:#FFF;font-size:16px;font-weight:400;cursor:pointer}
.ui-submit a{display:inline-block;*display:inline;line-height:34px;*zoom:1}
.ui-submit a:hover{text-decoration:none}

.post-form .ui-submit{width:130px;background:#E94545 url(img/submit.png) no-repeat;}
.post-form .ui-submit-2{background-image: url(img/submit-2.png);
}
.post-form .ui-submit input{width:130px;text-indent:-9999em;*display:block;}
input:-ms-input-placeholder{color:#ccc;}
::-moz-placeholder{color:#a0a0a0;}
::-webkit-input-placeholder{color:#ccc;}

.ui-cancel{background-color:#f2f2f2;background-position:right -500px}
.ui-cancel input,.ui-cancel a{color:#666;background-position:0 -450px}

.ui-re-btn a{float:left;width:80px;height:27px;margin:0 10px 0 4px;background:#EDEDED url(img/buyoffer-bg.png) no-repeat 0 -400px;line-height:27px;text-align:center}
.ui-re-btn a:hover{text-decoration:none}

.w-190{width:190px}
.w-190b{width:188px}
.w-800{width:800px}
.w-800b{width:798px}

.post-step{margin:50px 0 10px}
.post-step img{ width:663px; height:50px;}

.post-form{margin:0 80px}

.g-f-msg-box p{height:28px;color:#888;line-height:28px}
.g-f-msg-box .g-f-error-unit{display:none;padding-left:20px;background:url(../../m/app-frame/img/verify-bg.png) no-repeat 0 7px}
.g-f-error-unit .g-f-error{display:none}
.g-f-error-unit .g-f-error-unit{display:block;*display:inline;*zoom:1}


.main-indu .btn{position:relative; border:1px solid #CCC; border-left:none; padding:0 12px; height:28px; float:left; background:#f4f4f4 url(img/m-btn.png) repeat-x 0 0;}

.main-indu{ position:relative; width:630px;*display: inline;}
.main-indu .selec-con{ overflow:hidden; zoom:1; float:left;width:340px;height:24px;border:1px solid #ccc;_display:inline;_margin-left:3px; padding-top:2px; background:#FFF;}
.main-indu .selec-con span{ float:left; padding:0 18px 0 5px; height:20px; line-height:20px; margin-left:5px; margin-bottom:3px; white-space:nowrap; background:#eaeaea url(img/select-close.png) no-repeat right 5px; cursor:pointer;}
.main-indu .selec-con .dtip{background:none;color:#cdcdcd}
.main-indu .all-sele-con{display:none;position:absolute; z-index:44; top:25px; left:0; *left:-411px;_left:-414px; width:578px; border:1px solid #CCC; background:#FFF;}
.main-indu .all-sele-con input{margin:0 3px 0 0;}
.main-indu .indus-con label{display:inline-block; width:160px;_height:28px; white-space:nowrap; margin:0 6px;}
.main-indu.hover .all-sele-con{display:block;}
.main-indu.hover .selec-con .dtip{color: #333;}

.aff-item .up-btn{width:67px;height:24px;background:#eee url(/css/c/offer/img/bg.png) no-repeat 0 0;border:0}

.aff-item .eg{color:#888}
.aff-item .eg strong{color:#cd0000;font-weight:400}

.msg-box p{display:none;float:left;min-width:225px;height:23px;margin:9px 0 7px;padding:0 15px 0 25px;line-height:23px}
.msg-box .error{background:#fff url(img/ico-bg.png) no-repeat 7px -44px;color:#888}
.error .msg-box .error,.ex .msg-box .ex{display:block}
.msg-box .ex{margin:2px 0 0;padding-left:0;color:#999}
{display:block}

.description-text{width:590px;height:280px}
.description-eg{width:590px;margin-bottom:5px}
.description-eg a{margin-right:12px}
.description .g-f-tip{display:block}
.aff-item .g-f-error .g-f-tip{display:none}

.up-img strong{margin-right:12px}
.up-img span{margin-right:12px;color:#f30}

.advanced{display: none;}
.advanced-show{display: block;}
.advanced-guide{margin:25px 14px 20px;padding-top:14px;border-top:solid 1px #e9e9e9;}
.af-bd .advanced-guide{padding-left:40px}
.delivery-date .g-d-ib{width:16px;height:13px;margin-left:-28px;_margin-right:-25px;background:#cacbcb url(img/ico-bg.png) no-repeat 0 -650px;vertical-align:middle}
.delivery-date .aff-text{width:178px}
.delivery-date .end-date{margin-left:10px}
.delivery-area select,.suppliers select{width:106px;height:24px;margin-right:4px;_margin-right:7px}

.adv-control{width:998px;margin:0 -80px 30px; background:url(img/ico-bg.png) repeat-x 0 -700px;height:30px}
.adv-control .to{display: block; width:180px;height:30px; border:solid #ccc;text-align: center;border-width:0 1px;margin:0 auto;background: url(img/ico-bg.png) repeat-x 0 -750px;line-height:30px;cursor: pointer;color:#444}
.adv-control .to span{width:9px;overflow: hidden;height:30px;background:url(img/ico-bg.png) no-repeat -9px -800px;vertical-align: top;*vertical-align: middle;margin-left:6px}
.adv-control .to:hover{color:#2664a2;text-decoration: none;}
.adv-control .to:hover span{background-position:-27px -800px}
.adv-control .to-hide span{background-position:0 -800px}
.adv-control .to-hide:hover span{background-position:-18px -800px}

.payment label{display:inline-block;*display:inline;padding-bottom:14px;*zoom:1}

.post-success{width:390px;margin:30px auto 150px;padding-left:12px}
.post-success .ico{position:absolute;width:46px;height:45px;margin-left:-58px;background:url(img/ico-bg.png) no-repeat 0 -500px}
.post-success p{margin:5px 0 60px;color:#666}

.list-nav h2{height:25px;margin:7px 0 20px;padding-left:40px;background:url(img/ico-bg.png) no-repeat 0 -200px;color:#0246AF;font-size:14px;line-height:25px}
.list-nav ul{padding-right:2px;line-height:26px}
.list-nav li{height:26px}
.list-nav a{display:block;margin:1px 0;padding-left:34px;color:#333}
.list-nav .cur a{background:#E7ECEF;color:#333;font-weight:700}
.list-nav .cur a:hover{color:#333;text-decoration:none}

.list-bd{margin-left:-1px;padding:10px 0 50px 12px;border-left:solid 1px #E1E5E9}

.buyoffer-list .ico-unread span{margin:0 1px 0 -3px;color:#0246af}
.buyoffer-list .ico-read{width:14px;height:20px;vertical-align:middle}
.buyoffer-list .t{padding-right:20px}
label.ico-unread,label.ico-read{padding:0 20px 0 0;background-position:right center}

.offer-list{padding:10px 0;border-bottom:solid 1px #EFEFEF}
.offer-list thead td{height:26px;border:solid #EFEFEF;border-width:1px 0;background:#F7F7F7;line-height:26px}
.offer-list tbody td{height:30px;line-height:30px}
.offer .t{padding-right:20px}
.offer-list .new{font-weight:700}
.offer-list .c,.batch-do{padding-left:3px}

.send-list .t a{max-width:196px;width:196px\9}

.republish .aff-item{margin-bottom:5px}
.republish .aff-key{float:none}
.republish .aff-value{padding-left:15px}
.republish .delivery-date{padding-top:6px}

.detail a{color:#067ED4}
.detail .g-ico{margin-left:12px;padding-left:13px}
.detail .ba-hd h2{margin-right:12px}
.detail .ba-hd p{color:#666;font-weight:400;font-size:12px}
.detail .ba-hd em{color:#F30}
    .detail-info table{margin:15px 0;line-height:30px}
    .detail-info .key,.offer-info .key{float:left;width:160px;text-align:right}
    .detail-info .g-h-01{margin:0 22px;border-bottom:dashed 1px #ebebeb}
    .detail-info .di-key,.detail-info .di-qkey{width:170px;text-align:right;vertical-align:top}
    .detail-info .di-value{width:520px;padding-left:8px}
    .detail-info .di-hd{margin:32px 24px 10px;padding:10px; color:#444;font-size:17px;background:#f8f8f8}
    .detail-info .un-reset ol,.detail-info .un-reset ul{padding-left:18px}
    .detail-info .un-reset img{max-width:520px}
    .di-status{margin:10px 24px 12px;padding:18px 30px;background:#fffaf0; border:solid 1px #ffd086;}
        .dis-hd span,.di-status .dis-bd{color:#888}
        .di-status .dis-txt{color:#f60}
            .dis-bd{margin-top:6px}
            .dis-do{margin-top:14px}
        .di-status .see-price{width:77px;height:24px;margin-right:10px;background:#fc742e url(img/btn-bg.png) 0 0;color:#fff;font-weight:700;text-align:center;line-height:22px}
        .di-status .see-price:hover{text-decoration:none}
    .detail-bt{padding:20px 0 50px 78px}
    .pb-status{width:770px;margin:25px auto;padding:10px 20px}

.detail-tips{}
.detail-tips .ba-hd{padding-left:24px;background:#ebebeb url(img/ico-bg.png) no-repeat 3px -145px;font-size:12px}
.detail-tips .ba-bd{height:250px;line-height:24px}
.detail-tips li{margin:16px 12px}

.quote-info{}
.quote-info .ba-bd{padding:14px}
.quote-info table{margin-top:8px;line-height:26px}
.quote-info th{width:70px;font-weight:400;text-align:right;vertical-align:top}
.quote-info td{width:560px}

.offer-info{padding-bottom:10px;line-height:28px}
.offer-info .oi-hd{margin:13px 0 2px 24px;font-size:14px}
.offer-info th{width:120px;font-weight:400;text-align:right;vertical-align:top}
.offer-info td{width:560px;padding-left:12px}

.list-filter{margin:0 0 10px 10px}
.list-filter select{width:170px;height:24px;margin-right:10px}

.quote-box{border:solid 1px #ebebeb;}

.quote-dialog .qd-item{margin-bottom:10px}
.quote-dialog .qd-item strong{color:#067ED4;font-weight:400}
.quote-dialog .qd-reply{padding:8px 10px;background:#ebebeb}
.quote-dialog .qd-send{padding-bottom:8px;border-bottom:dotted 1px #ebebeb}
.quote-dialog .qd-time,.qdi-hd span{color:#888}
.quote-dialog .qd-time{margin-top:3px}
    .qdi-hd{font-size:14px}
    .qdi-hd,.qdi-bd{display:inline}

.my-quote{margin-top:5px}
.my-quote .ba-hd{background:#f3f3f3;border:0;font-size:12px}
.my-quote .ba-bd{display:none;background:#fff}
.my-quote .ba-bd-cur{display:block}
.my-quote .show-detail{float:right;height:18px;margin:-24px 10px 0 0;padding-right:10px;background:url(img/ico-bg.png) no-repeat right -603px;line-height:22px\9}
.my-quote .show-less{background-position:right -553px}
.my-quote table{line-height:28px}
.my-quote th{font-weight:400;text-align:right;vertical-align:top}
.my-quote .mini{margin:10px 0}
.my-quote .mini th{width:80px}
.my-quote .mini td{width:200px}
.my-quote span{color:#f30}
.my-quote .complete td,.my-quote .complete th{border:solid #ebebeb;border-width:0 1px 1px 0}
.my-quote .complete .t{padding-right:50px;text-align:right}
.my-quote .complete .p{padding-left:45px}
.my-quote .complete .n,.my-quote .complete .it{padding-left:60px}
.my-quote .complete .it{border-right-color:#fff}
.my-quote .complete thead{font-weight:700}
    .complete-other td{padding-top:4px;line-height:20px}
.my-quote .total th{font-weight:700}

.buy-msg{border-color:#F6E2C3}
.buy-msg .ba-hd{background:#FFF1E2;border-color-bottom:#F0E9E3}
.buy-msg .up-ico{position:absolute;width:28px;height:16px;margin:-15px 0 0 26px;background:url(img/ico-bg.png) no-repeat 0 -350px}
.buy-msg .ba-bd{padding:14px 7px;background:#FFFAF5}
.buy-msg .ba-bd .msg{padding:0 4px 8px;border-bottom:solid 1px #EAEAEA}
.buy-msg .ui-re-btn{margin-top:13px}

.quote-form{margin:0 15px}
.parity{background-position:59px 20px}
.parity .quote-form{margin:0}
.parity .af-bd{width:800px;padding-top:10px}

.quote-form .qf-item{display:none}
.quote-form .cur{display:block}

    .quote-order .aff-text{width:116px}
    .quote-order tbody th{font-weight:400;text-align:right}
        .qo-bd{border-bottom:solid 1px #ebebeb}
        .qo-bd th,.qo-bd td{padding-top:12px}
    .quote-order .total{padding-bottom:10px}
    .quote-order .total strong{color:#f30}
    .order-other .aff-value{margin-bottom:10px;padding-left:0}
    .order-other .up-img{margin-left:76px}
    .order-other em{width:76px;margin-top:3px}
    .order-other textarea{width:576px;height:74px;_margin-left:-3px;overflow-y:scroll}
.quote-form .aff-submit{margin:5px 0 0 76px;}
.quote-form .aff-submit input{*margin-left:-15px;_margin:0 -15px}
.quote-form .error{display:none}
.quote-form .msg-box .error{display:block;position:absolute;min-width:0;margin:-26px 0 0 230px;*margin:2px 0 0 100px}

    .leave-msg textarea{width:725px;height:135px;overflow-y:scroll}
.quote-form .leave-msg .error{margin:0 0 0 14px;*margin:144px 0 0 -739px}
.quote-form .order-other .error{margin:0 0 0 76px;*margin:84px 0 0 -600px}

.parity-nav{float:left;width:188px;padding-bottom:40px;border:solid 1px #e0e0e0}
    .pn-hd{padding:10px;font-size:14px}
    .pn-hd span{color:#f60;margin:0 4px}
.parity-nav .pn-tp{height:26px;padding:0 8px;background:#F6F6F6;line-height:26px}
.parity-nav ul{line-height:28px}
.parity-nav ul input{position:absolute;margin:8px 0 0 12px;*margin-top:4px}
.parity-nav li{height:28px;border-bottom:solid 1px #e5e9eb;overflow:hidden}
.parity-nav li a{display:block;height:28px;padding:0 12px 0 30px;*padding-left:34px;color:#333}
.parity-nav li a:hover{background:#f3f3f3;text-decoration:none}
    .pn-bt{padding:10px 12px}
        .compare-btn{width:48px;height:20px;background:url(img/btn-bg.png) no-repeat 0 -50px;text-align:center;cursor:pointer}

.quote-detail .ba-hd{font-size:12px; border-bottom:solid 1px #f6f4f4}

.company-info{line-height:28px}
.company-info .ci-hd{_display:inline;position:relative;float:left;height:27px;margin:-28px 0 0 -1px;border:solid 1px #D8D8D8;border-radius:3px 3px 0 0;background:#F3F2F2 url(img/buyoffer-bg.png) no-repeat 0 -100px;overflow:hidden}
.company-info .ci-hd a{float:left;padding:0 26px 0 15px;background:url(img/ico-bg.png) no-repeat 82px -388px}
.company-info .ci-bd{display:none;width:808px;margin:0 -1px -1px;border:solid 1px #E0E0E0;background:#F7F7F7}
.company-info-show .ci-hd a{background-position:82px -438px}
.company-info-show .ci-bd{display:block}

.mini-company-info{border:solid 1px #ececec}
    .mci-bd{padding:12px 12px 20px 15px}
    .mci-bd ul{margin-top:6px;line-height:28px}
    .mci-bd .key{color:#888}
    .mci-bd .g-ico{width:12px;height:24px;vertical-align:bottom;*vertical-align:middle}

.detail-leave textarea{width:808px;height:116px;overflow-y:scroll}

.parity-bd .ba-hd{border:solid 1px #f6f4f4;background:#f6f4f4}
.parity-bd .ba-hd div{font-weight:400;font-size:12px;}
.parity-bd .ba-bd{width:800px;margin:0 0 -1px -1px;line-height:26px}

.parity-bd th{padding-left:25px;font-weight:400;text-align:left}
.parity-bd td,.parity-bd th{border:solid 1px #ebebeb}
.parity-bd td{padding:2px 10px 2px 12px}
.parity-bd .bg th,.parity-bd .bg td{background:#f0f7ff}

/*操作完成提示css 覆盖通用样式tipssctive.css*/
.post-step .nav-tips{height:9px;background:url(img/be-sted.png) repeat-x  0 0;}
.post-step .nav-tips li{height:9px;}
.post-step .nav-tips li i{top:-13px; background:url(img/nav-bg.png) no-repeat 0 0; width:34px; height:34px;}
.post-step .nav-tips li i.num1{ background-position:0 -44px;}
.post-step .nav-tips li i.num2{ background-position:-44px -44px;}
.post-step .nav-tips li i.num3{ background-position:-88px -44px;}
.post-step .nav-tips li i.num4{ background-position:-132px -44px;}
.post-step .nav-tips li i.num5{ background-position:-176px -44px;}
.post-step .nav-tips li.cur{background:url(img/be-sted.png) no-repeat 0 -29px;}
.post-step .nav-tips li.cur i.num1,.post-step .nav-tips li.cur i.num2,.post-step .nav-tips li.cur i.num3,.post-step .nav-tips li.cur i.num4,.post-step .nav-tips li.cur i.num5{background:url(img/nav-bg.png) no-repeat 0 0;}
.post-step .nav-tips li span{top:-38px;color:#444;font-weight: 700;}
.post-step .nav-tips li.cur span{color:#444;}
.post-step .nav-tips li.last span{ width:60px; left:-104%;}