@charset "utf-8";
/* CSS Document */
.ibanking-lay{ line-height:28px;vertical-align:top; height:auto; overflow:hidden;zoom:1;}
.ibk-l{width:70px;line-height:28px; display:inline-block; vertical-align:top;text-align:right;padding-right:8px; float:left;}
.ibk-r{displayinline-block;width: 420px;float: right;line-height:28px;}