/*
 * 模板样式文件引入
 *
 * 基础init-头部topBar-搜索headSearch-底部foot
 *
 */


 @import url('http://res.csc86.com/f=v2/m/init/css/style.css');
 @import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
 @import url('http://res.csc86.com/v2/m/head-search/css/style.css');
 @import url('http://res.csc86.com/v2/m/foot/css/style.css');


/* 合并后引入如下
 @import url('http://res.csc86.com/f=v2/m/init/css/style.css,v2/m/top-bar/css/style.css,v2/m/head-search/css/style.css,v2/m/foot/css/style.css');
*/

/* 部分样式重写 */
a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}

/* 无搜索框的样式 */
.head{height:90px;}
.head .logos{margin-top:15px;}
.head .csc{padding-right:12px;margin-right:12px;}
.head .channel{color:#666;font-size:18px;line-height:56px;}
.navigation{margin-top:30px;}
.navigation li{float:left;font-size:16px;padding:0 7px;line-height:20px;border-left:dashed 1px #d5d5d5;}
.navigation .g-bn{border:none;}
.navigation a{float:left;display:block;padding:2px 5px;color:#000;}
.navigation a:hover{color:#fff;background:#027fd1;text-decoration:none;border-radius:3px;}


/* 以下为专题样式 */
.main{background:#78000e url(img/banner.jpg) no-repeat top center;; min-width:1000px; overflow:hidden;}

.banner{height:596px;}
.jiathis_style{ float:right; margin-top:15px;}
.jiathis_style a{ color:#fff;}

.top1{height:175px; width:1045px; background: url(img/top-t.png) no-repeat top; margin-left:-29px;}
.top1 h1{ font-size:49px; color:#fff; text-align:center; line-height:115px;}
.box{margin-bottom:20px;}
.box .bd{padding:27px; background:#f5657d url(img/pinkbg.png) repeat-y; margin-top:-80px;}
.box .bd li:hover { border: 2px solid #dc2947;}
.box .t{ width:104%; overflow:hidden;}
.box .t li{ width:462px; height:250px; background-color:#FFF; float:left; margin-right:18px; border:2px solid #f5657d;}
.box .t li img{ float:left;}
.box .t li .txt{ float:right; width:200px;}
.box .t li .txt h2{ font-size:15px; }
.box .t li .txt h2 a{color:#333; text-decoration:none;}
.box .t li .txt h2 span{ color:#f74b3b;}
.box .t li .txt h3{ font-size:38px; color:#f74b3b;}
.box .t li .txt h3 span{ font-size:24px;}
.box .t li .txt p{ text-decoration:line-through; font-size:14px; line-height:2px;}
.box .t li .txt .b{ background:url(img/shopping1.png) no-repeat; height:40px;}
.box .t li .txt .b img{ margin:3px 0 0 18px;}
.box .t li .txt .b .btn{ padding:0 50px 10px 65px;}
.box .l{ width:103%; overflow:hidden;}
.box .l li{ width:220px; height:324px; background-color:#FFF; margin: 20px 6px 0 7px; float:left;  border:2px solid #f5657d;}
.box .l li .pic img{ margin:10px 10px 0;}
.box .l li p{ font-size:14px; text-indent:10px; line-height:40px;}
.box .l li p a{ color:#333; text-decoration:none;}
.box .l li .l-btm{background:url(img/btmbg.png) no-repeat bottom; height:75px; width:227px; margin-left:-7px;}
.box .l li .l-l{ width:85px; float:left;}
.box .l li .l-r{ width:125px; float: right; margin-top:5px;}
.box .l li .l-btm h3{ font-size:30px; color:#f74b3b; line-height:15px;}
.box .l li .l-btm h3 span{ font-size:24px; color:#f74b3b;}
.box .l li .l-btm p{ text-decoration:line-through; color:#f74b3b;}

.top2{ height:89px; background:url(img/top2.png) no-repeat center;}
.top2 h1{font-size:49px; color:#fff; text-align:center; line-height:95px;}
.box .bd2{padding:27px; background:#22a4cf url(img/bluebg.png) repeat-y;}
.box .bd2 .t li{ width:462px; height:250px; background-color:#FFF; float:left; margin-right:18px; border:2px solid #22a4cf;}
.box .bd2 .l li{ width:220px; height:324px; background-color:#FFF; margin: 20px 6px 0 7px; float:left;  border:2px solid #22a4cf;}
.box .bd2 li:hover { border: 2px solid #1680d1;}

.top3{ height:89px; background:url(img/top3.png) no-repeat center;}
.top3 h1{font-size:49px; color:#fff; text-align:center; line-height:95px;}
.box .bd3{padding:27px; background:#ce8c6b url(img/coffeebg.png) repeat-y;}
.box .bd3 .t li{ width:462px; height:250px; background-color:#FFF; float:left; margin-right:18px; border:2px solid #ce8c6b;}
.box .bd3 .l li{ width:220px; height:324px; background-color:#FFF; margin: 20px 6px 0 7px; float:left;  border:2px solid #ce8c6b;}
.box .bd3 li:hover { border: 2px solid #b9663d;}

/*scroll*/
.bd4{position:relative; background-color:#FFF;}
.top4{ height:64px; background:url(img/top4.png) no-repeat center;}
.top4 h1{font-size:32px; color:#fff; text-align:center; line-height:68px;}
.img-scroll{position: relative; padding: 25px;}
.scroll-box{overflow: hidden;width: 920px;margin: 0 auto;}
.scroll-box ul{width: 9999px; text-align:center;}
.scroll-box li{float: left;display: inline;margin-right: 20px;}
.scroll-box li a{ font-size:13px; text-decoration:none; color:#333;}
.ctr-l,.ctr-r{text-align: center;top:0;display: block;position: absolute;width: 32px;height: 160px;color: #9f9e9e;font: 18px/160px Arial;cursor: pointer;}
.ctr-l{left:0; padding-top:28px; font-size:24px;}
.ctr-r{right:0;padding-top:28px; font-size:24px;}


.fixed-nav{width:130px;height:282px;background:url(img/fix-nav.png) no-repeat; position: absolute;margin-left:1015px;top: 760px;_background-image: url(img/fix-nav-ie6.png);
}
.fixed-nav ul{width:140px;margin:0 auto; padding-top: 85px; text-align:center;}
.fixed-nav a{display: block;height:45px; line-height:45px; text-indent:-5px;color:#fff; font-size:20px; font-weight:700; font-family:Microsoft YaHei; text-decoration: none;}