/* CSS 5 */
.g-o-a{ width:990px;}
.huo-top { height:27px; line-height:27px; background:#F1F1F1;}
.huo-top span{ float:right;}
.huo-top span a{ margin:0 5px; color:#333; }
.huo-top span a:hover{ color:#067ed4; text-decoration:none; }
/*搜索*/
.m-search .ss-txt { border:2px solid #e60000;}
.m-search div .btn { background: url(img/search-btn.png) no-repeat;}
.m-search ul li.cur a, .m-search ul li.cur a:hover, .hot-keys a:hover{ color: #e60000;}

/*导航*/
.main-nav { background:url(img/nav-bg.png) repeat-x; }
.main-nav .g-o-a { position: relative; }
.main-nav div .ico1 { position:absolute; bottom:-19px;_bottom:-18px;  left:29px;}
.main-nav div .ico2 { position:absolute; bottom:6px; right:35px;}
#red-nav { margin-left:150px;}
#red-nav li{float:left; background:url(img/clip.png) left 2px no-repeat; height:46px; padding:10px 40px 0 40px; }
#red-nav li a { display:inline-block; color:#f6aeac; font-weight:700; line-height:24px; padding-top:18px;}
#red-nav li.fir a{ background:url(img/nav-ico1.png) top center no-repeat;}
#red-nav li.sec a{background:url(img/nav-ico2.png) top center no-repeat ;}
#red-nav li.las a {background:url(img/nav-ico3.png) top center no-repeat;}
#red-nav li a:hover { color:#FFF; text-decoration:none; }
/*banner*/

.top-banner { display:block;background:#fef400 url(img/banner.png) no-repeat center 0; height:649px; margin:0 auto;}

/*content*/
.cont-box { background:#f2f2f2; padding-top:20px;}

.product-list { width:705px; float:left; margin-left:24px;_margin-left:12px;}
.contact {font-size:18px;line-height:26px; height:222px; color:#333; font-family:Microsoft YaHei,simhei;  padding-top:55px; background:url(img/dd-img.png) no-repeat 0 0;}
.contact p.top-text { text-indent:2em; padding:52px 48px 15px 48px;}
.cont-tit { padding:6px 0 0 48px;}
.contact ul{ display:inline-block;padding:0 0 15px 48px;}
.contact ul li { float:left; padding-right:25px;}
.share { margin-top:13px; padding-right:20px;  }
.share li { float:right; margin:0 2px;}
.share li .tmblog{ position:relative; left:-6px;*left:0; top:-2px; top:0\9;*top:-1px;}
.tencent { padding-left:5px;}
/*查看专场*/
.con{ border:1px solid #bacada; width:700px; height:200px; background:#fff; margin-bottom:15px; }
.con h1{ font-size:16px; margin:25px 0 0 20px;}
.con h1 span{ display:block;font-size:12px; font-weight:normal; color:#888;}
.ribbon{ float:left; width:215px;_width:213px;}
.ribbon .bg{ position:relative; background: url(img/rinbbon.png) no-repeat; height:57px; width:223px; top:0; margin-top:30px; left:-12px;}
.bg a{ position:absolute; width:93px; font-weight:700; height: 30px; line-height:27px; font-family:Microsoft YaHei,simhei; color:#000; font-size:15px; text-align:center; position: absolute; background: url(img/tit-bg.png) no-repeat 0 0; left: 55px; top: 10px; }
.bg a:hover{ text-decoration:none; opacity:.9; }
.min-ad { position:relative; float:right; width:485px; height:199px; }
.min-ad i{ position:absolute; height:72px; width:87px; top:0; right:0; background: url(img/link-lab.png) 0 -8px no-repeat;}
/*马上报名*/
.ribbon2 { float:left; width:215px;}
.ribbon2 .bg{ background: url(img/rinbbon.png) 7px -83px no-repeat;}
.ribbon2 .bg a{ background-position:0 -75px; color:#3d8640; }
.min-ad2 i{ background-position:0 -127px;}
/*期待*/
.ribbon3 .bg { background: url(img/rinbbon.png) 0 -169px no-repeat;}
.min-ad3 i{ background-position:0 -473px;}

/*期待*/
.min-ad4 i{ background-position:0 -251px;}
.min-ad5 i{ background-position:0 -343px;}
/*aside*/
.aside { float:right; width:240px; margin-right:10px;_margin-right:5px;}
.aside .con-r{ background:#fff; margin-bottom:15px;}
.aside .con-r h1{ font-size:16px; background:#000; color:#fff; padding-left:10px; line-height:34px;}
.aside .con-r ul{ line-height:20px;}
.cati-li ul{ padding:10px 15px;border:1px solid #bacada; border-top:none; }
.scrollimg{ padding:15px 10px;border-left:1px solid #bacada;border-bottom:1px solid #bacada;border-right:1px solid #bacada;}
.view-out{ position:relative; overflow:hidden; height:354px;}
.scrollimg ul{position:absolute; }
.brand-list li{ height:73px; }
.brand-list li img{border:1px solid #bacada; zoom:1; float:left; display:inline; margin-left:3px;}

.footer{ background:#9d9d9d;}
.footer p{ color:#FFF; }
.footer a{ color:#FFF; }
.jiathis_style{ height:18px; overflow:hidden; margin:15px 0 0 114px;}
.jiathis_style table{ display:none;}
.jiathis_style .jtico{ margin-left:5px !important;}