/**中国好品牌**/
.g-o-c{ width:1000px; margin:0 auto;}
.head-nav{ width:100%; height:26px; line-height:26px; background:#eee; color:#999; text-align:right;}
	.head-nav a{ color:#999; margin-left:10px;}
	
	.sec-log{ height:67px;}
	.log-h{ margin-top:10px; width:277px; height:57px; display:inline-block;}
	.sec-h{ width:545px; height:33px; background:#e60000; padding:3px 0 0 3px;*padding:2px 0 1px 3px; margin-top:20px;}
	.sec-h input.serinput{width:424px; height:30px; line-height:30px; background:#fff; border:none; padding-left:6px;}
	.sec-h input.btnser{color:#fff; font-size:16px; line-height:30px; vertical-align:middle; margin-left:35px; background:none; border:none; cursor:pointer;}

.main{ background:url(img/main-bg.png) repeat left top; margin-top:10px;}
	.content{ background:url(img/top-bg.png) no-repeat center top; padding-bottom:20px;}
	.nav-c{ height:50px; line-height:50px; padding-left:155px;}
	.nav-pading{ padding-bottom:465px;}
	.nav-c a{ color:#fcf3c2; font:16px/50px "Microsoft YaHei",Tahoma; font-weight:700; display:inline-block; text-align:center;}
	.f-01{ width:140px;}
	.f-02{ width:114px;}
	.f-03{ width:150px;}
	
.m-ct{ background:url(img/c-bg.png) repeat-y left top;width:1000px;}
	.m-ct h2{ margin-top:20px;}
	.cpy-log{ background:url(img/bg-01.png) no-repeat left top; position:relative; top:-10px; height:367px; }
	.cpy-log dl{ width:320px; float:left;}
	.cl-l{padding-top:10px;_padding-top:9px;}
	.cl-c{ padding:2px 32px 0 4px;_padding:1px 32px 0 4px;}
	.cpy-log .cl-c dd{padding:5px 0 0 17px;}
	.cpy-log dd{padding:5px 0 0 5px; height:auto; zoom:1; overflow:hidden;}
		.log-i{ width:135px; height:90px;}
		.cpy-log dd ul{ height:112px; width:135px; float:left; padding:15px 0 0 15px;}
		.log-f{ width:135px; height:28px; line-height:28px; text-align:center; overflow:hidden; color:#b20833;}
		.log-f a{ color:#b20833;}
		
	.c-sig{ margin:20px 20px 0 20px; padding:0 10px 20px 10px; border-bottom:2px solid #dacb90; color:#a6051d;}
	.c-sig ul{ height:158px;}
	.c-sig ul li{height:158px; float:left;}
	.ad-l{ width:258px; position:relative; height:158px; overflow:hidden; display:inline-block;}
		.ad-l05{ width:258px;height:158px; display:block; z-index:1; position:relative; top:0;}
		/*.ad01{left:0;}
		.ad02{left:158px;}
		.ad03{left:316px;}
		.ad04{left:474px;}
		.ad05{left:632px;}*/
		.ad-l05 a{width:258px; height:158px; display:inline-block; display:none;}
	.ad-l span{ width:14px; height:27px; display:inline-block; position:absolute; z-index:2;top:65px; cursor:pointer;}
	.ad-l span.ad-l01{ left:10px;}
	.ad-l span.ad-l02{ right:10px;}
	.s-c{width:390px;padding-left:20px;}
	.s-c h3{font:20px/1.5 "Microsoft YaHei",Tahoma; font-weight:700;}
	.s-c h3 a,.s-c p a{ color:#a6051d;}
	.s-c p{line-height:20px; padding:6px 0;}
	
		.line-f em{ font-size:13px; font-weight:700;vertical-align:middle;}
		.line-f img{ vertical-align:middle;}
		.lf-btn{ padding-top:10px;}
		.lf-btn a{ margin-right:10px;}
	.s-r{ width:240px;padding-left:20px;}
		.sr-01{ height:74px;}
		.sr-m{ padding-top:10px;}
		.sr-img{ width:98px; height:74px; display:inline-block;}
		.r-t-name{ width:120px; overflow:hidden; padding-left:15px;}
		.r-t-name span,.r-t-name em{ display:block;}
		.r-t-name span{ height:44px; line-height:22px;}
		.r-t-name span a{ color:#A6051D;}
.bt-bg{ margin-top:10px;}

/**页底**/
.foot-cpt-t{ font:20px/1.5 "Microsoft YaHei",Tahoma; font-weight:700; color:#444; margin:15px 0 4px 3px;}
.foot-cpt-all{ width:976px; padding:10px; border:2px solid #e0e0e0;height:auto; overflow:hidden; zoom:1; margin-bottom:10px;}
.foot-cpt-all li{ border-left:1px solid #e0e0e0; width:324px; float:left; padding:10px 0;}
.foot-cpt-all li h4{ text-align:center; line-height:36px; color:#444;font-family:"Microsoft YaHei",Tahoma; font-size:17px; font-weight:normal;}
.foot-cpt-all li a{ font-size:13px;font-family:"Microsoft YaHei",Tahoma; color:#868686; display:inline-block; white-space:nowrap; margin-left:15px; line-height:26px;}
.foot-cpt-all li.fca-f{ border:none;}
.jga{ margin-bottom:6px; width:1000px; height:80px; display:inline-block;}
.footer{ margin-top:15px; border-top:1px solid #e0e0e0; width:1000px; padding:10px 0;text-align:center; line-height:28px;}
.footer div{}
.footer div a{ margin:0 5px; color:#333;}
.footer p{ color:#888;}

/**下一季活动预告**/
.nav-bg{ background:url(img/nav-bg.png) repeat-x left top; padding-bottom:30px;}
.next-nav{ background:url(img/act-bg.png) no-repeat left top;}
.next-padding{ padding-bottom:405px;}
.act-situation{ padding:0 20px 120px 130px;}
.act-situation dt{ color:#b30832; font:22px/1.5 "Microsoft YaHei",Tahoma; font-weight:700;}
.act-situation dd{ line-height:26px; font-size:15px; font-family:"Microsoft YaHei",Tahoma; color:#333; font-weight:300; padding-top:5px;}
.procedure{ background:url(img/act-step.png) no-repeat 40px top; padding-left:120px; height:86px;}
.procedure li{ width:200px; height:71px; float:left; padding:15px 0 0 20px; text-align:center;}
.procedure li.prd-fast,.procedure li.prd-last{ width:180px;}
.procedure li em,.procedure li span{ display:block;line-height:30px; font-family:"Microsoft YaHei",Tahoma;}
.procedure li em{ font-size:18px; color:#333; font-weight:700;}
.procedure li span{ font-size:14px; color:#888;}
.procedure li span.act-pst{ font-size:12px; line-height:20px;}
.act-pem li{ padding:5px 0 0 20px;}
.add-inf{padding:10px 0 20px 0; height:auto; overflow:hidden; zoom:1;}
.add-inf li{ float:left;}
	.add-inf h4{ color:#b30832;font:18px/2 "Microsoft YaHei",Tahoma; font-weight:700; margin-bottom:10px;}
	.add-inf h4 span{ color:#333; font-size:14px;}
	.addi-l{width:420px; padding:0 40px;}
	.ai-list{height:auto; overflow:hidden; zoom:1}
	.ai-list span{ float:left; display:inline-block;}
		.al-um{ width:17px; height:17px; background:#d33041; text-align:center; line-height:17px; color:#fff; margin:8px 8px 0 0;}
		.al-if{ width:390px; line-height:32px; color:#333; font-size:14px; font-family:"Microsoft YaHei",Tahoma;}
	.act-btn01{ text-align:center; padding:20px 0;}
	.act-btn01 a,a.act-btn02{ width:118px; height:34px; line-height:34px; text-align:center; color:#fff;font-family:"Microsoft YaHei",Tahoma; font-size:15px; font-weight:700; background:url(img/act-btn.png) no-repeat left top; display:inline-block; margin-right:10px;}
	.act-btn01 a:hover,a.act-btn02:hover{ text-decoration:none;}
	
	.addi-r{width:410px; padding:0 40px 0 50px; background:url(img/act-line.png) no-repeat left top;}
	.addi-r table th,.addi-r table td{ padding:10px 0; color:#333;}
	.addi-r table th{ width:80px; font-weight:normal; font-size:14px; text-align:right;}
	.addi-r table th span{ color:#d7222e; margin:2px 3px 0 0; vertical-align:middle;}
	.addi-r table td{ width:320px; padding-left:5px;}
	.addi-r table td span{ color:red; margin-left:10px;}
	.addi-r table td input{ width:244px; height:26px; line-height:26px; border:1px solid #ccc; padding-left:6px;}
.act-bton{ height:78px; background:url(img/act-b-bg.png) no-repeat left top; line-height:55px; text-align:center; color:#fff;font-family:"Microsoft YaHei",Tahoma; font-weight:300; font-size:18px;}

/**活动介绍**/
.act-t01{ background:url(img/act-pst-bg.png) no-repeat left top; height:269px; padding:20px 30px 0 30px;}
.act-t01 dt{ font-size:22px;font-family:"Microsoft YaHei",Tahoma; font-weight:700; color:#b30832;}
.act-t01 dd{ color:#333; font-size:15px; line-height:24px; padding-top:10px; font-weight:700;}
.act-t01 dd p{ margin:0; padding:0; text-indent:20px;}
.act-t01 dd p span{ color:#b51940;}
.act-po01{ padding:0 0 0 138px; background:url(img/pot-act.png) no-repeat 30px top; height:67px; line-height:57px; color:#ac1239; font-size:16px; font-weight:700;}
.act-um0106{ padding:0 0 0 10px; height:220px;}
.act-um0106 li{ background:#fefbef; border:1px solid #e8e1c1; height:70px; width:230px; line-height:70px; padding-left:60px; color:#333; font-size:16px;font-family:"Microsoft YaHei",Tahoma; display:inline-block; float:left; margin:30px 0 0 30px;_margin:30px 0 0 21px; position:relative; font-weight:700;}
.act-um0106 li span{ position:absolute;top:-6px; left:-9px;}

/**软文**/
.ale-padding{ padding-bottom:435px;}
.ale-t{ height:106px; background:url(img/ale-bg.png) no-repeat left top; padding-left:25px; color:#fff3b3;}
.ale-t li{ padding-left:20px;}
	.ale-t-l{ width:660px; float:left;}
	.ale-t-l h2{font:18px/1.5 "Microsoft YaHei",Tahoma;color:#f6edc5; margin:10px 0 6px 0;}
	.ale-t-l h2 a,.ale-tc-01 span a{color:#fff3b3;}
	/*.ale-t-l h2 a:hover,.ale-tc-01 span a:hover{ text-decoration:none;}*/
	.ale-t-l h2 img{ margin-left:10px;}
	.ale-tl-01{ font-size:12px;}
	.ale-tl-01 em{ font-size:14px; font-family:"Microsoft YaHei",Tahoma; font-weight:700; margin-left:15px;}
	.ale-t-c{ width:200px; float:left; padding-top:15px;}
		.ale-tc-img{ width:48px; height:48px; display:inline-block; margin-right:10px; float:left;}
		.ale-tc-01{ float:left;width:130px; display:inline-block;}
		.ale-tc-01 span{line-height:20px; display:inline-block; margin-bottom:5px;}
	.ale-t-r{ width:50px; float:right;}
	.ale-t-r a{ width:50px; height:100px; display:inline-block; overflow:hidden; font-size:0; text-indent:300px;}
.ale-title{ background:url(img/ale-line.png) no-repeat left 100%; padding:25px 0 40px; text-align:center;color:#bc1b39;}
.ale-title h1{ font:24px/1.5 "Microsoft YaHei",Tahoma; font-weight:700;margin-bottom:6px; }
.ale-title span{font:16px/1.5 "Microsoft YaHei",Tahoma; }
.ale-con{padding:10px 30px 30px;}
	.alec-01{ height:auto;color:#ad1a2e; overflow:hidden; zoom:1; padding-bottom:40px;}
		.alec-001{ width:560px;}
		.alec-001 h2{ text-align:center; font-size:18px; font-weight:700;font-family:"Microsoft YaHei",Tahoma; line-height:30px; margin:0 0 10px 0;}
		.alec-01 p{ line-height:24px; text-indent:30px;font-size:14px;}
	.alec-01 img{}






		