/* CSS Document */
*html {background-attachment:fixed; background-image:URL("about:blank");}
#why_goTop {width:70px; text-align:center; position:fixed; _position:absolute;}
#why_goTop a { position:relative; background:url(goTop_bg.gif) center 0 no-repeat; display:block; line-height:22px; height:22px; padding-top:64px; color:#444;}
#why_goTop a:hover,#why_goTop a.s {color:#4B9FF6; text-decoration:none;background-position:center -136px;}