/* CSS 5 */
*html { background-attachment:fixed; background-image:URL("about:blank");}
.huo-top { height:27px; line-height:27px; background:#F1F1F1;}

.huo-top span a{ margin:0 5px; color:#888; cursor:pointer;}
.huo-top span a:hover{ color:#067ed4; text-decoration:none; }
.m-search div .btn{ background:url(img/search-btn.png) no-repeat left top; height:32px; width:90px;}
.m-search .ss-txt {border-bottom: 3px solid #e60000;border-left: 3px solid #e60000;border-top: 3px solid #e60000; width:400px;}
/*搜索*/
.m-search{ margin-top:30px;}


.main{font-family:Microsoft YaHei,simhei; }
.bg0{ background:#9c0300 url(img/n_02.jpg) no-repeat center 0; height:67px;}
.bg1{ background:#9c0300 url(img/n_03.jpg) no-repeat center 0; height:73px;}
.bg2{ background:#9c0300 url(img/n_04.jpg) no-repeat center 0; height:71px;}
.bg3{ background:#9c0300 url(img/n_05.jpg) no-repeat center 0; height:135px;}
.bg4{ background:#9c0300 url(img/n_06.jpg) no-repeat center 0; height:142px;}
.bg5{ background:#9c0300 url(img/n_07.jpg) no-repeat center 0; height:85px;}
.bg6{ background:#9c0300 url(img/n_08.jpg) no-repeat center 0; height:111px;}

.bg7{ background:#9c0300 url(img/01.jpg) no-repeat center 0; height:120px;}
.bg8{ background:#9c0300 url(img/02.jpg) no-repeat center 0; height:136px;}
.bg9{ background:#9c0300 url(img/03.jpg) no-repeat center 0; height:100px;}
.bg10{ background:#9c0300 url(img/04.jpg) no-repeat center 0; height:100px;}

.bg11{ background:#9c0300 url(img/05.jpg) no-repeat center 0; height:115px;}
.bg12{ background:#9c0300 url(img/06.jpg) no-repeat center 0; height:119px;}
.bg13{ background:#9c0300 url(img/07.jpg) no-repeat center 0; height:127px;}
.bg14{ background:#9c0300 url(img/08.jpg) no-repeat center 0; height:116px;}

.bg15{ background:#9c0300 url(img/09.jpg) no-repeat center 0; height:126px;}
.bg16{ background:#9c0300 url(img/10.jpg) no-repeat center 0; height:121px;}


.foor0 .g-o-a{font-family:Microsoft YaHei,simhei;}
.foor0 .g-o-a{ position:relative; }
.foor0 .g-o-a .outer{ position:absolute; height:1239px;top:-1348px;}
.foor0 .g-o-a .inner{ padding:0 7px 10px; height:460px;;background:#b80000;}
.foor0 .g-o-a .outer h2{ position:relative; line-height:57px; padding-left:423px; font-size:30px; color:#fff;  }
.foor0 .g-o-a .inner p{ padding:20px; line-height:25px; font-size:14px; color:#fff;}
.foor0 .g-o-a .padd{ background:#ca0000; border:1px solid #a50000; border-top:none;}

.ment dl{ padding-bottom:10px;}
.ment dt{ float:left; background:#960000 url(img/left_bg.jpg) no-repeat center; margin:0 10px;_margin:0 5px; width:210px; height:362px; }
.ment dt a{ position:absolute; left:155px; top:453px; width:25px; height:25px; text-decoration:none;}
.ment dt span{ display:none; }
.ment dd{ float:left; width:377px;}
.ment dd.bot,.item_con li.bot{ margin-bottom:10px;}
.ment dd .l_img{ float:left; width:160px;}
.ment dd .lit_con{float:left;  width:189px; padding:7px 0;_padding:5px 0 6px; background:#e4e4e4;}
.ment dd .bord{ border:1px solid #a50000; overflow:hidden; margin-right:10px; padding:7px 8px; zoom:1;}
.lit_con span,.item_con span{ display:block; color:#666; padding-left:10px; height:34px; line-height:30px;}
.lit_con span strong,.item_con span strong{ font-size:22px; color:#e93012; }
.lit_con span strong i,.item_con span strong i{ font-size:12px; font-style:normal; }
.lit_con span.tit{ display:block; font-size:14px; padding:0 10px; line-height:22px; height:44px; overflow:hidden; font-weight:700; }
.lit_con span.tit a{ color:#666; text-decoration:none; }
.lit_con span.star{ padding:0 10px;}
.lit_con span.star em{ font-size:18px; }
.lit_con span a.btn{ display:block; margin:0 10px 0 30px; height:37px; background:url(img/btn_bg.png) no-repeat 0 -121px;}

.foor_tit{ height:50px; background:#a70101; line-height:50px;}

.foor_tit li{ height:50px; float:left; background:#fff; width:249px;}
.foor_tit li.item0{ width:253px;}
.foor_tit li span{ margin-right:3px; cursor:pointer; text-align:center; display:block; font-size:23px; font-weight:700; color:#fff; background:#cf0000; }
.foor_tit li.last span{ margin:0;}
.foor_tit li.cur span{ background:#a70101; }
.huo{ width:100%; background:#cccccc; height:30px; line-height:30px;}
.huo span{ float:left; width:107px; white-space:nowrap; padding-left:12px; display:inline-block; overflow:hidden; height:30px; line-height:30px;}
.item_con{ background:#a70101; padding-left:7px; height:729px; overflow:hidden;}
.item_con ul{ display:none;}
.item_con .cur{ display:block;}
.item_con li{ float:left; height:360px; display:block; width:248px;}
.item_con li .li_ner{ background:#fff; margin-right:8px;}
.item_con li h3{ height:35px; line-height:38px; width:220px; overflow:hidden; font-size:15px; padding:0 10px;}
.item_con li p{ height:31px; background:url(img/go_shop.png) no-repeat 0 0; }
.item_con li .price{ padding:0 10px; position:relative;top:-3px;}
.item_con li p a{ display:block; height:0; padding-top:31px; width:97px; margin-left:138px; overflow:hidden;}

.bg17{ background:#9c0300 url(img/11.jpg) no-repeat center 0; height:123px;}
.bg18{ background:#9c0300 url(img/12.jpg) no-repeat center 0; height:133px;}
.bg19{ background:#9c0300 url(img/13.jpg) no-repeat center 0; height:137px;}
.bg20{ background:#9c0300 url(img/14.jpg) no-repeat center 0; height:135px;}
.bg21{ background:#9c0300 url(img/15.jpg) no-repeat center 0; height:129px;}
.bg22{ background:#9c0300 url(img/16.jpg) no-repeat center 0; height:137px;}
.bg23{ background:#9c0300 url(img/17.jpg) no-repeat center 0; height:144px;}
.bg24{ background:#9c0300 url(img/18.jpg) no-repeat center 0; height:152px;}
.bg25{ background:#9c0300 url(img/19.jpg) no-repeat center 0; height:160px;}
.bg26{ background:#9c0300 url(img/20.jpg) no-repeat center 0; height:214px;}

.foor1 .g-o-a{ position:relative;}
.foor1 .g-o-a .outer{ position:absolute;top:-1272px;}
.foor1 .g-o-a .inner{ padding:0 7px 10px;background:#b80000;}
.foor1 .g-o-a .outer h2{ position:relative; *width:578px; background:#9c0300 url(img/foor1_bg.jpg) no-repeat center 0; height:68px; line-height:57px; padding-left:423px; font-size:30px; color:#fff;  }
.foor1 .g-o-a .inner p{ padding:20px; line-height:25px; font-size:14px; color:#fff;}
.foor1 .g-o-a .padd{ background:#ca0000; border:1px solid #a50000; border-top:none;}

.foor1 .ment dt{ float:left; background:#960000 url(img/foor1_dt_bg.jpg) no-repeat center; width:210px; height:362px; }
.foor1 .lit_con span a.btn{ background-position: 0 -71px;}

.bg27{ background:#9c0300 url(img/21.jpg) no-repeat center 0; height:164px;}
.bg28{ background:#9c0300 url(img/22.jpg) no-repeat center 0; height:162px;}
.bg29{ background:#9c0300 url(img/23.jpg) no-repeat center 0; height:158px;}
.bg30{ background:#9c0300 url(img/24.jpg) no-repeat center 0; height:138px;}
.bg31{ background:#9c0300 url(img/25.jpg) no-repeat center 0; height:157px;}
.bg32{ background:#9c0300 url(img/26.jpg) no-repeat center 0; height:148px;}
.bg33{ background:#9c0300 url(img/27.jpg) no-repeat center 0; height:167px;}
.bg34{ background:#9c0300 url(img/28.jpg) no-repeat center 0; height:191px;}
.bg35{ background:#9c0300 url(img/21.jpg) no-repeat center 0; height:164px;}
.bg36{ background:#9c0300 url(img/22.jpg) no-repeat center 0; height:162px;}
.foor2 .g-o-a { position:relative;}
.foor2 .g-o-a .outer{ position:absolute; top:-1351px;}
.foor2 .g-o-a .inner{ padding:0 7px 10px;background:#b80000;}
.foor2 .g-o-a .outer h2{ position:relative;  *width:578px;background:#9c0300 url(img/foor2_bg.jpg) no-repeat center 0; height:68px; line-height:57px; padding-left:423px; font-size:30px; color:#fff;  }
.foor2 .g-o-a .inner p{ padding:20px; line-height:25px; font-size:14px; color:#fff;}
.foor2 .g-o-a .padd{ background:#ca0000; border:1px solid #a50000; border-top:none;}

.foor2 .ment dt{ float:left; background:#960000 url(img/foor2_dt_dt.jpg) no-repeat center; width:210px; height:362px; }
.foor2 .lit_con span a.btn{ background-position: 0 -121px;}


.foor3  li{ float:left; width:198px; margin-bottom:10px; position:relative; }
.foor3 .g-o-a { position:relative; }
.foor3 .g-o-a .outer{ position:absolute;margin-top:-618px;}
.foor3 h2{ height:50px; *width:984px; line-height:50px; padding-left:15px; background:#e6e6e6; font-weight:700; font-size:26px; color:#f24202; }
.foor3 h2 span{ padding-left:10px; font-size:16px; color:#444;}
.foor3 ul{ background:#f5f5f5;padding:10px 0 0 9px;}
.foor3 li h3{ height:30px; line-height:30px; overflow:hidden; text-align:center; font-size:15px;}


.foor3 li .bg { height:22px; display:none; overflow:hidden; width:190px; position:absolute; left:0; top:103px; line-height:22px; color:#fff;}
.foor3 li:hover .bg,.foor3 li.hover .bg { display:block;}
.foor3 li .bg p{ z-index:1; width:190px; position:absolute; opacity:0.9; left:0; bottom:0; height:22px;  background:#f24202}
.foor3 li .bg span{ z-index:2; width:180px; padding:0 5px; position:absolute; left:0; bottom:0; line-height:22px; height:22px;}


.fiexd_nav{ display:none;}
.fiexd{ position:fixed; height:336px; width:129px; right:40px; top:40px; background: url(img/icon.png) no-repeat 0 0;_position:absolute; _top:expression(eval((document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-50)); padding-top:147px;}
.link-lc{text-align:center;}
.fiexd .link-lc a,.fiexd .link-lc .hy{ width:119px; margin-left:7px; line-height:35px;height:35px;display:block;text-align:center; font-size:15px; overflow:hidden; color:#fff; font-weight:700; margin-bottom:2px;font-family:Microsoft YaHei,simhei;}
.fiexd .link-lc a.cur,.fiexd .link-lc a:hover{ background:#ffd900; text-decoration:none;}
.fiexd .link-lc a.btop{ margin-top:28px;}
.fiexd .link-lc a.btop:hover{ background:none;  }


.jiathis_style{ float:right; margin-top:10px;}
.jiathis_style .separator, .jiathis_style .jiathis_separator{ color:#fff;}
.foot{ padding:0; border:none; }
.foot .g-o-a{ position:relative;}
.foot .g-o-a .link{ position:absolute; border:none; width:1000px; top:-76px;}
.foot a{ color:#fff; }