/*会员中心 第三方绑定 by lg 2013.09.12*/


.b-erro,.b-succs,.b-tips
{display:inline-block;*display:inline-block;*zoom:1;height:0px;overflow:hidden;vertical-align:middle;background-image:url(/css/c/sign/img/verify-bg.png);background-repeat:no-repeat;margin-bottom:2px;margin-right:5px;}/*icon*/
.b-erro{width:16px;padding-top:16px;background-position:0 0;}
.b-succs{width:16px;padding-top:16px;background-position:0 -50px;}
.b-tips{width:16px;padding-top:16px;background-position:0 -150px;}

.third-tips{border:1px solid #ddd;padding:10px 30px;background-color:#f6f6f6;border-radius:5px;color:#444;font-size:14px;}
.third-tips .tips-icon{float:left;}
.third-tips span.chgdpwd{display: block;line-height: 24px;margin-left: 65px;}
.third-tips em{color:#f67301;}
.third-c-pwd{padding:30px 40px;font-size:14px;color:#444;}
.third-txt{line-height:40px;margin-left:40px;}
.input-pwd{border: 1px solid #DCDCDC;height: 22px;line-height: 22px;margin-right: 6px;outline: medium none;padding: 3px 6px;width: 215px;}
.third-setpwd li{height:31px;line-height:31px;margin-top:20px;}
.third-setpwd li label{float:left;width:80px;}
.third-setpwd li span{font-size:12px;color:#666;}

.input-pwd:focus{outline:none;border-color:#8ba5ca}