@charset "utf-8";
/* 企业会员中心改版 2013.08.19 by lg */

/*顶部导航*/
.head{height:40px;width:100%;background-color:#3d4368;}
.head-bd{height:40px;width:1000px;margin:0 auto;}
.logo{float:left;padding:9px 15px;margin-top:1px;}
.head-nav{float:left;height:100%;margin-left:36px;font-size:16px;font-family:Microsoft YaHei,SimHei;}
.head-nav a,.head-nav a:hover{float:left;height:20px;line-height:20px;color:#eee;padding:10px 15px;text-decoration:none;}
.head-nav a.hover{background-color:#2e3148;}
.head-nav a:hover{background-color:#343855;}
.head-nav a.hover .home-icon,.head-nav a:hover .home-icon{background-position:0 -128px;}
/*.head-nav a.hover .compay-icon,.head-nav a:hover .compay-icon{background-position:0 -150px;}*/
.head-nav a.hover .compay-icon,.head-nav a:hover .compay-icon{background-position:-174px -318px;}
.head-nav a.hover .mall-icon,.head-nav a:hover .mall-icon{background-position:0 -168px;}
.head-nav a.hover .tuan-icon,.head-nav a:hover .tuan-icon{background-position:0 -190px;}
.head-nav a.hover .account-icon,.head-nav a:hover .account-icon{background-position:0 -212px;}
.head-nav a.hover .tool-icon,.head-nav a:hover .tool-icon{background-position:0 -234px;}
.head-nav a.hover .wslm-icon,.head-nav a:hover .wslm-icon{background-position:0 -276px;}
.index-link{font-size:13px;line-height:40px;float:right;font-family:Microsoft YaHei,SimHei;}
.index-link a{color:#eee;}
.index-link a:hover{color:#ccc}