/* CSS Document */
 

.dz_dg_box1 {}
.dz_dg_box1 .dgbox1_l1 {width:360px; overflow:hidden;}
.dz_dg_box1 .dgbox1_l2 {width:360px; overflow:hidden; margin-left:10px;}
.dz_dg_box1 .dgbox1_l3 {width:260px; overflow:hidden;}

.dgbox1_l1 .lh_box {position:relative; width:360px; height:250px;}
.dgbox1_l1 .lh_box .li_lh img {width:360px; height:250px;}
.dgbox1_l1 .dz_title1 {padding-top:10px;}
.dgbox1_l1 ul.hdtj_img {padding-top:10px; width:370px;}
.dgbox1_l1 ul.hdtj_img li {float:left; _display:inline; margin-right:10px; position:relative; width:175px; height:120px; overflow:hidden;}
.dgbox1_l1 .text_type1 {width:370px; padding-top:10px;}
.dgbox1_l1 .text_type1 li {float:left; width:167px; margin-right:10px;}

.dgbox1_l2 .l2main {border:1px solid #0645AE; height:488px; overflow:hidden;}
.dz_dg_box1 .l2main dl {padding:0 10px 10px 10px; border-bottom:1px dotted #D3DEF1;}
.dz_dg_box1 .l2main dl dt {font:bold 16px/46px simsun; height:46px; overflow:hidden; text-align:center;}
.dz_dg_box1 .l2main dl dt a {color:#FC6723;}
.dz_dg_box1 .l2main dl dd {height:80px; line-height:20px; color:#888; text-indent:2em; overflow:hidden;}
.dz_dg_box1 .l2main dl dd img {margin-right:10px; width:80px; height:80px;}
.dz_dg_box1 .l2main ul.text_type2 { padding:5px 10px 0 10px; font-size:14px;}
.dz_dg_box1 .l2main ul.text_type2 li {height:28px; line-height:28px;}
.dz_dg_box1 .l2main ul.text_type2 li span { background:none; border:none; border-right:1px solid #CCC; padding-right:10px; height:auto; color:#888;}

.dgbox1_l3  h2 {}
.dgbox1_l3 .rdgz_box ul {width:270px; text-align:center; line-height:30px; height:115px; overflow:hidden; margin-bottom:10px;}
.dgbox1_l3 .rdgz_box ul li {float:left; width:125px; margin-right:10px;}
.dgbox1_l3 .rdgz_box ul li img {width:125px; height:90px;}
.dgbox1_l3 .rmqg_box {border-top:1px solid #D3DEF1;}

.rmqg_box .nodp {padding:0px 10px 0 10px; height:80px; line-height:25px;}
.rmqg_box .nodp dl {position:relative; color:#888; zoom:1;}
.rmqg_box .nodp em {font-family:Tahoma,simsun; color:#fa6824; padding:0; font-weight:bold;}
.rmqg_box .nodp dl dt,.rmqg_box .nodp dl dd {padding-left:88px; overflow:hidden; height:25px;}
.rmqg_box .nodp dl dt {font-weight:bold;}
.rmqg_box .nodp dl dd a {color:#888;}
.rmqg_box .nodp dl dd.logo {padding-left:0; position:absolute; top:0; left:0; height:80px;}
.rmqg_box .nodp dl dd.logo img {width:80px; height:80px;}

.rmqg_box .text_type1 {padding:0 10px; height:205px; overflow:hidden;}
.rmqg_box .text_type1 li {word-wrap:break-word; word-break:break-all; *white-space:normal; height:26px; overflow:hidden;}
/*@media screen and (-webkit-min-device-pixel-ratio:0){.rmqg_box .text_type1 li {text-overflow:ellipsis;-ms-text-overflow:ellipsis; white-space:nowrap;}}  chrome and safari*/
.rmqg_box .text_type1 li em {float:right; padding-left:3px; font-family:Tahoma,simsun; color:#fa6824;}

.dz_dg_box2 .tabs_cpk {height:448px; border:1px solid #D3DEF1; border-width:0 1px 1px 1px;}

.dz_dg_box2 .dgbox2_l1 {width:198px; height:448px; border-right:1px solid #D3DEF1;}
.dz_dg_box2 .dgbox2_l2 {width:785px;}
.dz_dg_box2 .dg_tab_t {height:205px;}
.dz_dg_box2 .dg_tab_t li {height:41px; background:#FFF; text-align:center; font-size:14px; line-height:41px; position:relative;}
.dz_dg_box2 .dg_tab_t li.s {background:#0645AE; color:#FFF; font-weight:bold; left: -1px; width: 200px; margin-right:-2px;}
.dz_dg_box2 .dg_tab_t li i { width:5px; height:9px; background-position:0 -104px; position:absolute; left:100%; top:15px; margin-left:2px; display:none;}
.dz_dg_box2 .dg_tab_t li.s i {display:block;}

.dz_dg_box2 .rmgjc_box {} /*243*/
.dz_dg_box2 .rmgjc_box h3{height:30px; line-height:30px; background:#88ABDA; text-align:center; color:#FFF;}
.dz_dg_box2 .rmgjc_box .gjc_txt {height:198px;padding:5px 0 10px 10px; position:relative; background:#F5F7FC; font-size:0;}
.dz_dg_box2 .rmgjc_box .gjc_txt a {margin-right:8px; line-height:26px; color:#88ABDA; font-size:12px;}
.dz_dg_box2 .rmgjc_box .gjc_txt img {position:absolute; left:0; top:109px; width:198px; height:104px;}
/*.tabs_cpk .ul_img2 {width:540px;}*/

.tabs_cpk .ul_img2 li {width:125px; height:180px; float:left; padding:24px 16px 20px 16px; text-align:center; overflow:hidden; color:#888;}
.tabs_cpk .ul_img2 li:hover,.tabs_cpk .ul_img2 li.hover { background:#F5F7FC;}
.tabs_cpk .ul_img2 li em {color:#FA6824; font-weight:bold;}
.tabs_cpk .ul_img2 li p {height:20px; line-height:20px; overflow:hidden;}
.tabs_cpk .ul_img2 li a {display:block; position:relative; line-height:25px; font-weight:bold; height:135px; overflow:hidden;}
.tabs_cpk .ul_img2 li a img {width:125px; height:110px;}
.tabs_cpk .ul_img2 li a i { display:block; position:absolute; background-image:url(img/icos.gif); width:26px; height:9px; overflow:hidden; left:0; top:0; opacity:0.7; filter:Alpha(style=0,opacity=70);}
.tabs_cpk .ul_img2 li a i.ico_new {background-position:-33px -21px;}
.tabs_cpk .ul_img2 li a i.ico_hot {background-position:-33px -30px;}
/*.tabs_cpk .ul_img2 li:hover,.tabs_cpk .ul_img2 li.hover {background:#FA6824; color:#FFF;}
.tabs_cpk .ul_img2 li:hover a ,.tabs_cpk .ul_img2 li.hover a,.tabs_cpk .ul_img2 li:hover em,.tabs_cpk .ul_img2 li.hover em {color:#FFF;}*/

.dz_js_box2 .dz_1bc_D3DEF1 {height:335px; overflow:hidden;}
.dz_js_box2 .dz_3l_1 .dl_logo_typ1 {position:relative; height:90px; margin:16px 10px 0px 10px;}
.dz_js_box2 .dz_3l_1 .dl_logo_typ1 dd,.dz_js_box2 .dz_3l_1 .dl_logo_typ1 dt {padding-left:130px;}
.dz_js_box2 .dz_3l_1 .dl_logo_typ1 dd.logo {left:0; top:0; padding-left:0;}
.dz_js_box2 .dz_3l_1 .dl_logo_typ1 dd.logo img {width:120px; height:90px;}
.dz_js_box2 .dz_3l_1 .dl_logo_typ1 dt {line-height:30px; height:30px; font-weight:bold; font-size:14px;}
.dz_js_box2 .dz_3l_1 .dl_logo_typ1 dd {line-height:20px;}
.dz_js_box2 dd a.exp {color:#227DD7;}

.dz_js_box2 .dz_3l_2 .dl_logo_typ1 {position:relative; height:100px; margin:10px 10px 0 10px;}
.dz_js_box2 .dz_3l_2 .dl_logo_typ1 dd,.dz_js_box2 .dz_3l_2 .dl_logo_typ1 dt {padding-left:110px;}
.dz_js_box2 .dz_3l_2 .dl_logo_typ1 dd.logo {left:0; top:0; padding-left:0;}
.dz_js_box2 .dz_3l_2 .dl_logo_typ1 dd.logo img {width:100px; height:100px;}
.dz_js_box2 .dz_3l_2 .dl_logo_typ1 dt {line-height:28px; height:28px; font-weight:bold;}
.dz_js_box2 .dz_3l_2 .dl_logo_typ1 dd {line-height:18px;}

.dz_js_box2 .dz_3l_2 .text_type1 {margin:10px 10px 0 10px; overflow:hidden;}
.dz_js_box2 .dz_3l_2 .text_type1 li {word-wrap: break-word; word-break: break-all; *white-space:normal;}
.dz_js_box2 .dz_3l_2 .text_type1 li span {display:inline-block; color:#CCC; margin-right:5px;}
.dz_js_box2 .dz_3l_2 h3 {border-top:1px solid #D3DEF1; padding:10px 10px 0 10px; margin-top:5px; height:20px; line-height:20px;}
.dz_js_box2 .dz_3l_2 .rmct_box { padding:0 10px; font-size:0; line-height:0;}
.dz_js_box2 .dz_3l_2 .rmct_box a {display:inline-block;*display:inline;*zoom:1; font-size:12px; line-height:20px; padding:0 5px; background:#EAEFF8; color:#88ABDA; margin-left:10px; margin-top:10px;}

.dz_js_box2 .dz_3l_3 .dl_logo_typ1 {position:relative; height:80px; margin:10px 10px 0 10px;}
.dz_js_box2 .dz_3l_3 .dl_logo_typ1 dd,.dz_js_box2 .dz_3l_3 .dl_logo_typ1 dt {padding-left:90px;}
.dz_js_box2 .dz_3l_3 .dl_logo_typ1 dd.logo {left:0; top:0; padding-left:0;}
.dz_js_box2 .dz_3l_3 .dl_logo_typ1 dd.logo img {width:80px; height:80px; display:block;}
.dz_js_box2 .dz_3l_3 .dl_logo_typ1 dt {line-height:26px; height:26px; font-weight:bold;}
.dz_js_box2 .dz_3l_3 .dl_logo_typ1 dd {line-height:18px;}

.dz_js_box2 .dz_3l_3  .text_type1 {margin:4px 10px 0 10px; overflow:hidden;}
.dz_js_box2 .dz_3l_3  .text_type1 li {word-wrap: break-word; word-break: break-all; *white-space:normal;}




































