/* CSS Document */

.dz_pp_box1 .dz_3l_1 .lh_box,.dz_pp_box1 .dz_3l_1 .lh_box .li_lh img {width:360px; height:260px;}

.dz_pp_box1 .dz_3l_1 .lh_box .but a.s,.dz_pp_box1 .dz_3l_1 .lh_box .but a:hover {background:#FA6824;}

.dz_pp_box1 .list_ppdt {height:90px; overflow:hidden; padding-left:120px; position:relative;}
.dz_pp_box1 .list_ppdt li {padding-left:16px; height:22px; line-height:22px; overflow:hidden;}
.dz_pp_box1 .list_ppdt li img {display:block; width:120px; height:90px; position:absolute; left:0; top:0;}
.dz_pp_box1 .list_ppdt li.s {background-position:-490px -278px;}

.dz_pp_box1 .l2main {border:1px solid #D3DEF1; height:398px; overflow:hidden;}

.dz_pp_box1 .l2main dl {padding:0 10px 10px 10px; border-bottom:1px dotted #D3DEF1;} /*106-10-46*/
.dz_pp_box1 .l2main dl dt {font:bold 16px/42px simsun; height:42px; overflow:hidden; text-align:center;}
.dz_pp_box1 .l2main dl dt a {color:#FC6723;}
.dz_pp_box1 .l2main dl dd {height:54px; line-height:18px; color:#888; text-indent:2em; overflow:hidden; position:relative;}
.dz_pp_box1 .l2main dl dd a.exp {position:absolute; padding:0 5px; background:#FFF; right:0; bottom:0; color:#0645AE; text-indent:0;}
/*.dz_pp_box1 .l2main dl dd img {margin-right:10px;}*/

.dz_pp_box1 .text_type1 {margin:10px 10px 0 10px; font-size:14px; height:168px; overflow:hidden;}
.dz_pp_box1 .text_type1 li {margin-bottom:2px; word-wrap: break-word; word-break: break-all; *white-space:normal;}
.dz_pp_box1 .text_type1 li i {font-size:12px;}
.dz_pp_box1 .dz_3l_3 {height:400px; overflow:hidden;}
.dz_pp_box1 .dz_3l_3 h3 {height:25px; line-height:25px;}
.dz_pp_box1 .dz_3l_3 .text_type3 {border-top:1px dashed #D3DEF1; margin-top:5px;}
.dz_pp_box1 .jcsp_box { height:240px; overflow:hidden;}
.dz_pp_box1 .jcsp_box a img {width:260px; height:190px;}
.dz_pp_box1 .jcsp_box a span {font-weight:bold; line-height:25px;}

.dz_pp_box2 .dz_1bc_D3DEF1 {height:330px; overflow:hidden;}
.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 {position:relative; height:70px; margin:10px 10px 0 10px;}
.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 dd,.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 dt {padding-left:80px;}
.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 dd.logo {left:0; top:0; padding-left:0;}
.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 dd.logo img {width:70px; height:70px;}
.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 dt {line-height:25px; height:25px; font-weight:bold;}
.dz_pp_box2 .dz_3l_1 .dl_logo_typ1 dd {line-height:22px;}

.dz_pp_box2 .dz_3l_2 .dl_logo_typ1,
.dz_pp_box3 .dl_logo_typ1{height:100px; margin:10px 10px 0 10px; overflow:hidden;}
.dz_pp_box2 .dz_3l_2 .dl_logo_typ1 dd,.dz_pp_box2 .dz_3l_2 .dl_logo_typ1 dt,
.dz_pp_box3 .dl_logo_typ1 dd,.dz_pp_box3 .dl_logo_typ1 dt{padding-left:110px;}
.dz_pp_box2 .dz_3l_2 .dl_logo_typ1 dd.logo,
.dz_pp_box3 .dl_logo_typ1 dd.logo {left:0; top:0; padding-left:0;}
.dz_pp_box2 .dz_3l_2 .dl_logo_typ1 dd.logo img,
.dz_pp_box3 .dl_logo_typ1 dd.logo img {width:100px; height:100px;}
.dz_pp_box2 .dz_3l_2 .dl_logo_typ1 dt,
.dz_pp_box3 .dl_logo_typ1 dt {line-height:25px; height:25px; margin-bottom:9px; font-weight:bold; font-size:14px;}
.dz_pp_box2 .dz_3l_2 .dl_logo_typ1 dd,
.dz_pp_box3 .dl_logo_typ1 dd {line-height:22px;}
.dz_pp_box2 .dz_3l_2 .text_type1 {padding:5px 10px 0 10px;}
.dz_pp_box2 .dz_3l_2 .text_type1 li {word-wrap:break-word; word-break: break-all; *white-space:normal;}
.dz_pp_box2 .dz_3l_3 {height:365px; overflow:hidden;}
.dz_pp_box2 .dz_3l_3 ul {padding-top:2px;}
.dz_pp_box2 .dz_3l_3 ul li {margin-top:10px;}
.dz_pp_box2 .dz_3l_3 ul li img {width:260px; height:100px;}


.dz_pp_box3 .dz_3l_1,.dz_pp_box3 .dz_3l_2,.dz_pp_box3 .dz_3l_3 { height:335px; overflow:hidden;}
.dz_pp_box3 .dz_3l_2 {border-left:1px solid #D3DEF1; margin-left:9px;}
.dz_pp_box3 .dz_3l_3 {border-left:1px solid #D3DEF1;}

.dz_pp_box3 h3.dz_title5 {color:#0645ae; padding:15px 10px 0px 10px;}

.dz_pp_box3 .dl_logo_typ1 dt {font-size:12px;}

.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 {height:80px; margin:10px 10px 0 10px; overflow:hidden;}
.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 dd,.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 dt {padding-left:90px;}
.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 dd.logo {left:0; top:0; padding-left:0;}
.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 dd.logo img {width:80px; height:80px;}
.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 dt {line-height:20px; height:20px; font-weight:bold;}
.dz_pp_box3 .dz_3l_3 .dl_logo_typ1 dd {line-height:17px;}
.dz_pp_box3 .text_type1 {margin-left:10px; padding-top:15px; }
.dz_pp_box3 .text_type1 li {word-break: break-all; word-wrap:break-word;*white-space:normal;}
.dz_pp_box3 .dz_3l_3 .text_type1 {margin-left:10px; padding-top:9px; padding-right:10px;}

.zthg_box {padding-top:25px; padding-bottom:15px; position:relative; zoom:1;}
.zthg_box .lh_box{ width:940px; height:125px;  overflow:hidden; margin:0 auto; position:relative;}
.zthg_box .lh_box .li_lh {width:945px;}
.zthg_box .lh_box .li_lh li {float:left; margin-right:5px; width:130px; text-align:center; line-height:25px;}
.zthg_box .lh_box .li_lh li img {width:130px; height:100px;}
.zthg_box a.to_left,.zthg_box a.to_right {color:#0645AE; position:absolute; top:25px; height:100px; font:bold 48px/100px simsun; display:block;}
.zthg_box a.to_left:hover,.zthg_box a.to_right:hover {color:#0058ED; text-decoration:none;}
.zthg_box a.to_left {left:0;}
.zthg_box a.to_right {right:0;}


