/* CSS Document */

dl.img_100_90 { height:90px; padding-top:10px; position:relative; overflow:hidden;}
dl.img_100_90 dt,dl.img_100_90 dd {padding-left:110px;}
dl.img_100_90 dt {font-size:14px; height:30px; line-height:30px; overflow:hidden;}
dl.img_100_90 dd {color:#888; text-indent:2em; line-height:20px;}
dl.img_100_90 dd a.exp { color:#007ED5; position:absolute; right:0; border-bottom:0; text-indent:0;}
dl.img_100_90 dd.logo {position:absolute; left:0; top:10px; padding-left:0; text-indent:0;}
dl.img_100_90 dd.logo img {width:100px; height:90px;}

.dz_zx_box1 {}
.dz_zx_box1 .zxbox1_l1 {width:360px; overflow:hidden;}
.dz_zx_box1 .zxbox1_l2 {width:360px; height:490px; overflow:hidden; margin-left:10px;}
.dz_zx_box1 .zxbox1_l3 {width:260px; overflow:hidden;}

.dz_zx_box1 .zxbox1_l1 {}
.dz_zx_box1 .l1main {border:1px solid #0645AE; height:488px; overflow:hidden;}
.dz_zx_box1 .l1main dl { padding:0 10px 10px 10px; }
.dz_zx_box1 .l1main dl dt {font:bold 16px/46px simsun; height:46px; overflow:hidden; text-align:center;}
.dz_zx_box1 .l1main dl dt a {color:#FC6723;}
.dz_zx_box1 .l1main dl dd {height:100px; line-height:20px; color:#888; text-indent:2em; overflow:hidden;}
.dz_zx_box1 .l1main dl dd img {margin-right:10px; width:100px; height:100px;}
.dz_zx_box1 .l1main ul.text_type2 {border-top:1px dotted #D3DEF1; padding:5px 10px 0 10px; font-size:14px;}
.dz_zx_box1 .l1main ul.text_type2 li {height:28px; line-height:28px;}
.dz_zx_box1 .l1main ul.text_type2 li span { background:none; border:none; border-right:1px solid #CCC; padding-right:10px; height:auto; color:#888;}

.zxbox1_l2 .lh_box {width:360px; height:220px;}
.zxbox1_l2 .lh_box .li_lh img {width:360px; height:220px;}
.zxbox1_l2 .lh_box .but {position:absolute; font-size:0; right:10px; bottom:10px;}

.zxbox1_l2 .dz_title1 {padding-top:17px;}
.zxbox1_l2 ul.xpsd_img {padding-top:10px; width:370px;}
.zxbox1_l2 ul.xpsd_img li {float:left; _display:inline; margin-right:10px; position:relative; width:175px; height:120px; overflow:hidden;}
.zxbox1_l2 ul.xpsd_img li a {color:#FFF;}
.zxbox1_l2 ul.xpsd_img li a img {width:175px; height:120px;}
.zxbox1_l2 ul.xpsd_img li em,.zxbox1_l2 ul.xpsd_img li span {position:absolute; height:22px; line-height:22px; left:0; bottom:0; width:100%;}
.zxbox1_l2 ul.xpsd_img li span {background:#0645AE; opacity:0.6; filter:Alpha(style=0,opacity=60);}
.zxbox1_l2 ul.xpsd_img li em {text-align:center; color:#FFF;}
.zxbox1_l2 .text_type1 {width:370px; padding-top:10px;}
.zxbox1_l2 .text_type1 li {float:left; width:167px; margin-right:10px;}
.zxbox1_l3 .tab_d1 { padding:10px;}  

.zxbox1_l3 .databox { height:218px; overflow:hidden; border:1px solid #D3DEF1;}
.zxbox1_l3 .tab_tbox { height:33px; line-height:33px; border-bottom:1px solid #F5F7FC; background:#F5F7FC; position:relative;}
.zxbox1_l3 .tab_tbox .tab_t a{float:left; position:relative; padding:0 12px; color:#444; zoom:1;}
.zxbox1_l3 .tab_tbox .tab_t a i {display:none; width:9px; height:5px; position:absolute; left:50%; margin-left:-4px; top:34px; background-position:-112px -21px;}
.zxbox1_l3 .tab_tbox .more {display:block;white-space:nowrap;}
.zxbox1_l3 .tab_tbox .more a { position:absolute; right:5px; top:0; color:#88ABDA;}
.zxbox1_l3 .tab_tbox .tab_t a:hover,.zxbox1_l3 .tab_t a.s {background-color:#0645AE; color:#FFF; text-decoration:none;}
.zxbox1_l3 .tab_tbox .tab_t a:hover i,.zxbox1_l3 .tab_t a.s i {display:block;}

.rwft_box {border:1px solid #D3DEF1;}
.rwft_box .dl_logo_typ1 {padding:10px 10px 0 10px; height:90px;}
.rwft_box .dl_logo_typ1 dd,.rwft_box .dl_logo_typ1 dt {padding-left:120px;}
.rwft_box .dl_logo_typ1 dd.logo {position:absolute; left:10px; top:10px; padding-left:0; text-indent:0;}
.rwft_box .dl_logo_typ1 dd.logo img { width:110px; height:90px;}
.rwft_box .dl_logo_typ1 dt {font-weight:bold; line-height:22px; height:22px;}
.rwft_box .dl_logo_typ1 dd {line-height:17px;}
.rwft_box .text_type1 {height:104px; padding:6px 10px; overflow:hidden;}


.dz_zx_box2 {} 
.dz_zx_box2 .zxbox2_l1 {width:730px; overflow:hidden;}
.dz_zx_box2 .zxbox2_l2 {width:260px; overflow:hidden;}

.dz_zx_box2 .zxbox2_l1_l1 { width:360px; padding-top:10px;}
.dz_zx_box2 .zxbox2_l1_l2 { width:360px;}

.zxbox2_l1 .lh_box {width:350px; height:146px; overflow:hidden; position:relative;}
.zxbox2_l1 .li_lh img {display:block;width:350px; height:146px;}
.zxbox2_l1 .lh_box .text_bg,.zxbox2_l1 .lh_box .text{width:100%; position:absolute; left:0; bottom:0; height:20px; overflow:hidden}
.zxbox2_l1 .lh_box .text_bg {background:#0645AE; opacity:0.6; filter:Alpha(style=0,opacity=60); z-index:8;}
.zxbox2_l1 .lh_box .text {overflow:hidden; color:#FFF;line-height:20px; z-index:9; text-indent:10px;}
.zxbox2_l1 .lh_box .text a {color:#FFF;}
.zxbox2_l1 .lh_box .text .but {position:static; float:right; height:22px; padding-top:6px; padding-right:8px; font-size:0;}
.zxbox2_l1 .lh_box .text .but a {display:inline-block; *display:inline; *zoom:1; width:8px; height:8px;  text-indent:-9999; vertical-align:top; overflow:hidden; margin-right:5px; background:#FFF; border-radius:4px;}
.zxbox2_l1 .lh_box .text .but a.s,.zxbox2_l1 .lh_box .text .but a:hover {background:#F60;}

.zxbox2_l1_l1 dl.img_100_90 {margin-right:10px; margin-top:5px;}

.zxbox2_l1_l2 ul.text_type1 {padding-top:5px;}
.zxbox2_l1_l2 ul.text_type1 li {word-break: break-all; word-wrap:break-word;*white-space:normal;}

.zxbox2_l2 .zxph_box {height:298px; overflow:hidden;}

.tab_type1 {background:#F5F7FC; height:33px; line-height:33px; position:relative; border-bottom:1px solid #D3DEF1;}
.tab_type1 a {float:left; width:128px; text-align:center; position:relative; cursor:default;}
.tab_type1 a:hover {text-decoration:none;}
.tab_type1 a.a1 {border-right:1px solid #D3DEF1;}
.tab_type1 a.s {background:#FFF; height:34px; font-weight:bold;}
.zxbox2_l2 .ol_text_type2 {margin:15px 15px 0 20px;}

.zxbox3_l1 {width:360px; height:300px;}
.zxbox3_l2 {width:360px; margin-left:10px; height:300px}
.zxbox3_l3 {width:260px;}

.zxbox3_l1 .text_type1,.zxbox3_l2 .text_type1 {padding-top:15px;}
.zxbox3_l1 .text_type1 li,.zxbox3_l2 .text_type1 li{word-break: break-all; word-wrap:break-word;*white-space:normal;}
.zxbox3_l3 {}
.zxbox3_l3 .jswk_box {border:1px solid #D3DEF1; height:298px; overflow:hidden;}
.zxbox3_l3 .dl_logo_typ1 {padding:10px 10px 0 10px; height:65px; overflow:hidden;}
.zxbox3_l3 .dl_logo_typ1 dd,.zxbox3_l3 .dl_logo_typ1 dt {padding-left:75px;}
.zxbox3_l3 .dl_logo_typ1 dd.logo {position:absolute; left:10px; top:10px; padding-left:0; text-indent:0;}
.zxbox3_l3 .dl_logo_typ1 dd.logo img {width:64; height:64;}
.zxbox3_l3 .dl_logo_typ1 dt {line-height:25px; height:25px;}
.zxbox3_l3 .dl_logo_typ1 dd {line-height:20px; text-indent:0;}
.zxbox3_l3 .text_type1 {margin:3px 10px;}
.zxbox3_l3 .text_type1 li {width:230px;}






