
.foot{border-top:2px solid #e94545;padding-top:20px;}
.foot ul{padding-bottom:10px;}
.foot li{float:left;display:inline;width:190px;padding-left:60px;line-height:27px;}
.foot li h3{padding-left:30px;background:url(img/foot_icol.png) no-repeat 0 0;color:#444;font-size:16px;font-family:Microsoft YaHei,simhei;}
.foot li h3.integrity{background-position:0 -48px;}
.foot li h3.services{background-position:0 -88px;}
.foot li h3.community{background-position:0 -128px;}
.foot li a{display:block;padding-left:30px;line-height:23px;color:#444;}
.foot li a:hover,.love-links a:hover{color:#f67301;}
.frie-links{height:22px;border-top:2px solid #d6d6d6;padding:10px 0;_overflow:hidden;}
.frie-links strong{ float:left; font-size:14px;font-family:Microsoft YaHei,simhei;}
.frie-links span{ float:left; width:930px;_width:925px; color:#888;}
.frie-links span a{ margin:0 6px; line-height:22px; color:#444; display:inline-block; white-space:nowrap;}
.frie-links span a:hover{color:#f67301;}
.link{padding-bottom:10px;border-top:1px solid #ebebeb;color:#444;line-height:26px;text-align:center;}
.love-links a{color:#444;padding:0 10px;}
.link p{ color:#888;}