.mt-10{float: left;width: 510px;margin: 10px 0 0 14px;}
.w-40{width: 40px;}
.sort-txt{line-height: 42px;float: left;}
.sort-main{float: left;margin-left: 3px;}
.sort-main i{font-size: 0;line-height: 0;cursor: pointer;display: block;height: 0;margin-bottom: 4px;border: 5px solid #f2f2f2;}
.sort-main i.sort-u{margin-top: 10px;border-bottom-color: #ccc;}
.sort-main i.sort-d{border-top-color: #ccc;}
.sort-main i.d-cur{border-top-color: #184C95;}
.sort-main i.u-cur{border-bottom-color: #184C95;}

/* 优质买家库 */
.fix-search{height: 83px;}
.fix-search .tb-do{float: none;}
.fix-search .tb-time{float: none;margin: 10px 0 0 13px;}
.card{line-height: 22px;margin:10px;font-size:14px;}
.card span{display: inline-block;width: 85px;text-align: left;color: #999;}
.myTable{width: 100%;border-top: 1px #e8e8e8 solid;border-left: 1px #e8e8e8 solid;}
.myTable td,.myTable th{border-bottom: 1px #e8e8e8 solid;border-right: 1px #e8e8e8 solid;padding: 5px;}
.tool{margin:0 10px 15px;color: #184C95; font-size: 16px;}
.tool span{cursor: pointer;}
.t_content {overflow-x: hidden;overflow-y: auto;height: 175px; margin: 0 10px;}
.JsFollow{cursor: pointer;}
.fix-body{overflow: auto;}

/*add by guozeng 2015/7/29*/
.g-cf{*zoom:1}
.g-cf:after{display:block;visibility:hidden;clear:both;height:0;content:'\20'}
.g-fl{float:left}
.g-fr{float:right}
.g-tr{text-align:right;}
.g-dn{display:none;}
.g-fb{font-weight:700;}
.w100{width:100px;}
.w200{width:200px;}
.ml10{margin-left:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.c-red{color:#f00;}
.c-gray{color:#999;}

.addOrEditBuyer{width:815px;}
.addOrEditBuyer_1 td{padding:5px;}
.addOrEditBuyer_1 tr td:first-child{text-align:right;}
.addOrEditBuyer_1 input, .addOrEditBuyer_1 select{outline:none; height:22px;line-height:22px;}
.addOrEditBuyer_2{padding:5px;background:#fff;border:1px solid #ccc;}
.addOrEditBuyer_3{padding-top:20px;}

.inquireBuyer{padding:20px;line-height:30px;font-size:14px;}

.setMessage_tab{border-bottom:1px solid #ccc;}
.setMessage_tab li{padding:5px 20px;border:1px solid #ccc;border-bottom:none;border-radius:3px 3px 0 0;}
.setMessage_tab li.hover{background:#eee;}
.setMessage_1{width:530px;height:200px;border:1px solid #ccc;outline:none;padding:2px;}
.setMessage_2{width:530px;height:22px;line-height:22px;border:1px solid #ccc;outline:none;padding:2px;}
.setMessage_t{font-size:14px;padding:5px;}
.setMessage_table{width:100%;}
.setMessage_table td{padding:5px;}

.buyerDetail{width:1000px;color:#000;}
.buyerDetail_1{width:100%;}
.buyerDetail_1 td{padding:5px;border:1px solid #ccc;}
.buyerDetail_title{color:#666;width:50px;}
.buyerDetail_2{padding:0 5px 5px 5px;color:#555;height:300px;overflow:auto;}
.buyerDetail_2 li{border-top:1px dashed #ccc;padding:3px 0;line-height:22px;}
.buyerDetail_2_1{font-size:11px;}

.messList{width:800px;}
.messList_t{width:100%;}
.messList_t td{border:1px solid #ccc;padding:5px;}
.setKeyWord table{width:450px;}
.setKeyWord table td{padding:5px;}
.setKeyWord_1{width:350px;border:1px solid #ccc;outline:none;height:22px;line-height:22px;font-size:14px;padding:2px;}
.import-buyer-btn{ position:relative; background:#F0F0F0; border-radius:3px; border:1px solid #707070; line-height:22px; color:#000; padding:0px 5px;}
.filePath{position:absolute;left:0px; top:0px;opacity:0;filter:alpha(opacity=0);width:52px;}
.operation.op-bg.g-p-r button{background:none;background:#F0F0F0;border:none; border-radius:3px; border:1px solid #707070; line-height:22px; color:#000; padding:0px 5px;}
