.m-dialog{width:269px;height: 106px;background:#fdfdfd;border:solid 2px #e6e6e6;text-align:center}
	.dialog-msg-box{padding:0 12px 0 44px;background:url(img/ico-bg.png) no-repeat 10px -424px;}
	.dialog-msg-content{height:106px;display:table-cell;color:#333;font-size:16px;font-weight:700;vertical-align:middle}
.dialog-tip{}
.dialog-error{background-position:10px -212px}
.dialog-success{background-position:10px -106px}

.confirm-dialog .dialog-msg-box{background-position:10px -446px}
.confirm-dialog .dialog-msg-content{height:58px}
	.confirm-bt a{margin:0 7px;color:#0c7ccf}
	.confirm-btn{width:60px;height:24px;margin:0 5px;background:#fd7831 url(img/btn-bg.png) no-repeat 0 0;border:0;color:#fff;cursor:pointer}
	.confirm-btn-cancel{background-color:#eee;background-position:0 -24px;color:#333;}