@import url('style.css');

.screen-main {background: #0545C0 url(img/pige/bg.jpg) no-repeat center 0;}
.screen-main .slogen {background-image: url(img/pige/slogen.png); _background-image: url(img/pige/slogen-png8.png);}
.screen-main .cui {width: 197px; height: 251px; background: url(img/pige/cui.png) no-repeat; _background-image: url(img/pige/cui-png8.png);}
.screen-main .can {width: 204px; height: 213px; background: url(img/pige/can.png) no-repeat; _background-image: url(img/pige/can-png8.png);}
.screen-main .year {background-image: url(img/pige/year.png); _background-image: url(img/pige/year-png8.png);}


.screen-main .cui {right: 445px; top: 95px;}
.screen-main .can {left: 500px; top: 320px;}

.fixed-banner ._f0 {background: url(img/pige/connect.png) no-repeat 0 16px; _background-image: url(img/pige/connect-png8.png);}
.fixed-banner ._f3 {background-position: -245px -704px}
.fixed-banner ._f2 {background-position: -245px -406px}
.fixed-banner ._f4 {background-position: -245px -1005px}
.fixed-banner ._f1 {background-position: -245px -104px}