.g-o-a{width:1000px;margin:0 auto;}
body{background:#e5e3e3 url(../img/rank_06.jpg) 0 0 repeat-x;}
.con{font-family:Microsoft Yahei;font-size:14px;color:#666;height:auto;}
.con h2,.con h3,.bar h2 strong{font-weight:400;}
.con h2{margin:0 0 20px;padding:0 0 20px;background:url(../img/rank_00.jpg) repeat-x 0 bottom;}
.bar{margin:0 0 20px;background:#fff;padding:50px 60px;}
.bar h2 strong{font-size:36px;color:#0696de;}
.list h3{height:28px;padding:0 0 0 30px;line-height: 28px;background:url(../img/num.png) 0 0 no-repeat;font-size:24px;}
.list h3 span{color:#0696de;}
.list li{margin:15px 0 0;}
.list li p.des{padding:8px 0 20px;}
.list li .no2{background-position:0 -47px;}
.list li .no3{background-position:0 -94px;}
.list li .no4{background-position:0 -141px;}
.company{padding-bottom:335px;background:#fff url(../img/rank_07.jpg) right bottom no-repeat;}
li.integrity{padding-bottom:40px;background:url(../img/rank_11.jpg) right bottom no-repeat;}
.auction{padding-bottom:10px;}
.auction h2 span{color:#ff6c00;}
.link{padding:15px 0 20px;background:#fff;border-top:solid 4px #ccc;}

.scoller{position:fixed;top:32px;width:135px;margin:0 0 0 1000px;}
.scoller li{margin-top:2px;}
.scoller li a{display:block;width:135px;height:60px;background:#059ce9 url(../img/scollbg.png) repeat-y;color:#fff;text-decoration:none;text-align:center;}
.scoller li a:hover,.scoller li a.cur{background-position:-193px 0;background-color:#45bffc;text-decoration:none;}
.scoller li a .ico{display:block;height:34px;background:url(../img/icon.png) center 5px no-repeat;}
.scoller .n2 a .ico{background-position:center -45px;}
.scoller .n3 a .ico{background-position:center -94px;}
.scoller .n4 a .ico{background-position:center -142px;}
.scoller .n5 a .ico{background-position:center -192px;}
.scoller .n6 a .ico{background-position:center -243px;}
.scoller .n7 a .ico{background-position:center -294px;}
