@import url('style.css');

.screen-main {background: #0545C0 url(img/ec/bg.jpg) no-repeat center 0;}
.screen-main .slogen {background-image: url(img/ec/slogen.png);}
.screen-main .yin {width: 221px; height: 259px; background: url(img/ec/yin.png) no-repeat;}
.screen-main .xiang {width: 209px; height: 281px; background: url(img/ec/xiang.png) no-repeat;}
.screen-main .year {background-image: url(img/ec/year.png);}


.screen-main .yin {right: 460px; top: 95px;}
.screen-main .xiang {left: 470px; top: 200px;}

.fixed-banner ._f1 {background-position: -32px -110px}