@import url('style.css');

.screen-main {background: #0545C0 url(img/pige/bg.jpg) no-repeat center 0;}
.screen-main .slogen {background-image: url(img/pige/slogen.png);}
.screen-main .cui {width: 197px; height: 251px; background: url(img/pige/cui.png) no-repeat;}
.screen-main .can {width: 204px; height: 213px; background: url(img/pige/can.png) no-repeat;}
.screen-main .year {background-image: url(img/pige/year.png);}


.screen-main .cui {right: 445px; top: 95px;}
.screen-main .can {left: 500px; top: 320px;}

.fixed-banner ._f1 {background-position: -32px -110px}
.fixed-banner ._f1 {background-position: -32px -110px}
.fixed-banner ._f1 {background-position: -32px -110px}
.fixed-banner ._f1 {background-position: -32px -110px}