.b-search{padding:32px 0; background:#F2F2F2;}
.csc-search{width:505px;height:30px;margin:0 auto; }
.cs-select{position:relative;float:left;width:60px;height:28px;overflow:hidden;background:#fff;cursor:pointer;}
.cs-select ul{position:absolute;margin:0 0 0 -1px;}
.cs-select li{display:none;height:28px;line-height:28px;}	
.cs-select a{display:block;padding:0 0 0 12px;background:#fff;color:#666;}
.cs-select a:hover{background:#fafafa;color:#222;text-decoration:none;}
.cs-select .cur{/**line-height:32px;line-height:32px\9;*/}
.cs-select .cur a{color:#222;background:#fff}
.cs-select span.arr{position: absolute;right:8px;top:12px;display: block;width: 0;height: 0;overflow: hidden;border: solid transparent;border-width:4px;_border-color:#fff;border-top-color:#898989;}
.cs-select-hover{overflow:visible}
.cs-select-hover ul{width:61px;margin:-1px 0 0 -2px;background:#efefef;border:solid 1px #d9d9d9;}
.cs-select-hover li,.cs-select li.cur{display:block}
.cs-select-hover span.arr{top:8px;top:6px\9;border-color:transparent;_border-color:#fff;border-bottom-color:#898989;border-width:5px\9;}
:root .cs-select-hover span.arr{border-width:4px\9;top:8px;}
.cs-txt{float:left;width:362px;height:28px;_padding-bottom:0;border:solid #e0e0e0 1px;border-right-width:0}		
.cs-txt .txt{float:left;width:296px;height:28px;padding-left:5px;background:#fff url(img/bg-search.png) 0 -55px no-repeat;border:0;line-height:28px;}
.cs-btn{float:left;width:70px;height:30px;background:#223241;border:0;color:#fff;line-height:30px;cursor:pointer}
.ad-btn{ float: right; width:60px;height:30px; display: block; line-height: 30px; padding-left: 10px; }
























