/*
 * 模板样式文件引入
 *
 * 基础init-头部topBar-搜索headSearch-底部foot
 *
 */

/*
 @import url('http://res.csc86.com/f=v2/m/init/css/style.css');
 @import url('http://res.csc86.com/v2/m/top-bar/css/style.css');
 @import url('http://res.csc86.com/v2/m/head-search/css/style.css');
 @import url('http://res.csc86.com/v2/m/foot/css/style.css');
 合并后引入如下
*/

 @import url('http://res.csc86.com/f=v2/m/init/css/style.css,v2/m/top-bar/css/style.css,v2/m/head-search/css/style.css,v2/m/foot/css/style.css');


/* 部分样式重写 */
a{color:#2664A2;}
.foot{border-top:2px solid #e64744;}
.foot-lg{padding:10px 0;}
.foot-lg span{display:inline-block;height:50px;margin:0 5px;border:1px solid #d2d2d2;}

/* 无搜索框的样式 */
.head{height:90px; background:#fff;}
.head .logos{margin-top:15px;}
.head .csc{padding-right:12px;margin-right:12px; border-right:solid 1px #bbb;}
.head .channel{color:#666;font-size:18px;line-height:56px;}
.navigation{margin-top:30px;}
.navigation li{float:left;font-size:16px;padding:0 7px;line-height:20px;border-left:dashed 1px #d5d5d5;}
.navigation .g-bn{border:none;}
.navigation a{float:left;display:block;padding:2px 5px;color:#000;}
.navigation a:hover{color:#fff;background:#64c6ff;text-decoration:none;border-radius:3px;}

/* 以下为专题样式 */

body{font-family: "microsoft yahei";}

.g-ti2{text-indent: 2em;}
.mt3{margin-top: 3px;}
.w65{width: 65px;}
.g-bgcfedf47{background-color: #fedf47;}
.g-bgcfff{background-color: #fff;}
.g-cb50006{color: #b50006!important;}

/* add by guozeng 2015/6/17 */
.ml27{margin-left:27px;}
.a-underline{text-decoration:underline;}
.box-s{box-sizing:border-box; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.not-opcy{opacity:1;filter:Alpha(opacity:100);}

.bdt{border-top: 1px dashed #d8d8d8;}

.banner{height: 520px;background: url(img/img.jpg) no-repeat center;}
.banner div.g-o{height: 520px;position: relative;}
.banner p.tc{font-size: 12px;color: #fff;opacity: 0.6;filter:Alpha(opacity=60);position: absolute;bottom: 10px;left: 0;}

.tith2{background: url(img/tit-bg.png) no-repeat;height: 51px;line-height: 51px;font-size: 30px;color: #64c6ff;text-align: center;}

.main-bd{background: url(img/bg.jpg);}

.info-txt{width: 350px;background-color: #f3f3f3;}
.info-txt div.g-pr{padding: 20px;}

.info-img{width: 642px;}
.info-img div.g-hid{overflow: hidden;margin: 20px 20px 10px 20px;}
.info-img div.g-hid ul{width: 1000%;}
.info-img div.g-hid ul li{width: 602px;height:306px;float: left;overflow:hidden;}
.info-img div.g-pr{width:603px;margin-left:auto;margin-right:auto;margin-top: 20px;}
.info-img div.g-pr div.g-db{overflow: hidden;}
.info-img div.g-pr ol{width: 1000%;}
.info-img div.g-pr ol li{width: 192px;height:100px;float: left;margin-right: 10px;cursor: pointer;overflow:hidden;}
.info-img div.g-pr ol li img{width: 100%;height: 100%;}
.info-img div.g-pr a.prev{position: absolute;left: -16px;top: 0;}
.info-img div.g-pr a.next{position: absolute;right: -16px;top: 0;}

.list{padding: 20px;overflow: hidden;}
.list ul{width: 110%;}
.list li{float: left;margin-bottom: 20px;margin-right: 26px;width: 220px;}
.list li a{display: block;position: relative;z-index: 1;overflow: hidden;}
.list li a:hover{text-decoration:none;}
.list li a p{padding: 5px 10px 0 10px;font-size: 16px;color: #fff;line-height: 25px;height: 64px;*height:54px;position: absolute;bottom: 0;left:0;width:100%;background:#000; opacity:0.8;filter:Alpha(opacity:80);z-index: 2;overflow: hidden;}
.list li a:hover p{color: #333;border-bottom:4px solid #c29a00;background-color: #e8cb63;opacity:1;filter:Alpha(opacity:100);height: 60px;*height:50px;}
.list li a span{position: absolute;display: block;z-index: 1;top: 100%; left:0;width: 200px;height: 200px;padding: 10px;font-size: 14px;color: #fff;background:#000; opacity:0.8;filter:Alpha(opacity:80);overflow: hidden;}
.list li a:hover span{top: 0;}
.list li h3{height: 34px;line-height: 34px;font-size: 18px;width: 100%;margin-bottom: 10px;}
.list li h3 span{width: 44px;background: url(img/t.png) no-repeat;text-align: center;vertical-align: top;font-size: 16px;color: #fff;margin-right: 5px;}

.dh div.g-fl{padding: 20px;background-color: #f3f3f3;}
.dh div.g-fr{width: 620px;margin-right: 8px;}
.dh div.g-fr h3{font-size: 30px;}
.dh div.g-fr p.g-fs24{font-size: 24px;}
.dh div.g-fr p.g-cf span.g-fr{float: none;margin-left: 50px;display: block;}
.dh div.g-fr a{color: #000 ;}
.dh div.g-fr a:hover{color:#2799fe;}

.dfy{padding-top: 15px;}
.dfy .s{width: 916px;overflow: hidden;margin: 0 auto;}
.dfy ul{width:999999px;}
.dfy li{width:209px; float: left;margin:0 10px;height: 195px;overflow: hidden;}
.dfy li img{margin-bottom: 8px;}
.dfy li a{color:#444;font-size: 15px;}
.dfy li a:hover{color:#2799fe}
.dfy .prev,.dfy .next{width:23px;height:39px; background:url(img/arr.png) no-repeat 0 0;overflow: hidden;margin: -130px 12px;}
.dfy .next{background-position:-24px 0}

.bpic-box,.spic-box{position:relative;overflow:hidden;}
.bpic-box{width:602px;height:306px;}
.spic-box{width:603px;height:102px;}
.bpic-lst,.spic-lst{position:absolute;left:0;top:0;}
.spic-lst li{border:1px solid #fff;}
.spic-lst .cur{border:1px solid #fedf47;}