.link{border-top:0}

.content{background:#fbfbfb url(img/body-bg.png) center;}

.box{background:url(img/box-hd-bg.png) no-repeat 0 0}
.box-hd{height: 93px;padding: 16px 165px 0 115px;color:#fff}
.box-hd span{width: 225px;margin-top: 19px;}
.box-hd h2{color:#539219;font-size: 46px;}
.box-bd{height:448px;background: #fff;border: solid #ddd;border-width: 0 1px 1px;padding: 0 46px;}
.box-bd .bd-t{width:315px;margin-top: 34px;}
.box-bd .bd-t h3{height:30px; padding-left:12px;color:#fff; background:url(img/box-bg.png) no-repeat 0 0;}
.box-bd .bd-t p{height:168px; padding-bottom:16px; overflow:hidden;border-bottom: dashed 1px #888}
	.bd-t .more{width:20px;height:20px;background:url(img/box-bg.png) 0 -100px;vertical-align: middle;}
.box-bd .bd-t .vote{color:#fff;background:#666;padding:0 5px 0 9px}
.box-bd .bd-t .t{color:#539219;margin:0 16px 0 6px}
.box-bd .bd-t .count{width:81px;padding:5px 0 5px 10px;color:#539219;background:url(img/box-bg.png) 0 -50px;}
.box-bd .bd-i{width:276px;height:308px;overflow:hidden;margin:0 auto;_margin-top:-308px;padding-top:10px;}
.box-ft{height: 307px;margin-top:-109px;overflow:hidden;}
	.i-items{width: 1020px;}
	.i-items li{float:left;width:150px;height:250px;position:relative;margin-right:20px;}
	.i-items .thumb{position:absolute}
	.i-items .t{position:absolute;top: 196px;font-size:18px;color:#444}
	.i-items .t span{font-size:30px;font-family:arial;position:relative;top:8px;}
	.i-items .t:hover{color:#539219;text-decoration:none}
	.i-items .dot{ position:absolute; width:9px;height:9px;top: 194px; left: 6px;overflow:hidden;display:block;border:solid 3px #fff;border-radius:9px;background: #539219;}
	.i-items .like{ position:absolute; top: 176px; left: 95px; height:16px; padding: 0 5px 0 17px; line-height: 16px; overflow:hidden;display:block;border-radius:2px; background: #539219 url(img/box-bg.png) no-repeat 4px -147px;color:#fff}
	.i-items .like:hover{text-decoration:none}
	.i-items .s .thumb{top:48px;}
	.i-items .s .t{top:-4px;}
	.i-items .s .dot{top: 40px;}
	.i-items .s .like{top: 224px;}
	.t-items{margin-left: -26px;width: 1026px;}
	.t-items li{float:left;padding-left:28px;background: url(img/box-bg.png) no-repeat 9px -186px;}
	.t-items a{display:block;line-height:35px;width:141px;border:dashed 1px #539219;border-radius:3px;color:#444}
	.t-items a:hover{color:#539219;text-decoration:none;}

.c-box{padding:20px 0;background:url(img/city-border.png);}
.c-box .bd{position:relative;height:318px;margin:0 20px;background: #fff;}
.c-box .see-detail{position: absolute;right: -8px;bottom: -28px;width: 146px;padding-left: 56px;height:52px;line-height:52px;color:#fff;background:url(img/see-detail-bg.png);}
.c-box .see-detail:hover{text-decoration:none;}
.c-box .bd-t{float:right;width: 490px;padding: 18px 28px;}
.c-box .bd-t h3 a{color:#539219;}
.c-box .bd-t p{height:112px;overflow:hidden;}
.c-box .bd-t ul{margin-top:15px;padding: 20px 0 0 24px;border-top:solid 3px #eee;background: url(img/c-ico.png) no-repeat 0 27px;}
.c-box .like{position:absolute;top: 79px;left:362px;_left:382px;}
.c-box .like .txt{position:absolute;width:60px;top: 82px;left:43px;_left:23px;z-index: 1;color:#fff;font-size:14px; cursor:pointer;}
.c-box .like .txt span{width: 20px;height:16px;background: url(img/box-bg.png) no-repeat 0 -248px;vertical-align: middle;}
.c-box .like .arr,.c-box .like .arr-bg{position:absolute;z-index: 0;width:0;height:0;overflow:hidden;border:solid transparent;}
.c-box .like .arr{border-width: 20px 20px;border-right-color: #fff;_width:20px;_height:37px;_border:0;_background:url(img/arr-ie.png) 0 -50px;}
.c-box .like .arr-bg{top: 29px;left: 29px;border-width: 74px 80px;border-left-color:#549319;_left:8px;_top:29px;_width:79px;_height:148px;_border:0;_background:url(img/arr-bg-ie.png) 0 -150px;}
.c-box .bd-i{float:left;width:402px}
.c-box .star{color:#539219;}

.c-box-2 .bd-t{float:left}
.c-box-2 .bd-i{float:right}
.c-box-2 .see-detail{right: 420px;}
.c-box-2 .like{left: 558px;}
.c-box-2 .like .txt{left:-39px}
.c-box-2 .like .arr{border-width: 20px 20px;border-left-color:#fff;border-right-color:transparent;_border:0;_background:url(img/arr-ie.png) 0 0;}
.c-box-2 .like .arr-bg{top: 29px;left: -148px;border-width: 74px 80px;border-right-color:#549319;border-left-color:transparent;_left:-70px;_border:0;_background:url(img/arr-bg-ie.png) 0 0;}

.banner{height:630px;background:url(../image/banner-3.jpg) no-repeat center bottom;}
.banner-1{height:200px;background:url(../image/banner-1.jpg) no-repeat center 0}
.banner-1 .g-f-r{margin-top:5px}
.banner-2{height:150px;background:url(../image/banner-2.jpg) no-repeat center 0}

.nav{position:relative;z-index: 1;}
.nav li{position: absolute;width:110px;height:110px;line-height:110px}
.nav a{display:block;color:#fff;font-size:40px}
.nav a:hover{text-decoration: none;}
.nav .all a{font-size:30px;line-height:36px;padding:19px 0}
.nav .all{top: 114px;left: 28px;}
.nav .sz{top: 154px;left: 167px;}
.nav .nn{top: 104px;left: 339px;}
.nav .xa{top: 157px;left: 473px;}
.nav .zz{top: 110px;left: 646px;}
.nav .nc{top: 93px;left: 806px;}

.lead{height:105px;border:solid 1px #ddd;background:#fff url(img/lead-bg.png)}
.lead h2{position: relative; width:249px;height:107px;margin:-1px;background:url(img/lead-hd-bg.png) no-repeat;color:#fff;font-style: italic;}
.lead p{width:706px;margin: 10px 0 0 281px;}

.comment-box{height:700px;background: #fff url(img/comment-bg.png) no-repeat right 0;border:solid 1px #ddd;}
.comment-box .hd{padding: 13px 0 0 60px;font-size:46px;color:#539219}

.comment{width: 610px; margin:20px auto; position:relative;z-index:1}
.com_form{width:100%; position:relative}
.input{width:99%; height: 80px; border: 1px solid #eee;}
.com_form p{height:28px; line-height:28px; position:relative}
span.emotion{display: inline-block;*display: inline; zoom:1; width:16px; height:16px; background:url(img/face.png) no-repeat 0 0;margin: 4px 0 -4px;cursor: pointer;}
.com_form p .tips {margin-left: 5px; color: #999; font-size: 13px;}
.com_form p .tips i {color: #F18401; font-style: normal;}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
.sub_btn {width: 92px;height: 28px;line-height: 28px;position:absolute; right:0px; top:0;display: inline-block;zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */*display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;
text-align: center;color: #fff;border: none;background: #f18302;
margin-top: 2px;border-radius: 3px;}
.sub_btn_hover { color: #ccc}

.comment-result {width: 610px;margin:0 auto; padding: 0 5px;height: 450px; overflow: hidden; position: relative;}
.comment-result a.more {position: absolute; right: 0; bottom: 5px; color: #F28202;}
.comment-result ul {border-top: 1px solid #eee;}
.comment-result ul li {border-bottom: 1px solid #eee; padding: 12px 0 8px; width: 670px; overflow: hidden;}
.comment-result ul li .img-l {float: left;}
.comment-result ul li .img-l img {width: 52px; height: 52px; overflow: hidden; vertical-align: middle;}
.comment-result ul li .comment-ctn {float: left; margin-left: 10px; font-size: 12px;width: 500px; overflow: hidden;}
.comment-result .comment-ctn span {color: #666}
.comment-result .comment-ctn span.time {display: block; margin-top: 10px; font-size: 11px; color: #999}
.comment-result .comment-ctn i { color: #F08300; font-style: normal;}

.c-lead h2{width: 236px;height: 89px;margin: -25px 0 0  -1px;padding: 17px 0 0 52px;background:url(img/c-lead-hd-bg.png) no-repeat;}
.c-lead p{width: 680px;margin-left: 300px;}

.city-ico{height: 56px;}
.city-ico img{right: 14px;bottom: 0;}