@import url('style.css');

/*橱窗推荐*/
.wp-cqres{margin-bottom:10px;width:1000px;overflow:hidden;}
.wp-cqres .skin-box-hd{padding:10px 10px 9px;border-bottom:1px solid #412d1f;}
.wp-cqres .skin-box-hd h2{font-size:24px;}
.wp-cqres .skin-box-hd .tip{font-size:14px;}
.wp-cqres a{color:#fff;}
.wp-cqres .price{font-size:24px;}
.wp-cqres .price em{font-size:16px;}
.wp-cqres .sc-opt i,.wp-cqres .ask-opt i{width:21px;margin-right:8px;}
.wp-cqres .sc-opt i{height:20px;}
.wp-cqres .ask-opt i{height:18px;*vertical-align:top;}

.cqres-lst1 li{float:left;background:#fff;width:240px;height:240px;margin-right:8px;margin-top:8px;overflow:hidden;position:relative;}
.cqres-lst1 .bd{position:absolute;left:0;bottom:0;width:100%;height:85px;font-size:14px;}
.cqres-lst1 .bg{background:#412d1f;opacity:0.7;filter:alpha(opacity=70);height:85px;}
.cqres-lst1 .inf,.cqres-lst1 .opts{position:absolute;top:15px;z-index:1;}
.cqres-lst1 .inf{left:18px;}
.cqres-lst1 .opts{left:185px;}
.cqres-lst1 .title{width:150px;height:21px;overflow:hidden;}
.cqres-lst1 .opts .ask-itm{margin-top:12px;_margin-top:15px;}
.cqres-lst1 .sc-opt i{background-position:0 -1px;}
.cqres-lst1 .ask-opt i{background-position:0 -21px;}
.cqres-lst1 .favshop-opt{display:inline-block;width:240px;height:240px;line-height:999px;background:url(img/fav-sf.png) no-repeat 0 0;overflow:hidden;}
.cqres-lst1 .favshop-opt.favorited{background-position:-240px 0;}

.cqres-hd{background:#4a3427;}
.cqres-hd{padding:0 0 9px 8px;}
.cqres-hd .i{width:240px;height:240px;*font-size:215px;}
.cqres-hd .i img{max-width:240px;max-height:240px;}
.cqres-hd-lf{width:488px;overflow:hidden;}
.cqres-hd-lf .cqres-lst1 li{width:488px;height:488px;}
.cqres-hd-lf .i{width:488px;height:488px;*font-size:436px;}
.cqres-hd-lf .i img{max-width:488px;max-height:488px;}
.cqres-hd-lf .cqres-lst1 .inf{left:30px;}
.cqres-hd-lf .cqres-lst1 .opts{left:390px;}
.cqres-hd-lf .cqres-lst1 .title{width:300px;}
.cqres-hd-rt .sc-opt i,.cqres-hd-rt .ask-opt i{margin-right:3px;}
.cqres-hd-rt .ask-opt{font-size:12px;margin-top:23px;}
.cqres-hd-rt{margin-left:496px;_width:496px;_margin-top:-496px;}

.cqres-bd{width:1000px;overflow:hidden;}
.cqres-lst2{width:1100px;}
.cqres-lst2 li{float:left;background:#412d1f;width:479px;height:295px;padding:8px;margin-right:10px;margin-top:10px;overflow:hidden;}
.cqres-lst2 .pic{background:#fff;width:295px;height:295px;overflow:hidden;}
.cqres-lst2 .i{width:295px;height:295px;*font-size:264px;}
.cqres-lst2 .i img{max-width:295px;max-height:295px;}
.cqres-lst2 .bd{margin-left:315px;padding-top:8px;}
.cqres-lst2 .rank{color:#f28412;font-size:24px;font-family:Impact,Microsoft YaHei;}
.cqres-lst2 .rank em{font-size:30px;}
.cqres-lst2 .title{height:40px;line-height:20px;margin-top:20px;overflow:hidden;}
.cqres-lst2 .price{margin-top:15px;}
.cqres-lst2 .opts{margin-top:25px;}
.cqres-lst2 .opts a{display:block;background:#fe7b09;width:109px;height:28px;padding-top:6px;padding-left:36px;font-size:14px;overflow:hidden;}
.cqres-lst2 .opts a:hover{background:#ff861d;text-decoration:none;}
.cqres-lst2 .opts .favorited,.cqres-lst2 .opts .favorited:hover{background:#fe7b09;}
.cqres-lst2 .opts .sc-opt{_height:27px;_padding-top:7px;}
.cqres-lst2 .opts .ask-opt{margin-top:7px;*height:27px;*padding-top:7px;_height:25px;_padding-top:9px;}
.cqres-lst2 .sc-opt i{background-position:-20px -1px;}
.cqres-lst2 .ask-opt i{background-position:-20px -21px;}

.no-cqres{background:#888 url(../../css/img/no-cqres.jpg) no-repeat center center;}


/*产品搜索*/
.index-srch{padding:20px 0 8px 27px;}

/*热门产品*/
.wp-hotpro .skin-box-bd{width:798px;*padding-bottom:22px;_padding-bottom:0;overflow:hidden;}

























