.tb-do .g-d-text{width:160px;height: 22px;line-height: 22px;}
.seller-btn{margin: 3px 0;padding: 2px 5px;cursor: pointer;}
.search-btn{padding: 2px 8px 1px 4px;cursor:pointer}
.ico-star{margin-right: 3px;}
.rat-member{width:600px}
.rat-member li{width:50%;float:left;margin-bottom: 16px;}
.rat-member p{display:inline}
.rat-member .ico-star-h2{margin:0 auto}

.notice-form{width:620px}
.notice-form dt{width:48px}
.notice-form dd{padding-left:48px;margin-bottom:15px}
.notice-form span{color:#666}
.notice-form input{width:420px;margin-right:6px;padding: 6px 0;}
.notice-form textarea{width:560px;height:80px}