.add-domain{padding-right:20px}
.add-domain label{display: inline-block;
*display: inline;
*zoom: 1;text-align: right;
width:74px;
}
.add-domain span{color: #f00;}
.add-domain input{width:200px;height:20px}