.c-888{color:#888;}

.tool-bar-skin{padding-top:8px;background-color:#fff;background-position:0 8px}
.skin-filter{float:right}

.skin-thumb{float:left;}

.g-list tbody .list-skin-name{padding:15px 5px 15px 20px}
.list-skin-name div{padding-left:80px}
.list-skin-name p{margin-top:5px}

.add-shop-skin th{padding:10px 0;text-align:right;font-weight:400}
.add-shop-skin td{padding-left:2px}
.add-shop-skin td select{margin-left: 0px;}
.add-shop-skin .text,.add-shop-skin select{width:200px;height:22px}
.add-shop-skin select{width:204px}

.skin-cate{width: 508px;}
.skin-style{float:left}
.skin-industry{float:right}
.skin-cate-item{width: 241px;height: 190px;border:solid 1px #ccc;}
.skin-cate .hd{width:24px;border-right:solid 1px #ccc;color:#656565;text-align:center;background: #ededed;padding: 47px 0;height: 96px;overflow: hidden;float: left;}
.skin-cate .bd{
    height: 190px;
    width: 216px;
    float: right;
}
.skin-cate .add-skin-cate{
    height: 30px;
    background: #eee;
    padding-top: 2px;
}
.skin-cate .items{line-height:24px;padding: 7px 0;height: 144px;overflow: auto;}
.skin-cate .items li{
    padding-left: 14px;
    width: 185px;
    cursor: pointer;
}
.skin-cate .items .edit{cursor:default}

.skin-cate .text{height: 20px;margin:0 5px 0 10px;width: 144px;}
.skin-cate .btn{width:44px;height:26px}
.skin-cate .ico-edit-2{width: 0px;height: 10px;margin:0 0 -2px 0;padding-left: 15px;}
.skin-cate .e-text{width:120px;height: 17px;margin-right:6px}
.skin-cate .e-btn{color:#184c95;border:0;background:none;cursor: pointer;}

.skin-error{
    margin-left:180px;
}
.skin-error .g-ico{
    display:block;
    width:300px;
    margin-bottom: 4px;
    padding: 2px 4px 2px 24px;
    background-color:#fffaf0;
    background-position:2px center;
    border:solid 1px #ffd086 ;
}


.tb-do .tb-btn{width:50px;height:24px;cursor:pointer;}
.tool-bar .add-btn{_display:inline;float:right;width:73px;height:26px;background:url(../img/keybtn.png) no-repeat;text-align:center;line-height:26px;text-decoration:none;font-weight:400;color:#333;margin:4px 0 0 0;}
.e-ad-page dd{background:#fff;}
.e-ad-page table{width:100%;border-bottom:solid 1px #d6d6d6;}
.e-ad-page dl table{border-bottom-style:dashed;}
.e-ad-page dl dt table{background:#ededed;}
.e-ad-page table td{padding:8px 10px;}
.e-ad-page table td a,.e-ad-page table td .adverMove{margin:0 5px;}
.e-ad-page table .subPage{padding-left:32px;}
.ads-form{padding:30px 0;background:#fff;}
.ads-form li{margin-bottom:10px;line-height: 28px;}
.ads-form .ad-key{width:180px;text-align:right;}
.ads-form .star{color:#f00;position:relative;top:3px;right:3px;}
.ads-form .ad-value{padding-left:180px;}
.ads-form select{padding:4px;width:134px;border:solid 1px #dcdcdc;margin-right:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ads-form .ad-txt{width:234px;height:22px;border:solid 1px #dcdcdc;padding:2px;}
.ads-form .ad-price{width:40px}
.ads-form textarea{width:268px;height:80px;border:solid 1px #dcdcdc;padding:2px;}
.ads-form .confirm,.ads-form .cancel{width:71px;height:32px;background:url(../../img/ad-form-btn.png) no-repeat;text-align:center;line-height:32px;border:none;cursor:pointer;color:#fff;margin:10px 10px 0 0;}
.ads-form .cancel{background-position:0 -42px;color:#333;}
.ads-form .g-gray{color:#888;margin-left:10px;}
.ads-form label.g-d-ib{width:90px;color:#2664a2}
.ads-form label.g-d-ib input{margin-right:4px}
#ad-p-select{width:272px;}
.ads-form .ad-date{border-color:#A5A8AD;width:124px;background:url(../img/date.jpg) 96% 5px no-repeat; }
.ad-form-tips,.chek-time-tips{padding:0 0 0 22px;background:url(../img/verify-bg.png) 0 6px no-repeat;color:#888;}
.chek-time-tips{display:inline-block;margin:0 0 0 8px;background-position:0 -143px;}
.swf-preview{display:inline-block;border: 2px solid silver;}
.swf-preview:hover{border-color:gray;}
.swf-preview img{cursor:url(../img/zoomin.cur), pointer !important;}
#codeCall textarea{width:300px;height:100px;}
.ad-body{background:url(../img/ads/adview.jpg) center 0 no-repeat;width:100%;height:2100px;}
.ad-preview{height:100%;width:1000px;position:relative;margin:0 auto;}
.ad-block{position:absolute;width:570px;height:250px;background:#fff; top:192px;overflow:hidden;}
#keyword{height:22px;line-height:22px;}
.tb-do select, .operation-l select{height:auto;padding:4px;}